<template>
	<div :class="$options.name" v-show="commonInfo.show" transition>
		<div class="modal">
			<div class="content">
				<div class="single-info" v-if="commonInfo.single.length > 0">
					<p>{{ commonInfo.single }}</p>
				</div>
				<div class="more-info" v-if="commonInfo.more.list.length > 0">
					<h3 class="title">{{ commonInfo.more.title }}</h3>
					<ul class="list">
						<li v-for="item in commonInfo.more.list">{{ item }}</li>
					</ul>
				</div>
			</div>
			<div class="close" @click="close"></div>
		</div>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'm-com-popup',

		computed: {
			commonInfo () {
				return Popup.state.commonInfo
			}
		},

		methods: {
			close () {
				Popup.state.commonInfo.show = false
				setTimeout(() => {
					Popup.state.commonInfo.single = ''
					Popup.state.commonInfo.more.title = ''
					Popup.state.commonInfo.more.list = []
				}, 500)
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-com-popup
	background-color rgba(0,0,0,.3)
	bottom 0
	left 0
	position fixed
	right 0
	top 0
	z-index 10
	width 100%
	height 100%
	.modal
		width 350px
		background-color #fff
		position relative
		top 50%
		margin 0 auto
		-webkit-transform translateY(-50%)
		-ms-transform translateY(-50%)
		transform translateY(-50%)
	.close
		// cursor pointer
		// line-height 36px
		// background-color #b37e79
		// color #fff
		// font-size 14px
		// text-align center
		// -webkit-transition background 0.3s
		// -ms-transition background 0.3s
		// transition background 0.3s
		// &:hover
		// 	background-color #8e5651
		cursor pointer
		position absolute
		top 9px
		right 5px
		height 20px
		width 20px
		&:before,
		&:after
			position absolute
			width 20px
			height 1px
			content ''
			bottom 10px
			left -3px
			background-color currentColor
			transition transform .3s
		&:before
			transform rotate(45deg)
		&:after
			transform rotate(-45deg)
		&:hover:before
			transform rotate(315deg)
		&:hover:after
			transform rotate(225deg)
	.content
		.single-info
			padding 30px 20px
			text-align center
			line-height 18px
		.more-info
			padding 10px 20px 20px
			text-align left
			line-height 18px
			.title
				margin 0
				padding-bottom 10px
				border-bottom 1px solid #e8e8e8
				margin-bottom 10px
.v-transition
	opacity 1
	transition opacity .4s
	.modal
		transition transform .3s
.v-enter,
.v-leave
	opacity 0
	.modal
		-webkit-transform translateY(-70%)
		-ms-transform translateY(-70%)
		transform translateY(-70%)
</style>