/* ===[ tabs ]=== */
tabs()
	border-bottom 1px solid #ddd
	height 29px
	.tab
		color #acacac
		float left
		font 12rem/13px 'Heiti SC'
		width 64px
		a:hover
			color #000
		&.active
			color #000
			a
				position relative
				&:after
					background-color #000
					content ''
					height 3px
					left 0
					position absolute
					right 0
					top 27px

/* ===[ clear ]=== */
clear()
	&:before
		content ''
		width 0
		height 0
		opacity 0
		clear both
		display inline-block
		overflow hidden

/* ===[ rotate ]=== */
transform-rotate()
	-webkit-transform rotate(arguments)
	-moz-transform rotate(arguments)
	-o-transform rotate(arguments)
	writing-mode lr-tb

/* ===[ breadcrumb ]=== */
breadcrumb()
	border-bottom 1px solid #ddd
	padding-bottom 15px
	clear()

	li
		float left
		color #ACACAC

		&+li
			padding-left 14px
			position relative

			&:before
				content ''
				display block
				width 6px
				height 6px
				border-top 1px solid #000
				border-right 1px solid #000
				position absolute
				left 1px
				top 2px
				transform-rotate(45deg)

		a
			color #000