.w
	margin 0 auto
	width 940px
.x
	float left
	line-height inherit
	&:last-child
		float right
.y
	margin-left auto
	margin-right auto
	&:after
		clear both
		content ''
		display table
.z
	bottom 0
	left 0
	position absolute
	right 0
	top 0
	& > .y
		position relative
*
	box-sizing border-box
	-webkit-tap-highlight-color transparent
a
	color inherit
	cursor pointer
	display inline-block
	text-decoration none
body
	line-height 1
	margin 0
button
	border none
	font-family inherit
	outline none
html
	font-family 'Heiti SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'STHeitiSC-Light', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
	font-size 12px
	-webkit-user-select none
	position: relative
	min-height 100%
	overflow-y: scroll
iframe
	border none
input
	border 0
	font-family inherit
	font-size inherit
	outline none
	padding 0
img
	vertical-align middle
label
	cursor pointer
	display block
p
	margin-bottom 0
	margin-top 0
select
	border 0
	background none
	outline  none
	-webkit-appearance none
textarea
	outline none
ul
	list-style: none
	padding 0
	margin 0


::-webkit-input-placeholder
	color: #000
:-moz-placeholder
	color: #000
::-moz-placeholder
	color: #000
:-ms-input-placeholder
	color: #000
:placeholder
	color: #000

.loading
	width 0
	height 2px
	position fixed
	top 0
	left 0
	background-color #b37e79

.com-icon
	background url(../img/sprite@2x.png) no-repeat
	background-size: 300px auto

.radio-box
	li
		&:after
			content ''
			width 0
			height 0
			opacity 0
			display block
			clear both
		label
			position: relative
			overflow: hidden
			cursor: pointer
			display: inline-block
	input[type="radio"]
		position: absolute
		left 0
		top 0
		opacity: 0
	.com-icon
		width 20px
		height 20px
		display: block
		float left
		border 2px solid #ddd
		border-radius 50%
		margin-right: 20px
		position: relative
		background-position: 20px 20px
	input[type="radio"]:checked + .com-icon
		border none
		background-position: -90px -210px
		&:after
			display: block
	.label
		float: left
		line-height 20px

.submit-btn
	display: inline-block
	border none
	color #fff
	appearance none
	transition all .3s
	cursor pointer
	background-color #B37E79
	padding 0 50px
	line-height 44px
	border-radius: 1px
.submit-btn:hover
		background-color #8E5651

.breadcrumb
	border-bottom 1px solid #ddd
	padding-bottom 15px
	&:after
		content ''
		clear both
		display table
	li
		float left
		color #000
		&+li
			padding-left 14px
			position relative
			&:before
				content ''
				display block
				width 6px
				height 6px
				border-top 1px solid #000
				border-right 1px solid #000
				position absolute
				left 1px
				top 2px
				transform rotate(45deg)
		&:last-child
			color #ACACAC

.express-form,
.m-tab-user-address,
.M__AddAddressPanel,
.m-user-address-card,
.p-user-setting-address,
.p-user-setting-basic
	.selector
		width 100%!important
		height 12px
		position: relative
		overflow: hidden
		&:before
			content ''
			display block
			width 5px
			height 5px
			border-top 1px solid #BBBBBE
			border-right 1px solid #BBBBBE
			position absolute
			right 1px
			top 50%
			margin-top -6px
			transform rotate(135deg)
		&>span
			display block
			width 100% !important
		select
			position: absolute
			left 0
			top 0
			width 100%
			height 100%
			opacity 0
			cursor pointer
			.hide
				display none
.M__GoodsFilterItem
	.selector
		float left
		color #acacac
		width 117px !important
		margin-left -117px
		border-right 1px solid #ddd
		height 34px
		padding 0 40px
		border-radius 0
		position: relative
		overflow: hidden
		&>span
			display block
			line-height: @height
			width 100% !important
		select
			position: absolute
			left 0
			top 0
			width 100%
			height 100%
			opacity 0
			cursor pointer
			.hide
				display none

.coupon-list
	.mCSB_scrollTools
		right 16px
		width 3px
		.mCSB_dragger
			.mCSB_dragger_bar
				width 3px
				background-color #eaeaea
	.mCS-dark-3.mCSB_scrollTools
		.mCSB_draggerRail,
		.mCSB_draggerRail
				width 3px
				background-color #f7f7f7

.goods-slider
	margin-bottom 59px
	.flex-control-paging
		li
			margin 0 4px 0 5px
			a
				width 8px
				height 8px
				background-color #EFEFEF
				box-shadow none
				&.flex-active
					background-color #CDCDCD
	.flex-control-nav
		bottom -26px

.img-upload-list
	display inline-block
	float left
	overflow hidden
	li
		float left
		margin-right 15px
		border 1px solid #b37e79
		overflow hidden
		cursor pointer
		position relative
		&:hover:before
			opacity 1
		&:before
			content 'X'
			width 100%
			height 65px
			line-height 65px
			display block
			position absolute
			color #fff
			font-size 50px
			font-weight bold
			text-align center
			top 0
			left 0
			background-color rgba(0, 0, 0, .3)
			opacity 0
		img
			max-height 65px
	.progress-bar
		width 100%
		background-color #cfcfcf
		overflow hidden
		position relative
		.progress
			position absolute
			left 0
			top 0
			display block
			font-size 12px
			background-color #b37e79
			height 15px
			text-align center
			padding-top 3px
			color #fff
			width 0
			z-index 0
		.text
			display block
			font-size 12px
			height 15px
			text-align center
			padding-top 3px
			color #fff
			width 100%
			position relative
#front-img,
#back-img
	overflow: hidden
	img
		width 100%
		position relative
		top 50%
		-webkit-transform translateY(-50%)
		-ms-transform translateY(-50%)
		transform translateY(-50%)
	.progress-bar
		position absolute
		bottom 0
		left 0
		width 100%
		background-color #cfcfcf
		.progress
			position absolute
			left 0
			top 0
			display block
			font-size 12px
			background-color #b37e79
			height 15px
			text-align center
			padding-top 3px
			color #fff
			width 0
			z-index 0
		.text
			display block
			font-size 12px
			height 15px
			text-align center
			padding-top 3px
			color #fff
			width 100%
			position relative
@media only screen and (min-width 415px)
	body
		padding-bottom 214px

.ui-state-hover
	background #b37e79 !important
	color #fff !important
