<template>
	<div :class="$options.name">
		<div class="title">加入品牌</div>
		<div class="content">
			<p>Rent Vogue 作为互联网时尚的新标杆，邀请国外知名设计师，定期推陈出新，每一款剪裁设计都确保精致优雅。</p>
			<p>Rent Vogue 拥有强大的供货实力及后盾支持。主流媒体、报刊杂志让您免费享受最具效果的广告宣传。</p>
			<p>加入我们的同时，我们将为您提供完善的专业培训。</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'p-partner-join'
	}
</script>

<style lang="stylus" scoped>
.p-partner-join
	.title
		height 29px
		border-bottom 1px solid #ddd
		font-size 12px
		position relative
		&:before
			content ''
			width 26px
			height 3px
			background-color #000
			position absolute
			bottom -2px
	.content
		color #535353
		padding-top 6px
		p
			margin-top 20px
			font-size 12px
</style>
