<template>
	<div class="home-page">
		<div class="banner-slider flexslider">
			<ul class="slides" v-if="banner">
				<li v-for="item in banner">
					<a v-link="'/filter?category=' + item.related_id">
						<img :src="item.image + '?imageView2/1/w/320/h/170'" :alt="item.related_name">
					</a>
				</li>
			</ul>
		</div>
		<ul class="items" v-if="category">
			<li v-for="(key, occasions) in category.occasions" class="item">
				<a v-link="'/filter?occasion=' + key">
					<img :src="occasions.image + '?imageView2/1/w/320/h/170'" :alt="occasions.name">
					<div class="caption-wrap">
						<h3 class="title">{{ occasions.name }}</h3>
					</div>
				</a>
			</li>
		</ul>
		<div class="guide" @click="guideShow = false" v-show="guideShow">
			<img src="../../images/home-guide.png" height="271" width="157" alt="指引图">
		</div>
	</div>
</template>

<script>
	import Basic from '../../store/basic'
	import User from '../../store/user'
	export default {
		name: 'p-home',

		data () {
			return {
				Banner: [],
				guideShow: false
			}
		},

		computed: {
			category () {
				return Basic.state.category
			},
			banner () {
				this.Banner = Basic.state.banner
				return Basic.state.banner
			}
		},

		created () {
			if (!User.state.token) {
				this.guideShow = true
			}
			if (Basic.state.banner.length == 0) {
				Basic.actions.initBanner()
			}
		},

		watch: {
			'Banner' () {
				$('.banner-slider').flexslider({
					'animation': 'slide',
					'controlNav': true,
					'animationLoop': false,
					'directionNav': false,
					'slideshow': false,
					'touch': true
				})
			}
		}
	}
</script>

<style lang="sass" scoped>
.home-page {
	.items {
		.item {
			width: 100%;
			height: 170px;
			position: relative;
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0,0 , .15);
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}
			.caption-wrap {
				width: 180px;
				border: 1px solid #fff;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -23px;
				margin-left: -90px;
				text-align: center;
				z-index: 5;
				.title {
					color: #fff;
					line-height: 44px;
					font-size: 16px;
				}
			}
		}
	}
	.guide {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .3);
		text-align: center;
		padding-top: 145px;
		z-index: 9999;
		img {
			display: inline-block;
		}
	}
}
</style>
