<template>
	<div class="user-about">
		<img src="../../../images/about-logo.png" height="25" width="108" alt="logo" class="logo" />
		<h1 class="title">上海觅宝网络信息科技有限公司</h1>
		<h2 class="title-en">Shanghai Eachpop Network Information Science&Technology Co., Ltd.</h2>
		<ul class="contact">
			<li class="addr"><span class="g-icon"></span>上海市徐汇区高邮路36号</li>
			<li class="e-mail"><span class="g-icon"></span>sky@topbridal.cn</li>
		</ul>
		<span class="copyright">©上海觅宝网络信息科技有限公司</span>
	</div>
</template>

<style lang="sass" scoped>
.user-about {
	color: #535353;
	padding: 86px 34px 50px;
	.logo {
		max-width: 108px;
		margin: 0 auto 37px;
		display: block;
	}
	.title {
		line-height: 24px;
		font-size: 18px;
		margin-bottom: 2px;
	}
	.title-en {
		font-size: 12px;
		color: #B5B5B5;
		padding-bottom: 20px;
		border-bottom: 1px solid #E3E3E3;
		margin-bottom: 25px;
	}
	.contact {
		li {
			padding: 5px 0 4px 17px;
			position: relative;
		}
		.addr {
			.g-icon {
				width: 7px;
				height: 11px;
				background-position: -180px 0;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -5px;
			}
		}
		.e-mail {
			.g-icon {
				width: 7px;
				height: 6px;
				background-position: -210px 0;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -3px;
			}
		}
	}
	.copyright {
		position: fixed;
		bottom: 34px;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 9px;
		color: #BBBBBE;
	}
}
</style>