<template>
	<div class="user-address-reset form" v-if="addr">
		<label class="form-control">
			<span class="label">收件人姓名</span>
			<input name="contact_user_name" v-model='contact_user_name'
			placeholder="请输入" value="{{ addr.contact_user_name }}" />
		</label>
		<label class="form-control">
			<span class="label">联系方式</span>
			<input name="contact_user_cell_phone" v-model='contact_user_cell_phone'
			placeholder="请输入" value="{{ addr.contact_user_cell_phone }}" />
		</label>
		<label class="form-control">
			<span class="label">选择省份或城市</span>
			<div class="selector">
				<span v-for="item in city" v-if="$key == addrData.city" class="text">{{ item.name }}</span>
				<span class="g-icon"></span>
				<select name="city" class="select-city" v-model="addrData.city">
					<option v-for="item in city" value="{{ $key }}">{{ item.name }}</option>
				</select>
			</div>
		</label>
		<label class="form-control">
			<span class="label">选择区域</span>
			<div class="selector">
				<span class="text">{{ addr.district_name }}</span>
				<span class="g-icon"></span>
				<select name="district" class="select-district" value="{{ addrData.district }}">
					<template v-for="item in city" v-if="$key == addrData.city">
						<template v-if="$key == addrData.city">
							<template v-for="(key , val) in item.district">
								<option value="{{ key }}">{{ val }}</option>
							</template>
						</template>
					</template>
				</select>
			</div>
		</label>
		<label class="form-control detailed">
			<span class="label">详细地址</span>
			<input placeholder="请输入" v-model="details" value="{{ addr.details }}" />
		</label>
		<div class="default-addr{{ addr.is_default == '1' ? ' active' : '' }}" @click="setDefault">设为默认地址</div>
		<div class="btn-wrap">
			<span class="del-btn" @click="delAddress">删除</span>
			<span class="submit-btn" @click="updateAddress">保存</span>
		</div>
		<delete-address></delete-address>
	</div>
</template>


<script>
	import User from '../../../store/user'
	import Popup from '../../../store/popup'
	export default {
		name: 'user-address-reset',

		components: {
			'delete-address': require('./delete-address')
		},

		data () {
			return {
				details: '',
				addrData: {},
				contact_user_name: '',
				contact_user_cell_phone: ''
			}
		},

		events: {
			'signIn' () {
				User.actions.initAddress()
			}
		},

		created () {
			if (typeof(User.state.user.id) !== 'undefined' && User.state.address.length == 0) {
				User.actions.initAddress()
			}
		},

		computed: {
			city () {
				let city = User.state.cities
				return city
			},
			addr () {
				let _this = this
				let address = User.state.address
				let addr
				for (let i = 0, j = address.length; i < j; i++) {
					if (address[i].id == _this.$route.params.id) {
						addr = address[i]
						this.addrData = address[i]
					}
				}
				return addr
			}
		},

		watch: {
			'addrData' () {
				$('.select-city').on('change', function(event) {
					event.preventDefault()
					let val = $(this).parents('.form-control').next().find('.select-district').children().eq(0).val()
					let text = $(this).parents('.form-control').next().find('.select-district').children().eq(0).text()
					$(this).parents('.form-control').next().find('.select-district').children().eq(0).val()
					$(this).parents('.form-control').next().find('.select-district').val(val)
					$(this).parents('.form-control').next().find('.selector .text').text(text)
				})
				$('.select-district').on('change', function(event) {
					event.preventDefault()
					let text = $(this).find('option:selected').text()
					$(this).parent().children('.text').text(text)
				})
			}
		},

		methods: {
			setDefault () {
				if (this.addr.is_default == '0') {
					this.addr.is_default = '1'
				}
				else {
					this.addr.is_default = '0'
				}
			},
			updateAddress (event) {
				let phone = this.contact_user_cell_phone
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				if (this.contact_user_name.length == 0) {
					Popup.state.globalMsg.single = '请输入收件人姓名！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (!telReg) {
					Popup.state.globalMsg.single = '请输入正确的手机号码！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.contact_user_name.length == 0) {
					Popup.state.globalMsg.single = '请输入收件人姓名！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.addrData.city.length == 0) {
					Popup.state.globalMsg.single = '请选择城市！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.details.length == 0) {
					Popup.state.globalMsg.single = '请输入详细地址！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.contact_user_name.length !== 0 && telReg && this.contact_user_name.length !== 0 && this.addrData.city.length !== 0 && this.details.length !== 0) {
					this.addrData.district = $(event.currentTarget).parents('.form').find('.select-district').val()
					User.actions.updateAddress({
						'id': this.addr.id,
						'city': this.addrData.city,
						'district': this.addrData.district,
						'contact_user_cell_phone': this.contact_user_cell_phone,
						'contact_user_name': this.contact_user_name,
						'details': this.details,
						'is_default': this.addrData.is_default
					})
				}
			},
			delAddress () {
				Popup.state.deleteAddress.id = this.addr.id
				Popup.state.deleteAddress.show = true
			}
		}
	}
</script>


<style lang="sass" scoped>
.user-address-reset {
	padding: 20px 19px 0 17px;
	.default-addr {
		border: 1px dashed #BBB;
		margin-top: 15px;
		padding: 13px 60px 14px 18px;
		position: relative;
		&:before {
			content: '';
			width: 44px;
			height: 23px;
			border: 1px solid #EDEDED;
			border-radius: 12px;
			box-sizing: border-box;
			background-color: #E7E7E7;
			position: absolute;
			right: 9px;
			top: 7px;
			transition: all .3s ease;
		}
		&:after {
			content: '';
			width: 23px;
			height: 23px;
			border: 1px solid #EDEDED;
			border-radius: 50%;
			box-sizing: border-box;
			background-color: #FFF;
			position: absolute;
			right: 30px;
			top: 7px;
			transition: all .3s ease;
		}
		&.active {
			&:before {
				background-color: #B37E79;
			}
			&:after {
				right: 9px;
			}
		}
	}
	.btn-wrap {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
		line-height: 50px;
		border-top: 1px solid #F0F0F0;
		font-size: 14px;
		.del-btn {
			float: left;
			width: 30%;
			color: #B37E79;
		}
		.submit-btn {
			width: 70%;
			float: left;
			border-left: 1px solid #F0F0F0;
			box-sizing: border-box
		}
	}
}
.form {
	.form-control {
		padding: 15px 0 10px 80px;
	}
	.form-control.detailed {
		padding-left: 0;
		.label {
			position: static;
			margin-bottom: 7px;
		}
	}
}
</style>