<template>
	<div class="user-address">
		<ul class="items" v-if="address.length > 0">
			<li class="item" v-for="addr in address | orderBy 'created_at' -1">
				<a v-link="{ path: '/user/address/' + addr.id, exact: true }">
					<div class="inner{{ addr.is_default == 1 ? ' default' : ''}}">
						<p class="name">{{ addr.contact_user_name }}<span class="phone">{{ addr.contact_user_cell_phone }}</span></p>
						<p class="addr"><span class="g-icon"></span>{{ addr.city_name }}{{ addr.district_name }}{{ addr.details }}</p>
						<span class="default-text" v-if="addr.is_default == 1">默认</span>
					</div>
				</a>
			</li>
		</ul>
		<div class="empty-address" v-else>
			<span class="g-icon"></span>
			<span class="text">无收货地址</span>
		</div>
		<a class="add-btn" v-link="'/user/address/add'"><span class="g-icon"></span></a>
	</div>
</template>

<script>
	import User from '../../../store/user'
	export default {
		name: 'user-address',

		events: {
			'signIn' () {
				User.actions.initAddress()
			}
		},

		created () {
			if (typeof(User.state.user.id) !== 'undefined') {
				User.actions.initAddress()
			}
		},

		computed: {
			address () {
				let list = User.state.address
				return list
			}
		}
	}
</script>


<style lang="sass" scoped>
.user-address {
	padding-top: 10px;
	.item {
		background-color: #fff;
		margin-bottom: 10px;
		a {
			display: block;
			padding: 19px 36px 18px 18px;
			overflow: hidden;
		}
		.inner {
			position: relative;
			box-sizing: border-box;
			padding: 12px 20px 16px 19px;
			&.default {
				border: 1px dashed #000;
			}
		}
		.name {
			line-height: 16px;
			position: relative;
			padding-right: 90px;
			margin-bottom: 5px;
		}
		.phone {
			position: absolute;
			right: 0;
			top: 0;
		}
		.addr {
			.g-icon {
				width: 8px;
				height: 11px;
				background-position: -180px 0;
				display: inline-block;
				vertical-align: center;
				margin-right: 3px;
			}
		}
		.default-text {
			position: absolute;
			top: 50%;
			left: 100%;
			font-size: 10px;
			margin-top: -5px;
			padding-left: 4px;
			width: 50px;
		}
	}
	.empty-address {
		text-align: center;
		padding-top: 68px;
		.g-icon {
			width: 50px;
			height: 33px;
			background-position: 0 -150px;
			display: inline-block;
			margin-left: -12px;
			margin-bottom: 10px;
		}
		.text {
			display: block;
			color: #9C9C9C;
		}
	}
	.add-btn {
		position: fixed;
		top: 0;
		right: 0;
		width: 50px;
		height: 44px;
		z-index: 55;
		text-align: right;
		.g-icon {
			width: 13px;
			height: 13px;
			background-position: -270px -240px;
			margin-top: 16px;
			margin-right: 18px;
			display: inline-block;
		}
	}
}
</style>