<template>
	<div class="user-basic">
		<div class="form">
			<div class="form-control avatar-wrap">
				<span class="label">头像</span>
				<div class="avatar" id="upload-avatar" v-show="isReset">
					<img :src="user.avatar + '?imageView2/1/w/60/h/60'" alt="user.nick_name" v-if="user.avatar"/>
				</div>
				<div class="avatar" v-show="!isReset">
					<img :src="user.avatar + '?imageView2/1/w/60/h/60'" alt="user.nick_name" v-if="user.avatar"/>
				</div>
				<input v-model="avatar" type="hidden">
			</div>
			<label class="form-control">
				<span class="label">昵称</span>
				<input value="{{ user.nick_name }}" v-model="nick_name" placeholder="{{ user.nick_name }}" v-show="isReset">
				<span class="text" v-show="!isReset">{{ user.nick_name }}</span>
			</label>
			<label class="form-control">
				<span class="label">手机号</span>
				<span class="text" v-if="user.cell_phone !== ''">{{ user.cell_phone }}</span>
				<a v-link="'/user/bind-phone'" class="link" v-else>绑定手机</a>
			</label>
			<label class="form-control">
				<span class="label">身份认证</span>
				<a class="link" v-if="user.verify_status == 0" v-link="'/user/id-card'">未认证</a>
				<a class="link" v-if="user.verify_status == 1" v-link="'/user/id-card'">认证中</a>
				<a class="link" v-if="user.verify_status == 2" v-link="'/user/id-card'">未通过</a>
				<a class="link" v-if="user.verify_status == 3"  v-link="'/user/id-card-info'">已认证</a>
			</label>
			<div class="stature-wrap">
				<label class="form-control">
					<span class="label">穿衣尺码</span>
					<div class="selector" v-show="isReset">
						<span v-for="(id, size) in category.sizes" v-if="user.clothes_size == id">{{ size }}</span>
						<span v-if="user.clothes_size == ''">未选择</span>
						<i class="g-icon"></i>
						<select v-model="clothes_size" class="select-size">
							<template v-for="(id, size) in category.sizes">
								<option :value="id" v-if="user.clothes_size == id" selected="selected">{{ size }}</option>
								<option :value="id" v-else>{{ size }}</option>
							</template>
						</select>
					</div>
					<div v-show="!isReset">
						<template v-if="user.clothes_size !== ''">
							<span class="text" v-for="(id, size) in category.sizes" v-if="user.clothes_size == id">{{ size }}</span>
						</template>
						<span class="text empty" v-else>-</span>
					</div>
				</label>
				<label class="form-control">
					<span class="label">身高</span>
					<div class="selector" v-show="isReset">
						<span v-if="user.body_height == ''">未选择</span>
						<span v-else>{{ user.body_height }}cm</span>
						<i class="g-icon"></i>
						<select v-model="body_height" class="select-size">
							<template v-for="index in 81">
								<option value="{{ 140 + index }}" v-if="user.body_height == 140 + index" selected="selected">{{ 140 + index }}cm</option>
								<option value="{{ 140 + index }}" v-else>{{ 140 + index }}cm</option>
							</template>
						</select>
					</div>
					<div v-show="!isReset">
						<span class="text" v-if="user.body_height !== '' && user.body_height !== '0'">{{ user.body_height }}cm</span>
						<span class="text empty" v-else>-</span>
					</div>
				</label>
				<label class="form-control">
					<span class="label">体重</span>
					<div class="selector" v-show="isReset">
						<span v-if="user.body_weight == ''">未选择</span>
						<span v-else>{{ user.body_weight }}kg</span>
						<i class="g-icon"></i>
						<select v-model="body_weight" class="select-size">
							<template v-for="index in 166">
								<option value="{{ 35 + index }}" v-if="user.body_weight == 35 + index" selected="selected">{{ 35 + index }}kg</option>
								<option value="{{ 35 + index }}" v-else>{{ 35 + index }}kg</option>
							</template>
						</select>
					</div>
					<div v-show="!isReset">
						<span class="text" v-if="user.body_weight !== '' && user.body_weight !== '0'">{{ user.body_weight }}cm</span>
						<span class="text empty" v-else>-</span>
					</div>
				</label>
				<label class="form-control">
					<span class="label">体型</span>
		        	<div class="selector" v-show="isReset">
		        		<span v-for="(id, text) in category.body_figures" v-if="user.body_figure == id">{{ text }}</span>
		        		<span v-if="user.body_figure == ''">未选择</span>
						<i class="g-icon"></i>
						<select class="select-figure" v-model="body_figure">
							<template v-for="(id, text) in category.body_figures">
								<option :value="id" v-if="user.body_figure == id" selected="selected">{{ text }}</option>
								<option :value="id" v-else>{{ text }}</option>
							</template>
						</select>
					</div>
					<div v-show="!isReset">
						<template v-if="user.body_figure !== ''">
		        			<span class="text" v-for="(id, text) in category.body_figures" v-if="user.body_figure == id">{{ text }}</span>
						</template>
						<span class="text empty" v-else>-</span>
					</div>
				</label>
				<label class="form-control">
					<span class="label">胸围</span>
					<div class="selector" v-show="isReset">
						<span v-if="user.body_chest == ''">未选择</span>
						<span v-else>{{ user.body_chest }}cm</span>
						<i class="g-icon"></i>
						<select v-model="body_chest" class="select-size">
							<template v-for="index in 71">
								<option value="{{ 50 + index }}" v-if="user.body_chest == 50 + index" selected="selected">{{ 50 + index }}cm</option>
								<option value="{{ 50 + index }}" v-else>{{ 50 + index }}cm</option>
							</template>
						</select>
					</div>
					<div v-show="!isReset">
						<span class="text" v-if="user.body_chest !== '' && user.body_chest !== '0'">{{ user.body_chest }}cm</span>
						<span class="text empty" v-else>-</span>
					</div>
				</label>
				<label class="form-control">
					<span class="label">腰围</span>
					<div class="selector" v-show="isReset">
						<span v-if="user.waistline == ''">未选择</span>
						<span v-else>{{ user.waistline }}cm</span>
						<i class="g-icon"></i>
						<select v-model="waistline" class="select-size">
							<template v-for="index in 71">
								<option value="{{ 50 + index }}" v-if="user.waistline == 50 + index" selected="selected">{{ 50 + index }}cm</option>
								<option value="{{ 50 + index }}" v-else>{{ 50 + index }}cm</option>
							</template>
						</select>
					</div>
					<div v-show="!isReset">
						<span class="text" v-if="user.waistline !== '' && user.waistline !== '0'">{{ user.waistline }}cm</span>
						<span class="text empty" v-else>-</span>
					</div>
				</label>
				<label class="form-control">
					<span class="label">臀围</span>
					<div class="selector" v-show="isReset">
						<span v-if="user.body_hipline == ''">未选择</span>
						<span v-else>{{ user.body_hipline }}cm</span>
						<i class="g-icon"></i>
						<select v-model="body_hipline" class="select-size">
							<template v-for="index in 71">
								<option value="{{ 50 + index }}" v-if="user.body_hipline == 50 + index" selected="selected">{{ 50 + index }}cm</option>
								<option value="{{ 50 + index }}" v-else>{{ 50 + index }}cm</option>
							</template>
						</select>
					</div>
					<div v-show="!isReset">
						<span class="text" v-if="user.body_hipline !== '' && user.body_hipline !== '0'">{{ user.body_hipline }}cm</span>
						<span class="text empty" v-else>-</span>
					</div>
				</label>
				<label class="form-control">
					<span class="label">裤长</span>
					<div class="selector" v-show="isReset">
						<span v-if="user.outseam == ''">未选择</span>
						<span v-else>{{ user.outseam }}cm</span>
						<i class="g-icon"></i>
						<select v-model="outseam" class="select-size">
							<template v-for="index in 71">
								<option value="{{ 50 + index }}" v-if="user.outseam == 50 + index" selected="selected">{{ 50 + index }}cm</option>
								<option value="{{ 50 + index }}" v-else>{{ 50 + index }}cm</option>
							</template>
						</select>
					</div>
					<div v-show="!isReset">
						<span class="text" v-if="user.outseam !== '' && user.outseam !== '0'">{{ user.outseam }}cm</span>
						<span class="text empty" v-else>-</span>
					</div>
				</label>
			</div>
			<div class="social-wrap">
				<div class="form-control avatar-wrap">
					<span class="label">微信</span>
					<a class="link" v-if="user.weixin_avatar == null" @click="weixin">去绑定</a>
					<div class="avatar" v-else>
						<img :src="user.weixin_avatar">
					</div>
				</div>
				<div class="form-control avatar-wrap">
					<span class="label">微博</span>
					<a class="link" v-if="user.weibo_avatar == null" @click="weibo">去绑定</a>
					<div class="avatar" v-else>
						<img :src="user.weibo_avatar">
					</div>
				</div>
			</div>
			<div class="btn-wrap">
				<span @click="reset" v-if="!isReset">修改</span>
				<span @click="save" v-if="isReset">保存</span>
			</div>
		</div>
	</div>
</template>

<script>
	import Api from 'api'
	import Basic from '../../../store/basic'
	import User from '../../../store/user'
	import Popup from '../../../store/popup'
	export default {
		name: 'user-basic',

		data () {
			return {
				isReset: false,
				avatar: '',
				nick_name: this.$root.nick_name,
				clothes_size: this.$root.clothes_size,
				body_height: this.$root.body_height,
				body_weight: this.$root.body_weight,
				body_figure: this.$root.body_figure,
				body_chest: this.$root.body_chest,
				waistline: this.$root.waistline,
				body_hipline: this.$root.body_hipline,
				outseam: this.$root.outseam
			}
		},

		events: {
			'signIn' () {
				// 检测 url 是否带有 code 参数，如果有，则是第三方登录
				let code = this.$route.query.code,
					state = this.$route.query.state
				if (typeof(code) !== 'undefined' && typeof(User.state.user.id) !== 'undefined') {
					if (state == 'weixin') {
						User.actions.bindWeixin({
							code: code
						})
					}
					else {
						User.actions.bindWeiBo({
							code: code
						})
					}
				}
			}
		},

		computed: {
			category () {
				return Basic.state.category
			},
			user () {
				return User.state.user
			}
		},

		created () {
			let _this = this
			// 获取七牛 uptoken
			Api.initQiniuToken({
				success: res => {
					this.$root.qiniuToken = res.data.data
					// 取得 uptoken,初始化上传图片插件
					_this.initFlow()
				}
			})
			// 检测 url 是否带有 code 参数，如果有，则是第三方登录
			let code = this.$route.query.code,
				state = this.$route.query.state
			if (typeof(code) !== 'undefined' && typeof(User.state.user.id) !== 'undefined') {
				if (state == 'weixin') {
					User.actions.bindWeixin({
						code: code
					})
				}
				else {
					User.actions.bindWeiBo({
						code: code
					})
				}
			}
		},

		ready () {
			$('.user-basic .select-figure, .user-basic .select-size').on('change', function(event) {
				event.preventDefault()
				let text = $(this).find('option:selected').text()
				$(this).parent().children('span').text(text)
			})
		},

		methods: {
			reset () {
				this.isReset = true
			},
			save () {
				if (this.nick_name.length < 1) {
					this.nick_name = User.state.user.nick_name
				}
				let data = {
					'nick_name': this.nick_name,
					'clothes_size': this.clothes_size,
					'body_height': this.body_height,
					'body_weight': this.body_weight,
					'body_figure': this.body_figure,
					'body_chest': this.body_chest,
					'waistline': this.waistline,
					'body_hipline': this.body_hipline,
					'outseam': this.outseam
				}
				if (this.avatar.length > 0) {
					data.avatar = this.avatar
				}
				User.actions.putUserInfo({
					data: data,
					after: (res) => {
						Popup.state.globalMsg.single = '保存资料成功！'
						Popup.state.globalMsg.show = true
						User.state.user.nick_name = res.data.data.nick_name
						User.state.user.clothes_size = res.data.data.clothes_size
						User.state.user.body_height = res.data.data.body_height
						User.state.user.body_weight = res.data.data.body_weight
						User.state.user.body_figure = res.data.data.body_figure
						User.state.user.body_chest = res.data.data.body_chest
						User.state.user.waistline = res.data.data.waistline
						User.state.user.body_hipline = res.data.data.body_hipline
						User.state.user.outseam = res.data.data.outseam
						if (this.avatar.length > 0) {
							User.state.user.avatar = res.data.data.avatar
						}
						$('#upload-avatar').find('.progress-bar').remove()
						this.isReset = false
					}
				})
			},
			isNum (s) {
				return !isNaN(s)
			},
			initFlow () {
				let _this = this
				var flow = new Flow({
					target: 'http://upload.qiniu.com',
					simultaneousUploads: 3,
					chunkSize: 4194304, // 4 * 1024 * 1024,
					testChunks: false,
					forceChunkSize: true,
					singleFile: false,
					allowDuplicateUploads: true,
					upload_token: _this.$root.qiniuToken.uptoken
				})
				flow.assignBrowse(
					$('#upload-avatar'),
					false,
					false,
					{ accept: 'image/*' }
				)
				flow.on('fileAdded', function(file, e) {
					var reader = new FileReader()
					if (flow.isUploading()) {
						Popup.state.globalMsg.single = '已有图片正在上传，请稍后..'
						Popup.state.globalMsg.show = true
						return false
					}
					if (file.size > 52428800) {
						Popup.state.globalMsg.single = '图片大小不得超过50M'
						Popup.state.globalMsg.show = true
						return false
					}
					reader.onload = function(e) {
						var image = new Image()
						image.src = e.target.result
						image.onload = function() {
							$('#upload-avatar').find('.progress-bar').remove()
							$('#upload-avatar').children('img').attr('src', this.src)
							var $progress = $('<div class="progress-bar"><span class="progress"></span><span class="text"></span><div>')
							$('#upload-avatar').append($progress)
						}
				 	}
					if (file.file) {
						reader.readAsDataURL(file.file)
					}
				})
				flow.on('fileProgress', function(file, chunk) {
					let speed = file.currentSpeed,
						percent = (file.sizeUploaded() * 100 / file.size).toFixed(2) + '%'
					if (speed < 1024) {
						speed = parseFloat((speed).toFixed(2)) + 'BYTE/S'
					}
					else {
						speed = parseFloat((speed / 1024).toFixed(2)) + 'KB/S'
					}
					$('#upload-avatar').find('.progress').css('width', percent).next('.text').html(percent)
				})
				flow.on('filesSubmitted', function() {
					flow.upload()
				})
				flow.on('fileChunkSucess', function(file, chunk, response) {
					if (typeof(file.ctx) == 'undefined') {
						file.ctx = response.ctx
					}
					else {
						file.ctx += ',' + response.ctx
					}
				})
				flow.on('fileSuccess', function(file) {
					var key = _this.base64_encode(file.uniqueIdentifier + (new Date()).valueOf())
					$.ajax({
						type: 'POST',
						url: flow.opts.target + '/mkfile/' + file.size + '/key/' + _this.base64_encode(key),
						headers: {
							'Content-Type': 'text/plain;charset=UTF-8',
							'Authorization': 'UpToken ' + flow.opts.upload_token
						},
						dataType: 'JSON',
						data: file.ctx
					}).done(function(response) {
						var $imgViewList = $('.img-upload-list')
						$('#upload-avatar').find('.progress').css('width', '100%')
							.next('.text').html('100%')
						_this.avatar = response.key
					}).fail(function() {
						flow.fire('fileError', file)
					})
				})
				flow.on('fileError', function(file, message) {
					console.log('图片上传失败')
				})
			},
			base64_encode (str) {
				var c1, c2, c3
				var base64EncodeChars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/'
				var i = 0,
					len = str.length,
					string = ''
				while (i < len) {
					c1 = str.charCodeAt(i++) & 0xff
					if (i == len) {
						string += base64EncodeChars.charAt(c1 >> 2)
						string += base64EncodeChars.charAt((c1 & 0x3) << 4)
						string += '=='
						break
					}
					c2 = str.charCodeAt(i++)
					if (i == len) {
						string += base64EncodeChars.charAt(c1 >> 2)
						string += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4))
						string += base64EncodeChars.charAt((c2 & 0xF) << 2)
						string += '='
						break
					}
					c3 = str.charCodeAt(i++)
					string += base64EncodeChars.charAt(c1 >> 2)
					string += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4))
					string += base64EncodeChars.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6))
					string += base64EncodeChars.charAt(c3 & 0x3F)
				}
				return string
			},
			weixin () {
				location.href = 'https://open.weixin.qq.com/connect/qrconnect?appid=wxf3b6280c8001af25&redirect_uri=http%3a%2f%2frentvogue.com%2findex.html%23!%2fuser%2fsetting%2fsocial&response_type=code&scope=snsapi_login&state=weixin#wechat_redirect'
			},
			weibo () {
				location.href = 'https://api.weibo.com/oauth2/authorize?client_id=2627720936&redirect_uri=http%3a%2f%2frentvogue.com%2findex.html%23!%2fuser%2fsetting%2fsocial'
			}
		}
	}
</script>

<style lang="sass" scoped>
.user-basic {
	padding: 0 19px 20px;
	.form {
		.form-control {
			.text {
				float: right;
			}
			.empty {
				color: #BBBBBE;
			}
			.link {
				float: right;
				color: #B37E79;
			}
			.selector {
				width: 100%;
				text-align: right;
			}
		}
	}
	.stature-wrap {
		padding-top: 11px;
	}
	.social-wrap {
		padding-top: 15px;
		.form .form-control.avatar-wrap {
			padding-top: 11px;
		}
	}
	.btn-wrap {
		position: fixed;
		right: 0;
		top: 0;
		z-index: 55;
		height: 44px;
		padding: 15px 19px 0;
		box-sizing: border-box;
	}
}
</style>