<template>
	<div class="user-collects">
		<template v-if="collects.length > 0">
			<ul class="items" v-if="collects">
				<item-goods v-for="item in collects" :item="item"></item-goods>
			</ul>
			<span class="loading-text" v-show="collectsPage.current_page < collectsPage.total && !loading">加载中，请稍等...</span>
		</template>
		<div class="empty-collects" v-else>
			<span class="g-icon"></span>
			<span class="text">无收藏</span>
		</div>
	</div>
</template>

<script>
import User from '../../../store/user'
	export default {
		name: 'user-collects',

		components: {
			'item-goods': require('../goods/item-goods')
		},

		data () {
			return {
				loading: true
			}
		},

		events: {
			'signIn' () {
				User.actions.initCollects({
					page: 1
				})
			}
		},

		created () {
			if (typeof(User.state.user.id) !== 'undefined') {
				User.actions.initCollects({
					page: 1
				})
			}
		},

		computed: {
			collects () {
				return User.state.collects
			},
			collectsPage () {
				return User.state.collectsPage
			}
		},

		ready () {
			let _this = this
			$(window).bind('scroll', () => {
				if (_this.$route.path == '/user/collects') {
					if ($(document).scrollTop() + $(window).height() > $(document).height() - 50 && $.active <= 0) {
						if (_this.loading) {
							let page = _this.collectsPage.current_page + 1
							if (_this.collectsPage.current_page < _this.collectsPage.total) {
								_this.loading = false
								User.actions.getCollectsPage({
									page: page,
									after: () => {
										_this.loading = true
									}
								})
							}
						}
					}
				}
			})
		}
	}
</script>

<style lang="sass" scoped>
.user-collects {
	margin-top: -1px;
	.items {
		font-size: 0;
		letter-spacing: -4px;
	}
	.loading-text {
		text-align: center;
		display: block;
		color: #B37E79;
		padding: 30px 20px 10px 20px;
	}
	.empty-collects {
		text-align: center;
		padding-top: 60px;
		.g-icon {
			width: 53px;
			height: 36px;
			background-position: -120px -150px;
			display: inline-block;
			margin-left: -12px;
			margin-bottom: 10px;
		}
		.text {
			display: block;
			color: #9C9C9C;
		}
	}
}
</style>