<template>
	<div class="user-coupons">
		<ul class="items" v-if="coupons.length > 0">
			<li class="item" v-for="coupon in coupons">
				<div class="coupon {{ coupon.class }}">
					<span class="g-icon"></span>
					<div class="f-left">
						<span class="title">代金券可用</span>
						<span class="caption">有效期到</span>
						<span class="valid-time">{{ coupon.deadline }}</span>
					</div>
					<div class="f-right">
						<span class="price">￥{{ coupon.cut }}</span>
						<span class="explain">满{{ coupon.need }}可用</span>
					</div>
				</div>
			</li>
		</ul>
		<div class="empty-coupons" v-else>
			<span class="g-icon"></span>
			<span class="text">无优惠券</span>
		</div>
	</div>
</template>

<script>
	import User from '../../../store/user'
	export default {
		name: 'user-coupons',

		events: {
			'signIn' () {
				User.actions.initCoupons()
			}
		},

		created () {
			if (typeof(User.state.user.id) !== 'undefined') {
				User.actions.initCoupons()
			}
		},

        computed: {
			coupons () {
				let list = User.state.coupons
				return list
			}
		}
	}
</script>

<style lang="sass" scoped>
.user-coupons {
	padding: 0 17px 10px;
	.empty-coupons {
		text-align: center;
		padding-top: 61px;
		.g-icon {
			width: 54px;
			height: 40px;
			background-position: -240px -150px;
			display: inline-block;
			margin-left: -12px;
			margin-bottom: 10px;
		}
		.text {
			display: block;
			color: #9C9C9C;
		}
	}
	.item {
		margin-top: 10px;
	}
	.coupon {
		width: 100%;
		height: 114px;
		position: relative;
		overflow: hidden;
		.g-icon {
			width: 9px;;
			height: 108px;
			background-position: -270px -30px;
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -4px;
			margin-top: -54px;
		}
		&:before,
		&:after {
			content: '';
			width: 20px;
			height: 20px;
			display: block;
			background-color: #fff;
			margin-top: -10px;
			position: absolute;
			top: 50%;
			border-radius: 50%;
		}
		&:before {
			left: -12px;
		}
		&:after {
			right: -12px;
		}
		&.coupon-1 {
			background-color: #F3EDE0;
			color: #A96D67;
			.caption {
				color: #C1BBAE;
			}
		}
		&.coupon-2 {
			background-color: #E0F3F3;
			color: #62909E;
			.caption {
				color: #AEC1BD;
			}
		}
		&.coupon-3 {
			background-color: #E0E8F3;
			color: #7864A2;
			.caption {
				color: #B0AEC1;
			}
		}
		&.coupon-4 {
			background-color: #F3E0E0;
			color: #864F4F;
			.caption {
				color: #B69EA6;
			}
		}
		.f-left,
		.f-right {
			width: 50%;
			box-sizing: border-box;
			span {
				display: block;
			}
		}
		.f-left {
			float: left;
			padding: 39px 12px 0 15px;
			.title {
				font-size: 14px;
				margin-bottom: 8px;
			}
			.caption {
				font-size: 10px;
				line-height: 10px;
				margin-bottom: 6px;
			}
			span {
				line-height: 17px;
			}
		}
		.f-right {
			float: right;
			text-align: right;
			padding: 35px 20px 0 0;
			.price {
				font-size: 35px;
				margin-bottom: 2px;
			}
		}
	}
}
</style>