<template>
	<m-modal :show="deleteAddress.show">
		<div class="modal">
			<div class="title">确认删除收货地址？</div>
			<div class="tool-wrap">
				<span @click="close">取消</span>
				<span @click="submit">确认</span>
			</div>
		</div>
	</m-modal>
</template>

<script>
	import Popup from '../../../store/popup'
	import User from '../../../store/user'
	export default {
		name: 'delete-address',

		components: {
			'm-modal': require('../../module/popup/modal')
		},

		computed: {
			deleteAddress () {
				return Popup.state.deleteAddress
			}
		},

		methods: {
			submit () {
				let _this = this
				User.actions.deleteAddress({
					'id': Popup.state.deleteAddress.id,
					'after': () => {
						_this.close()
						_this.$route.router.go('/user/address')
					}
				})
			},
			close () {
				Popup.state.deleteAddress.show = false
			}
		}
	}
</script>

<style lang="sass" scoped>
.modal {
	padding: 20px 0 0;
	text-align: center;
	.title {
		color: #B37E79;
		padding-bottom: 10px;
		margin: 0 20px 10px;
	}
	.tool-wrap {
		display: table;
		width: 100%;
		background-color: #B37E79;
		color: #fff;
		span {
			width: 50%;
			display: table-cell;
			line-height: 40px;
			position: relative;
			& + span {
				&:before {
					content: '';
					width: 1px;
					height: 14px;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -7px;
					background-color: #FFF;
					opacity: .2;
				}
			}
		}
	}
}
</style>