<template>
	<div class="section-user user-id-card">
		<span class="message-tool" v-if="user.verify_status == 1">已上传等待认证...</span>
		<span class="message-tool" v-if="user.verify_status == 2">身份认证未通过，请提交清晰照片！</span>
		<p class="hint" v-if="user.verify_status !== 1"><span>提示：</span>每个用户只允许提交两次验证，如两次都没提交成功，请发身份资料到官方邮箱(id@rentvogue.com)，由客服为您认证！</p>
		<div class="form">
			<div class="input">
				<label class="form-control">
					<span class="label">真实姓名</span>
					<span v-if="user.verify_status == 1" class="progress-input">{{ user.name }}</span>
					<input placeholder="请输入" v-model="name" class="name-input" v-if="user.verify_status !== 1">
				</label>
			</div>
			<div class="input">
				<label class="form-control">
					<span class="label">身份证号码</span>
					<span v-if="user.verify_status == 1" class="progress-input">{{ user.id_number }}</span>
					<input placeholder="请输入" v-model="id_number" class="id_number-input" v-if="user.verify_status !== 1">
				</label>
			</div>
			<div class="title">证件照片</div>
			<div class="input">
				<div class="file" id="front-btn">
					<div id="front-img">
						<img :src="user.id_card_frontend + '?imageView2/1/w/560/h/340'" alt="身份证正面照片" v-if="user.verify_status == 1">
					</div>
					<div class="inner">
						<span class="g-icon id-card-front-icon"></span>
						<span class="info" v-if="user.verify_status !== 1">添加正面文件</span>
						<span class="g-icon plus-icon"></span>
					</div>
					<input type="hidden" name="id_card_front" id="front-input" />
				</div>
			</div>
			<div class="input">
				<div class="file" id="back-btn">
					<div id="back-img">
						<img :src="user.id_card_backend + '?imageView2/1/w/560/h/340'" alt="身份证背面照片" v-if="user.verify_status == 1">
					</div>
					<div class="inner">
						<span class="g-icon id-card-back-icon"></span>
						<span class="info" v-if="user.verify_status !== 1">添加背面文件</span>
						<span class="g-icon plus-icon"></span>
					</div>
					<input type="hidden" name="id_card_back" id="back-input" />
				</div>
			</div>
		</div>
		<span @click="submit" v-if="user.verify_status !== 1" class="button">提交资料</span>
	</div>
</template>

<script>
	import User from '../../../store/user'
	import Popup from '../../../store/popup'
	import Basic from '../../../store/basic'
	import Api from 'api'
	export default {
		name: 'user-id-card',

		computed: {
			user () {
				return User.state.user
			}
		},

		data () {
			return {
				name: '',
				id_number: ''
			}
		},

		ready () {
			let _this = this
			// 获取七牛 uptoken
			Api.initQiniuToken({
				success: res => {
					_this.$root.qiniuToken = res.data.data
					// 取得 uptoken,初始化上传图片插件
					if (_this.user.verify_status !== 1) {
						_this.initFlow()
					}
				}
			})
		},

		methods: {
			submit () {
				let $ = window.$,
					_this = this,
					wsCache = new WebStorageCache(),
					id_card_frontend = $('#front-input').val(),
					id_card_backend = $('#back-input').val()
				if (_this.name.length == 0) {
					Popup.state.globalMsg.single = '请填写姓名！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (_this.id_number.length == 0) {
					Popup.state.globalMsg.single = '请填写身份证号码！'
					Popup.state.globalMsg.show = true
					return false
				}
				else {
					if (!_this.identityCodeValid(_this.id_number)) {
						Popup.state.globalMsg.single = '请填写正确的身份证号码！'
						Popup.state.globalMsg.show = true
						return false
					}
				}
				if (id_card_frontend.length == 0) {
					Popup.state.globalMsg.single = '身份证正面文件未上传'
					Popup.state.globalMsg.show = true
					return false
				}
				if (id_card_backend.length == 0) {
					Popup.state.globalMsg.single = '身份证背面面文件未上传'
					Popup.state.globalMsg.show = true
					return false
				}
				if (!_this.name.length == 0 && _this.id_number.length !== 0 && _this.identityCodeValid(_this.id_number) && id_card_frontend.length !== 0 && id_card_backend.length !== 0) {
					Basic.actions.loadStart()
					Api.verifyIdCard({
						data: {
							'cardNo': _this.id_number,
							'realName': _this.name
						},
						success: res => {
							if (res.data.data.error_code == '0') {
								if (res.data.data.result.isok) {
									Api.putUserInfo({
										data: {
											'id': _this.user.id,
											'name': _this.name,
											'id_number': _this.id_number,
											'id_card_frontend': id_card_frontend,
											'id_card_backend': id_card_backend
										},
										success: res => {
											Api.getUserInfo({
												data: {
													'token': User.state.token
												},
												success: res => {
													Basic.actions.loadEnd()
													User.state.user = res.data.data
													Popup.state.globalMsg.single = '身份证号码上传成功,请等待认证！'
													Popup.state.globalMsg.show = true
												},
												error: res => {
													Basic.actions.loadEnd()
													_this.$route.router.go('/user/index')
												}
											})
										},
										error: res => {
											Basic.actions.loadEnd()
											Popup.state.globalMsg.more.title = '提交验证失败'
											for (let list in res.data) {
												for (let i = 0, j = res.data[list].length; i < j ; i++) {
													Popup.state.globalMsg.more.list.push(res.data[list][i])
												}
											}
											Popup.state.globalMsg.show = true
										}
									})
								}
								else {
									Basic.actions.loadEnd()
									Popup.state.globalMsg.single = '姓名(' + res.data.data.result.realname + ')和身份证号(' + res.data.data.result.idcard + ')不匹配，请确认身份信息正确填写再提交！'
									Popup.state.globalMsg.show = true
								}
							}
							else if (res.data.data.error_code == 206500) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '身份证号码错误,请重试！'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 206501) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '库中无此身份证记录,请重试！'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 206502) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '身份证验证中心维护中！'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10011) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '当前IP请求超过限制,请重试！'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10020) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '接口维护！'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10021) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '接口停用！'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10022) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '按需验证身份信息剩余请求次数为零, 请联系网站客服!'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10023) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '请求IP无效!'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10024) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '网络错误!'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10025) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '没有查询到结果!'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10026) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '当前请求频率过高超过权限限制!'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10027) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '验证身份信息违规被冻结，请联系网站客服！!'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10029) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '系统内部异常，请重试!'
								Popup.state.globalMsg.show = true
							}
							else if (res.data.data.error_code == 10032) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '虚拟账号余额不足, 请联系网站客服!'
								Popup.state.globalMsg.show = true
							}
							else {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '身份信息验证失败，请重试！!'
								Popup.state.globalMsg.show = true
							}
						},
						error: res => {
							if (res.data.error_code == 119) {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '账户无法验证，如需继续验证，请发身份资料到官方邮箱，由客服为您认证！'
								Popup.state.globalMsg.show = true
							}
							else {
								Basic.actions.loadEnd()
								Popup.state.globalMsg.single = '请求验证身份姓名和身份证号失败,请重试！'
								Popup.state.globalMsg.show = true
							}
						}
					})
				}
			},
			initFlow () {
				let $ = window.$
				let _this = this
				let $frontBtn = $('#front-btn'),
					$frontView = $('#front-img'),
					$frontInput = $('#front-input'),
					frontError = '1',
					$backBtn = $('#back-btn'),
					$backView = $('#back-img'),
					$backInput = $('#back-input'),
					backError = '2'
				var front = new Flow({
					target: 'http://upload.qiniu.com',
					simultaneousUploads: 3,
					chunkSize: 4194304, // 4 * 1024 * 1024,
					testChunks: false,
					forceChunkSize: true,
					singleFile: false,
					allowDuplicateUploads: true,
					upload_token: _this.$root.qiniuToken.uptoken
				})
				var back = new Flow({
					target: 'http://upload.qiniu.com',
					simultaneousUploads: 3,
					chunkSize: 4194304, // 4 * 1024 * 1024,
					testChunks: false,
					forceChunkSize: true,
					singleFile: false,
					allowDuplicateUploads: true,
					upload_token: _this.$root.qiniuToken.uptoken
				})
				this.initImgUpload(front, $frontBtn, $frontView, $frontInput, frontError)
				this.initImgUpload(back, $backBtn, $backView, $backInput, backError)
			},
			initImgUpload (flow, $imgBtn, $imgView, $imgInput, error) {
				let $ = window.$
				let _this = this
				flow.assignBrowse(
					$imgBtn,
					false,
					false,
					{ accept: 'image/*' }
				)
				flow.on('fileAdded', function(file, e) {
					var reader = new FileReader()
					if (flow.isUploading()) {
						Popup.state.globalMsg.single = '已有图片正在上传，请稍后..'
						Popup.state.globalMsg.show = true
						return false
					}
					if (file.size > 52428800) {
						Popup.state.globalMsg.single = '图片大小不得超过50M'
						Popup.state.globalMsg.show = true
						return false
					}
					reader.onload = function(e) {
						var image = new Image()
						image.src = e.target.result
						image.onload = function() {
							var $img = $('<img src="' + this.src + '" />')
							var $progress = $('<div class="progress-bar"><span class="progress"></span><span class="text"></span><div>')
							$imgView.children().remove()
							$imgView.append($img)
							$imgView.append($progress)
						}
				 	}
					if (file.file) {
						reader.readAsDataURL(file.file)
					}
				})
				flow.on('fileProgress', function(file, chunk) {
					let speed = file.currentSpeed,
						percent = (file.sizeUploaded() * 100 / file.size).toFixed(2) + '%'
					if (speed < 1024) {
						speed = parseFloat((speed).toFixed(2)) + 'BYTE/S'
					}
					else {
						speed = parseFloat((speed / 1024).toFixed(2)) + 'KB/S'
					}
					$.each($imgView.find('.progress'), function() {
						if ($(this).css('width') == '0px') {
							$(this).css('width', percent)
							$(this).next('.text').html(percent)
							return
						}
					})
				})
				flow.on('filesSubmitted', function() {
					flow.upload()
				})
				flow.on('fileChunkSucess', function(file, chunk, response) {
					if (typeof(file.ctx) == 'undefined') {
						file.ctx = response.ctx
					}
					else {
						file.ctx += ',' + response.ctx
					}
				})
				flow.on('fileSuccess', function(file) {
					var key = _this.base64_encode(file.uniqueIdentifier + (new Date()).valueOf())
					$.ajax({
						type: 'POST',
						url: flow.opts.target + '/mkfile/' + file.size + '/key/' + _this.base64_encode(key),
						headers: {
							'Content-Type': 'text/plain;charset=UTF-8',
							'Authorization': 'UpToken ' + flow.opts.upload_token
						},
						dataType: 'JSON',
						data: file.ctx
					}).done(function(response) {
						$imgView.find('.progress')
							.css('width', '100%')
							.next('.text').html('100%')
						$imgInput.val(response.key)
					}).fail(function() {
						flow.fire('fileError', file)
					})
				})
				flow.on('fileError', function(file, message) {
					Popup.state.globalMsg.single = '图片上传失败，请重试！'
					Popup.state.globalMsg.show = true
				})
			},
			base64_encode (str) {
				var c1, c2, c3
				var base64EncodeChars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/'
				var i = 0,
					len = str.length,
					string = ''
				while (i < len) {
					c1 = str.charCodeAt(i++) & 0xff
					if (i == len) {
						string += base64EncodeChars.charAt(c1 >> 2)
						string += base64EncodeChars.charAt((c1 & 0x3) << 4)
						string += '=='
						break
					}
					c2 = str.charCodeAt(i++)
					if (i == len) {
						string += base64EncodeChars.charAt(c1 >> 2)
						string += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4))
						string += base64EncodeChars.charAt((c2 & 0xF) << 2)
						string += '='
						break
					}
					c3 = str.charCodeAt(i++)
					string += base64EncodeChars.charAt(c1 >> 2)
					string += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4))
					string += base64EncodeChars.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6))
					string += base64EncodeChars.charAt(c3 & 0x3F)
				}
				return string
			},
			identityCodeValid(code) {
				let city = {
					11: '北京',
					12: '天津',
					13: '河北',
					14: '山西',
					15: '内蒙古',
					21: '辽宁',
					22: '吉林',
					23: '黑龙江',
					31: '上海',
					32: '江苏',
					33: '浙江',
					34: '安徽',
					35: '福建',
					36: '江西',
					37: '山东',
					41: '河南',
					42: '湖北',
					43: '湖南',
					44: '广东',
					45: '广西',
					46: '海南',
					50: '重庆',
					51: '四川',
					52: '贵州',
					53: '云南',
					54: '西藏',
					61: '陕西',
					62: '甘肃',
					63: '青海',
					64: '宁夏',
					65: '新疆',
					71: '台湾',
					81: '香港',
					82: '澳门',
					91: '国外'
				}
				let tip = ''
				let pass = true
				if (!code || !/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[12])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i.test(code)) {
					tip = '身份证号格式错误'
					pass = false
				}
				else if (!city[code.substr(0, 2)]) {
					tip = '地址编码错误'
					pass = false
				}
				else {
					// 18位身份证需要验证最后一位校验位
					if (code.length == 18) {
						code = code.split('')
						// ∑(ai×Wi)(mod 11)
						// 加权因子
						let factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2],
						// 校验位
							parity = [1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2],
							sum = 0,
							ai = 0,
							wi = 0
						for (let i = 0; i < 17; i++) {
							ai = code[i]
							wi = factor[i]
							sum += ai * wi
						}
						let last = parity[sum % 11]
						if (parity[sum % 11] != code[17]) {
							tip = '校验位错误'
							pass = false
						}
					}
				}
				// if (!pass) alert(tip)
				return pass
			}
		}
	}
</script>

<style lang="sass" scoped>
.user-id-card {
	font-size: 12px;
	padding: 20px 18px 61px 20px;
	position: relative;
	.hint {
		max-width: 100%;
		border-radius: 3px;
		background-color: #F6F6F6;
		line-height: 18px;
		padding: 8px 10px;
		font-size: 12px;
		text-align: left;
		margin-bottom: 20px;
		box-sizing: border-box;
		span {
			color: #B37E79;
		}
	}
	.content {
		padding-top: 30px;
		width: 280px;
		margin-left: 225px;
	}
	.progress-input {
		text-align: right;
		display: block;
	}
	.title {
		padding: 15px 0 10px 0;
		color: #BBBBBE;
	}
	.file {
		height: 170px;
		border: 1px solid #f0f0f0;
		background-color: #f3f3f3;
		margin-top: 10px;
		position: relative;
		overflow: hidden;
		input {
			display: none;
		}
		.inner {
			width: 100%;
			height: 100%;
			font-size: 10px;
			color: #bbbbbe;
			display: block;
			cursor: pointer;
			position: absolute;
			text-align: center;
			z-index: 1;
			top: 0;
			left: 0;
			padding-top: 40px;
			box-sizing: border-box;
			.g-icon {
				display: block;
				margin: auto;
				margin-bottom: 10px;
			}
			.info {
				margin-bottom: 11px;
				display: inline-block;
			}
		}
	}
	#front-img,
	#back-img {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 2;
		img {
			width: 100%;
		}
	}
	.button {
		display: block;
		color: #fff;
		width: 100%;
		line-height: 51px;
		background-color: #B37E79;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
</style>
