<template>
	<div class="section-user section-id-card-info">
		<span class="message-tool">身份认证已通过！</span>
		<div class="input">
			<div class="text">
				<span class="label">真实姓名</span>
				<span class="progress-input">{{ user.name }}</span>
			</div>
		</div>
		<div class="input">
			<div class="text">
				<span class="label">身份证号码</span>
				<span class="progress-input">{{ user.id_number }}</span>
			</div>
		</div>
		<a v-link="'/user/id-card'" class="change-info">更 换 认 证 信 息 》</a>
	</div>
</template>

<script>
	import User from '../../../store/user'
	export default {
		name: 'section-id-card-info',

		computed: {
			user () {
				return User.state.user
			}
		}
	}
</script>

<style lang="sass" scoped>
.section-id-card-info {
	padding: 20px 18px 0 20px;
	font-size: 12px;
	.message-tool {
		padding: 0 0 10px 0;
		font-size: 14px;
		color: #B37E79;
		display: block;
		line-height: 18px;
	}
	.text {
		padding: 19px 0 10px 80px;
		overflow: hidden;
		position: relative;
		border-bottom: 1px solid #ececec;
		.progress-input {
			float: right;
			display: inline-block;
			margin-left: 0;
			color: #5F5F5F;
		}
		.label {
			position: absolute;
			bottom: 10px;
			left: 0;
			color: #bbbbbe;
		}
	}
	.change-info {
		color: #B37E79;
		padding-top: 16px;
		display: inline-block;
	}
}
</style>