<template>
	<div class="section-user user-index">
		<div class="user-head" v-if="user">
			<a class="avatar" v-link="'/user/basic'">
				<img :src="user.avatar + '?imageView2/1/w/100/h100'" alt="user.name" v-if="user.avatar">
			</a>
			<h2 class="name">{{ user.name }}</h2>
			<div class="id-card-wrap">
				<div class="id-card">
					<a v-if="user.verify_status == 0" v-link="'/user/id-card'">实名未认证</a>
					<a v-if="user.verify_status == 1" v-link="'/user/id-card'">实名认证中</a>
					<a v-if="user.verify_status == 2" v-link="'/user/id-card'" class="not-through">审核未通过</a>
					<a class="active" v-if="user.verify_status == 3"  v-link="'/user/id-card-info'">
						<span class="id-card-icon g-icon"></span>
						<span>实名认证</span>
					</a>
				</div>
				<a v-link="'/user/notices'" class="notices"><span class="notice-icon g-icon"></span></a>
			</div>
		</div>
		<div class="user-nav">
			<ul>
				<li><a v-link="'/orders/unpaid'"><span class="g-icon u-order-icon"></span>我的订单</li></a>
				<li><a v-link="'/user/invitation'"><span class="g-icon u-rebate-icon"></span>邀请返利<span class="aside">最高抵用 ￥5000</span></li></a>
				<li><a v-link="'/user/coupons'"><span class="g-icon u-coupon-icon"></span>我的优惠券</li></a>
				<li><a v-link="'/user/collects'"><span class="g-icon u-collect-icon"></span>我的收藏</li></a>
				<li><a v-link="'/user/address'"><span class="g-icon u-addr-icon"></span>地址管理</li></a>
				<li><a v-link="'/user/settings'"><span class="g-icon u-set-icon"></span>设置</li></a>
			</ul>
		</div>
	</div>
</template>


<script>
	import User from '../../../store/user'
	export default {
		name: 'user-index',

		computed: {
			user () {
				return User.state.user
			}
		},

		created () {
			let wsCache = new WebStorageCache()
			if (!wsCache.get('auth')) {
				this.$route.router.go('/signin')
			}
		}
	}
</script>

<style lang="sass" scoped>
.user-index {
	.user-head {
		padding: 14px 10px 11px;
		text-align: center;
		background-color: #E7E7E7;
		.avatar {
			width: 56px;
			height: 56px;
			margin: 0 auto 4px;
			border-radius: 50%;
			overflow: hidden;
			display: block;
		}
		.name {
			margin-bottom: 10px;
		}
		.id-card-wrap {
			position: relative;
			display: inline-block;
			color: #9F9F9F;
			.id-card {
				line-height: 21px;
				border-radius: 11px;
				padding: 0 8px;
				background-color: #F5F5F5;
			}
			.notices {
				position: absolute;
				top: 0;
				right: -32px;
				width: 21px;
				height: 21px;
				background-color: #F5F5F5;
				border-radius: 50%;
				padding-top: 6px;
				box-sizing: border-box;
			}
		}
	}
	.user-nav {
		.g-icon {
			width: 15px;
			height: 15px;
			position: absolute;
			left: 29px;
			top: 17px;
		}
		li {
			a {
				font-size: 14px;
				display: block;
				position: relative;
				padding: 17px 10px 15px 55px;
				border-bottom: 1px solid #F4F4F4;
			}
		}
		.aside {
			font-size: 10px;
			vertical-align: bottom;
			color: #8F8F8F;
			margin-left: 6px;
		}
	}
}
</style>
