<template>
	<div class="user-poinion">
		<div class="form">
			<textarea placeholder="有什么想法对RentVogue说？" v-model="details"></textarea>
			<span class="button" @click="submit">发送</span>
		</div>
	</div>
</template>

<script>
	import User from '../../../store/user'
	export default {
		name: 'user-poinion',

		data () {
			return {
				details: ''
			}
		},

		methods: {
			submit () {
				let _this = this
				User.actions.sentOpinion({
					data: {
						details: this.details
					},
					after: () => {
						_this.details = ''
					}
				})
			}
		}
	}
</script>

<style lang="sass" scoped>
.user-poinion {
	textarea {
		background-color: transparent;
		width: 100%;
		height: 350px;
		box-sizing: border-box;
		padding: 20px 18px;
		outline: none;
		border: none;
		appearance: none;
		-webkit-appearance: none;
		overflow: hidden;
		resize: none;
		color: #B2B2B2;
		line-height: 16px;
	}
	::-webkit-input-placeholder {
		font-size: 12px;
		color: #B2B2B2;
	}
	:-moz-placeholder {
		font-size: 12px;
		color: #B2B2B2;
	}
	::-moz-placeholder {
		font-size: 12px;
		color: #B2B2B2;
	}
	:-ms-input-placeholder {
		font-size: 12px;
		color: #B2B2B2;
	}
	:placeholder {
		font-size: 12px;
		color: #B2B2B2;
	}
	.button {
		position: fixed;
		bottom: 0;
		left: 0;
	}
}
</style>