<template>
	<div class="user-reset-city">
		<ul class="radio-box" v-if="cities">
			<li v-for="city in cities">
				<label class="item">
					<input type="radio" name="primary_city" v-model="primary_city" value="{{ $key }}"  checked="checked" v-if="$key == user.primary_city" />
					<input type="radio" name="primary_city" v-model="primary_city" value="{{ $key }}" v-else/>
					<span class="icon"></span>
					<span class="text">{{ city.name }}</span>
					<span class="hh" v-if="$key == 310000"> 默认</span>
				</label>
			</li>
		</ul>
		<span class="button" @click="submit">保存</span>
	</div>
</template>

<script>
	import User from '../../../store/user'
	export default {
		name: 'user-reset-city',

		data () {
			return {
				primary_city: ''
			}
		},

		computed: {
			cities () {
				return User.state.cities
			},
			user () {
				return User.state.user
			}
		},

		methods: {
			submit () {
				let _this = this
				User.actions.putPrimaryCity({
					'primary_city': this.primary_city
				})
			}
		}
	}
</script>

<style lang="sass" scoped>
.user-reset-city {
	overflow: hidden;
	.radio-box {
		.item  {
			padding: 16px 50px 16px 18px;
			overflow: hidden;
			position: relative;
			display: block;
			box-sizing: border-box;
			border-bottom: 1px solid #f0f0f0;
		}
		.text {
			font-size: 14px;
			line-height: 18px;
		}
		.hh {
			font-size: 12px;
			line-height: 18px;
			color: #B37E79;
		}
		.icon {
			width: 14px;
			height: 14px;
			border-radius: 50%;
			border: 1px solid #B37E79;
			box-sizing: border-box;
			display: block;
			position: absolute;
			right: 18px;
			top: 50%;
			margin-top: -7px;
			transition: all .2s ease;
		}
		input[type="radio"] {
			position: absolute;
			left: 100%;
			bottom: 100%;
			&:checked + .icon {
				background-color: #B37E79;
			}
		}
	}
	.button {
		position: fixed;
		bottom: 0;
		left: 0;
	}
}
</style>