<template>
	<div class="user-reset-password">
		<div class="form">
			<label class="form-control has-icon">
				<span class="g-icon f-lock-icon"></span>
				<input type="password" name="old_password" v-model="old_password" placeholder="密码" />
			</label>
			<label class="form-control has-icon">
				<span class="g-icon f-lock-icon"></span>
				<input type="password" name="password" v-model="password" placeholder="新密码" />
			</label>
			<label class="form-control has-icon">
				<span class="g-icon f-lock-icon"></span>
				<input type="password" name="password_again" v-model="password_again" placeholder="再输一次" />
			</label>
			<label class="form-control button-wrap">
				<span class="button radius" @click="submit">完成</span>
			</label>
		</div>
	</div>
</template>
<script>
	import Popup from '../../../store/popup'
	import User from '../../../store/user'
	export default {
		name: 'user-reset-password',

		data () {
			return {
				password: '',
				old_password: '',
				password_again: ''
			}
		},

		methods: {
			submit () {
				let _this = this
				if (this.old_password.length < 8) {
					Popup.state.globalMsg.single = '请填写正确的 8 位数密码!'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.password.length < 8) {
					Popup.state.globalMsg.single = '新密码不能小于 8 个字符！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.password !== this.password_again) {
					Popup.state.globalMsg.single = '两次输入的密码不一样！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.password.length >= 8 && this.old_password.length >= 8 && this.password == this.password_again) {
					let obj = {
						data: {
							'old_password': this.old_password,
							'password': this.password,
							'password_confirmation': this.password_again
						},
						after: (res) => {
							_this.password = ''
							_this.old_password = ''
							_this.password_again = ''
							Popup.state.globalMsg.single = '密码修改成功!'
							Popup.state.globalMsg.show = true
						}
					}
					User.actions.putUserInfo(obj)
				}
			}
		}
	}
</script>
<style lang="sass" scoped>
.user-reset-password {
	padding: 17px 18px 0 16px;
	.form {
		.form-control {
			padding-top: 15px;
		}
	}
}
</style>