<template>
	<div class="user-settings">
		<ul class="set-nav">
			<li><a v-link="'/user/reset-password'">修改密码</a></li>
			<li><a v-link="'/user/reset-city'">服务城市</a></li>
			<li><a v-link="'/user/opinion'">意见反馈</a></li>
			<li><a v-link="'/user/problems'">常见问题</a></li>
			<li><a v-link="'/user/about'">关于</a></li>
		</ul>
		<span class="logout-btn" @click="signOut">退出登录</span>
	</div>
</template>

<script>
	import User from '../../../store/user'
	export default {
		name: 'user-settings',

		methods: {
			signOut () {
				let _this = this
				User.actions.signOut({
					after () {
						_this.$route.router.go('/home')
					}
				})
			}
		}
	}
</script>

<style lang="sass" scoped>
.user-settings {
	.set-nav {
		li {
			position: relative;
			a {
				display: block;
				line-height: 50px;
				padding: 0 18px;
				border-bottom: 1px solid #F0F0F0;
				box-sizing: border-box;
			}
			&:after {
				content: '';
				width: 6px;
				height: 9px;
				display: block;
				position: absolute;
				right: 18px;
				top: 50%;
				margin-top: -3px;
				background-position: -180px -390px;
			}
		}
	}
	.logout-btn {
		line-height: 50px;
		border-top: 1px solid #F0F0F0;
		border-bottom: 1px solid #F0F0F0;
		box-sizing: border-box;
		color: #B37E79;
		padding-left: 18px;
		position: fixed;
		bottom: 58px;
		width: 100%;
	}
}
</style>