<template>
	<div :class="$options.name">
		<l-parent>
			<m-nav class="x"></m-nav>
			<div class="content x">
				<slot><router-view></router-view></slot>
			</div>
		</l-parent>
	</div>
</template>

<script>
	import User from 'store/user'
	import Basic from 'store/basic'
	export default {
		name: 'l-user',

		components: {
			'l-parent': require('../../layout'),
			'm-nav': require('../../module/nav/user')
		},

		events: {
			'M__Head.userUpdated' () {
				if (User.state.address.length == 0 || User.state.order.length == 0) {
					this.init()
				}
			}
		},

		methods: {
			init () {
				Basic.actions.loadStart()
				User.state.loadStatus = 0
				User.actions.initAddress({
					id: this.$root.user.id
 				})
				User.actions.initOrder({
					id: this.$root.user.id
 				})
			}
		}
	}
</script>

<style lang="stylus" scoped>
.l-user
	.x
		padding-top 64px
		padding-bottom 50px
	.content
		width 696px
</style>
