<template>
	<div :class="$options.name">
		<m-tab></m-tab>
		<router-view></router-view>
		<m-cancel-order></m-cancel-order>
		<m-delete-order></m-delete-order>
		<m-confirm-goods></m-confirm-goods>
	</div>
</template>

<script>
	export default {
		components: {
			'm-tab': require('../../module/tab/user-order'),
			'm-cancel-order': require('../../module/user/popup/cancel-order'),
			'm-delete-order': require('../../module/user/popup/delete-order'),
			'm-confirm-goods': require('../../module/user/popup/confirm-goods')
		},
		name: 'p-user-order'
	}
</script>