<template>
	<div :class="$options.name">
		<m-tab></m-tab>
		<div class="content">
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
	export default {
		components: {
			'm-tab': require('../../module/tab/user-setting')
		},
		name: 'p-user-setting'
	}
</script>