<template>
	<div :class="$options.name">
		<m-head></m-head>
		<div class="list">
			<div class="no-collect" v-if="!collect.length">
				<span class="com-icon"></span>
				<span class="text">当前无收藏</span>
			</div>
			<m-goods-list :args="collect" v-else></m-goods-list>
		</div>
	</div>
</template>

<script>
	import Collect from 'store/collect'
	import Api from '../../api'
	export default {
		name: 'p-index-collect',

		components: {
			'm-head': require('../../module/head/collect'),
			'm-goods-list': require('../../com/m/GoodsList')
		},

		events: {
			'M__Head.userUpdated' () {
				Collect.actions.initCollect({
					'user_id': this.$root.user.id,
					'page': 1
				})
			}
		},

		created () {
			if (!Collect.state.collect.length && typeof(this.$root.user.id) !== 'undefined') {
				Collect.actions.initCollect({
					'user_id': this.$root.user.id,
					'page': 1
				})
			}
		},

		computed: {
			collect () {
				let collect = Collect.state.collect
				return collect
			}
		}
	}
</script>

<style lang="stylus" scoped>
.p-index-collect
	width 938px
	margin 65px auto 0
	.list
		margin-top 40px
	.no-collect
		width 212px
		height 214px
		border 1px dashed #CCC
		padding-top 75px
		box-sizing border-box
		margin 0 auto
		.com-icon
			width 36px
			height 31px
			background-position -90px -360px
			display block
			margin 0 auto
		.text
			display block
			padding-top 13px
			line-height 18px
			font-size 18px
			text-align center
			color #9C9C9C
</style>
