<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/user/setting/basic'">个人设置</a></li>
			<li>实名认证</li>
		</ul>
		<div class="content">
			<span class="message-tool">身份认证已通过！</span>
			<div class="input">
				<div class="text">
					<span>真实姓名</span>
					<span class="progress-input">{{ $root.user.name }}</span>
				</div>
			</div>
			<div class="input">
				<div class="text">
					<span>身份证号码</span>
					<span class="progress-input">{{ $root.user.id_number }}</span>
				</div>
			</div>
			<a v-link="'/id-card'" class="change-info">更 换 认 证 信 息 》</a>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'p-index-id-card-info'
	}
</script>

<style lang="stylus" scoped>
.p-index-id-card-info
	width 900px
	margin 0 auto
	padding 65px 0
	font-size 12px
	.message-tool
		padding 10px 0 25px 0
		font-size 14px
		color #B37E79
		display block
		line-height 18px
	.content
		padding-top 30px
		width 280px
		margin-left 225px
	.text
		height 40px
		padding-top 16px
		padding-left 80px
		border-bottom 1px solid #ececec
		.progress-input
			float none
			display inline-block
			margin-left 0
			color #5F5F5F
		span
			float left
			color #bbbbbe
			width @padding-left
			margin-left -@width
			padding-left 2px
	.change-info
		color #B37E79
		padding-top 16px
</style>