<template>
	<div :class="$options.name">
		<div class="head y">
			<div class="one x">实名认证</div>
			<div class="two x">（租赁前先实名认证）</div>
			<div class="three x">跳过</div>
		</div>
		<div class="content">
			<label class="text">
				<span>真实姓名</span>
				<input placeholder="请输入">
			</label>
			<label class="text">
				<span>身份证号码</span>
				<input placeholder="请输入">
			</label>
			<div class="title">证件照片</div>
			<label class="file">
				<div class="cover">
					<m-icon-id-card></m-icon-id-card>
				</div>
				<div class="info">添加正面文件</div>
				<input type="file">
			</label>
			<label class="file">
				<div class="cover">
					<m-icon-id-card-back></m-icon-id-card-back>
				</div>
				<div class="info">添加背面文件</div>
				<input type="file">
			</label>
			<w-button>提交</w-button>
		</div>
	</div>
</template>

<script>
	export default {
		components: {
			'm-icon-id-card': require('../../module/icon/id-card'),
			'm-icon-id-card-back': require('../../module/icon/id-card-back'),
			'w-button': require('../../widget/button')
		},
		name: 'p-index-id-card-option'
	}
</script>

<style lang="stylus" scoped>
.p-index-id-card-option
	width 900px
	margin 0 auto
	height 725px
	font-size 12px
	.head
		width 482px
		height 78px
		padding-top 50px
		margin-left 225px
		border-bottom 1px solid #ececec
		position relative
		&:before
			position absolute
			content ''
			height 3px
			width 26px
			background-color currentColor
			bottom -2px
			left 0
		.one
			font-size 14px
		.two
			margin-left 4px
			margin-top 2px
		.three
			color #b37e79
			font-size 14px
	.content
		padding-top 10px
		width 280px
		margin-left 225px
	.text
		height 40px
		padding-top 16px
		padding-left 80px
		border-bottom 1px solid #ececec
		span
			float left
			color #bbbbbe
			width @padding-left
			margin-left -@width
			padding-left 2px
		input
			width 100%
	.title
		padding 12px 0 16px 2px
	.file
		height 170px
		border 1px solid #f0f0f0
		background-color #f3f3f3
		margin-bottom 10px
		position relative
		input
			display none
		.cover
			position absolute
			left 350px
			top 55px
		.info
			width 128px
			height 36px
			margin 68px auto 0
			font-size 14px
			color #bbbbbe
			border-radius 2px
			border 1px dashed
			padding-top 10px
			padding-left 31px
			position relative
			&:before,
			&:after
				background-color @color
				position absolute
				content ''
			&:before
				height 13px
				width 1px
				left 18px
				top 10px
			&:after
				width 13px
				height 1px
				left 12px
				top 16px
	.w-button
		margin-top 15px
		letter-spacing 3px
		padding-left @letter-spacing
</style>
