<template>
	<div :class="$options.name">
		<h2 class="title">消息通知</h2>
		<div class="container" v-if="notices.last_page > 0">
			<ul class="list">
				<template v-for="notice in notices.data">
					<li class="refund" v-if="notice.type == 2">
						<a v-link="'/order-detail/?id=' + notice.order_id">
							<span class="caption"><span class="com-icon"></span>免费升级产品</span>
						</a>
						<div class="date-wrap">
							<span>{{ notice.created_at }}</span>
							<span class="del" @click="delNotice(notice.id, $index)">删除</span>
						</div>
						<a v-link="'/order-detail/?id=' + notice.order_id" class="info-wrap">
							<p class="info">由于意外情况，产品无法出库，特此，我们为您免费升级到更高价位的服装，请您查看对应订单操作，挑选服装，再次提交订单，提交订单时，无需支付任何费用，赶紧去挑选！</p>
						</a>
					</li>
					<li class="shipment" v-if="notice.type == 4">
						<a v-link="'/order-detail/?id=' + notice.order_id">
							<span class="caption"><span class="com-icon"></span>产品已发货</span>
						</a>
						<div class="date-wrap">
							<span>{{ notice.created_at }}</span>
							<span class="del" @click="delNotice(notice.id, $index)">删除</span>
						</div>
						<a v-link="'/order-detail/?id=' + notice.order_id" class="info-wrap">
							<p class="info">产品正在配送中</p>
						</a>
					</li>
					<li class="shipment" v-if="notice.type == 7">
						<a v-link="'/order-detail/?id=' + notice.order_id">
							<span class="caption"><span class="com-icon"></span>押金已退还</span>
						</a>
						<div class="date-wrap">
							<span>{{ notice.created_at }}</span>
							<span class="del" @click="delNotice(notice.id, $index)">删除</span>
						</div>
						<a v-link="'/order-detail/?id=' + notice.order_id" class="info-wrap">
							<p class="info">押金已退到对应支付账户，请注意查收！</p>
						</a>
					</li>
					<li class="shipment" v-if="notice.type == 11">
						<a v-link="'/order-detail/?id=' + notice.order_id">
							<span class="caption"><span class="com-icon"></span>成功取消订单</span>
						</a>
						<div class="date-wrap">
							<span>{{ notice.created_at }}</span>
							<span class="del" @click="delNotice(notice.id, $index)">删除</span>
						</div>
						<a v-link="'/order-detail/?id=' + notice.order_id" class="info-wrap">
							<p class="info">取消订单已申请</p>
						</a>
					</li>
					<li class="shipment" v-if="notice.type == 12">
						<a v-link="'/order-detail/?id=' + notice.order_id">
							<span class="caption"><span class="com-icon"></span>无法取消订单</span>
						</a>
						<div class="date-wrap">
							<span>{{ notice.created_at }}</span>
							<span class="del" @click="delNotice(notice.id, $index)">删除</span>
						</div>
						<a v-link="'/order-detail/?id=' + notice.order_id" class="info-wrap">
							<p class="info">很遗憾，您的申请被拒绝，详细请咨询客服</p>
						</a>
					</li>
					<li class="shipment" v-if="notice.type == 13">
						<a v-link="'/order-detail/?id=' + notice.order_id">
							<span class="caption"><span class="com-icon"></span>订单金额已退还</span>
						</a>
						<div class="date-wrap">
							<span>{{ notice.created_at }}</span>
							<span class="del" @click="delNotice(notice.id, $index)">删除</span>
						</div>
						<a v-link="'/order-detail/?id=' + notice.order_id" class="info-wrap">
							<p class="info">订单金额已退还到支付账户，请注意查收！</p>
						</a>
					</li>
				</template>
			</ul>
			<div class="paging">
				<ul>
					<li class="prev" @click="getNotices(notices.current_page - 1)" v-if="notices.current_page > 1">{{ notices.current_page - 1 }}</li>
					<template v-if="notices.last_page < = 5">
						<template  v-for="page in notices.last_page">
							<li class="active" v-if="notices.current_page == $index + 1">{{ $index + 1 }}</li>
							<li @click="getNotices($index + 1)" v-else>{{ $index + 1 }}</li>
						</template>
					</template>
					<template v-if="notices.last_page > 5">
						<template v-if="notices.last_page - notices.current_page >= 4">
							<template v-for="page in 5">
								<li class="active" v-if="$index == 0">{{ $index + notices.current_page }}</li>
								<li @click="getNotices($index + notices.current_page)" v-else>{{ $index + notices.current_page }}</li>
							</template>
						</template>
						<template v-if="notices.last_page - notices.current_page == 3">
							<template v-for="page in 5">
								<li class="active" v-if="$index == 1">{{ $index + notices.current_page - 1 }}</li>
								<li @click="getNotices($index + notices.current_page - 1)" v-else>{{ $index + notices.current_page - 1 }}</li>
							</template>
						</template>
						<template v-if="notices.last_page - notices.current_page == 2">
							<template v-for="page in 5">
								<li class="active" v-if="$index == 2">{{ $index + notices.current_page - 2 }}</li>
								<li @click="getNotices($index + notices.current_page - 2)" v-else>{{ $index + notices.current_page - 2 }}</li>
							</template>
						</template>
						<template v-if="notices.last_page - notices.current_page == 1">
							<template v-for="page in 5">
								<li class="active" v-if="$index == 3">{{ $index + notices.current_page - 3 }}</li>
								<li @click="getNotices($index + notices.current_page - 3)" v-else>{{ $index + notices.current_page - 3 }}</li>
							</template>
						</template>
						<template v-if="notices.last_page - notices.current_page == 0">
							<template v-for="page in 5">
								<li class="active" v-if="$index == 4">{{ $index + notices.current_page - 4 }}</li>
								<li @click="getNotices($index + notices.current_page - 4)" v-else>{{ $index + notices.current_page - 4 }}</li>
							</template>
						</template>
					</template>
					<li class="next" @click="getNotices(notices.current_page + 1)" v-if="notices.current_page < notices.last_page">{{ notices.current_page + 1 }}</li>
				</ul>
			</div>
		</div>
		<span class="no-sms" v-else>当前无消息通知！</span>
	</div>
</template>

<script>
	import Notice from 'store/notice'
	import Api from 'api'
	export default {
		name: 'p-index-notice',

		events: {
			 'M__Head.userUpdated' () {
				Notice.actions.initNotices({
					'user_id': this.$root.user.id,
					'page': 1
				})
			}
		},

		created () {
			if (typeof(Notice.state.notices.data) !== 'object' && typeof(this.$root.user.id) !== 'undefined') {
				Notice.actions.initNotices({
					'user_id': this.$root.user.id,
					'page': 1
				})
			}
		},

		computed: {
			notices () {
				let notices = Notice.state.notices
				return notices
			}
		},

		methods: {
			getNotices (page) {
				Notice.actions.initNotices({
					'user_id': this.$root.user.id,
					'page': page
				})
				$('html,body').animate({scrollTop: 0}, 500)
			},
			delNotice (notice_id, index) {
				Notice.actions.delNotice({
					'user_id': this.$root.user.id,
					'notice_id': notice_id,
					'index': index
				})
			}
		}
	}
</script>

<style lang="stylus" scoped>
.p-index-notice
	padding 65px 0 50px
	max-width 900px
	margin 0 auto
	.title
		font-size 12px
		font-weight 100
		padding-bottom 15px
		margin 0
		border-bottom 1px solid #ddd
	.container
		max-width 694px
		.list li
			padding 31px 0 23px
			border-bottom 1px solid #ECECEC
			position relative
			.info-wrap
				display block
			.caption
				position relative
				padding-left 17px
				display inline-block
				margin-bottom 28px
			.info
				line-height 16px
				margin 0
				color #959595
			.date-wrap
				position absolute
				right 0
				top 32px
				color #959595
				.del
					padding-left 12px
					cursor pointer
					opacity 0
					transition All .5s ease
			&:hover
				.del
					opacity 1
		.list li:first-child
			.info
				color #000
		.refund
			.com-icon
				width 11px
				height 11px
				display block
				background-position -180px -30px
				position absolute
				left 0
				top 0
		.shipment
			.com-icon
				width 11px
				height 13px
				display block
				background-position -210px -30px
				position absolute
				left 0
				top 0
	.paging
		display block
		width 100%
		text-align center
		ul
			overflow hidden
			display inline-block
			vertical-align bottom
			padding 20px 0
		li
			width 30px
			height 30px
			display block
			float left
			line-height 30px
			cursor pointer
			border 1px solid #EDEDED
			transition All .3s ease
			&:hover
				border 1px solid #000
			& + li
				margin-left 12px
			&.active
				cursor not-allowed
				color #ACACAC
				background-color #F9F9F9
				border 1px solid #F9F9F9
			&.prev,
			&.next
				text-align left
				text-indent -99999px
				position relative
				&:before
					content ''
					width 8px
					height 8px
					border-top 1px solid #000
					border-left 1px solid #000
					position absolute
					top 10px
					left 12px
					transform: rotate(-45deg);
			&.next:before
				left 8px
				transform: rotate(135deg);
	.no-sms
		display block
		padding 25px 0
		font-size 18px
		color #9c9c9c
</style>
