<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/user/setting/basic'">个人设置</a></li>
			<li>手机验证</li>
		</ul>
		<div class="content">
			<div class="text">
				<span><m-icon-phone></m-icon-phone></span>
				<input placeholder="手机号" v-model="phone" class="phone-input">
			</div>
			<div class="text security">
				<span><m-icon-lock-open></m-icon-lock-open></span>
				<input v-model="verifyCode" placeholder="输入验证码" required="required" class="verify-input">
				<a v-if="count">{{ count }}秒后重试</a>
				<a @click="verify" v-else>获取验证码</a>
			</div>
			<div class="text">
				<span><m-icon-lock></m-icon-lock></span>
				<input v-model="password" placeholder="绑定密码" type="password" required="required" class="password-input">
			</div>
			<div class="text">
				<span><m-icon-lock></m-icon-lock></span>
				<input v-model="realpassword" placeholder="再输一次" type="password" required="required" class="realpassword-input">
			</div>
			<w-button @click="submit">提交</w-button>
		</div>
	</div>
</template>

<script>
	import Api from 'api'
	import Popup from 'store/popup'
	import Basic from 'store/basic'
	export default {
		name: 'p-index-phone',

		components: {
			'm-icon-phone': require('../../module/icon/phone'),
			'm-icon-lock-open': require('../../module/icon/lock-open'),
			'm-icon-lock': require('../../module/icon/lock'),
			'w-button': require('../../widget/button')
		},

		data () {
			return {
				phone: '',
				verifyCode: '',
				password: '',
				realpassword: '',
				count: 0,
				timer: ''
			}
		},

		 methods: {
			verify () {
				let phone = this.phone
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				if (telReg) {
					Basic.actions.loadStart()
					Api.verifyCode({
						data: {
							'phone_number': phone
						},
						success: res => {
							Basic.actions.loadEnd()
							Popup.state.commonInfo.single = '验证码已发送，请注意查收！'
							Popup.state.commonInfo.show = true
							setTimeout(() => {
								Popup.state.commonInfo.show = false
							}, 2000)
							this.startCount()
						},
						error: res => {
							Basic.actions.loadEnd()
							Popup.state.commonInfo.single = '验证码获取失败，请重试！'
							Popup.state.commonInfo.show = true
							setTimeout(() => {
								Popup.state.commonInfo.show = false
							}, 2000)
							this.stopCount()
						}
					})
				}
				else {
					Popup.state.commonInfo.single = '请输入正确的手机号码！'
					Popup.state.commonInfo.show = true
				}
			},
			startCount () {
				this.count = 60
				this.timer = setInterval(() => {
					this.count -= 1
					this.count || this.stopCount()
				}, 1000)
			},
			stopCount () {
				clearInterval(this.timer)
				this.count = 0
			},
			submit () {
				let phone = this.phone
				let verifyCode = this.verifyCode
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				let verifyCodeReg = !!verifyCode.match(/^[0-9]{6}$/)
				if (!telReg) {
					Popup.state.commonInfo.single = '请输入正确的手机号码！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (!verifyCodeReg) {
					Popup.state.commonInfo.single = '请输入正确的6位数验证码！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.password.length < 8 || this.realpassword.length < 8) {
					Popup.state.commonInfo.single = '密码不能小于8个字符！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.password !== this.realpassword) {
					Popup.state.commonInfo.single = '两次输入的密码不一样！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (telReg && verifyCodeReg && this.password.length >= 8 && this.realpassword.length >= 8 && this.password == this.realpassword) {
					Basic.actions.loadStart()
					Api.putUserInfo({
						data: {
							'id': this.$root.user.id,
							'bind_password': this.password,
							'cell_phone': this.phone,
							'cell_phone_verify_code': this.verifyCode
						},
						success: res => {
							Basic.actions.loadEnd()
							Popup.state.commonInfo.single = '验证手机号成功！'
							Popup.state.commonInfo.show = true
						},
						error: res => {
							Basic.actions.loadEnd()
							Popup.state.commonInfo.more.title = '验证手机号失败'
							for (let list in res.data) {
								for (let i = 0, j = res.data[list].length; i < j ; i++) {
									let text = res.data[list][i]
									Popup.state.commonInfo.more.list.push(text)
								}
							}
							Popup.state.commonInfo.show = true
						}
					})
				}
			}
		 }
	}
</script>

<style lang="stylus" scoped>
.p-index-phone
	width 900px
	margin 0 auto
	padding 65px 0 30px
	font-size 12px
	.error
		color #B37E79
		display block
		line-height 18px
		padding 10px 0 0
	.error-list
		padding-top 10px
		color #B37E79
		h4
			font-weight normal
			margin 10px 0 10px
		li
			line-height 18px
	.content
		padding-top 35px
		width 280px
		margin-left 225px
	.text
		height 45px
		padding-top 16px
		padding-left 21px
		border-bottom 1px solid #ececec
		span
			float left
			width @padding-left
			margin-left -@width
			padding-left 2px
		input
			width 100%
			margin-top 2px
	.security
		width 144px
		position relative
		a
			position absolute
			width 88px
			height 32px
			border 1px solid #000
			border-radius 40px
			top 11px
			left 194px
			text-align center
			padding-top 9px
			transition all .3s
			&:hover
				background-color #000
				color #fff
	.w-button
		margin-top 30px
		letter-spacing 3px
		padding-left @letter-spacing
</style>
