<template>
	<div :class="$options.name">
		<div class="head y">
			<div class="one x">身材信息</div>
			<div class="two x">跳过</div>
		</div>
		<div class="desc">填写身材信息，及穿衣尺码后，您也将得到更合适的产品推荐！</div>
		<div class="content">
			<label class="text">
				<span>服装尺码</span>
				<input value="X">
			</label>
			<label class="text">
				<span>身高</span>
				<input value="160cm">
			</label>
			<label class="text">
				<span>体重</span>
				<input value="160kg">
			</label>
			<label class="text">
				<span>胸围</span>
				<input value="98cm">
			</label>
			<label class="text">
				<span>腰围</span>
				<input value="88cm">
			</label>
			<label class="text">
				<span>臀围</span>
				<input value="98cm">
			</label>
			<w-button>保 存 资 料</w-button>
		</div>
	</div>
</template>

<script>
	export default {
		components: {
			'm-icon-id-card': require('../../module/icon/id-card'),
			'm-icon-id-card-back': require('../../module/icon/id-card-back'),
			'w-button': require('../../widget/button')
		},
		name: 'p-index-id-card-option'
	}
</script>

<style lang="stylus" scoped>
.p-index-id-card-option
	width 900px
	margin 0 auto
	height 725px
	font-size 12px
	.head
		width 482px
		height 78px
		padding-top 50px
		margin-left 225px
		border-bottom 1px solid #ececec
		position relative
		&:before
			position absolute
			content ''
			height 3px
			width 26px
			background-color currentColor
			bottom -2px
			left 0
		.one
			font-size 14px
		.two
			color #b37e79
			font-size 14px
	.desc
		font-size 14px
		padding-top 30px
		line-height 18px
		width 280px
		margin-left 225px
	.content
		padding-top 16px
		width 280px
		margin-left 225px
	.text
		height 40px
		padding-top 16px
		padding-left 70px
		border-bottom 1px solid #ececec
		span
			float left
			color #bbbbbe
			width @padding-left
			margin-left -@width
			padding-left 2px
		input
			text-align right
			width 100%
	.w-button
		margin-top 15px
</style>
