<template>
	<div :class="$options.name">
		<div class="navbar y">
			<div class="service x">
				<div class="title">客户服务</div>
				<div class="item"><a href="http://m.kuaidi100.com" target="_blank">快递查询</a></div>
				<div class="item"><a v-link.literal="/service/problem">常见问题</a></div>
				<div class="item"><a v-link.literal="/service/contact">联系方式</a></div>
			</div>
			<div class="company x">
				<div class="title">公司</div>
				<div class="item"><a v-link.literal="/company/brand">品牌故事</a></div>
				<div class="item"><a v-link.literal="/company/product">产品</a></div>
			</div>
			<div class="partner x">
				<div class="title">合作</div>
				<div class="item"><a v-link.literal="/partner/join">加入品牌</a></div>
				<div class="item"><a v-link.literal="/partner/other">其他合作</a></div>
			</div>
			<div class="mobile x">
				<img src="../img/app-qr.png" alt="手机版下载">
				<span class="com-icon"></span>
			</div>
		</div>
		<div class="copyright">沪ICP备15051705号-1 © copyright rentvogue 2015</div>
	</div>
	<m-com-popup></m-com-popup>
</template>

<script>
	export default {
		name: 'm-foot',

		components: {
			'm-com-popup': require('../module/popup/com-popup')
		}
	}
</script>

<style lang="stylus" scoped>
.m-foot
	background-color #f7f7f7
	border-top 1px solid #edebeb
	position absolute
	bottom 0
	left 0
	width 100%
	.navbar
		height 172px
		padding-top 50px
		max-width 750px
		margin 0 auto
		& > div + div
			margin-left 180px
		.title
			color #b37e79
			font-size 14px
			height 34px
			padding-top 2px
		.item
			font-size 12px
			height 22px
		.mobile
			margin-left 0
			img
				width 59px
				display block
				margin 0 auto 10px
			.com-icon
				width 59px
				height 10px
				display inline-block
				background-position -120px -480px
	.copyright
		max-width 960px
		margin 0 auto
		border-top 1px solid #ececec
		color #b9b9b9
		font-size 10px
		height 41px
		padding-top 15px
		text-align center
</style>
