<template>
	<div :class="$options.name">
		<a @click="open">{{ sText }}</a>
		<m-modal :show="findPassWordShow">
			<m-find-password-panel></m-find-password-panel>
		</m-modal>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'm-find-password',

		props: ['sText'],

		components: {
			'm-modal': require('../../../com/m/Modal'),
			'm-find-password-panel': require('./find-password-panel')
		},

		computed: {
			findPassWordShow () {
				return Popup.state.findPassWord
			}
		},

		events: {
			'popup.close' () {
				this.close()
			}
		},

		methods: {
			close () {
				Popup.state.findPassWord = false
			},
			open () {
				Popup.state.findPassWord = true
			}
		}
	}
</script>