<template>
	<div :class="$options.name">
		<div class="title">登录</div>
		<div class="input">
			<span class="com-icon phone"></span>
			<input placeholder="手机号码" v-model="cellPhone" class="phone-input">
			<span class="error icon-error" v-if="error.phone.show">{{ error.phone.text }}</span>
		</div>
		<div class="input">
			<span class="com-icon password"></span>
			<input placeholder="密码" type="password" v-model="password" class="password-input">
			<span class="error icon-error" v-if="error.password.show">{{ error.password.text }}</span>
		</div>
		<div class="submit" @click="signIn">登录</div>
		<div class="link">
			<a @click="findPassword">忘记密码？</a>
		</div>
		<div class="more">
			<div class="name">社交账号登录</div>
			<ul class="content">
				<li class="weixin com-icon" @click="weixin">微信登录</li>
				<li class="weibo com-icon" @click="weibo">微博登录</li>
			</ul>
		</div>
		<div class="link primary"><a @click="goRegister">没有账号，去注册？</a></div>
	</div>
</template>

<script>
	import Api from 'api'
	import Popup from 'store/popup'
	export default {
		name: 'm-login-panel',

		data () {
			return {
				cellPhone: '',
				password: '',
				error: {
					phone: {
						show: false,
						text: '!'
					},
					password: {
						show: false,
						text: '!'
					}
				}
			}
		},

		ready () {
			this.bindChange('phone')
			this.bindChange('password')
		},

		methods: {
			weibo () {
				location.href = 'https://api.weibo.com/oauth2/authorize?client_id=2627720936&redirect_uri=http%3a%2f%2frentvogue.com%2findex.html%23!%2fguide'
			},
			weixin () {
				location.href = 'https://open.weixin.qq.com/connect/qrconnect?appid=wxf3b6280c8001af25&redirect_uri=http%3a%2f%2frentvogue.com%2findex.html%23!%2fguide&response_type=code&scope=snsapi_login&state=weixin#wechat_redirect'
			},
			bindChange (input) {
				let _this = this
				$('.' + input + '-input').bind('input propertychange', 'input', function(event) {
					event.preventDefault()
					for (let key in _this.error) {
						if (key == input) {
							_this.error[key].show = false
						}
					}
				})
			},
			signIn () {
				let phone = this.cellPhone
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				if (!telReg) {
					this.error.phone.show = true
				}
				if (this.password.length < 8) {
					this.error.password.show = true
				}
				if (telReg && this.password.length >= 8) {
					Api.signIn({
						data: {
							'cell_phone': this.cellPhone,
							'password': this.password
						},
						success: res => {
							this.$root.token = res.data.data.token
							this.$dispatch('m-login-panel.signIn')
						},
						error: res => {
							Popup.state.commonInfo.single = res.data.message
							Popup.state.commonInfo.show = true
						}
					})
				}
			},
			findPassword () {
				Popup.state.findPassWord = true
			},
			goRegister () {
				Popup.state.login = false
				Popup.state.register = true
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-login-panel
	height 502px
	padding 60px 93px 0
	.error
		color #B37E79
		display block
		line-height 18px
		padding 5px 0 0
		&.icon-error
			width 14px
			height 14px
			border-radius 50%
			background-color #b37e79
			color #fff
			text-align center
			padding 0
			margin 0
			position absolute
			right 0
			top 20px
			line-height 16px
	.error + .link
		margin-top 10px
	.title
		text-align center
		font-size 20px
		line-height 21px
		height 42px
		border-bottom 1px solid #e8e8e8
		margin-bottom 25px
	.input
		height 43px
		border-bottom 1px solid #e8e8e8
		padding 19px 0 12px 25px
		position relative
		.phone,
		.password
			display block
			position absolute
			left 0
			top 50%
			margin-top -4px
		.phone
			background-position 0 0
			width 10px
			height 14px
		.password
			width 11px
			height 14px
			background-position -120px 0
		input
			border 0
			width 100%
			color #000
			font-size 12px
		&:before
			content ''
			height 1px
			background-color #000
			position absolute
			bottom -1px
			width 0
			left 50%
		&:hover:before
			left 0
			width 100%
			transition all .3s
	.submit
		margin-top 17px
		height 50px
		border-radius 2px
		background-color #b37e79
		color #fff
		padding 19px 0
		font-size 12px
		text-align center
		&:hover
			cursor pointer
			background-color #8e5651
			transition background .3s
	.link
		text-align center
		font-size 12px
		margin-top 23px
	.primary
		color #b37e79
	.more
		height 81px
		border-top 1px solid #f0f0f0
		margin 39px auto 0
		width 248px
		text-align center
		.name
			background-color #fff
			font-size 10px
			color #a2a2a2
			width 90px
			margin -5px auto 0
		.content
			width 112px
			margin 18px auto 0
			font-size 9px
		li
			color rgba(0,0,0,.72)
			cursor pointer
			float left
			padding-top 31px
			height 40px
			width 48px
			text-align center
		.weixin
			background-position -171px -240px
		.weibo
			background-position -229px -240px
			float right
</style>
