<template>
	<div :class="$options.name">
		<a @click="open">{{ sText }}</a>
		<m-modal :show="loginShow">
			<m-login-panel></m-login-panel>
		</m-modal>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'm-login',

		props: ['sText'],

		components: {
			'm-modal': require('../../../com/m/Modal'),
			'm-login-panel': require('./login-panel')
		},

		computed: {
			loginShow () {
				return Popup.state.login
			}
		},

		events: {
			'popup.close' () {
				this.close()
			}
		},

		methods: {
			close () {
				Popup.state.login = false
			},
			open () {
				Popup.state.login = true
			}
		}
	}
</script>
