<template>
	<div :class="$options.name">
		<div class="title">注册</div>
		<div class="input">
			<span class="com-icon phone"></span>
			<input v-model="phone" placeholder="手机号" class="phone-input">
		</div>
		<div class="input security">
			<span class="com-icon verify-code"></span>
			<input v-model="verifyCode" placeholder="输入验证码" class="verify-input">
			<a v-if="count">{{ count }}秒后重试</a>
			<a @click="verify" v-else>获取验证码</a>
		</div>
		<div class="input">
			<span class="com-icon nickname"></span>
			<input v-model="nickname" placeholder="昵称" class="nickname-input">
		</div>
		<div class="input">
			<span class="com-icon password"></span>
			<input v-model="password" placeholder="密码" type="password" class="password-input">
		</div>
		<div class="submit" @click="signUp">注册</div>
	</div>
</template>

<script>
	import Api from 'api'
	import Popup from 'store/popup'
	import Basic from 'store/basic'
	export default {
		name: 'm-register-panel',

		data () {
			return {
				phone: '',
				nickname: '',
				password: '',
				verifyCode: '',
				count: 0,
				timer: ''
			}
		},

		methods: {
			startCount () {
				this.count = 60
				this.timer = setInterval(() => {
					this.count -= 1
					this.count || this.stopCount()
				}, 1000)
			},
			stopCount () {
				clearInterval(this.timer)
				this.count = 0
			},
			verify () {
				let phone = this.phone
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				if (telReg) {
					Basic.actions.loadStart()
					Api.verifyCode({
						data: {
							'phone_number': phone
						},
						success: res => {
							Basic.actions.loadEnd()
							Popup.state.commonInfo.single = '验证码已发送，请注意查收！'
							Popup.state.commonInfo.show = true
							setTimeout(() => {
								Popup.state.commonInfo.show = false
							}, 2000)
							this.startCount()
						},
						error: res => {
							Basic.actions.loadEnd()
							Popup.state.commonInfo.single = '验证码获取失败，请重试！'
							Popup.state.commonInfo.show = true
							setTimeout(() => {
								Popup.state.commonInfo.show = false
							}, 2000)
							this.stopCount()
						}
					})
				}
				else {
					Popup.state.commonInfo.single = '请输入正确的手机号码！'
					Popup.state.commonInfo.show = true
				}
			},
			signUp () {
				let phone = this.phone
				let verifyCode = this.verifyCode
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				let verifyCodeReg = !!verifyCode.match(/^[0-9]{6}$/)
				if (!telReg) {
					Popup.state.commonInfo.single = '请输入正确的手机号码！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (!verifyCodeReg) {
					Popup.state.commonInfo.single = '请输入正确的6位数验证码！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.nickname.length == 0) {
					Popup.state.commonInfo.single = '请输入昵称！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.password.length < 8) {
					Popup.state.commonInfo.single = '密码不能小于8个字符！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (telReg && verifyCodeReg && this.password.length >= 8 && this.nickname.length !== 0) {
					Basic.actions.loadStart()
					Api.signUp({
						data: {
							'cell_phone': this.phone,
							'cell_phone_verify_code': this.verifyCode,
							'nick_name': this.nickname,
							'password': this.password,
							'password_confirmation': this.password
						},
						success: res => {
							Basic.actions.loadEnd()
							this.$root.token = res.data.data.token
							this.$dispatch('m-login-panel.signIn')
						},
						error: res => {
							Basic.actions.loadEnd()
							Popup.state.commonInfo.more.title = '注册失败'
							for (let list in res.data) {
								for (let i = 0, j = res.data[list].length; i < j ; i++) {
									let text = res.data[list][i]
									Popup.state.commonInfo.more.list.push(text)
								}
							}
							Popup.state.commonInfo.show = true
						}
					})
				}
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-register-panel
	height 502px
	padding 60px 93px 0
	.error
		color #B37E79
		display block
		line-height 18px
		padding 5px 0 0
	.error-list
		padding-top 5px
		color #B37E79
		h4
			font-weight normal
			margin 10px 0 10px
		li
			line-height 18px
	.title
		text-align center
		font-size 20px
		line-height 21px
		height 42px
		border-bottom 1px solid #e8e8e8
		margin-bottom 23px
	.input
		height 44px
		border-bottom 1px solid #e8e8e8
		padding 21px 0 10px 21px
		position relative
		.phone,
		.verify-code,
		.nickname,
		.password
			position absolute
			left 0
			top 50%
			display block
			margin-top -4px
		.phone
			width 10px
			height 14px
			background-position 0 0
		.verify-code
			width 12px
			height 14px
			background-position -180px 0
		.nickname
			width 15px
			height 15px
			background-position -60px 0
		.password
			width 11px
			height 14px
			background-position -120px 0
		input
			border 0
			width 100%
			color #000
			font-size 12px
		&:before
			content ''
			height 1px
			background-color #000
			position absolute
			bottom -1px
			width 0
			left 50%
		&:hover:before
			left 0
			width 100%
			transition all .3s
	.security
		width 144px
		position relative
		a
			position absolute
			width 88px
			height 32px
			border 1px solid #000
			border-radius 40px
			top 11px
			left 198px
			text-align center
			padding-top 9px
			transition all .3s
			&:hover
				background-color #000
				color #fff
	.submit
		margin-top 31px
		height 50px
		border-radius 2px
		background-color #b37e79
		color #fff
		padding 19px 0
		font-size 12px
		text-align center
		&:hover
			cursor pointer
			background-color #8e5651
			transition background .3s
</style>
