<template>
	<div :class="$options.name">
		<a @click="open">{{ sText }}</a>
		<m-modal :show="registerShow">
			<m-register-panel></m-register-panel>
		</m-modal>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'm-register',

		props: ['sText'],

		components: {
			'm-modal': require('../../../com/m/Modal'),
			'm-register-panel': require('./register-panel')
		},

		computed: {
			registerShow () {
				return Popup.state.register
			}
		},

		events: {
			'popup.close' () {
				this.close()
			}
		},

		methods: {
			close () {
				Popup.state.register = false
			},
			open () {
				Popup.state.register = true
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-register
	.M__Modal
		color #000
</style>
