<template>
	<div :class="$options.name">
		<div class="address-info">
			<div class="info x">
				<div class="name">
					<span>收&nbsp;&nbsp;件&nbsp;&nbsp;人：</span>{{ args.contact_user_name}}
				</div>
				<div class="address">
					<span>所在地区：</span>{{ args.city_name }} {{ args.district_name }}
				</div>
				<div class="detail">
					<span>详细地址：</span>{{ args.details }}
				</div>
				<div class="phone">
					<span>联系方式：</span>{{ args.contact_user_cell_phone }}
				</div>
			</div>
			<div class="manage x">
				<div class="one{{ args.is_default == '1' ? ' active' : '' }}"><a @click="setAddress">{{ args.is_default == '1' ? '当前默认' : '设为默认' }}</a></div>
				<div class="two"><a @click="modifyAddress">修改</a></div>
				<div class="three"><a @click="deleteAddress">删除</a></div>
			</div>
		</div>
		<div class="modify-address">
	        <div class="new" v-show="show">
	            <div class="y">
	               <div class="input x">
	                    <span>收件人姓名</span>
	                    <input name="contact_user_name" v-model='contact_user_name' placeholder="请输入" value="{{ args.contact_user_name }}" />
	                </div>
	               <div class="input x">
	                    <span>联系方式</span>
	                    <input name="contact_user_cell_phone" v-model='contact_user_cell_phone' placeholder="请输入" value="{{ args.contact_user_cell_phone }}" />
	                </div>
	            </div>
	            <div class="y">
	                <div class="input x">
	                    <span>选择省份或城市</span>
	                	<div class="selector">
        					<span v-for="item in _city" v-if="$key == args.city">{{ item.name }}</span>
							<select name="city" class="select-city" v-model="args.city">
								<option v-for="item in _city" value="{{ $key }}">{{ item.name }}</option>
							</select>
	                	</div>
	                </div>
	               <div class="input x">
	                    <span>选择区域</span>
	                	<div class="selector">
		                	<span>{{ args.district_name }}</span>
							<select name="district" class="select-district" value="{{ args.district }}">
								<template v-for="item in _city" v-if="$key == args.city">
									<template v-if="$key == args.city">
										<template v-for="(key , val) in item.district">
											<option value="{{ key }}">{{ val }}</option>
										</template>
									</template>
								</template>
							</select>
						</div>
	                </div>
	            </div>
	            <div class="input">
	                <span>详细地址</span>
					<input placeholder="请输入" v-model="details" value="{{ args.details }}"/>
	            </div>
	            <w-button @click="updateAddress">保存地址</w-button>
	        </div>
		</div>
	</div>
</template>

<script>
	import User from 'store/user'
	import Popup from 'store/popup'
	import Api from 'api'
	export default {
		name: 'm-user-address-card',

		props: ['args'],

		data () {
			return {
				show: false,
				contact_user_cell_phone: '',
				contact_user_name: '',
				details: '',
				deleteAddressInfo: {
					id: this.args.id
				}
			}
		},

		components: {
			'w-button': require('../../widget/button')
		},

		computed: {
			_city () {
				let city = User.state.cities
				return city
			}
		},

		ready () {
			(function ($) {
				$('.select-city').on('change', function(event) {
					event.preventDefault()
					let val = $(this).parents('.input').next().find('.select-district').children().eq(0).val()
					let text = $(this).parents('.input').next().find('.select-district').children().eq(0).text()
					$(this).parents('.input').next().find('.select-district').children().eq(0).val()
					$(this).parents('.input').next().find('.select-district').val(val)
					$(this).parents('.input').next().find('.selector > span').text(text)
				})
				$('.select-district').on('change', function(event) {
					event.preventDefault()
					let text = $(this).find('option:selected').text()
					$(this).parent().children('span').text(text)
				})
			})(window.$)
		},
		methods: {
			updateAddress (event) {
				let phone = this.contact_user_cell_phone
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				if (this.contact_user_name.length == 0) {
					Popup.state.commonInfo.single = '请输入收件人姓名！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (!telReg) {
					Popup.state.commonInfo.single = '请输入正确的手机号码！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.contact_user_name.length == 0) {
					Popup.state.commonInfo.single = '请输入收件人姓名！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.args.city.length == 0) {
					Popup.state.commonInfo.single = '请选择城市！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.details.length == 0) {
					Popup.state.commonInfo.single = '请输入详细地址！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.contact_user_name.length !== 0 && telReg && this.contact_user_name.length !== 0 && this.args.city.length !== 0 && this.details.length !== 0) {
					this.args.district = $(event.currentTarget).parent().find('.select-district').val()
					User.actions.updateAddress({
						'user_id': this.$root.user.id,
						'id': this.args.id,
						'city': this.args.city,
						'district': this.args.district,
						'contact_user_cell_phone': this.contact_user_cell_phone,
						'contact_user_name': this.contact_user_name,
						'details': this.details,
						'is_default': this.args.is_default
					})
				}
			},
			setAddress () {
				User.actions.updateAddress({
					'user_id': this.$root.user.id,
					'id': this.args.id,
					'city': this.args.city,
					'district': this.args.district,
					'contact_user_cell_phone': this.args.contact_user_cell_phone,
					'contact_user_name': this.args.contact_user_name,
					'details': this.args.details,
					'is_default': 1
				})
			},
			modifyAddress () {
				this.show = !this.show
			},
			deleteAddress () {
				Popup.state.deleteAddress.args = this.deleteAddressInfo
				Popup.state.deleteAddress.show = true
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-user-address-card
	border-bottom 1px solid #ececec
	padding-top 40px
	padding-bottom 21px
	.address-info
		overflow: hidden
	.info
		width 100%
		padding-right 160px
		div
			padding-left 70px
			&:not(:first-child)
				margin-top 12px
			span
				float left
				width @padding-left
				margin-left -@width
	.manage
		width 160px
		margin-left -@width
		padding-top 72px
		div
			float left
		.one
			width 77px
			&.active
				color #B37E79
		.two
			width 57px
		.three
			width 26px
	.modify-address
		.new
			margin-top 21px
			font-size 12px
			border-top 1px solid #ececec
			.input
				padding-left 104px
				height 40px
				border-bottom 1px solid #ececec
				padding-top 16px
				&>span
					width @padding-left
					margin-left -@width
					float left
					color #bbbbbe
			.y .input
				width 282px
			.radio
				margin 16px 0 20px 23px
				font-weight bold
				cursor pointer
				&:before
					content ''
					float left
					margin-left -23px
					width 13px
					height @width
					border 2px solid #000
					border-radius 50%
					box-sizing border-box
					margin-top -1px
				&.active
					&:before
						background-color #000
			.w-button
				width 147px
				margin-top 20px
</style>
