<template>
	<li :class="$options.name">
		<div class="coupon {{ coupon.class }}">
			<span class="com-icon"></span>
			<div class="f-left">
				<span >代金券可用</span>
				<span class="caption">有效期到</span>
				<span class="valid-time">{{ coupon.deadline }}</span>
			</div>
			<div class="f-right">
				<span class="price">￥{{ coupon.cut }}</span>
				<span class="explain">满{{ coupon.need }}可用</span>
			</div>
		</div>
		<ul class="info">
			<li>优惠券号：{{ coupon.id }}</li>
			<li>券的来源：{{ coupon.name }}</li>
			<li>获取时间：{{ coupon.created_at }}</li>
		</ul>
	</li>
</template>

<script>
	export default {
		props: ['coupon'],
		name: 'm-user-coupon-card'
	}
</script>

<style lang="stylus" scoped>
.m-user-coupon-card
	border-bottom 1px solid #ececec
	overflow hidden
	padding 25px 0 21px
	margin-bottom 5px
	.coupon
		float left
		width 218px
		height 87px
		position relative
		overflow hidden
		.com-icon
			width 7px
			height 82px
			background-position -270px -60px
			display block
			position absolute
			left 50%
			top 50%
			margin-left -3px
			margin-top -41px
		&:before,
		&:after
			content ''
			width 20px
			height 20px
			display block
			background-color #fff
			margin-top -10px
			position absolute
			top 50%
			border-radius 50%
		&:before
			left -12px
		&:after
			right -12px
		&.coupon-1
			background-color #F3EDE0
			color #A96D67
			.caption
				color #C1BBAE
		&.coupon-2
			background-color #E0F3F3
			color #62909E
			.caption
				color #AEC1BD
		&.coupon-3
			background-color #E0E8F3
			color #7864A2
			.caption
				color #B0AEC1
		&.coupon-4
			background-color #F3E0E0
			color #864F4F
			.caption
				color #B69EA6
		.f-left,
		.f-right
			width 50%
			box-sizing border-box
			span
				display block
		.f-left
			float left
			padding 22px 12px 0
			span
				line-height 17px
		.f-right
			float right
			text-align right
			padding 24px 17px 0 0
			.price
				font-size 30px
				margin-bottom 2px
	.info
		padding-left 265px
		padding-top 7px
		li
			line-height 16px
			padding 4px 0 5px
</style>
