<template>
	<li :class="$options.name">
		<a v-link="'/goods?id=' + order.product_name_group_id" class="thumb">
			<img :src="order.default_image + '|imageView2/1/w/146/h/218'" :alt="order.product_name">
		</a>
		<div class="info">
			<a v-link="'/goods?id=' + order.product_name_group_id">
				<h3 class="title">{{ order.product.name }}</h3>
			</a>
			<ul class="list">
				<li v-for="(key, val) in category.sizes" v-if="key == order.product.size">尺寸：{{ val }}</li>
				<li>订单号：{{ order.order_number }}</li>
				<li>时间：{{ order.rent_days }}天 <span class="remark">({{ order.rent_start_date }}~{{ order.rent_end_date }})</span></li>
				<li>金额：¥{{ order.rent_price }}</li>
				<li>颜色：<span class="color-box" :style="{ backgroundColor: order.product_rgb }"></span></li>
				<li>订单状态：
					<span class="status" v-if="order.order_status == 1">未支付</span>
					<span class="status" v-if="order.order_status == 2">订单已支付押金，等待发货</span>
					<span class="status" v-if="order.order_status == 3">升级更换</span>
					<span class="status" v-if="order.order_status == 4">已发货</span>
					<span class="status" v-if="order.order_status == 5">已收货</span>
					<span class="status" v-if="order.order_status == 6">返还中</span>
					<span class="status" v-if="order.order_status == 7">已完成</span>
					<span class="status" v-if="order.order_status == 8">售后服务</span>
					<span class="status" v-if="order.order_status == 9">已取消</span>
					<span class="status" v-if="order.order_status == 10">已申请取消订单</span>
					<span class="status" v-if="order.order_status == 11">处理取消订单申请中</span>
					<span class="status" v-if="order.order_status == 12">拒绝订单取消</span>
					<span class="status" v-if="order.order_status == 13">订单已取消</span>
					<span class="status" v-if="order.order_status == 14">订单已升级更新</span>
					<span class="status" v-if="order.order_status == 15">订单预定中，发货前请支付押金</span>
					<span class="status" v-if="order.order_status == 16">订单已支付押金，等待自提</span>
				</li>
			</ul>
		</div>
		<div class="link-list" v-if="order.order_status == 1">
			<a v-link="'/order-detail?id=' + order.id">订单详情</a>
			<a v-link="'/pay?order_id=' + order.id">立即支付</a>
			<a @click="cancelOrder">取消订单</a>
		</div>
		<div class="link-list" v-if="order.order_status == 2">
			<a v-link="'/order-detail?id=' + order.id">订单详情</a>
			<a @click="cancelOrder">取消订单</a>
		</div>
		<div class="link-list" v-if="order.order_status == 3">
			<a v-link="'/order-detail?id=' + order.id">订单详情</a>
			<a v-link="'/after-sale'">申请退款</a>
			<a v-link="'/home?order_id=' + order.id" class="has-tooltip">升级更换
				<div class="tooltip">
					<div class="wrap">
						<h4 class="caption">免费升级啦</h4>
						<p class="text-area">为您享受更好的服务，我们一直在努力，产品出现意外情况，我们为您免费升级，可选择更高价格的衣服，祝您购物愉快！</p>
					</div>
				</div>
			</a>
		</div>
		<div class="link-list" v-if="order.order_status == 4">
			<a v-link="'/order-detail?id=' + order.id">订单详情</a>
			<a v-link="'/order-detail?id=' + order.id">查看物流</a>
			<a @click="confirmGoods">确认收货</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 5">
			<a v-link="'/order-detail?id=' + order.id">订单详情</a>
			<a v-link="'/after-sale'">申请售后</a>
			<a v-link="'/return-goods?order_number=' + order.order_number + '&amp;order_id=' + order.id">返还商品</a>
			<a v-link="'/order-comment?order_id=' + order.id + '&amp;product_id=' + order.product_name_group_id">晒单</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 6">
			<a v-link="'/order-detail?id=' + order.id">订单详情</a>
			<a v-link="'/after-sale'">联系客服</a>
			<a v-link="'/order-detail?id=' + order.id">查看返还进度</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 7 || order.order_status == 8">
			<a v-link="'/order-detail?id=' + order.id">订单详情</a>
			<a v-link="'/customer-service'">联系客服</a>
			<a @click="deleteOrder">删除订单</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 12">
			<a v-link="'/order-detail?id=' + order.id">订单详情</a>
			<a v-link="'/see-why'">查看原因</a>
			<a @click="deleteOrder">删除订单</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 15">
			<a v-link="'/order-detail?id=' + order.id">订单详情</a>
			<a v-link="'/pay-deposit?id=' + order.id">支付押金</a>
			<a @click="cancelOrder">取消订单</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 16">
			<a v-link="'/order-detail?id=' + order.id">订单详情</a>
			<a @click="cancelOrder">取消订单</a>
			<a @click="getGoods">拿到产品</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 9 || order.order_status == 13">
			<a @click="deleteOrder">删除订单</a>
		</div>
	</li>
</template>

<script>
	import Popup from 'store/popup'
	import Basic from 'store/basic'
	export default {
		name: 'm-user-order-card',

		props: ['order'],

		data () {
			return {
				confirmGoodsInfo: {
					title: '确定收货？',
					content: '确认收到完好产品，请点击确认收货！',
					btn: '确定收货',
					class: 'order-list',
					id: this.order.id,
					source: 'order-list'
				},
				getGoodsInfo: {
					title: '确定拿到产品？',
					content: '确认拿到完好产品，请点击确认拿到产品！',
					btn: '确认拿到产品',
					class: 'order-list',
					id: this.order.id,
					source: 'order-list'
				},
				cancelOrderInfo: {
					id: this.order.id,
					source: 'order-list'
				},
				deleteOrderInfo: {
					id: this.order.id,
					source: 'order-list'
				}
			}
		},

		computed: {
			category () {
				return Basic.state.category
			}
		},

		methods: {
			cancelOrder () {
				Popup.state.cancelOrder.args = this.cancelOrderInfo
				Popup.state.cancelOrder.show = true
			},
			deleteOrder () {
				Popup.state.deleteOrder.args = this.deleteOrderInfo
				Popup.state.deleteOrder.show = true
			},
			confirmGoods () {
				Popup.state.confirmGoods.args = this.confirmGoodsInfo
				Popup.state.confirmGoods.show = true
			},
			getGoods () {
				Popup.state.confirmGoods.args = this.getGoodsInfo
				Popup.state.confirmGoods.show = true
			},
			notPay () {
				let charge = this.order.pingxx_ch
				if (this.order.paid_method == 'alipay_pc_direct') {
					Popup.state.commonInfo.single = '即将跳转到支付页面，请等待！'
					Popup.state.commonInfo.show = true
					pingppPc.createPayment(charge, (result, err) => {
						Popup.state.commonInfo.single = '跳转支付页面失败！'
						Popup.state.commonInfo.show = true
						console.log(err)
					})
				}
				else {
					Popup.state.commonInfo.single = '该订单是在 app 端下单，请在 app 端完成支付！'
					Popup.state.commonInfo.show = true
				}
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-user-order-card
	position relative
	padding 31px 0 59px
	border-bottom 1px solid #E5E5E5
	&:after
		content ''
		width 0
		height 0
		clear both
		display block
		overflow hidden
		opacity 0
	.thumb
		float left
		width 73px
		img
			max-width 100%
			border 1px solid #F1F1F1
	.info
		padding-left 94px
		.list
			overflow hidden
			font-weight bold
			li
				width 50%
				float left
				padding 8px 0 7px
			.remark
				color #b9b9b9
				display inline-block
				margin-left 5px
			.color-box
				width 11px
				height 11px
				display inline-block
				vertical-align top
				border 1px solid #b37e79
		.title
			font-size 15px
			margin 0
			font-weight bold
			margin-bottom 6px
	.link-list
		position absolute
		right 0
		bottom 21px
		&>div,
		a
			display inline-block
			float left
			width 90px
			text-align center
			line-height 14px
			vertical-align top
			-webkit-transition all 0.2s
			-moz-transition all 0.2s
			-os-transition all 0.2s
			transition all 0.2s
		a:hover
			color #979797
		a + a
			border-left 1px solid #E5E5E5
		.has-tooltip
			position relative
			&:hover
				.tooltip
					display block
			.tooltip
				width 205px
				padding-bottom 12px
				position absolute
				right 0
				bottom 100%
				color #fff
				text-align left
				display none
				.wrap
					background-color rgba(0,0,0,.6)
					border-radius 2px
					padding 16px 15px
					line-height 16px
					.caption
						font-size 14px
						font-weight 100
						margin 0 0 9px
					.text-area
						margin 0
				&:before,
				&:after
					content ''
					display block
					position absolute
					bottom 4px
					right 40px
					border-style solid
				&:before
					border-width 8px 4px 0 4px
					border-color rgba(0,0,0,.6) transparent transparent transparent
				&:after
					border-width 8px 4px 0 4px
					border-color transparent transparent rgba(0,0,0,.6) transparent
</style>
