<template>
	<div :class="$options.name">
		<m-tab></m-tab>
		<div class="content">
			<template v-if="_list.length > 0">
				<m-user-address-card v-for="item in _list" :args="item"></m-user-address-card>
			</template>
			<div class="nodata" v-else>
				当前无收货地址
			</div>
		</div>
		<m-delete-address></m-delete-address>
	</div>
</template>

<script>
	import User from 'store/user'
	export default {
		components: {
			'm-tab': require('../../module/tab/user-address'),
			'm-user-address-card': require('../../module/user/address-card'),
			'm-delete-address': require('../../module/user/popup/delete-address')
		},
		computed: {
			_list () {
				return User.state.address
			}
		},

		name: 'p-user-address'
	}
</script>

<style lang="stylus" scoped>
.p-user-address
	.content
		min-height 300px
		padding-left 4px
		padding-bottom 160px
	.nodata
		color #9c9c9c
		font-size 14px
		border 1px dashed #ccc
		box-sizing border-box
		text-align center
		padding 20px 0
		margin-top 20px
</style>
