<template>
	<div :class="$options.name">
		<div class="nav">
			<span>我的优惠券</span>
		</div>
		<div class="coupon-content">
			<div class="hint-wrap">
				<h3 class="no-coupon" v-if="coupons == ''">当前无优惠券！</h3>
				<p class="hint">邀请好友成功注册，即得￥100全场通用券，同时注册的好友也会得到总值￥6000优惠券，详情在<a v-link.literal="/user/invite" class="highlighted">邀请返现</a>中查看</p>
			</div>
			<ul class="coupon-list" v-if="coupons">
				<m-user-coupon-card
					v-for="coupon in coupons"
					:coupon="coupon">
				</m-user-coupon-card>
			</ul>
		</div>
	</div>
</template>

<script>
	import User from 'store/user'
	import Api from '../../api'
	export default {
		components: {
			'm-user-coupon-card': require('../../module/user/coupon-card')
		},
        computed: {
			coupons () {
				let list = User.state.coupons
				return list
			}
		},
		name: 'p-user-coupon'
	}
</script>

<style lang="stylus" scoped>
.p-user-coupon
	.nav
		font-size 12px
		height 29px
		border-bottom 1px solid #ddd
		position relative
		margin-bottom 21px
		&:before
			content ''
			position absolute
			left 0
			bottom -2px
			height 3px
			width 26px
			background-color #000
	.hint-wrap
		padding 21px
		border 1px solid #F0F0F0
		background-color #FBFBFB
		.no-coupon
			font-size 20px
			margin 0
			font-weight 100
			padding 5px 0 16px
		.hint
			margin 0
			line-height 16px
		.no-coupon + .hint
			padding-bottom 4px
		.highlighted
			color #B37E79
	.coupon-list
		padding-bottom 58px
</style>
