<template>
	<div :class="$options.name">
		<m-tab></m-tab>
		<div class="info">
			<p class="one">Rentvogue新手邀请活动</p>
			<p class="two">规则说明</p>
			<p class="three">1.邀请好友成功注册，即得¥100全场通用券<br>2.注册的好友也会得到总值¥6000优惠券（分别价值¥5000、¥700、¥300）</p>
			<p class="four">赶紧分享吧！</p>
		</div>
		<div class="link">
			<div class="title x">邀请链接：</div>
			<div>{{ invite_url }}{{ $root.user.invite_code }}<a class="copy" data-clipboard-text="{{ invite_url }}{{ $root.user.invite_code }}" @click="copy">复制链接</a></div>
		</div>
		<div class="share">
			<div class="title x">分享到：</div>
			<div class="item" @click="qrcode">
				<m-icon-wechat></m-icon-wechat>
				<div class="name">微信</div>
				<div class="detail"></div>
			</div>
			<div class="item" @click="weibo">
				<m-icon-weibo></m-icon-weibo>
				<div class="name">微博</div>
				<img src="../../img/weibo-share.jpg" alt="微博分享" class="weibo-img">
			</div>
			<div class="item" @click="qrcode">
				<m-icon-moment></m-icon-moment>
				<div class="name">朋友圈</div>
				<div class="detail"></div>
			</div>
		</div>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		components: {
			'm-icon-wechat': require('../../module/icon/wechat'),
			'm-icon-weibo': require('../../module/icon/weibo'),
			'm-icon-moment': require('../../module/icon/moment'),
			'm-tab': require('../../module/tab/user-invite')
		},
		data () {
			return {
				invite_url: ''
			}
		},
		events: {
			'M__Head.userUpdated' () {
				this.invite_url = location.origin + '/index.html#!/share%3invite='
			}
		},
		methods: {
			qrcode (event) {
				$(event.currentTarget).children('.detail').html(new AraleQRCode({
					size: 120,
					text: this.invite_url + this.$root.user.invite_code
				}))
			},
			weibo () {
				let share = {
					'appkey': '2627720936',
					'title': '刚刚在 rentvogue 中分享给你优惠劵，赶紧过来领取，你租婚纱，rentvogue 买单，高端婚纱租赁应用，大家一起来玩吧!',
					'imgUrl': location.origin + $('.weibo-img').attr('src'),
					'url': location.origin + '/index.html%23!%2Fshare%3Finvit%3D' + this.$root.user.invite_code
				}
				let URL = 'http://v.t.sina.com.cn/share/share.php?appkey=' + share.appkey + '&title=' + share.title + '&pic=' + share.imgUrl + '&url=' + share.url,
					name = '分享到微博-微博-随时随地分享身边的新鲜事儿',
					features = 'height=100,width=400,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no, status=no'
				window.open(URL,name,features)
			},
			copy () {
				let copy = new Clipboard('.copy')
				copy.once('success', e => {
					Popup.state.commonInfo.single = '复制成功了，快去分享吧！'
					Popup.state.commonInfo.show = true
					e.clearSelection()
				})
			}
		},
		name: 'p-user-invite',
		route: {
			data () {
				this.$emit('M__Head.userUpdated')
			}
		}
	}
</script>

<style lang="stylus" scoped>
.p-user-invite
	font-size 12px
	.info
		height 157px
		margin-top 21px
		border 1px solid #f0f0f0
		background-color #fbfbfb
		padding-left 22px
		padding-top @padding-left
		.one
			font-size 18px
		.two
			margin-top 18px
			margin-bottom 10px
		.three
			line-height 16px
		.four
			margin-top 5px
			text-indent 10px
	.link
		height 74px
		padding-top 40px
		padding-left 70px
		border-bottom 1px solid #ececec
		.title
			width @padding-left
			margin-left -@width
		a
			margin-left 10px
			color #b37e79
	.share
		padding-left 70px
		.title
			width @padding-left
			margin-left -@width
			padding-top 42px
		.item
			float left
			cursor pointer
			width 50px
			margin-right 40px
			padding-top 22px
			color #757575
			transition all .3s
			.name
				text-align center
				margin-top 10px
			.detail
				opacity 0
				margin-top 18px
			&:hover
				color #000
				transform translateY(-5px)
				.detail
					opacity 1
	.weibo-img
		display: none
</style>
