<template>
	<div class="header">
		<div class="loading" :style="'width: ' + loading.width + '%'" v-if="loading.show"></div>
		<a v-link="'/home'" class="logo" v-if="$route.path == '/home'"><img src="../../images/mobile-logo.png" height="12" width="50" alt="logo"></a>
		<span @click="goBack" class="go-back" v-else><span class="g-icon back-icon"></span></span>
		<ul class="tool" v-if="!$route.hideMenu">
			<li><a v-link="'/home'"><span class="g-icon home-icon"></span>首页</a></li>
			<li><a v-link="'/user'"><span class="g-icon user-icon"></span>个人</a></li>
			<li><a v-link="'/search'"><span class="g-icon search-icon"></span>搜索</a></li>
		</ul>
		<span v-if="$route.fullPath == '/orders/:category'" v-link="'/order-description'" class="description-btn">订单须知</span>
	</div>
</template>

<script>
	import Basic from '../../store/basic'
	export default {
		name: 'header',

		computed: {
			loading () {
				return Basic.state.loading
			}
		},

		methods: {
			goBack () {
				let _this = this
				if (this.$route.fullPath == '/user/address') {
					this.$route.router.go('/user')
					return false
				}
				if (this.$route.fullPath == '/orders/:category') {
					this.$route.router.go('/user')
					return false
				}
				history.back()
			}
		}
	}
</script>

<style lang="sass" scoped>
.header {
	padding: 14px 18px 8px 15px;
	overflow: hidden;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 50;
	height: 45px;
	overflow: hidden;
	border-bottom: 1px solid #F0F0F0;
	box-sizing: border-box;
	.go-back {
		width: 45px;
		height: 45px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		padding: 16px 0 0 15px;
		box-sizing: border-box;
	}
	.back-icon {
		display: inline-block;
	}
	.logo {
		float: left;
		padding-top: 4px;
	}
	.tool {
		float: right;
		text-align: center;
		line-height: 6px;
		li {
			float: left;
			font-size: 6px;
			& + li {
				margin-left: 27px;
			}
		}
		a {
			display: block;
		}
		.g-icon {
			display: block;
			margin: 0 auto 3px;
		}
	}
	.description-btn {
		margin-top: 2px;
		float: right;
	}
}
</style>
