<template>
	<div :class="$options.name">
		<div class="title">确定要取消订单？</div>
		<div class="content">
			<span class="caption">预定时间取消规定：</span>
			<ul>
				<li><span class="highlighted">24小时内</span>取消订单扣除<span class="highlighted">全款</span></li>
				<li><span class="highlighted">7天以内</span>取消扣除订单额<span class="highlighted">20%</span></li>
				<li>提前一周以上免费取消！</li>
			</ul>
		</div>
		<div class="btn-wrap">
			<a href="javascript:void(0);" class="cancel" @click="close">取消</a>
			<a href="javascript:void(0);" class="submit" @click="cancelOrder">确定</a>
		</div>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	import User from 'store/user'
	export default {
		name: 'cancel-order-panel',

		methods: {
			close () {
				this.$dispatch('popup.close')
			},
			cancelOrder () {
				if (Popup.state.cancelOrder.args.source == 'order-list') {
					User.actions.putOrderStatus({
						'user_id': this.$root.user.id,
						'order_id': Popup.state.cancelOrder.args.id,
						'order_status': 10
					})
				}
				if (Popup.state.cancelOrder.args.source == 'order-detail') {
					User.actions.putOrderStatus({
						'user_id': this.$root.user.id,
						'order_id': Popup.state.cancelOrder.args.id,
						'order_status': 10,
						'source': Popup.state.cancelOrder.args.source,
						'after': () => {
							this.$route.router.go('/user/order')
						}
					})
				}
				this.close()
			}
		}
	}
</script>

<style lang="stylus" scoped>
.cancel-order-panel
	height 330px
	padding 60px 92px 0
	.title
		text-align center
		font-size 20px
		line-height 21px
		height 42px
		border-bottom 1px solid #e8e8e8
		margin-bottom 18px
	.content
		text-align left
		line-height 19px
		font-size 14px
		.caption
			margin-bottom 8px
			display block
		.highlighted
			color #B37E79
	.btn-wrap
		overflow hidden
		padding-top 22px
		a
			width 135px
			display block
			float left
			color #fff
			border-radius 2px
			line-height 44px
			text-align center
		.cancel
			background-color #969696
			opacity 0.8
			&:hover
				opacity 1
		.submit
			background-color #B37E79
			margin-left 13px
			&:hover
				background-color #8E5651
</style>
