<template>
	<div :class="$options.name">
		<m-modal :show="confirmGoodsInfo.show">
			<m-confirm-goods-panel></m-confirm-goods-panel>
		</m-modal>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'm-confirm-goods',

		props: ['args'],

		components: {
			'm-modal': require('../../../com/m/Modal'),
			'm-confirm-goods-panel': require('./confirm-goods-panel')
		},

		computed: {
			confirmGoodsInfo () {
				return Popup.state.confirmGoods
			}
		},

		events: {
			'popup.close' () {
				this.close()
			}
		},

		methods: {
			close () {
				Popup.state.confirmGoods.show = false
				setTimeout(() => {
					Popup.state.confirmGoods.args = []
				}, 500)
			},
			open () {
				Popup.state.confirmGoods.show = true
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-confirm-goods
	display inline-block
	.confirm-goods
		display block
		position relative
		&.order-list:hover
			color #979797
</style>
