<template>
	<div :class="$options.name">
		<div class="title">{{ confirmGoodsInfo.args.title }}</div>
		<div class="content">{{ confirmGoodsInfo.args.content }}</div>
		<div class="btn-wrap">
			<a href="javascript:void(0);" class="cancel" @click="close">取消</a>
			<a href="javascript:void(0);" class="submit" @click="putOrderStatus">{{ confirmGoodsInfo.args.btn }}</a>
		</div>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	import User from 'store/user'
	import OrderDetail from 'store/order-detail'
	export default {
		name: 'm-confirm-goods-panel',

		computed: {
			confirmGoodsInfo () {
				return Popup.state.confirmGoods
			}
		},

		methods: {
			close () {
				this.$dispatch('popup.close')
			},
			putOrderStatus () {
				if (Popup.state.confirmGoods.args.source == 'order-list') {
					User.actions.putOrderStatus({
						'user_id': this.$root.user.id,
						'order_id': Popup.state.confirmGoods.args.id,
						'order_status': 5
					})
				}
				if (Popup.state.confirmGoods.args.source == 'order-detail') {
					OrderDetail.actions.putOrderStatus({
						'user_id': this.$root.user.id,
						'order_id': Popup.state.confirmGoods.args.id,
						'order_status': 5
					})
				}
				this.close()
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-confirm-goods-panel
	height 263px
	padding 60px 92px 0
	.title
		text-align center
		font-size 20px
		line-height 21px
		height 42px
		border-bottom 1px solid #e8e8e8
		margin-bottom 18px
	.content
		text-align left
		line-height 19px
		font-size 14px
	.btn-wrap
		overflow hidden
		padding-top 22px
		a
			width 135px
			display block
			float left
			color #fff
			border-radius 2px
			line-height 44px
			text-align center
		.cancel
			background-color #969696
			opacity 0.8
			&:hover
				opacity 1
		.submit
			background-color #B37E79
			margin-left 13px
			&:hover
				background-color #8E5651
</style>
