<template>
	<div :class="$options.name">
		<m-modal :show="deleteOrderInfo.show">
			<m-delete-order-panel></m-delete-order-panel>
		</m-modal>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'm-delete-order',

		components: {
			'm-modal': require('../../../com/m/Modal'),
			'm-delete-order-panel': require('./delete-order-panel')
		},

		computed: {
			deleteOrderInfo () {
				return Popup.state.deleteOrder
			}
		},

		events: {
			'popup.close' () {
				this.close()
			}
		},

		methods: {
			close () {
				Popup.state.deleteOrder.show = false
				setTimeout(() => {
					Popup.state.deleteOrder.args = []
				}, 500)
			},
			open () {
				Popup.state.deleteOrder.show = true
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-delete-order
	.cancel-order
		display block
		position relative
		-webkit-transition all 0.2s
		-moz-transition all 0.2s
		-os-transition all 0.2s
		transition all 0.2s
		&:hover
			color #979797
</style>
