<template>
	<div :class="$options.name">
		<m-modal :show="deleteOrderInfo.show">
			<m-delete-address-panel></m-delete-address-panel>
		</m-modal>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'm-delete-address',

		components: {
			'm-modal': require('../../../com/m/Modal'),
			'm-delete-address-panel': require('./delete-address-panel')
		},

		computed: {
			deleteOrderInfo () {
				return Popup.state.deleteAddress
			}
		},

		events: {
			'popup.close' () {
				this.close()
			}
		},

		methods: {
			close () {
				Popup.state.deleteAddress.show = false
				setTimeout(() => {
					Popup.state.deleteAddress.args = []
				}, 500)
			},
			open () {
				Popup.state.deleteAddress.show = true
			}
		}
	}
</script>


