<template>
	<div :class="$options.name">
		<div class="title">确定要删除订单？</div>
		<div class="btn-wrap">
			<a href="javascript:void(0);" class="cancel" @click="close">取消</a>
			<a href="javascript:void(0);" class="submit" @click="deleteOrder">确定</a>
		</div>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	import User from 'store/user'
	export default {
		name: 'delete-order-panel',

		methods: {
			close () {
				this.$dispatch('popup.close')
			},
			deleteOrder () {
				if (Popup.state.deleteOrder.args.source == 'order-list') {
					User.actions.delOrderStatus({
						'user_id': this.$root.user.id,
						'order_id': Popup.state.deleteOrder.args.id
					})
				}
				if (Popup.state.deleteOrder.args.source == 'order-detail') {
					User.actions.delOrderStatus({
						'user_id': this.$root.user.id,
						'order_id': Popup.state.deleteOrder.args.id,
						'source': Popup.state.deleteOrder.args.source,
						'after': () => {
							this.$route.router.go('/user/order')
						}
					})
				}
				this.close()
			}
		}
	}
</script>

<style lang="stylus" scoped>
.delete-order-panel
	padding 60px 92px 30px
	.title
		text-align center
		font-size 20px
		line-height 21px
		height 42px
		border-bottom 1px solid #e8e8e8
		margin-bottom 18px
	.content
		text-align left
		line-height 19px
		font-size 14px
		.caption
			margin-bottom 8px
			display block
		.highlighted
			color #B37E79
	.btn-wrap
		overflow hidden
		padding-top 22px
		a
			width 135px
			display block
			float left
			color #fff
			border-radius 2px
			line-height 44px
			text-align center
		.cancel
			background-color #969696
			opacity 0.8
			&:hover
				opacity 1
		.submit
			background-color #B37E79
			margin-left 13px
			&:hover
				background-color #8E5651
</style>
