<template>
	<div :class="$options.name">
		<a @click="open" class="order-description">《订单说明》</a>
		<m-modal :show="orderDescriptionShow">
			<m-order-description-panel></m-order-description-panel>
		</m-modal>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'm-order-description',

		components: {
			'm-modal': require('../../../com/m/Modal'),
			'm-order-description-panel': require('./order-description-panel')
		},

		computed: {
			orderDescriptionShow () {
				return Popup.state.orderDescription
			}
		},

		events: {
			'popup.close' () {
				this.close()
			}
		},

		methods: {
			close () {
				Popup.state.orderDescription = false
			},
			open () {
				Popup.state.orderDescription = true
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-order-description
	position absolute
	top 0
	right 0
	.order-description
		color #000
		display block
</style>
