<template>
	<div :class="$options.name">
		<div class="title">订单说明</div>
		<div class="content">
			<h3>1.订单押金</h3>
			<p>订单押金在订单提交是支付，实名认证客户信任度更高，押金将8折优惠！</p>
			<h3>2.取消订单说明</h3>
			<p>下单后，用户可取消订单，预定时间24小时内取消订单扣除全款，7天以内取消扣除订单额20%，提前一周以上免费取消！</p>
			<h3>3.线下试穿</h3>
			<p>产品都会有线下商家支持，提供免费试穿服务，您下单后，可预约对应商家，进行试穿感受，感谢您的使用！</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'm-order-description-panel'
	}
</script>

<style lang="stylus" scoped>
.m-order-description-panel
	height 398px
	padding 60px 92px 0
	.title
		text-align center
		font-size 20px
		line-height 21px
		height 42px
		border-bottom 1px solid #e8e8e8
		margin-bottom 23px
	.content
		text-align left
		line-height 16px
		font-size 14px
		font-size 12px
		h3
			color #535353
			font-weight 100
			margin 0
			font-size 12px
			padding-bottom 4px
		p
			color #959595
			margin 0
			padding 0 0 15px
</style>
