<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/user/order'">订单</a></li>
			<li>晒单评价</li>
		</ul>
		<dl>
			<dt>评价星级</dt>
			<dd class="star">
				<a class="com-icon{{ $index <= star ? ' active' : '' }}" v-for="item in 5" @click="selectStar"></a>
			</dd>
			<dt>添加短评</dt>
			<dd class="tag">
				<div v-if="_tags" class="list">
					<label class="radio-item" v-for="(key, val) in _tags">
						<input type="checkbox" name="tags" v-model="tags" value="{{ key }}" @click="hasTag" />
						<span>{{ val }}</span>
					</label>
				</div>
				<span class="error" v-if="error.tags.show">{{ error.tags.text }}</span>
			</dd>
			<dt>晒图</dt>
			<dd class="img">
				<div class="img-box">
					<ul class="img-upload-list"></ul>
					<span id="pickfiles" class="upload-img-btn com-icon">按钮</span>
					<div id="images"></div>
				</div>
				<span class="error" v-if="error.img.show">{{ error.img.text }}</span>
			</dd>
			<dt>评价</dt>
			<dd class="comment">
				<input type="text" placeholder="想说的：" v-model="comment" class="comment-input">
				<span class="error" v-if="error.comment.show">{{ error.comment.text }}</span>
			</dd>
		</dl>
		<div class="submit" @click="submit">提交评价</div>
	</div>
</template>

<script>
	import Api from 'api'
	import Goods from 'store/goods'
	import User from 'store/user'
	export default {
		name: 'm-order-comment',

		data () {
			return {
				tags: [],
				star: '2',
				comment: '',
				error: {
					tags: {
						show: false,
						text: '请至少选一个短评！'
					},
					img: {
						show: false,
						text: '请至少上传一张图片！'
					},
					comment: {
						show: false,
						text: '请说点什么！'
					}
				}
			}
		},

		events: {
			'M__Head.userUpdated' () {
				this.init()
			}
		},

		computed: {
			_tags () {
				let list = Goods.state.tags
				return list
			}
		},

		ready () {
			let _this = this
			$('.comment-input').bind('input propertychange', 'input', function(event) {
				event.preventDefault()
				_this.error.comment.show = false
			})
			// 获取七牛 uptoken
			Api.initQiniuToken({
				success: res => {
					this.$root.qiniuToken = res.data.data
					// 取得 uptoken,初始化上传图片插件
					_this.initFlow()
					_this.deleteImg()
				}
			})
		},

		methods: {
			init () {
				Goods.actions.initGoodsTag()
			},
			submit () {
				let tagVal = this.tags.join('|'),
					$images = $('#images').children(),
					imgList = [],
					star = Number(this.star) + 1
				for (var i = 0; i < $images.length; i++) {
					imgList.push($images.eq(i).val())
				}
				let images = imgList.join('|')
				if (this.comment.length == 0) {
					this.error.comment.show = true
				}
				if (tagVal.length == 0) {
					this.error.tags.show = true
				}
				if (images.length == 0) {
					this.error.img.show = true
				}
				if (this.comment.length !== 0 && tagVal.length !== 0 && images.length !== 0) {
					User.actions.addComment({
						'product_name_group_id': this.$route.query.product_id,
						'order_id': this.$route.query.order_id,
						'star': star,
						'tags': tagVal,
						'images': images,
						'comment': this.comment
					})
				}
			},
			initFlow () {
				let $ = window.$
				let _this = this
				var flow = new Flow({
					target: 'http://upload.qiniu.com',
					simultaneousUploads: 3,
					chunkSize: 4194304, // 4 * 1024 * 1024,
					testChunks: false,
					forceChunkSize: true,
					singleFile: false,
					allowDuplicateUploads: true,
					upload_token: _this.$root.qiniuToken.uptoken
				})
				flow.assignBrowse(
					$('#pickfiles'),
					false,
					false,
					{ accept: 'image/*' }
				)
				flow.on('fileAdded', function(file, e) {
					var reader = new FileReader(),
						$imgViewList = $('.img-upload-list')
					if (flow.isUploading()) {
						Popup.state.commonInfo.single = '已有图片正在上传，请稍后..'
						Popup.state.commonInfo.show = true
						return false
					}
					if (file.size > 52428800) {
						Popup.state.commonInfo.single = '图片大小不得超过50M'
						Popup.state.commonInfo.show = true
						return false
					}
					reader.onload = function(e) {
						var image = new Image()
						image.src = e.target.result
						image.onload = function() {
							// var width = this.width,
								// height = this.height
							// if (width != 836 || height != 836) {
							// 	alert('图片尺寸需为836 * 1250')
							// 	flow.cancel()
							// }
							if ($imgViewList.children().length > 1) {
								let content = '目前晒单仅允许最多上传 8 张照片！'
								Popup.state.commonInfo.more.title = '照片数量限制'
								Popup.state.commonInfo.more.list.push(content)
								Popup.state.commonInfo.show = true
								flow.cancel()
							}
							else {
								var $img = $('<li><img src="' + this.src + '" /></li>')
								var $progress = $('<div class="progress-bar"><span class="progress"></span><span class="text"></span><div>')
								$img.append($progress)
								$imgViewList.append($img)
							}
						}
				 	}
					if (file.file) {
						reader.readAsDataURL(file.file)
					}
				})
				flow.on('fileProgress', function(file, chunk) {
					let speed = file.currentSpeed,
						percent = (file.sizeUploaded() * 100 / file.size).toFixed(2) + '%',
						$imgViewList = $('.img-upload-list')
					if (speed < 1024) {
						speed = parseFloat((speed).toFixed(2)) + 'BYTE/S'
					}
					else {
						speed = parseFloat((speed / 1024).toFixed(2)) + 'KB/S'
					}
					$.each($imgViewList.children().last().find('.progress'), function() {
						if ($(this).css('width') == '0px') {
							$(this).css('width', percent)
							$(this).next('.text').html(percent)
							return
						}
					})
				})
				flow.on('filesSubmitted', function() {
					flow.upload()
				})
				flow.on('fileChunkSucess', function(file, chunk, response) {
					if (typeof(file.ctx) == 'undefined') {
						file.ctx = response.ctx
					}
					else {
						file.ctx += ',' + response.ctx
					}
				})
				flow.on('fileSuccess', function(file) {
					var key = _this.base64_encode(file.uniqueIdentifier + (new Date()).valueOf())
					$.ajax({
						type: 'POST',
						url: flow.opts.target + '/mkfile/' + file.size + '/key/' + _this.base64_encode(key),
						headers: {
							'Content-Type': 'text/plain;charset=UTF-8',
							'Authorization': 'UpToken ' + flow.opts.upload_token
						},
						dataType: 'JSON',
						data: file.ctx
					}).done(function(response) {
						var $imgViewList = $('.img-upload-list')
						$imgViewList.children()
							.last()
							.find('.progress')
							.css('width', '100%')
							.next('.text').html('100%')
						$('<input type="hidden" name="images[]" value="' + response.key + '" />').appendTo($('#images'))
						_this.error.img.show = false
					}).fail(function() {
						flow.fire('fileError', file)
					})
				})
				flow.on('fileError', function(file, message) {
					console.log('图片上传失败')
				})
			},
			hasTag () {
				this.error.tags.show = false
			},
			deleteImg () {
				$('.img-upload-list').on('click', 'li', function(event) {
					event.preventDefault()
					let index = $(this).index()
					$(this).fadeOut('fast', function() {
						$(this).index()
					})
					$('#images').children().eq(index).remove()
				})
			},
			selectStar (event) {
				let $this = $(event.currentTarget),
					index = $this.index()
				this.star = index
			},
			base64_encode (str) {
				var c1, c2, c3
				var base64EncodeChars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/'
				var i = 0,
					len = str.length,
					string = ''
				while (i < len) {
					c1 = str.charCodeAt(i++) & 0xff
					if (i == len) {
						string += base64EncodeChars.charAt(c1 >> 2)
						string += base64EncodeChars.charAt((c1 & 0x3) << 4)
						string += '=='
						break
					}
					c2 = str.charCodeAt(i++)
					if (i == len) {
						string += base64EncodeChars.charAt(c1 >> 2)
						string += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4))
						string += base64EncodeChars.charAt((c2 & 0xF) << 2)
						string += '='
						break
					}
					c3 = str.charCodeAt(i++)
					string += base64EncodeChars.charAt(c1 >> 2)
					string += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4))
					string += base64EncodeChars.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6))
					string += base64EncodeChars.charAt(c3 & 0x3F)
				}
				return string
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-order-comment
	width 900px
	margin 65px auto
	.error,
	.success
		color #b37e79
		display block
		line-height 18px
		padding 10px 0 0
	dl
		padding-top 31px
		padding-left 2px
	dt
		height 21px
		border-bottom 1px solid #e8e8e8
		padding-left 10px
		&:before
			content ''
			width 4px
			height 12px
			float left
			margin-left -@padding-left
			margin-top -1px
			background-color currentColor
	dd
		margin-left 0
		padding-bottom 31px
	.star
		font-size 0
		padding-top 30px
		a
			width 23px
			height 23px
			display block
			display inline-block
			letter-spacing -4px
			background-position -150px -90px
			&.active
				background-position -120px -90px
			& + a
				margin-left 6px
	.tag
		padding-top 30px
		.list
			overflow: hidden
	.radio-item
		float: left
		position relative
		overflow hidden
		input[type="checkbox"]
			position absolute
			left 100%
			bottom 100%
			&:checked + span
				background-color #b37e79
		span
			border-radius 2px
			color #fff
			background-color #cfcfcf
			padding 0 15px
			line-height 24px
			height 24px
			cursor pointer
			display: block
		& + .radio-item
			margin-left 8px
	.img
		padding-top 15px
		.img-box
			overflow hidden
		img
			width 65px
		.upload-img-btn
			width 65px
			height 64px
			display inline-block
			text-align left
			text-indent -9999px
			outline 0
			cursor pointer
			float left
			background-position -120px -150px
	.comment
		input[type="text"]
			width 470px
			line-height 21px
			padding 8px 0 9px
			border-bottom 1px solid #e8e8e8
		::-webkit-input-placeholder
			color: #BBBBBE
		:-moz-placeholder
			color: #BBBBBE
		::-moz-placeholder
			color: #BBBBBE
		:-ms-input-placeholder
			color: #BBBBBE
		:placeholder
			color: #BBBBBE
	.submit
		width 147px
		height 44px
		border-radius 1px
		background-color #b37e79
		text-align center
		line-height @height
		color #fff
		cursor pointer
</style>
