<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/user/order'">订单</a></li>
			<li>联系客服</li>
		</ul>
		<div class="container">
			<span class="remark">官方客服电话：</span>
			<span class="phone">400-2321-2432</span>
			<span class="time">客服时间：早9:00——下午17:00</span>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'p-user-customer-service'
	}
</script>

<style lang="stylus" scoped>
.p-user-customer-service
	padding 65px 0 50px
	max-width 900px
	margin 0 auto
	.container
		max-width 350px
		text-align center
		color #959595
		margin 0 auto
		padding-top 61px
		span
			display block
		.remark
			margin-bottom 25px
		.phone
			color #000
			display block
			font-size 20px
			line-height 21px
			padding-bottom 31px
			margin-bottom 26px
			border-bottom 1px solid #ddd
</style>
