<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/user/order'">订单</a></li>
			<li>订单详情</li>
		</ul>
		<div class="container" v-if="orderDetail.length !== '0'">
			<div class="process{{ orderDetail.deposit_pingxx_ch || orderDetail.paid_deposit == 'N' ? ' no-deposit' : ' all' }}">
				<ul class="order-status-{{ orderDetail.order_status }}">
					<li>
						<span class="icon"></span>
						<span class="caption">订单提交</span>
					</li>
					<template v-if="orderDetail.deposit_pingxx_ch || orderDetail.paid_deposit == 'N'">
						<li>
							<span class="icon"></span>
							<span class="caption">支付租金</span>
						</li>
						<li>
							<span class="icon"></span>
							<span class="caption">支付押金</span>
						</li>
					</template>
					<li class="deposit-rent" v-else>
						<span class="icon"></span>
						<span class="caption">支付租金与押金</span>
					</li>
					<li>
						<span class="icon"></span>
						<span class="caption" v-if="orderDetail.express_company == '上门自提'">上门自提</span>
						<template v-else>
							<span class="caption" v-if="orderDetail.express_company == '商家直送'">商家直送</span>
							<span class="caption" v-else>快递派送</span>
						</template>
					</li>
					<li>
						<span class="icon"></span>
						<span class="caption">收到商品</span>
					</li>
					<li>
						<span class="icon"></span>
						<span class="caption">返还商品</span>
					</li>
					<li>
						<span class="icon"></span>
						<span class="caption">退还押金</span>
					</li>
				</ul>
			</div>
			<div class="consignee" v-if="orderDetail.express_company == '上门自提'">
				<h3 class="title">上门自提</h3>
				<div class="content">
					<div class="info">
						<span class="name" v-if="orderDetail.contact_user_name">{{ orderDetail.contact_user_name }}</span><span class="phone">{{ orderDetail.phone }}</span>
						<p class="address">{{ orderDetail.address }}</p>
					</div>
				</div>
			</div>
			<template v-else>
				<div class="express" v-if="orderDetail.order_status > 3">
					<h3 class="title">物流跟踪</h3>
					<div class="content" v-if="orderDetail.express_company == '商家直送'">
						<p class="caption"><span class="label">商家直送</span>{{ product.supplier.name }} <span class="phone" v-if="product.supplier.phone">{{ product.supplier.phone }}</span></p>
					</div>
					<div class="content" v-else>
						<template v-if="orderDetail.express_number.length !== 0">
							<p class="caption">{{ orderDetail.express_company }}－单号－{{ orderDetail.express_number }}
								<span class="express-api">信息由 快递鸟 提供</span>
							</p>
							<ul class="thead">
								<li>处理时间</li>
								<li>到达</li>
							</ul>
							<ul class="tbody" v-if="expressTraces.length !== 0">
								<li v-for="traces in expressTraces">
									<span class="time">{{ traces.AcceptTime }}</span>
									<span class="info">{{ traces.AcceptStation }}</span>
								</li>
							</ul>
							<span class="no-news" v-else>暂无物流消息</span>
						</template>
						<span class="no-news no-express" v-else>快递单号信息还未上传，我们会尽快处理！</span>
					</div>
				</div>
				<div class="consignee">
					<h3 class="title">收件人信息</h3>
					<div class="content">
						<div class="info">
							<span class="name" v-if="orderDetail.contact_user_name">{{ orderDetail.contact_user_name }}</span><span class="phone">{{ orderDetail.phone }}</span>
							<p class="address">{{ orderDetail.address }}</p>
						</div>
					</div>
				</div>
			</template>
			<div class="goods">
				<h3 class="title">产品信息</h3>
				<div class="content">
					<div class="thumb">
						<a v-link="'/goods?id=' + orderDetail.product_name_group_id"><img :src="orderDetail.default_image + '|imageView2/1/w/146/h/218'" alt="产品名" /></a>
					</div>
					<div class="info">
						<h4 class="caption"><a v-link="'/goods?id=' + orderDetail.product_name_group_id">{{ product.name }}</a></h4>
						<ul class="list">
							<li v-for="(key, val) in category.sizes" v-if="key == product.size">尺寸：{{ val }}<span class="color">颜色：<span class="color-box" v-bind:style="{ backgroundColor: orderDetail.product_rgb}"></span></span></li>
							<li>时间：{{ orderDetail.rent_days }}天 <span class="remark">({{ orderDetail.rent_start_date }}~{{ orderDetail.rent_end_date }})</span></li>
							<li v-for="item in supplier" v-if="item.id == product.supplier_id">商家：{{ item.name }} <span class="phone" v-if="item.phone">（{{ item.phone }}）</span> <span class="address">{{ item.address }}</span></li>
							<li v-if="orderDetail.remarks == null">备注：无~</li>
							<li v-else>备注：{{ orderDetail.remarks }}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order">
				<h3 class="title">订单信息</h3>
				<div class="content">
					<ul class="info">
						<li>
							<span class="label">订  单  号：</span>
							{{ orderDetail.order_number }}
						</li>
						<li>
							<span class="label">下单时间：</span>
							{{ orderDetail.created_at }}
						</li>
						<li>
							<span class="label">租金：</span>
							<span class="{{ orderDetail.order_status == 1 ? 'no-pay' : '' }}">
								<template v-if="orderDetail.rent_days == '4'">¥{{ product.four_day_rent_price }}</template><template v-else>¥{{ product.eight_day_rent_price }}</template><span v-if="orderDetail.order_status == 1">尚未支付</span>
							</span>
						</li>
						<li>
							<span class="label">优惠券：</span>
							<template v-if="orderDetail.coupon_name">{{ orderDetail.coupon_name }}</template>
							<template v-else>未使用</template>
						</li>
						<li>
							<span class="label">押金：</span>
							<span v-if="orderDetail.order_status == 15 || orderDetail.order_status == 1" class="no-pay">¥{{ orderDetail.actual_deposit }}<span>尚未支付</span></span>
							<span v-else>¥{{ product.deposit }}</span>
						</li>
						<li>
							<span class="label">支付方式：</span>
							{{ orderDetail.payment_method }}
						</li>
						<li>
							<span class="label">订单金额：</span>
							<span class="{{ orderDetail.order_status == 1 ? 'no-pay' : '' }}">¥{{ orderDetail.rent_price }}<span v-if="orderDetail.order_status == 1">尚未支付</span></span>
						</li>
						<li>
							<span class="label">订单状态：</span>
							<template v-if="orderDetail.order_status == 1">未支付</template>
							<template v-if="orderDetail.order_status == 2">订单已支付押金，等待发货</template>
							<template v-if="orderDetail.order_status == 3">升级更换</template>
							<template v-if="orderDetail.order_status == 4">已发货</template>
							<template v-if="orderDetail.order_status == 5">已收货</template>
							<template v-if="orderDetail.order_status == 6">返还中</template>
							<template v-if="orderDetail.order_status == 7">已完成</template>
							<template v-if="orderDetail.order_status == 8">售后服务</template>
							<template v-if="orderDetail.order_status == 9">已取消</template>
							<template v-if="orderDetail.order_status == 10">已申请取消订单</template>
							<template v-if="orderDetail.order_status == 11">处理取消订单申请中</template>
							<template v-if="orderDetail.order_status == 12">拒绝取消订单</template>
							<template v-if="orderDetail.order_status == 13">订单已取消</template>
							<template v-if="orderDetail.order_status == 14">订单已升级更新</template>
							<template v-if="orderDetail.order_status == 15">订单预定中，发货前请支付押金</template>
							<template v-if="orderDetail.order_status == 16">订单已支付押金，等待自提</template>
						</li>
					</ul>
				</div>
			</div>
			<div class="btn-wrap">
				<template v-if="orderDetail.order_status == 1">
					<a v-link="'/pay?order_id=' + orderDetail.id" class="submit-btn">立即支付</a>
					<a @click="cancelOrder">取消订单</a>
				</template>
				<template v-if="orderDetail.order_status == 2">
					<a @click="cancelOrder" class="submit-btn">取消订单</a>
				</template>
				<template v-if="orderDetail.order_status == 3">
					<a v-link="'/home?order_id=' + orderDetail.id" class="submit-btn">升级更换</a>
					<a v-link="'/after-sale'">申请退款</a>
				</template>
				<template v-if="orderDetail.order_status == 4">
					<a @click="confirmGoods" class="submit-btn">确认收货</a>
				</template>
				<template v-if="orderDetail.order_status == 5">
					<a v-link="'/order-comment?order_id=' + orderDetail.id + '&amp;product_id=' + orderDetail.product_name_group_id" class="submit-btn">晒单</a>
					<a v-link="'/return-goods?order_number=' + orderDetail.order_number + '&amp;order_id=' + orderDetail.id">返还商品</a>
					<a v-link="'/after-sale'">申请售后</a>
				</template>
				<template v-if="orderDetail.order_status == 6">
					<a v-link="'/after-sale'" class="submit-btn">联系客服</a>
				</template>
				<template v-if="orderDetail.order_status == 7 || orderDetail.order_status == 8">
					<a v-link="'/after-sale'" class="submit-btn">联系客服</a>
					<a @click="deleteOrder">删除订单</a>
				</template>
				<template v-if="orderDetail.order_status == 12">
					<a v-link="'/see-why'" class="submit-btn">查看原因</a>
					<a @click="deleteOrder">删除订单</a>
				</template>
				<template v-if="orderDetail.order_status == 15">
					<a v-link="'/pay-deposit?id=' + orderDetail.id" class="submit-btn">支付押金</a>
					<a @click="cancelOrder">取消订单</a>
				</template>
				<template v-if="orderDetail.order_status == 16">
					<a @click="getGoods" class="submit-btn">拿到产品</a>
					<a @click="cancelOrder" class="cancel-order">取消订单</a>
				</template>
				<template v-if="orderDetail.order_status == 9 || orderDetail.order_status == 13">
					<a @click="deleteOrder">删除订单</a>
				</template>
				<div class="discount">
					（取消订单政策
					<div class="icon">
						<span class="com-icon"></span>
						<div class="info">
							<p>预定时间24小时内取消订单扣除全款，7天以内取消扣除订单额20%，提前一周以上免费取消！ 详细可查看<a v-link="'/service/problem'">&lt;常见问题&gt;</a></p>
						</div>
					</div>
					）
				</div>
			</div>
		</div>
		<m-cancel-order></m-cancel-order>
		<m-delete-order></m-delete-order>
		<m-confirm-goods></m-confirm-goods>
	</div>
</template>

<script>
	import Basic from 'store/basic'
	import Popup from 'store/popup'
	import OrderDetail from 'store/order-detail'
	export default {
		name: 'm-order-detail',

		components: {
			'm-confirm-goods': require('../../../module/user/popup/confirm-goods'),
			'm-cancel-order': require('../../../module/user/popup/cancel-order'),
			'm-delete-order': require('../../../module/user/popup/delete-order')
		},

		data () {
			return {
				confirmGoodsInfo: {
					title: '确定收货？',
					content: '确认收到完好产品，请点击确认收货！',
					btn: '确定收货',
					class: 'submit-btn',
					id: this.$route.query.id,
					source: 'order-detail'
				},
				getGoodsInfo: {
					title: '确定拿到产品？',
					content: '确认拿到完好产品，请点击确认拿到产品！',
					btn: '确认拿到产品',
					class: 'submit-btn',
					id: this.$route.query.id,
					source: 'order-detail'
				},
				cancelOrderInfo: {
					id: this.$route.query.id,
					source: 'order-detail'
				},
				deleteOrderInfo: {
					id: this.$route.query.id,
					source: 'order-detail'
				}
			}
		},

		events: {
			'M__Head.userUpdated' () {
				OrderDetail.actions.initOrderDetail({
					'user_id': this.$root.user.id,
					'order_id': this.$route.query.id
				})
			}
		},

		created () {
			if (typeof(OrderDetail.state.orderDetail.product) !== 'object' && typeof(this.$root.user.id) !== 'undefined') {
				OrderDetail.actions.initOrderDetail({
					'user_id': this.$root.user.id,
					'order_id': this.$route.query.id
				})
			}
		},

		computed: {
			orderDetail () {
				let detail = OrderDetail.state.orderDetail
				return detail
			},
			expressTraces () {
				let expressTraces = OrderDetail.state.expressTraces
				return expressTraces
			},
			product () {
				let product = OrderDetail.state.product
				return product
			},
			category () {
				return Basic.state.category
			},
			supplier () {
				return Basic.state.supplier
			}
		},

		methods: {
			cancelOrder () {
				Popup.state.cancelOrder.args = this.cancelOrderInfo
				Popup.state.cancelOrder.show = true
			},
			deleteOrder () {
				Popup.state.deleteOrder.args = this.deleteOrderInfo
				Popup.state.deleteOrder.show = true
			},
			confirmGoods () {
				Popup.state.confirmGoods.args = this.confirmGoodsInfo
				Popup.state.confirmGoods.show = true
			},
			getGoods () {
				Popup.state.confirmGoods.args = this.getGoodsInfo
				Popup.state.confirmGoods.show = true
			},
			notPay () {
				let charge = this.orderDetail.pingxx_ch
				if (this.orderDetail.paid_method == 'alipay_pc_direct') {
					Popup.state.commonInfo.single = '即将跳转到支付页面，请等待！'
					Popup.state.commonInfo.show = true
					pingppPc.createPayment(charge, (result, err) => {
						Popup.state.commonInfo.single = '跳转支付页面失败！'
						Popup.state.commonInfo.show = true
						console.log(err)
					})
				}
				else {
					Popup.state.commonInfo.single = '该订单是在 app 端下单，请在 app 端完成支付！'
					Popup.state.commonInfo.show = true
				}
			}
		}

	}
</script>

<style lang="stylus" scoped>
.m-order-detail
	padding 65px 0 60px
	max-width 900px
	margin 0 auto
	.container
		padding-top 59px
	.title
		margin 0
		position relative
		line-height 12px
		font-weight 700
		border-bottom 1px solid #E8E8E8
		padding 0 0 7px 10px
		font-size 12px
		&:before
			content ''
			width 4px
			height 12px
			display block
			background-color #000
			position absolute
			left 0
			top 0
	.process
		padding-left 25px
		padding-bottom 50px
		&>ul
			max-width 770px
			&:after
				content ''
				display block
				opacity 0
				clear both
				overflow hidden
				width 0
				height 0
		&.all
			&>ul
				&.order-status-1 li:first-child,
				&.order-status-2 li:nth-child(-n+2),
				&.order-status-3 li:nth-child(-n+2),
				&.order-status-14 li:nth-child(-n+2),
				&.order-status-16 li:nth-child(-n+3),
				&.order-status-4 li:nth-child(-n+3),
				&.order-status-5 li:nth-child(-n+4),
				&.order-status-6 li:nth-child(-n+5),
				&.order-status-7 li:nth-child(-n+6)
					color #000
					position relative
					z-index 1
					&:first-child
						.icon
							background-color transparent
					.icon,
					.icon:after
						background-color #000
		&.no-deposit
			&>ul
				&.order-status-1 li:first-child,
				&.order-status-15 li:nth-child(-n+2),
				&.order-status-2 li:nth-child(-n+3),
				&.order-status-16 li:nth-child(-n+3),
				&.order-status-3 li:nth-child(-n+3),
				&.order-status-14 li:nth-child(-n+3),
				&.order-status-4 li:nth-child(-n+4),
				&.order-status-5 li:nth-child(-n+5),
				&.order-status-6 li:nth-child(-n+6),
				&.order-status-7 li:nth-child(-n+7)
					color #000
					position relative
					z-index 1
					&:first-child
						.icon
							background-color transparent
					.icon,
					.icon:after
						background-color #000
			li
				width: 16%
		li
			float left
			width 20%
			color #6B6B6B
			text-align right
			&:first-child
				width 25px;
				margin-left -25px
				.icon
					background-color transparent
			.icon
				width 100%
				height 3px
				background-color #ddd
				position relative
				display block
				margin-bottom 33px
				&:after
					content ''
					width 18px
					height 18px
					display block
					position absolute
					right -9px
					top 50%
					margin-top -9px
					background-color #ddd
					border-radius: 50%
			.caption
				width 60px
				margin-right -30px
				display inline-block
				text-align center
			&.deposit-rent
				.caption
					width 100px
					margin-right -50px
	.express
		margin-bottom 22px
		.caption
			font-size 14px
			font-weight 100
			line-height 20px
			padding 18px 0 17px 11px
			margin 0
			.label
				padding-right 20px
			.phone
				padding-left 7px
		.express-api
			color #B37E79
			border-radius 8px
			background-color #F4F4F4
			padding 0 7px
			margin-left 20px
			font-size 12px
			display inline-block
		.thead
			font-size 14px
			border-top 1px solid #F4F4F4
			border-bottom 1px solid #F4F4F4
			padding 6px 0 6px 25px
			color #ACACAC
			overflow hidden
			margin-bottom 10px
			li
				float left
				width 275px
		.tbody
			color #979797
			padding-left 22px
			li
				overflow hidden
				padding 11px 0 10px
				&:last-child
					color #000
					.time:before
						background-color #000
			span
				float left
				width 275px
				line-height 12px
			.time
				padding-left 23px
				position relative
				&:before
					width 12px
					height 12px
					content ''
					display block
					background-color #979797
					border-radius: 50%
					position absolute
					left 0
					top 0
			.info
				width auto
		.no-news
			color #acacac
			border 1px dashed #acacac
			display inline-block
			margin 10px 25px
			padding 10px
			&.no-express
				margin 25px
	.consignee
		.content
			padding 34px 25px
		.info
			border 1px dashed #000
			padding 12px 28px 11px
			max-width 694px
			box-sizing border-box
			.neme, .phone
				font-size 14px
			.name + .phone
				display inline-block
				margin-left 20px
			.address
				margin 9px 0 0 0
				line-height 16px
	.goods
		padding-bottom 33px
		.content
			padding 31px 0 28px
			overflow hidden
			border-bottom 1px solid #E5E5E5
		.thumb
			float left
			max-width 73px
			a
				display: block
			img
				max-width 100%
				border 1px solid #F1F1F1
		.info
			padding-left 94px
			.caption
				font-size 15px
				margin 0 0 14px 0
				a:hover {
					color #b37e79
				}
			.list li
				padding 5px 0
				.color
					margin-left 50px
			.remark
				color #b9b9b9
				display inline-block
				margin-left 5px
			.color-box
				width 11px
				height 11px
				display inline-block
				vertical-align top
				border 1px solid #b37e79
	.order
		margin-bottom 20px
		.content
			padding 25px 0 24px
			border-bottom 1px solid #E8E8E8
			.no-pay
				color #B37E79
		.info
			overflow hidden
			li
				width 50%
				float left
				line-height 24px
				.label
					color #ACACAC
					width 72px
					display inline-block
				.no-pay
					span {
						display inline-block
						margin-left 3px
					}
	.btn-wrap
		.discount
			color #B37E79
			display block
			float right
		.icon
			position relative
			width 11px
			height 11px
			display inline-block
			.com-icon
				width 11px
				height 11px
				background-position 0 -360px
				vertical-align middle
				cursor help
				display inline-block
			&:hover .info
				display block
			.info
				position absolute
				right -12px
				bottom 100%
				padding 0 0 17px 0
				width 266px
				display none
				&:before,
				&:after
					content ''
					display block
					position absolute
					border-style solid
				&:before
					bottom 10px
					right 12px
					border-width 8px 6px 0 6px
					border-color #F0F0F0 transparent transparent transparent
				&:after
					bottom 11px
					right 13px
					border-width 7px 5px 0 5px
					border-color #FFF transparent transparent transparent
				p
					background-color #fff
					border 1px solid #F0F0F0
					padding 15px 20px 11px
					line-height 16px
					color #000
					box-shadow: 0px 2px 4px rgba(184, 184, 184, .5);
					a
						color #B37E79
						padding-left 5px
		& > .submit-btn
			color #fff
			&:hover
				color #fff
		& > a
			color #979797
			-webkit-transition all 0.3s
			-moz-transition all 0.3s
			-os-transition all 0.3s
			transition all 0.3s
			&:hover
				color #000
		& > a + a
			margin-left 30px
</style>
