<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/order-detail?id=' + orderDetail.id">详情</a></li>
			<li>支付押金</li>
		</ul>
		<div class="container" v-if="orderDetail.length !== '0'">
			<div class="order-info">
				<div class="thumb">
					<img :src="orderDetail.default_image + '|imageView2/1/w/248/h/368'" alt="产品图片">
				</div>
				<div class="info">
					<h2 class="title">{{ product.name }}</h2>
					<span class="deposit">已支付定金 ￥{{ orderDetail.rent_price }}</span>
				</div>
			</div>
			<div class="price-wrap">
				<span>需支付押金：<span class="bold">￥{{ product.deposit }}</span></span>
			</div>
			<div class="payment">
				<p class="hint"><span>支付限额提示：</span>微信支付限额取决于商品类别与发卡银行，虚拟类单笔限额在 1,000-3,000 元之间，实物类在 10,000-50,000 元，具体由发行卡决定，用户可以在绑定银行卡后，查看该行的具体限额。支付宝移动快捷限额取决于付款方式。银联的支付限额取决于你的商户类型，从 500-10,000 元不等，企业网银支付无限额。</p>
				<ul class="radio-box">
					<li>
						<label>
							<input type="radio" name="payment" v-model="paid_method" value="alipay_pc_direct"  checked="checked" />
							<span class="com-icon"></span>
							<div class="label">支付宝支付</div>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="payment" v-model="paid_method" value="wx_pub_qr" />
							<span class="com-icon"></span>
							<div class="label">微信支付</div>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="payment" v-model="paid_method" value="upacp_pc" />
							<span class="com-icon"></span>
							<div class="label">银联支付</div>
						</label>
					</li>
				</ul>
			</div>
			<div class="btn-wrap">
				<a class="submit-btn" @click="pay">支付押金</a>
			</div>
		</div>
		<div class="zhifu"></div>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	import User from 'store/user'
	import OrderDetail from 'store/order-detail'
	export default {
		name: 'm-paid-deposit',

		data () {
			return {
				paid_method: ''
			}
		},

		events: {
			'M__Head.userUpdated' () {
				OrderDetail.actions.initOrderDetail({
					'user_id': this.$root.user.id,
					'order_id': this.$route.query.id
				})
			}
		},

		created () {
			if (typeof(OrderDetail.state.orderDetail.product) !== 'object' && typeof(this.$root.user.id) !== 'undefined') {
				OrderDetail.actions.initOrderDetail({
					'user_id': this.$root.user.id,
					'order_id': this.$route.query.id
				})
			}
		},

		computed: {
			orderDetail () {
				let detail = OrderDetail.state.orderDetail
				return detail
			},
			product () {
				let product = OrderDetail.state.product
				return product
			}
		},

		methods: {
			pay () {
				if (this.paid_method == 'wx_pub_qr' || this.paid_method == 'upacp_pc') {
					Popup.state.commonInfo.single = '支付渠道暂未开通！'
					Popup.state.commonInfo.show = true
					Basic.actions.loadEnd()
					return false
				}
				User.actions.payDeposit({
					'order_id': this.orderDetail.id,
					'user_id': this.$root.user.id,
					'paid_method': this.paid_method,
        			'call_back': window.location.origin + window.location.pathname + '#!/pay-deposit-feedback',
					'after': (data) => {
						if (data.order.order_status !== 15) {
							User.actions.initOrder({
								id: this.$root.user.id
							})
							Popup.state.commonInfo.single = '押金已支付!'
							Popup.state.commonInfo.show = true
							return false
						}
						Popup.state.commonInfo.single = '即将跳转到支付页面，请等待！'
						Popup.state.commonInfo.show = true
						pingppPc.createPayment(data.ch, (result, err) => {
							Popup.state.commonInfo.single = '跳转支付页面失败！'
							Popup.state.commonInfo.show = true
						})
					}
				})
			}
		}

	}
</script>

<style lang="stylus" scoped>
.m-paid-deposit
	padding 65px 0 60px
	max-width 900px
	margin 0 auto
	.container
		padding-top 59px
	.order-info
		padding-bottom 21px
		.thumb
			max-width 124px
			margin 0 auto
			border 1px solid #F1F1F1
			img
				max-width 100%
		.title
			text-align center
			font-size 15px
			margin 25px 0 13px
		.deposit
			color #969696
			font-size 12px
			text-align center
			display block
	.price-wrap
		font-size 15px
		border-top 1px solid #ddd
		text-align right
		padding-right 31px
		line-height 62px
		.bold
			font-size 20px
			font-weight bold
	.payment
		padding 24px 0 31px
		text-align right
		font-size 15px
		border-top 1px solid #ddd
		.radio-box
			display inline-block
			text-align left
			padding-right 30px
			li
				padding 5px 0 6px
		.hint
			max-width 453px
			border-radius 3px
			background-color #F6F6F6
			margin 9px 0 0 153px
			float left
			line-height 18px
			padding 16px 20px 9px
			font-size 12px
			text-align left
			box-sizing border-box
			span
				color #B37E79
	.btn-wrap
		text-align right
</style>
