<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/user/order'">订单</a></li>
			<li>返还商品</li>
		</ul>
		<div class="container">
			<div class="succeed">
				<span class="com-icon succeed-icon"></span>
				提交成功！3s后返回订单
				<a @click="goOrderDetail" class="back-link">手动跳转</a>
			</div>
		</div>
	</div>
</template>

<script>
	export default {

		ready () {
			setTimeout(() => {
				this.goOrderDetail()
			}, 3000)
		},

		methods: {
			goOrderDetail () {
				this.$route.router.go('/order-detail?id=' + this.$route.query.id)
			}
		},

		name: 'p-return-submit-succeed'
	}
</script>

<style lang="stylus" scoped>
.p-return-submit-succeed
	padding 65px 0 50px
	max-width 900px
	margin 0 auto
	.container
		text-align left
		color #959595
		padding-top 32px
		.succeed
			color #BBBBBE
			padding-left 50px
			position relative
			line-height 29px
			.succeed-icon
				width 29px
				height 29px
				display block
				position absolute
				left 0
				top 50%
				margin-top -14px
				background-position -60px -150px
			.back-link
				display inline-block
				margin-left 25px
				color #000
</style>
