<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/user/order'">订单</a></li>
			<li>返还商品</li>
		</ul>
		<div class="container">
			<div class="express-form">
				<form>
					<ul class="input-list">
						<li>
							<span class="label">订单号</span>
							<input placeholder="示例：123124124" type="text"  name="order-number" v-model="order_number" />
						</li>
						<li>
							<span class="label">快递方式</span>
							<select name="express-type" v-model="express_company">
								<option value="STO" selected>申通快递</option>
								<option value="YTO">圆通快递</option>
								<option value="SF">顺丰快递</option>
								<option value="YD">韵达快递</option>
								<option value="ZTO">中通快递</option>
								<option value="EMS">EMS</option>
								<option value="ZJS">宅急送</option>
							</select>
						</li>
						<li>
							<span class="label">快递单号</span>
							<input placeholder="请输入快递单号" type="text"  name="express-number" v-model="express_number" />
						</li>
					</ul>
					<p class="remark">提示：商家收到产品后会主动联系您，并退还您的押金，请耐心等待！</p>
					<div class="btn-wrap">
						<input type="button" class="submit-btn" value="提交返还" @click="putRefund" />
					</div>
				</form>
			</div>
			<div class="company-address">
				<div class="title">
					<span class="company">公司名称</span>
					<span class="phone">012－2398998</span>
				</div>
				<span class="address"><span class="com-icon address-icon"></span>北京市朝阳区东花市北里20号楼6单元501室</span>
				<p class="remark">请打包好产品，确保产品无损坏，并邮寄给以上地址，商家收到产品会主动与您联系！</p>
			</div>
		</div>
	</div>
</template>

<script>
	import Api from 'api'
	import User from 'store/user'
	import Popup from 'store/popup'
	export default {
		name: 'p-return-goods',

		data () {
			return {
				order_id: '',
				order_number: '',
				express_company: '',
				express_number: ''
			}
		},

		ready () {
			let $ = window.$
			$('select').uniform()
			if (this.$route.query.order_number) {
				this.order_id = this.$route.query.order_id
				this.order_number = this.$route.query.order_number
			}
		},

		methods: {
			putRefund () {
				if (this.order_id.length == 0) {
					Popup.state.commonInfo.single = '请填写订单号！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.express_number.length == 0) {
					Popup.state.commonInfo.single = '请填快递单号！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.order_id.length !== 0 && this.express_number.length !== 0) {
					User.actions.putRefund({
						'order_id': this.order_id,
						'express_company': this.express_company,
						'express_number': this.express_number,
						'after': () => {
							this.$route.router.go('/return-submit-succeed?id=' + this.order_id)
						}
					})
				}
			}
		}
	}
</script>

<style lang="stylus" scoped>
.p-return-goods
	padding 65px 0 59px
	max-width 900px
	margin 0 auto
	.container
		text-align left
		padding-top 25px
		overflow hidden
		.express-form
			width 352px
			float left
			padding 0 70px 0 2px
			.input-list
				margin-bottom 29px
				&>li
					border-bottom 1px solid #e8e8e8
					padding 16px 0 10px 70px
					position relative
					input
						border 0
						width 100%
						color #000
						font-size 12px
						line-height 12px
					&:before
						content ''
						height 1px
						background-color #000
						position absolute
						bottom -1px
						width 0
						left 50%
					&:hover:before
						left 0
						width 100%
						transition all .3s
					.label
						width 70px
						color #BBBBBE
						float left
						padding-left 2px
						margin-left -70px
			.submit-btn
				border-radius: 1px
				margin-top 32px
		.company-address
			width 283px
			float left
			padding 18px 20px 21px
			background-color #FAFAFA
			margin-top 17px
			.title
				overflow hidden
				line-height 16px
				margin-bottom 5px
				.company
					display block
					padding-right 90px
					float left
				.phone
					float right
					margin-left -100%
			.address
				padding-left 12px
				position relative
				line-height 16px
				padding-bottom 15px
				margin-bottom 15px
				border-bottom 1px solid #ECECEC
				display block
			.address-icon
				width 7px
				height 11px
				display block
				position absolute
				left 0
				top 2px
				background-position -120px -30px
		.remark
			color #BBBBBE
			line-height 16px
			margin 0
</style>
