<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/user/order'">订单</a></li>
			<li>查看原因</li>
		</ul>
		<div class="container">
			<i class="com-icon"></i>
			<span class="phone">由于产品不符合退货条件，退货申请失败！</span>
			<span class="time">如有任何疑问，请致电客服咨询，客服联系方式：400-1231-3214</span>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'p-user-see-why'
	}
</script>

<style lang="stylus" scoped>
.p-user-see-why
	padding 65px 0 50px
	max-width 900px
	margin 0 auto
	.container
		max-width 350px
		text-align center
		color #959595
		margin 0 auto
		padding-top 61px
		.com-icon
			width 66px
			height 66px
			display block
			margin 0 auto 20px
			background-position -210px -360px
		span
			display block
		.remark
			margin-bottom 25px
		.phone
			color #151515
			display block
			font-size 14px
			line-height 21px
			padding-bottom 31px
			margin-bottom 26px
			border-bottom 1px solid #ddd
</style>
