<template>
	<div :class="$options.name">
		<div>
			<div class="no-orders" v-if="orderList == ''">
				<p><span class="com-icon"></span>还没有订单！</p>
			</div>
			<div class="list" v-else>
				<ul class="order-list">
					<m-user-order-card
						v-for="order in orderList"
						:order="order"
						:index="$index">
					</m-user-order-card>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
	import User from 'store/user'
	export default {
		components: {
			'm-user-order-card': require('../../../module/user/order-card')
		},

		data () {
			return {
				orders: [],
				newsOrders: []
			}
		},

		computed: {
			orderList () {
				let list = User.state.order,
					newList = []
				for (let i = 0, j = list.length; i < j; i++) {
					let status = list[i].order_status
					if (status < 7 || status == 14 || status == 15 || status == 16) {
						newList.push(list[i])
					}
				}
				newList.reverse()
				return newList
			}
		},

		name: 'p-user-order-unpaid'
	}
</script>

<style lang="stylus" scoped>
.p-user-order-unpaid
	&:after
		clear both
		content ''
		display table
	.x
		padding-top 64px
	.x1
		padding-left 20px
		width 244px
	.x2
		width 696px
	.no-orders
		padding-top 51px
		p
			position relative
			padding-left 65px
			color #9C9C9C
			font-size 18px
		.com-icon
			width 54px
			height 40px
			background-position -30px -360px
			position absolute
			top 50%
			left 0
			margin-top -20px
</style>
