<template>
	<div :class="$options.name">
		<div class="logo">
			<img src="../../img/logo@2x.png" height="14" width="63" alt="RentVogue">
		</div>
		<m-goods-detail :goods="goods"></m-goods-detail>
		<m-goods-comment :comment="comment"></m-goods-comment>
	</div>
</template>

<script>
	import Basic from 'store/basic'
	import Api from 'api'
	import Goods from 'store/goods'
	export default {
		components: {
			'm-goods-detail': require('../../module/share/goods-detail'),
			'm-goods-comment': require('../../module/share/goods-comment')
		},

		data () {
			return {
				goodsId: [],
				goods: {},
				comment: {}
			}
		},

		created () {
			let $ = window.$
			let windowW = parseInt($(window).width())
			this.goodsId = this.$route.query.id
			if (windowW > 768) {
				this.$route.router.go('/goods?id=' + this.goodsId)
				return false
			}
			Basic.actions.initCategory()
			this.getGoods(this.goodsId)
		},

		methods: {
			getGoods (goodsId) {
				Api.getGoods({
					data: {
						'goods_id': goodsId
					},
					success: res => {
						this.goods = res.data.data
						this.$broadcast('p-share-goods.success')
						let product_category = Basic.state.category.product_category
						let brandId = ''
						for (let key in product_category) {
							if (product_category[key].name == this.goods.product_category) {
								brandId = key
							}
						}
						Goods.actions.initBrandIntr({
							brand_id: brandId
						})
					},
					error: res => {
					}
				})
				Api.getGoodsComment({
					data: {
						'goods_id': goodsId
					},
					success: res => {
						this.comment = res.data.data
					},
					error: res => {
					}
				})
			}
		},

		name: 'p_share-goods'
	}
</script>

<style lang="stylus" scoped>
.p_share-goods
	.logo
		line-height 91px
		padding-left 27px
</style>
