<template>
	<div :class="$options.name">
		<div class="container">
			<div class="banner">
				<img src="../../img/temp/share.jpg" />
				<div class="title-wrap">
					<img class="logo" src="../../img/share-logo@2x.png" />
					<h2 class="title">领取优惠券</h2>
					<h3 class="subtitle">婚纱租赁体验</h3>
				</div>
			</div>
			<div class="content">
				<h2 class="title">——邀请返利——</h2>
				<div class="intro">
					<div class="wrap">
						<h3>活动说明：</h3>
						<ul>
							<li>1.邀请好友成功注册，即得¥100全场通用券</li>
							<li>2.注册的好友也会得到总值¥6000优惠券（分别价值¥5000、¥700、¥300）</li>
							<li>以下输入手机号，赶紧加入拿优惠</li>
						</ul>
					</div>
				</div>
				<div v-if="success" class="success">
					<input type="button" class="btn" value="下载客户端" @click="goDownload">
					<a class="goback" v-link="/home">跳转到首页</a>
				</div>
				<div v-else class="get-coupon">
					<div class="input-wrap">
						<span class="com-icon"></span>
						<input type="text" name="phont" :placeholder="placeholder" v-model="phone">
						<span class="error" v-show="errorShow">请输入正确的手机号码</span>
					</div>
					<input type="button" class="btn" name="submit" value="领取优惠券" @click="getCoupon">
				</div>
				<div class="download">
					<span>下载 Rentvogue婚纱租赁APP</span>
					<img src="../../img/app-qr.png" alt="app下载" class="qr-code" />
				</div>
			</div>
		</div>
		<div class="copyright">沪ICP备15051705号-1 © copyright rentvogue 2015</div>
	</div>
	<m-com-popup></m-com-popup>
</template>

<script>
	import Popup from 'store/popup'
	import Api from '../../api'
	export default {
		name: 'p-share',

		components: {
			'm-com-popup': require('../../module/popup/com-popup')
		},

		data () {
			return {
				placeholder: '您的手机号',
				errorShow: false,
				phone: '',
				group: '3f147f435a0508862186a2495c9868ed',
				invite: '',
				success: false
			}
		},

		created () {
			this.invite = this.$route.query.invite
		},

		methods: {
			getCoupon () {
				let telReg = !!this.phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				if (telReg) {
					this.errorShow = false
					Api.getCoupon({
						data: {
							'cell_phone': this.phone,
							'group': this.group,
							'invite': this.invite
						},
						success: res => {
							Popup.state.commonInfo.single = '恭喜您，成功获得优惠券'
							Popup.state.commonInfo.show = true
							this.success = true
						},
						error: res => {
							Popup.state.commonInfo.more.title = '获取优惠券失败'
							Popup.state.commonInfo.more.list.push(res.data.message)
							Popup.state.commonInfo.show = true
						}
					})
				}
				else {
					this.errorShow = true
				}
			},
			goDownload () {
				location.href = 'http://fir.im/RentVogueiOS'
			}
		}
	}
</script>

<style lang="stylus" scoped>
.p-share
	padding-top 32px
	.container
		.banner
			position relative
			max-width 960px
			margin 0 auto
			& > img
				max-width 100%
		.title-wrap
			width 100%
			padding-top 110px
			position absolute
			top 50%
			color #fff
			transform translateY(-50%)
			text-align center
			box-sizing border-box
			.logo
				max-width 136px
				display block
				margin 0 auto 60px
			.title
				font-size 20px
				font-weight 100
				border-top 1px solid #fff
				border-bottom 1px solid #fff
				display inline-block
				padding 9px 19px
				margin 0 0 8px
			.subtitle
				font-size 14px
				display block
				font-weight 100
				margin 0
				opacity .75
	.content
		text-align center
		.title
			font-size 24px
			font-weight 100
		.intro
			border-top 1px solid #ddd
			padding 32px 0
			.wrap
				display inline-block
				text-align left
			h3
				font-size 18px
				font-weight 100
				margin 0 0 12px
			li
				line-height 20px
				font-size 14px
		.success
			.btn
				margin-bottom 30px
			.goback
				margin-bottom 40px
				color #B37E79
		.get-coupon
			border-top 1px solid #ddd
			padding 50px 0
			.input-wrap
				width 282px
				position relative
				border-bottom 1px solid #ddd
				padding 10px 0 11px 27px
				text-align left
				margin 0 auto
				input
					color #87888C
					line-height 14px
				::-webkit-input-placeholder
					color #87888C
				:-moz-placeholder
					color #87888C
				::-moz-placeholder
					color #87888C
				:-ms-input-placeholder
					color #87888C
				:placeholder
					color #87888C
				&:after
					content ''
					height 1px
					background-color #000
					position absolute
					bottom -1px
					width 0
					left 50%
				&:hover:after
					width 100%
					left 0
					transition all .3s
				.error
					display block
					position absolute
					top 100%
					padding-top 10px
					color #B37E79
			.com-icon
				width 10px
				height 14px
				background-position 0 0
				display block
				position absolute
				top 50%
				left 0
				margin-top -7px
		.btn
			width 282px
			display block
			background-color #B37E79
			line-height 50px
			border-radius 40px
			color #fff
			cursor pointer
			margin 33px auto 0
			-webkit-appearance: none
			&:hover
				background-color #8E5651
				transition background 0.3s
		.download
			text-align center
			padding-bottom 60px
			width 282px
			margin 0 auto
			span
				display block
				margin-bottom 28px
			.qr-code
				display block
				margin 0 auto
				max-width 82px
	.copyright
		border-top 1px solid #ececec
		color #b9b9b9
		font-size 10px
		height 41px
		padding-top 15px
		text-align center
		background-color #F7F7F7


@media only screen and (min-width 415px)
	.p-share
		margin-bottom -214px

@media only screen and (max-width 960px)
	.p-share
		padding-top 15px
		.container
			padding 0 15px
			.title-wrap
				padding-top 0

@media only screen and (max-width 568px)
	.p-share
		.container
			.title-wrap
				.logo
					margin 0 auto 20px
				.title
					font-size 16px
					padding 5px 15px
				.subtitle
					font-size 12px
		.content
			.title
				font-size 18px
			.intro
				padding 15px 0
				h3
					font-size 14px
				li
					font-size 12px
					line-height 16px
			.get-coupon
				padding 25px 0
				.input-wrap
					width 250px
				.btn
					width 250px
					margin-top 30px
			.download
				width 250px
				padding-bottom 30px
				span
					margin-bottom 15px
	.goback
		display none

</style>
