<template>
	<div :class="$options.name">
		<m-head></m-head>
		<p-guide></p-guide>
		<m-foot></m-foot>
	</div>
</template>

<script>
	export default {
		components: {
			'm-head': require('../module/head'),
			'p-guide': require('../page/guide'),
			'm-foot': require('../module/foot')
		},
		name: 'l-index'
	}
</script>

<style src="../style/reset.styl" lang="stylus"></style>
