<template>
	<div :class="$options.name">
		<m-head></m-head>
		<div class="w y">
			<slot><router-view></router-view></slot>
		</div>
		<m-foot></m-foot>
	</div>
</template>

<script>
	export default {
		components: {
			'm-head': require('../module/head'),
			'm-foot': require('../module/foot')
		},
		name: 'l-index'
	}
</script>

<style src="../style/reset.styl" lang="stylus"></style>
