<template>
	<div :class="$options.name">
		<l-parent>
			<m-nav class="x"></m-nav>
			<div class="content x">
				<router-view></router-view>
			</div>
		</l-parent>
	</div>
</template>

<script>
	export default {
		components: {
			'l-parent': require('../layout'),
			'm-nav': require('../module/nav/service')
		},
		name: 'l-service'
	}
</script>

<style lang="stylus" scoped>
.l-service
	.x
		padding-top 64px
	.content
		width 696px
</style>
