<template>
	<div :class="$options.name">
		<m-main>
			<m-alipay slot="body"></m-alipay>
		</m-main>
	</div>
</template>

<script>
	export default {
		components: {
			MMain: require('../../m/Main'),
			MAlipay: require('../../m/goods/Alipay')
		},
		name: 'B__WechatPay'
	}
</script>

<style lang="stylus" scoped>
.B__WechatPay
	font-size 12px
</style>
