<template>
	<div :class="$options.name">
		<m-main>
			<m-goods slot="body"></m-goods>
		</m-main>
	</div>
</template>

<script>
    import GoodsDetail from 'store/goods-detail'
	export default {
		components: {
			MMain: require('../../m/Main'),
			MGoods: require('../../m/goods/Goods')
		},
		name: 'B__Goods',
        route: {
            data ({next}) {
                GoodsDetail.init(this.$route.query.id, next)
            }
        }
	}
</script>

<style lang="stylus" scoped>
.B__Goods
	font-size 12px
</style>
