<template>
	<div :class="$options.name">
		<m-main>
			<m-pay-feedback slot="body"></m-pay-feedback>
		</m-main>
	</div>
</template>

<script>
	export default {
		components: {
			MMain: require('../../m/Main'),
			MPayFeedback: require('../../m/goods/PayFeedback')
		},
		name: 'B__PayFeedback'
	}
</script>

<style lang="stylus" scoped>
.B__PayFeedback
	font-size 12px
</style>
