<template>
	<div :class="$options.name">
		<m-main>
			<m-submit-order slot="body"></m-submit-order>
		</m-main>
	</div>
</template>

<script>
	export default {
		components: {
			MMain: require('../../m/Main'),
			MSubmitOrder: require('../../m/goods/SubmitOrder')
		},
		name: 'B__Submit'
	}
</script>

<style lang="stylus" scoped>
.B__Submit
	font-size 12px
</style>
