<template>
	<li class="item">
		<div class="cover">
			<img :src="item.img + '|imageView2/1/w/290/h/434'" :alt="item.name">
		</div>
		<span class="collect-icon g-icon{{ item.is_favorite == 1 || $route.fullPath == '/user/collects'? ' active' : '' }}"></span>
		<h3 class="title">{{ item.name }}</h3>
		<span class="price">￥{{ item.price }}</span>
	</li>
</template>

<script>
	export default {
		name: 'item-goods',

		props: ['item']
	}
</script>

<style lang="sass" scoped>
.item {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	text-align: center;
	border: 1px solid #F0F0F0;
	box-sizing: border-box;
	padding: 10px 5px 13px 10px;
	box-sizing: border-box;
	position: relative;
	&:nth-child(2n) {
		border-left: none;
		padding: 10px 10px 13px 6px;
	}
	.cover {
		padding-bottom: 8px;
	}
	.title {
		color: #959595;
		font-size: 10px;
		line-height: 14px;
		margin-bottom: 6px;
	}
	.price {
		line-height: 16px;
		font-size: 12px;
		color: #000;
		font-weight: bold;
	}
	.collect-icon {
		position: absolute;
		right: 18px;
		top: 15px;
	}
}
</style>
