<template>
	<div class="section-search">
		<div class="search-header">
			<div class="loading" :style="'width: ' + loading.width + '%'" v-if="loading.show"></div>
			<span @click="goBack" class="go-back"><span class="g-icon back-icon"></span></span>
			<div class="search-input">
				<input type="text" name="search" v-model="search" placeholder="输入关键词" @click="showhot"/>
			</div>
			<span class="filter-btn" @click="showMenu"><span class="g-icon filter-icon"></span></span>
		</div>
		<div class="filter-menu">
			<div class="item">
				<div class="title-wrap" @click="showList">
					<h3 class="title">分类</h3>
					<template v-if='category.length > 0'>
						<span v-for="(key, value) in categories.usage_categories" v-if="key == category">{{ value }}</span>
					</template>
					<span class="g-icon" v-else></span>
				</div>
				<ul class="list">
					<li v-for="(key, value) in categories.usage_categories" @click="hideList">
						<label>
							<input type="radio" name="category" v-model="category" value="{{ key }}" />
							<span>{{ value }}</span>
						</label>
					</li>
				</ul>
			</div>
			<div class="item">
				<div class="title-wrap" @click="showList">
					<h3 class="title">尺码</h3>
					<template v-if='size.length > 0'>
						<span v-for="(key, value) in categories.sizes" v-if="key == size">{{ value }}</span>
					</template>
					<span class="g-icon" v-else></span>
				</div>
				<ul class="list">
					<li v-for="(key, value) in categories.sizes" @click="hideList">
						<label>
							<input type="radio" name="size" v-model="size" value="{{ key }}" />
							<span>{{ value }}</span>
						</label>
					</li>
				</ul>
			</div>
			<div class="item">
				<div class="title-wrap" @click="showList">
					<h3 class="title">使用场景</h3>
					<template v-if='occasion.length > 0'>
						<span v-for="item in categories.occasions" v-if="$key == occasion">{{ item.name }}</span>
					</template>
					<span class="g-icon" v-else></span>
				</div>
				<ul class="list">
					<li v-for="item in categories.occasions" @click="hideList">
						<label>
							<input type="radio" name="occasion" v-model="occasion" value="{{ $key }}" />
							<span>{{ item.name }}</span>
						</label>
					</li>
				</ul>
			</div>
			<div class="item">
				<div class="title-wrap" @click="showList">
					<h3 class="title">价格</h3>
					<template v-if='price.length > 0'>
						<span v-for="(key, value) in prices" v-if="key == price">{{ value }}</span>
					</template>
					<span class="g-icon" v-else></span>
				</div>
				<ul class="list">
					<li v-for="(key, value) in prices" @click="hideList">
						<label>
							<input type="radio" name="price" v-model="price" value="{{ key }}" />
							<span>{{ value }}</span>
						</label>
					</li>
				</ul>
			</div>
			<div class="btn-wrap">
				<span @click="submit">开始查找</span>
				<span @click="clear">清除条件</span>
			</div>
		</div>
		<div class="search-content" v-show="showGoodsList">
			<template v-if="filterGoods.length > 0">
				<ul class="items" v-if="filterGoods">
					<item-goods v-for="item in filterGoods" :item="item"></item-goods>
				</ul>
				<span class="loading-text" v-show="filterPage.current_page < filterPage.total && !filterLoading">加载中，请稍等...</span>
				<!-- <span class="loading-text" v-show="filterPage.current_page == filterPage.total">全部结果已加载...</span> -->
			</template>
			<div class="empty-list" v-else>
				<span class="g-icon"></span>
				<span class="text">没有相关产品</span>
			</div>
		</div>
		<div class="search-tags" v-show="!showGoodsList">
			<h3 class="title">热词推荐</h3>
			<ul class="list" v-if="hotWords">
				<li v-for="item in hotWords" @click="searchHotWord(item.word)">{{ item.word }}</li>
			</ul>
		</div>
	</div>
</template>

<script>
	import Basic from '../../../store/basic'
	import User from '../../../store/user'
	import Goods from '../../../store/goods'
	export default {
		name: 'section-search',

		components: {
			'item-goods': require('./item-goods')
		},

		data () {
			return {
				showGoodsList: true,
				filterLoading: true,
				search: '',
				category: '',
				size: '',
				occasion: '',
				prices: {
					1: '小于 1000',
					2: '1000 ~ 3000',
					3: '3000 ~ 5000',
					4: '5000 以上'
				},
				price: ''
			}
		},

		events: {
			'signIn' () {
				Goods.actions.getGoodsList({
					data: {},
					from: 'filter'
				})
				Goods.actions.initHotWords()
			}
		},

		created () {
			if (typeof(User.state.user.id) !== 'undefined') {
				Goods.actions.getGoodsList({
					data: {},
					from: 'filter'
				})
				Goods.actions.initHotWords()
			}
		},

		computed: {
			loading () {
				return Basic.state.loading
			},
			categories () {
				return Basic.state.category
			},
			filterGoods () {
				return Goods.state.filterGoods
			},
			filterPage () {
				return Goods.state.filterPage
			},
			hotWords () {
				return Goods.state.hotWords
			}
		},

		ready () {
			let _this = this
			$(window).bind('scroll', () => {
				if (_this.$route.path == '/search') {
					if ($(document).scrollTop() + $(window).height() > $(document).height() - 50 && $.active <= 0) {
						if (_this.filterLoading) {
							let page = _this.filterPage.current_page + 1
							if (_this.filterPage.current_page < _this.filterPage.total) {
								_this.filterLoading = false
								let obj = {
									data: {
										page: page
									},
									after: () => {
										_this.filterLoading = true
									},
									from: 'filter'
								}
								if (this.search.length > 0) {
									obj.data.search = _this.search
								}
								if (this.category.length > 0) {
									obj.data.category = _this.category
								}
								if (this.size.length > 0) {
									obj.data.size = _this.size
								}
								if (this.occasion.length > 0) {
									obj.data.occasion = _this.occasion
								}
								if (this.price.length > 0) {
									switch (this.price) {
										case '1':
											obj.data.start_price = 1
											obj.data.end_price = 999
											break
										case '2':
											obj.data.start_price = 1000
											obj.data.end_price = 2999
											break
										case '3':
											obj.data.start_price = 3000
											obj.data.end_price = 4999
											break
										case '4':
											obj.data.start_price = 5000
											break
									}
								}
								Goods.actions.getGoodsList(obj)
							}
						}
					}
				}
			})
			$('.search-input').keypress((event) => {
				let keycode = (event.keyCode ? event.keyCode : event.which)
				if (keycode == '13') {
					_this.submit()
				}
			})
		},

		methods: {
			goBack () {
				let _this = this
				if (this.$route.fullPath == '/user/address') {
					this.$route.router.go('/user')
					return false
				}
				if (this.$route.fullPath == '/orders/:category') {
					this.$route.router.go('/user')
					return false
				}
				history.back()
			},
			showhot () {
				this.showGoodsList = false
			},
			showMenu () {
				if ($('.filter-menu').hasClass('show')) {
					$('.filter-menu').removeClass('show').slideUp(250)
					$('.filter-menu').find('.list').removeClass('show').slideUp(250)
				}
				else {
					$('.filter-menu').addClass('show').slideDown(250)
				}
			},
			showList (event) {
				if ($(event.currentTarget).next('.list').hasClass('show')) {
					$(event.currentTarget).next('.list').removeClass('show').slideUp(250)
				}
				else {
					$(event.currentTarget).next('.list').addClass('show').slideDown(250)
				}
			},
			hideList (event) {
				$(event.currentTarget).parent('.list').removeClass('show').slideUp(250)
			},
			submit () {
				var _this = this
				var obj = {
					data: {},
					from: 'filter',
					after: () => {
						_this.showGoodsList = true
					}
				}
				if (this.search.length > 0) {
					obj.data.search = _this.search
				}
				if (this.category.length > 0) {
					obj.data.category = _this.category
				}
				if (this.size.length > 0) {
					obj.data.size = _this.size
				}
				if (this.occasion.length > 0) {
					obj.data.occasion = _this.occasion
				}
				if (this.price.length > 0) {
					switch (this.price) {
						case '1':
							obj.data.start_price = 1
							obj.data.end_price = 999
							break
						case '2':
							obj.data.start_price = 1000
							obj.data.end_price = 2999
							break
						case '3':
							obj.data.start_price = 3000
							obj.data.end_price = 4999
							break
						case '4':
							obj.data.start_price = 5000
							break
					}
				}
				$('.filter-menu').removeClass('show').slideUp(250)
				Goods.actions.getGoodsList(obj)
			},
			searchHotWord (hotWord) {
				var _this = this
				var obj = {
					data: {
						search: hotWord
					},
					from: 'filter',
					after: () => {
						_this.showGoodsList = true
					}
				}
				_this.search = hotWord
				Goods.actions.getGoodsList(obj)
			},
			clear () {
				this.search = ''
				this.category = ''
				this.size = ''
				this.occasion = ''
				this.price = ''
			}
		}

	}
</script>

<style lang="sass" scoped>
.search-header {
	padding: 10px;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 50;
	height: 45px;
	text-align: center;
	border-bottom: 1px solid #F0F0F0;
	box-sizing: border-box;
	z-index: 100;
	.go-back {
		width: 45px;
		height: 45px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		padding: 16px 0 0 18px;
		box-sizing: border-box;
	}
	.back-icon {
		display: inline-block;

	}
	.search-input {
		width: 205px;
		display: inline-block;
		input {
			text-align: center;
			background-color: #EFEFEF;
			border-radius: 40px;
			line-height: 14px;
			font-size: 10px;
			padding: 5px;
			color: #000;
			box-sizing: border-box;
		}
		::-webkit-input-placeholder {
			color: #B5B5B5;
		}
		:-moz-placeholder {
			color: #B5B5B5;
		}
		::-moz-placeholder {
			color: #B5B5B5;
		}
		:-ms-input-placeholder {
			color: #B5B5B5;
		}
		:placeholder {
			color: #B5B5B5;
		}
	}
	.filter-btn {
		width: 45px;
		height: 45px;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 16px 17px 0 0;
		box-sizing: border-box;
		.filter-icon {
			width: 14px;
			height: 14px;
			background-position: -150px 0;
		}
	}
}
.filter-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, .95);
	padding: 49px 20px 8px 18px;
	border-bottom: 1px solid #ECECEC;
	box-sizing: border-box;
	display: none;
	max-height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
	z-index: 1;
	text-align: center;
	.item {
		.title-wrap {
			padding: 18px 0 8px;
			text-align: right;
			line-height: 16px;
			border-bottom: 1px solid #ECECEC;
			.title {
				float: left;
			}
			.g-icon {
				width: 12px;
				height: 12px;
				display: inline-block;
				vertical-align: middle;
				background-position: -210px -30px;
			}
		}
		.list {
			display: none;
			li {
				border-bottom: 1px solid #ECECEC;
				label {
					position: relative;
					line-height: 16px;
					padding: 8px 0;
					overflow: hidden;
					display: block;
				}
				input {
					position: absolute;
					left: 100%;
					bottom: 100%;
					opacity: 0;
				}
			}
		}
	}
	.btn-wrap {
		margin-top: 11px;
		overflow: hidden;
		display: inline-block;
		span {
			display: block;
			float: left;
			width: 88px;
			border-radius: 16px;
			line-height: 32px;
			border: 1px solid #CECECE;
			& + span {
				margin-left: 10px;
			}
		}
	}
}
.search-tags {
	color: #959595;
	padding: 69px 18px 0 19px;
	.title {
		font-size: 10px;
		margin-bottom: 14px;
		margin-left: -1px;
	}
	.list {
		text-align: center;
		&:after {
			content: '';
			width: 0;
			height: 0;
			clear: both;
			overflow: hidden;
			display: block;
		}
		li {
			width: 33.3%;
			float: left;
			line-height: 16px;
			padding: 9px 5px 10px;
			box-sizing: border-box;
			margin-left: -1px;
			margin-top: -1px;
			border: 1px solid #F0F0F0;
		}
	}

}
.search-content {
	padding-top: 44px;
	.loading-text {
		text-align: center;
		display: block;
		color: #B37E79;
		padding: 30px 20px 10px 20px;
	}
	.items {
		font-size: 0;
		letter-spacing: -4px;
	}
	.empty-list {
		text-align: center;
		padding-top: 60px;
		.g-icon {
			width: 58px;
			height: 43px;
			background-position: 0 -450px;
			display: inline-block;
			margin-left: -12px;
			margin-bottom: 10px;
		}
		.text {
			display: block;
			color: #9C9C9C;
		}
	}
}
</style>