<template>
	<div class="search-header">
		<div class="loading" :style="'width: ' + loading.width + '%'" v-if="loading.show"></div>
		<span @click="goBack" class="go-back"><span class="g-icon back-icon"></span></span>
		<div class="search-input">
			<input type="text" name="search" v-model="search" placeholder="输入关键词" />
		</div>
	</div>
</template>

<script>
	import Basic from '../../../store/basic'
	export default {
		name: 'search-header',

		data () {
			return {
				search: '',
				showHot: false
			}
		},

		computed: {
			loading () {
				return Basic.state.loading
			}
		},

		methods: {
			goBack () {
				let _this = this
				if (this.$route.fullPath == '/user/address') {
					this.$route.router.go('/user')
					return false
				}
				if (this.$route.fullPath == '/orders/:category') {
					this.$route.router.go('/user')
					return false
				}
				history.back()
			}
		}
	}
</script>

<style lang="sass" scoped>
.search-header {
	padding: 14px 18px 8px 15px;
	overflow: hidden;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 50;
	height: 45px;
	overflow: hidden;
	border-bottom: 1px solid #F0F0F0;
	box-sizing: border-box;
	.go-back {
		width: 45px;
		height: 45px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		padding: 16px 0 0 15px;
		box-sizing: border-box;
	}
	.back-icon {
		display: inline-block;

	}
}
</style>
