<template>
	<div :class="$options.name">
		<w-tab :args="menu"></w-tab>
        <div class="new" v-show="show">
            <div class="y">
               <div class="input x">
                    <span>收件人姓名</span>
                    <input name="contact_user_name" v-model='contact_user_name' placeholder="请输入"/>
                </div>
               <div class="input x">
                    <span>联系方式</span>
                    <input name="contact_user_cell_phone" v-model='contact_user_cell_phone' placeholder="请输入"/>
                </div>
            </div>
            <div class="y">
                <div class="input x">
                    <span>选择省份或城市</span>
                	<div class="selector">
    					<span>未选择</span>
						<select name="city" class="select-city" v-model="city">
							<option v-for="item in _city" value="{{ $key }}">{{ item.name }}</option>
						</select>
                	</div>
                </div>
               <div class="input x">
                    <span>选择区域</span>
                	<div class="selector">
	                	<span>未选择</span>
						<select name="district" class="select-district">
							<template v-for="item in _city" v-if="$key == city">
								<template v-if="$key == city">
									<template v-for="(key , val) in item.district">
										<option value="{{ key }}">{{ val }}</option>
									</template>
								</template>
							</template>
						</select>
					</div>
                </div>
            </div>
            <div class="input">
                <span>详细地址</span>
				<input placeholder="请输入" v-model="details" />
            </div>
            <div class="radio {{ is_default == '1' ? 'active' : '' }}" @click="setDefault">设为默认地址</div>
            <w-button @click="addAddress">保存地址</w-button>
        </div>
	</div>
</template>

<script>
	import Api from 'api'
	import Popup from 'store/popup'
	import Basic from 'store/basic'
	import User from 'store/user'
	export default {
		name: 'm-tab-user-address',

		components: {
			'w-tab': require('../../widget/tab'),
			'w-button': require('../../widget/button')
		},

		data () {
			return {
				menu: [
					{
						link: '/user/address',
						text: '＋添加新收货地址',
						click: () => {
							this.show = !this.show
							if (this.show == true) {
								this.menu[0].text = '收起'
							}
							else {
								this.menu[0].text = '＋添加新收货地址'
							}
						}
					}
				],
				show: false,
				city: '',
				district: '',
				contact_user_cell_phone: '',
				contact_user_name: '',
				details: '',
				is_default: '0'
			}
		},

		computed: {
			_city () {
				let city = User.state.cities
				return city
			}
		},

		ready () {
			(function ($) {
				$('.select-city').on('change', function(event) {
					event.preventDefault()
					let city_text = $(this).find('option:selected').text()
					let val = $(this).parents('.input').next().find('.select-district').children().eq(0).val()
					let text = $(this).parents('.input').next().find('.select-district').children().eq(0).text()
					$(this).parents('.input').next().find('.select-district').children().eq(0).val()
					$(this).parents('.input').next().find('.select-district').val(val)
					$(this).parents('.input').next().find('.selector > span').text(text)
					$(this).parent().children('span').text(city_text)
				})
				$('.select-district').on('change', function(event) {
					event.preventDefault()
					let text = $(this).find('option:selected').text()
					$(this).parent().children('span').text(text)
				})
			})(window.$)
		},

		methods: {
			addAddress(event) {
				let phone = this.contact_user_cell_phone
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				if (this.contact_user_name.length == 0) {
					Popup.state.commonInfo.single = '请输入收件人姓名！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (!telReg) {
					Popup.state.commonInfo.single = '请输入正确的手机号码！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.contact_user_name.length == 0) {
					Popup.state.commonInfo.single = '请输入收件人姓名！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.city.length == 0) {
					Popup.state.commonInfo.single = '请选择城市！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.details.length == 0) {
					Popup.state.commonInfo.single = '请输入详细地址！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.contact_user_name.length !== 0 && telReg && this.contact_user_name.length !== 0 && this.city.length !== 0 && this.details.length !== 0) {
					this.district = $(event.currentTarget).parent().find('.select-district').val()
					User.actions.addAddress({
						'token': this.$root.token,
						'user_id': this.$root.user.id,
						'city': this.city,
						'district': this.district,
						'contact_user_cell_phone': this.contact_user_cell_phone,
						'contact_user_name': this.contact_user_name,
						'details': this.details,
						'is_default': this.is_default,
						'closeInput': () => {
							this.show = !this.show
							this.menu[0].text = '＋添加新收货地址'
						}
					})
				}
			},
			setDefault () {
				if (this.is_default == '0') {
					this.is_default = '1'
				}
				else {
					this.is_default = '0'
				}
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-tab-user-address
	.new
		padding-top 25px
		font-size 12px
		height 259px
		border-bottom 1px solid #ececec
		.input
			padding-left 104px
			height 40px
			border-bottom 1px solid #ececec
			padding-top 16px
			& > span
				width @padding-left
				margin-left -@width
				float left
				color #bbbbbe
		.y .input
			width 282px
		.radio
			margin 16px 0 20px 23px
			font-weight bold
			cursor pointer
			&:before
				content ''
				float left
				margin-left -23px
				width 13px
				height @width
				border 2px solid #000
				border-radius 50%
				box-sizing border-box
				margin-top -1px
			&.active
				&:before
					background-color #000
		.w-button
			width 147px
</style>
