<template>
	<div :class="$options.name">
		<w-tab :args="menu"></w-tab>
	</div>
</template>

<script>
	export default {
		components: {
			'w-tab': require('../../widget/tab')
		},
		data () {
			return {
				menu: [
					{
						link: '/user/invite',
						text: '邀请参与拿优惠券'
					}
				]
			}
		},
		name: 'm-tab-user-invite'
	}
</script>
