<template>
	<div :class="$options.name">
		<w-tab :args="menu"></w-tab>
	</div>
</template>

<script>
	export default {
		components: {
			'w-tab': require('../../widget/tab')
		},
		data () {
			return {
				menu: [
					{
						link: '/user/setting/basic',
						text: '基本资料'
					},
					{
						link: '/user/setting/password',
						text: '修改密码'
					},
					{
						link: '/user/setting/address',
						text: '城市服务'
					},
					{
						link: '/user/setting/social',
						text: '账号关联'
					}
				]
			}
		},
		name: 'm-tab-user-setting'
	}
</script>
