<template>
	<div :class="$options.name">
		<w-tab :args="menu"></w-tab>
		<m-order-description></m-order-description>
	</div>
</template>

<script>
	export default {
		name: 'm-tab-user-order',

		components: {
			'w-tab': require('../../widget/tab'),
			'm-order-description': require('../user/popup/order-description')
		},

		data () {
			return {
				menu: [
					{
						link: '/user/order/unpaid',
						text: '进行中'
					},
					{
						link: '/user/order/finish',
						text: '已完成'
					},
					{
						link: '/user/order/return',
						text: '退货单'
					}
				]
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-tab-user-order
	position relative
</style>
