/* ===[ border-radius ]=== */
@mixin border-radius($br: 0) {
	border-radius: $br;
	-moz-border-radius: $br;
	-webkit-border-radius: $br;
}


/* ===[ clear ]=== */
@mixin clear {
	&:after {
		content: '';
		display: block;
		overflow: hidden;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
		width: 0;
		clear: both;
		height: 0;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

/* ===[ img ]=== */
@mixin img-middle {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
@mixin img-center {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}

@mixin retina {
    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        @content;
    }
}

/* ===[ mobile ]=== */
@mixin maxWidth($width: 768px) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
