/* ===[ mixin ]=== */
@import "mixin";

html {
	&.white {
		background-color: #fff;
	}
	&.orders-color {
		background-color: #F2F2F2;
	}
}
body {
	font-family: "Heiti SC", simsun, simhei，Arial, SimHei,"Helvetica Neue", Helvetica, sans-serif;
}
input,
select,
textarea {
	font-family: "Heiti SC", simsun, simhei，Arial, SimHei,"Helvetica Neue", Helvetica, sans-serif;
}
.container {
	padding-top: 45px;
}
.popup-lock {
	overflow: hidden;
}
/* ===[ icon ]=== */
.set-nav li:after,
.g-icon {
	display: inline-block;
    background: url(../images/mobile-sprite@2x.png) no-repeat;
    background-repeat: no-repeat;
    background-size: 300px auto;
}
.home-icon {
	width: 14px;
	height: 13px;
	background-position: 0 0;
}
.user-icon {
	width: 13px;
	height: 13px;
	background-position: -30px 0;
}
.search-icon {
	width: 13px;
	height: 13px;
	background-position: -60px 0;
}
.back-icon {
	width: 13px;
	height: 13px;
	background-position: -240px -240px;
}

.f-phone-icon {
	width: 10px;
	height: 15px;
	bottom: 10px;
	background-position: -30px -60px;
}
.f-user-icon {
	width: 15px;
	height: 15px;
	bottom: 10px;
	background-position: 0 -60px;
}
.f-lock-icon {
	width: 12px;
	height: 14px;
	bottom: 9px;
	background-position: -60px -60px;
}
.f-unlock-icon {
	width: 12px;
	height: 14px;
	bottom: 9px;
	background-position: -90px -60px;
}

.id-card-icon {
	width: 9px;
	height: 9px;
	background-position: 0 -90px;
}
.notice-icon {
	width: 11px;
	height: 11px;
	background-position: -30px -90px;
}
.u-order-icon  {
	background-position: -60px -90px;
}
.u-rebate-icon  {
	background-position: -90px -90px;
}
.u-coupon-icon  {
	background-position: -120px -90px;
}
.u-collect-icon  {
	background-position: -150px -90px;
}
.u-addr-icon  {
	background-position: -180px -90px;
}
.u-set-icon  {
	background-position: -210px -90px;
}

.id-card-front-icon {
	width: 74px;
	height: 46px;
	background-position: -210px -270px;
}
.id-card-back-icon {
	width: 74px;
	height: 46px;
	background-position: -210px -330px;
}
.plus-icon {
	width: 24px;
	height: 24px;
	background-position: -150px -120px;
}

.collect-icon {
	width: 14px;
	height: 11px;
	background-position: -240px -30px;
	&.active {
		background-position: -240px -60px;
	}
	&.btn-active {
		background-position: -240px 0;
	}
}
/* ===[ button ]=== */
.button {
	line-height: 50px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background-color: #B37E79;
	display: block;
	width: 100%;
	cursor: pointer;
	outline: none;
	&.radius {
		@include border-radius(25px);
	}
}

/* ===[ form ]=== */
.form {
	.form-control {
		display: block;
		padding: 19px 0 10px 80px;
		position: relative;
		border-bottom: 1px solid #ECECEC;
		&:after {
			content: '';
			clear: both;
			overflow: hidden;
			display: block;
			width: 0;
			height: 0;
			opacity: 0;
		}
		input {
			padding: 0;
		}
		&.has-icon {
			padding-left: 20px;
		}
		&.button-wrap {
			border-bottom: none;
			padding: 30px 0 0 0;
		}
		.g-icon {
			position: absolute;
			left: 0;
		}
		.label {
			position: absolute;
			left: 0;
			bottom: 10px;
			color: #BBBBBE;
		}
		&.code-wrap {
			.inner {
				margin-right: 142px;
				&:after {
					content: '';
					width: 142px;
					position: absolute;
					right: 0;
					bottom: -1px;
					background-color: #FAFAFA;
					height: 1px;
				}
			}
			.code {
				position: absolute;
				right: 0;
				bottom: 0;
				line-height: 30px;
				border: 1px solid #B37E79;
				color: #B37E79;
				border-radius: 16px;
				display: block;
				width: 86px;
				text-align: center;
			}
		}
		.selector {
			float: right;
			position: relative;
			padding-right: 13px;
			select {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				opacity: 0;
				border: none;
			}
			.g-icon {
				width: 9px;
				height: 6px;
				background-position: -30px -120px;
				position: absolute;
				left: initial;
				right: 0;
				top: 50%;
				margin-top: -3px;
			}
		}
	}
	.avatar-wrap {
		padding-top: 12px;
		.avatar {
			float: right;
			width: 30px;
			height: 30px;
			overflow: hidden;
			border-radius: 50%;
			position: relative;
			img {
				max-width: 100%;
			}
		}
		.progress-bar {
			background-color: transparent;
			.progress {
				height: 30px;
				line-height: 30px;
				padding-top: 0;
				background-color: rgba(0, 0, 0, .2);
			}
			.text {
				height: 30px;
				line-height: 30px;
				padding-top: 0;
			}
		}
	}
}

/* ===[ slider ]=== */
.banner-slider {
	margin: 0;
	border: none;
	.flex-control-nav {
		bottom: 10px;
		li {
			margin: 0 5px;
			a {
				width: 8px;
				height: 8px;
				background: rgba(255, 255, 255, .4);
				box-shadow: none;
				border: none;
				&.flex-active {
					background: rgba(255, 255, 255, 1);
				}
			}
		}
	}
}

.user-id-card .file {
	img {
		width: 100%;
		max-height: none;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		background-color: #FFF;
	}
}
.img-upload-list {
	.item {
		position: relative;
		float: left;
		margin-right: 8px;
		margin-top: 8px;
		& > span {
			width: 64px;
			height: 64px;
			background-size: cover;
			background-position: center;
			display: block;
		}
	}
}
.progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #cfcfcf;
    .progress {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		font-size: 12px;
		background-color: #b37e79;
		height: 15px;
		text-align: center;
		padding-top: 3px;
		color: #fff;
		width: 0;
		z-index: 0;
	}
	.text {
		display: block;
		font-size: 12px;
		height: 15px;
		text-align: center;
		padding-top: 3px;
		color: #fff;
		width: 100%;
		position: relative;
	}
}

.loading {
	width: 0;
	height: 2px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #b37e79;
}