/* ===[ reset ]=== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html, body {
	max-width: 100%;
	width: 100%;
}
html {
	background-color: #FAFAFA;
	min-height: 100%;
}
body {
	font-size: 12px;
	color: #000;
}
a {
	color: inherit;
	outline: none;
	text-decoration: none;
}
img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
}
strong {
	font-weight: bold;
}
ol, ul {
	list-style: none;
}
input {
	border: none;
	font-size: 12px;
	line-height: 12px;
	text-align: right;
	width: 100%;
	outline:none;
	background-color: transparent;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #FAFAFA inset;
}
.table {
	display: table;
	width: 100%;
	height: 100%;
	.cell {
		display: table-cell;
		vertical-align: middle;
	}
}
.bold {
	font-weight: bold;
}
::-webkit-input-placeholder {
	color: #000;
}
:-moz-placeholder {
	color: #000;
}
::-moz-placeholder {
	color: #000;
}
:-ms-input-placeholder {
	color: #000;
}
:placeholder {
	color: #000;
}
