<template>
	<div class="after-sale">
		<p class="remark">更换或申请退货请拨打客服热线</p>
		<p class="phone">400-2321-2432</p>
	</div>
</template>

<script>
	export default {
		name: 'after-sale'
	}
</script>

<style lang="sass" scoped>
.after-sale {
	padding: 50px 20px 0;
	text-align: center;
	.remark {
		color: #959595;
		margin-bottom: 25px;
	}
}
</style>
