<template>
	<m-modal :show="cancelOrder.show">
		<div class="modal">
			<div class="title">确认取消订单？</div>
			<div class="tool-wrap">
				<span @click="close">取消</span>
				<span @click="submit">确认</span>
			</div>
		</div>
	</m-modal>
</template>

<script>
	import Popup from '../../../store/popup'
	import User from '../../../store/user'
	export default {
		name: 'cancel-order',

		components: {
			'm-modal': require('../../module/popup/modal')
		},

		computed: {
			cancelOrder () {
				return Popup.state.cancelOrder
			}
		},

		methods: {
			submit () {
				let _this = this
				if (Popup.state.cancelOrder.args.source == 'order-list') {
					User.actions.putOrderStatus({
						'order_id': Popup.state.cancelOrder.args.id,
						'order_status': 10,
						'after': () => {
							_this.close()
						},
						'afterClose': () => {
							_this.close()
						}
					})
				}
				if (Popup.state.cancelOrder.args.source == 'order-detail') {
					User.actions.putOrderStatus({
						'order_id': Popup.state.cancelOrder.args.id,
						'order_status': 10,
						'source': Popup.state.cancelOrder.args.source,
						'after': () => {
							_this.close()
							_this.$route.router.go('/orders/unpaid')
						},
						'afterClose': () => {
							_this.close()
						}
					})
				}
			},
			close () {
				Popup.state.cancelOrder.show = false
			}
		}
	}
</script>

<style lang="sass" scoped>
.modal {
	padding: 20px 0 0;
	text-align: center;
	.title {
		color: #B37E79;
		padding-bottom: 10px;
		margin: 0 20px 10px;
	}
	.tool-wrap {
		display: table;
		width: 100%;
		background-color: #B37E79;
		color: #fff;
		span {
			width: 50%;
			display: table-cell;
			line-height: 40px;
			position: relative;
			& + span {
				&:before {
					content: '';
					width: 1px;
					height: 14px;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -7px;
					background-color: #FFF;
					opacity: .2;
				}
			}
		}
	}
}
</style>