<template>
	<div :class="$options.name">
		<div class="bg-w">
			<div class="star-wrap">
				<h3 class="title">请选择评价星级</h3>
				<div class="star">
					<a class="g-icon{{ $index <= star ? ' active' : '' }}" v-for="item in 5" @click="selectStar"></a>
				</div>
			</div>
			<div class="comment">
				<input type="text" placeholder="在这输入评价" v-model="comment" class="comment-input">
			</div>
			<div class="tags">
				<div v-if="_tags" class="list">
					<label class="radio-item" v-for="(key, val) in _tags">
						<input type="checkbox" name="tags" v-model="tags" value="{{ key }}" @click="hasTag" />
						<span>{{ val }}</span>
					</label>
				</div>
			</div>
		</div>
		<div class="upload-img">
			<div class="img">
				<div class="img-box">
					<ul class="img-upload-list"></ul>
					<div id="pickfiles" class="upload-img-btn g-icon">按钮</div>
					<div id="images"></div>
				</div>
			</div>
		</div>
		<div class="button" @click="submit">提交评价</div>
	</div>
</template>

<script>
	import Api from 'api'
	import Goods from '../../../store/goods'
	import User from '../../../store/user'
	import Popup from '../../../store/popup'
	export default {
		name: 'order-comment',

		data () {
			return {
				tags: [],
				star: '2',
				comment: ''
			}
		},

		events: {
			'signIn' () {
				let _this = this
				Goods.actions.initGoodsTag()
			}
		},

		created () {
			let _this = this
			if (Goods.state.tags.length == 0) {
				Goods.actions.initGoodsTag()
			}
			// 获取七牛 uptoken
			Api.initQiniuToken({
				success: res => {
					this.$root.qiniuToken = res.data.data
					// 取得 uptoken,初始化上传图片插件
					_this.initFlow()
					_this.deleteImg()
				}
			})
		},

		computed: {
			_tags () {
				let list = Goods.state.tags
				return list
			}
		},

		methods: {
			submit () {
				let tagVal = this.tags.join('|'),
					$images = $('#images').children(),
					imgList = [],
					star = Number(this.star) + 1
				for (var i = 0; i < $images.length; i++) {
					imgList.push($images.eq(i).val())
				}
				let images = imgList.join('|')
				if (this.comment.length == 0) {
					Popup.state.globalMsg.single = '请说点什么！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (tagVal.length == 0) {
					Popup.state.globalMsg.single = '请至少选一个短评！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (images.length == 0) {
					Popup.state.globalMsg.single = '请至少上传一张图片！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.comment.length !== 0 && tagVal.length !== 0 && images.length !== 0) {
					User.actions.addComment({
						'product_name_group_id': this.$route.query.product_id,
						'order_id': this.$route.query.order_id,
						'star': star,
						'tags': tagVal,
						'images': images,
						'comment': this.comment,
						'after': () => {
							this.tags = []
							this.comment = ''
							 $('#images').children().remove()
							 $('.img-upload-list').children().remove()
						}
					})
				}
			},
			initFlow () {
				let $ = window.$
				let _this = this
				var flow = new Flow({
					target: 'http://upload.qiniu.com',
					simultaneousUploads: 3,
					chunkSize: 4194304, // 4 * 1024 * 1024,
					testChunks: false,
					forceChunkSize: true,
					singleFile: false,
					allowDuplicateUploads: true,
					upload_token: _this.$root.qiniuToken.uptoken
				})
				flow.assignBrowse(
					$('#pickfiles'),
					false,
					false,
					{ accept: 'image/*' }
				)
				flow.on('fileAdded', function(file, e) {
					var reader = new FileReader(),
						$imgViewList = $('.img-upload-list')
					if (flow.isUploading()) {
						Popup.state.globalMsg.single = '已有图片正在上传，请稍后..'
						Popup.state.globalMsg.show = true
						return false
					}
					if (file.size > 52428800) {
						Popup.state.globalMsg.single = '图片大小不得超过50M'
						Popup.state.globalMsg.show = true
						return false
					}
					reader.onload = function(e) {
						var image = new Image()
						image.src = e.target.result
						image.onload = function() {
							if ($imgViewList.children().length > 7) {
								let content = '目前晒单仅允许最多上传 8 张照片！'
								Popup.state.globalMsg.more.title = '照片数量限制'
								Popup.state.globalMsg.more.list.push(content)
								Popup.state.globalMsg.show = true
								flow.cancel()
							}
							else {
								var $img = $('<li class="item"><span style="background-image: url(' + this.src + ')"><span></li>')
								var $progress = $('<div class="progress-bar"><span class="progress"></span><span class="text"></span><div>')
								$img.append($progress)
								$imgViewList.append($img)
							}
						}
				 	}
					if (file.file) {
						reader.readAsDataURL(file.file)
					}
				})
				flow.on('fileProgress', function(file, chunk) {
					let speed = file.currentSpeed,
						percent = (file.sizeUploaded() * 100 / file.size).toFixed(2) + '%',
						$imgViewList = $('.img-upload-list')
					if (speed < 1024) {
						speed = parseFloat((speed).toFixed(2)) + 'BYTE/S'
					}
					else {
						speed = parseFloat((speed / 1024).toFixed(2)) + 'KB/S'
					}
					$.each($imgViewList.children().last().find('.progress'), function() {
						if ($(this).css('width') == '0px') {
							$(this).css('width', percent)
							$(this).next('.text').html(percent)
							return
						}
					})
				})
				flow.on('filesSubmitted', function() {
					flow.upload()
				})
				flow.on('fileChunkSucess', function(file, chunk, response) {
					if (typeof(file.ctx) == 'undefined') {
						file.ctx = response.ctx
					}
					else {
						file.ctx += ',' + response.ctx
					}
				})
				flow.on('fileSuccess', function(file) {
					var key = _this.base64_encode(file.uniqueIdentifier + (new Date()).valueOf())
					$.ajax({
						type: 'POST',
						url: flow.opts.target + '/mkfile/' + file.size + '/key/' + _this.base64_encode(key),
						headers: {
							'Content-Type': 'text/plain;charset=UTF-8',
							'Authorization': 'UpToken ' + flow.opts.upload_token
						},
						dataType: 'JSON',
						data: file.ctx
					}).done(function(response) {
						var $imgViewList = $('.img-upload-list')
						$imgViewList.children()
							.last()
							.find('.progress')
							.css('width', '100%')
							.next('.text').html('100%')
						$('<input type="hidden" name="images[]" value="' + response.key + '" />').appendTo($('#images'))
					}).fail(function() {
						flow.fire('fileError', file)
					})
				})
				flow.on('fileError', function(file, message) {
					console.log('图片上传失败')
				})
			},
			hasTag () {
				this.error.tags.show = false
			},
			deleteImg () {
				$('.img-upload-list').on('click', '.item', function(event) {
					event.preventDefault()
					let index = $(this).index()
					$(this).fadeOut('fast', function() {
						$(this).index()
					})
					$('#images').children().eq(index).remove()
				})
			},
			selectStar (event) {
				let $this = $(event.currentTarget),
					index = $this.index()
				this.star = index
			},
			base64_encode (str) {
				var c1, c2, c3
				var base64EncodeChars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/'
				var i = 0,
					len = str.length,
					string = ''
				while (i < len) {
					c1 = str.charCodeAt(i++) & 0xff
					if (i == len) {
						string += base64EncodeChars.charAt(c1 >> 2)
						string += base64EncodeChars.charAt((c1 & 0x3) << 4)
						string += '=='
						break
					}
					c2 = str.charCodeAt(i++)
					if (i == len) {
						string += base64EncodeChars.charAt(c1 >> 2)
						string += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4))
						string += base64EncodeChars.charAt((c2 & 0xF) << 2)
						string += '='
						break
					}
					c3 = str.charCodeAt(i++)
					string += base64EncodeChars.charAt(c1 >> 2)
					string += base64EncodeChars.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4))
					string += base64EncodeChars.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6))
					string += base64EncodeChars.charAt(c3 & 0x3F)
				}
				return string
			}
		}
	}
</script>

<style lang="sass" scoped>
.order-comment {
	padding-bottom: 70px;
	.bg-w {
		background-color: #fff;
	}
	.star-wrap {
		text-align: center;
		.title {
			color: #959595;
			padding: 20px 0 15px;
		}
		.star {
			display: inline-block;
			.g-icon {
				width: 15px;
				height: 15px;
				background-position: -270px -210px;
				&.active {
					background-position: -240px -210px;
				}
				& + .g-icon {
					margin-left: 7px;
				}
			}
		}
	}
	.comment {
		margin: 33px 36px 12px 35px;
		padding-bottom: 7px;
		border-bottom: 1px solid #EBEBEB;
		.comment-input {
			text-align: center;
			padding: 0;
			line-height: 16px;
			height: 16px;
		}
	}
	.tags {
		margin: 0 30px;
		padding-bottom: 21px;
		text-align: center;
		.radio-item {
			display: inline-block;
			position: relative;
			overflow: hidden;
			margin-top: 8px;
			margin-right: 8px;
			input[type="checkbox"] {
				position: absolute;
				left: 100%;
				bottom: 100%;
				&:checked + span {
					background-color: #b37e79;
				}
			}
			span {
				border-radius: 2px;
				color: #fff;
				background-color: #cfcfcf;
				padding: 0 13px 0 15px;
				line-height: 24px;
				height: 23px;
				cursor: pointer;
				display: block;
			}
		}
	}
	.upload-img {
		padding: 0 8px;
		box-sizing: border-box;
		.img {
			.img-box {
				overflow: hidden;
			}
			img {
				width: 64px;
			}
			.upload-img-btn {
				width: 64px;
				height: 64px;
				display: inline-block;
				text-align: left;
				text-indent: -9999px;
				outline: 0;
				cursor: pointer;
				float: left;
				margin-top: 8px;
				background-position: -120px -300px;
			}
		}
	}
	.button {
		position: fixed;
		bottom: 0;
		left: 0;
	}
}
</style>