<template>
	<m-modal :show="confirmGoods.show">
		<div class="modal">
			<div class="title">确定收货？</div>
			<div class="content">确认收到完好产品，请点击确认收货！</div>
			<div class="tool-wrap">
				<span @click="close">取消</span>
				<span @click="submit">确认收货</span>
			</div>
		</div>
	</m-modal>
</template>

<script>
	import Popup from '../../../store/popup'
	import User from '../../../store/user'
	export default {
		name: 'confirm-goods',

		components: {
			'm-modal': require('../../module/popup/modal')
		},

		computed: {
			confirmGoods () {
				return Popup.state.confirmGoods
			}
		},

		methods: {
			submit () {
				let _this = this
				if (Popup.state.confirmGoods.args.source == 'order-list') {
					User.actions.putOrderStatus({
						'order_id': Popup.state.confirmGoods.args.id,
						'order_status': 5,
						'after': () => {
							_this.close()
						},
						'afterClose': () => {
							_this.close()
						}
					})
				}
				if (Popup.state.confirmGoods.args.source == 'order-detail') {
					OrderDetail.actions.putOrderStatus({
						'user_id': this.$root.user.id,
						'order_id': Popup.state.confirmGoods.args.id,
						'order_status': 5,
						'after': () => {
							_this.close()
						},
						'afterClose': () => {
							_this.close()
						}
					})
				}
			},
			close () {
				Popup.state.confirmGoods.show = false
			}
		}
	}
</script>

<style lang="sass" scoped>
.modal {
	padding: 20px 0 0;
	text-align: center;
	.title {
		color: #B37E79;
		padding-bottom: 10px;
		border-bottom: 1px solid #B37E79;
		margin: 0 20px 10px;
	}
	.content {
		line-height: 16px;
		padding-bottom: 20px;
		margin: 0 20px;
	}
	.tool-wrap {
		display: table;
		width: 100%;
		background-color: #B37E79;
		color: #fff;
		span {
			width: 50%;
			display: table-cell;
			line-height: 40px;
			position: relative;
			& + span {
				&:before {
					content: '';
					width: 1px;
					height: 14px;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -7px;
					background-color: #FFF;
					opacity: .2;
				}
			}
		}
	}
}
</style>