<template>
	<div class="order-description">
		<ul>
			<li>
				<h3 class="title">1.订单押金</h3>
				<p class="text-area">订单押金在订单提交是支付，实名认证客户信任度更高，押金将8折优惠！</p>
			</li>
			<li>
				<h3 class="title">2.取消订单说明</h3>
				<p class="text-area">下单后，用户可取消订单，预定时间24小时内取消订单扣除全款，7天以内取消扣除订单额20%，提前一周以上免费取消！</p>
			</li>
			<li>
				<h3 class="title">3.线下试穿</h3>
				<p class="text-area">产品都会有线下商家支持，提供免费试穿服务，您下单后，可预约对应商家，进行试穿感受，感谢您的使用！</p>
			</li>
		</ul>
	</div>
</template>

<style lang="sass" scoped>
.order-description {
	padding: 16px 20px 0;
	li {
		margin-bottom: 15px;
		.title {
			color: #535353;
			margin-bottom: 8px;
		}
		.text-area {
			color: #959595;
			line-height: 16px;
		}
	}
}
</style>