<template>
	<div class="order-details">
		<div class="order-status">
			<div class='title-wrap'>
				<span class="g-icon"></span>
				<span class="status" v-if="order.order_status == 1">未支付</span>
				<span class="status" v-if="order.order_status == 2">订单已支付押金，等待发货</span>
				<span class="status" v-if="order.order_status == 3">升级更换</span>
				<span class="status" v-if="order.order_status == 4">已发货</span>
				<span class="status" v-if="order.order_status == 5">已收货</span>
				<span class="status" v-if="order.order_status == 6">返还中</span>
				<span class="status" v-if="order.order_status == 7">已完成</span>
				<span class="status" v-if="order.order_status == 8">售后服务</span>
				<span class="status" v-if="order.order_status == 9">已取消</span>
				<span class="status" v-if="order.order_status == 10">已申请取消订单</span>
				<span class="status" v-if="order.order_status == 11">处理取消订单申请中</span>
				<span class="status" v-if="order.order_status == 12">拒绝订单取消</span>
				<span class="status" v-if="order.order_status == 13">订单已取消</span>
				<span class="status" v-if="order.order_status == 14">订单已升级更新</span>
				<span class="status" v-if="order.order_status == 15">订单预定中，发货前请支付押金</span>
				<span class="status" v-if="order.order_status == 16">订单已支付押金，等待自提</span>
			</div>
			<ul class="list">
				<li><span class="label">订单号</span>{{ order.order_number }}</li>
				<li><span class="label">下单时间</span>{{ order.created_at }}</li>
			</ul>
		</div>
		<div class="order-addr">
			<template v-if="order.express_company == '上门自提'">
				<div class='title-wrap'>
					<span class="g-icon"></span>
					<h3 class="title">上门自提地址</h3>
				</div>
				<div class="content">
					<div class="inner">
						<p class="name" v-if="order.contact_user_name">{{ order.contact_user_name }}<span class="phone">{{ order.phone }}</span></p>
						<p class="addr"><span class="g-icon"></span>{{ order.address }}</p>
					</div>
				</div>
			</template>
			<template v-else>
				<div class='title-wrap'>
					<span class="g-icon"></span>
					<h3 class="title">快递地址</h3>
					<template v-if="order.order_status > 3">
						<template v-if="order.express_company !== '商家直送'">
							<a class="express-link" v-link="'/express/' + order.id" v-if="expressTraces.length !== 0">查看物流</a>
							<span class="no-express" v-else>暂无物流消息</span>
						</template>
						<a class="express-link" v-link="'/express/' + order.id" v-else>商家直送</a>
					</template>
				</div>
				<div class="content">
					<div class="inner">
						<p class="name" v-if="order.contact_user_name">{{ order.contact_user_name }}</span><span class="phone">{{ order.phone }}</p>
						<p class="addr">{{ order.address }}</p>
					</div>
				</div>
			</template>
		</div>
		<div class="order-goods">
			<div class='title-wrap'>
				<span class="g-icon"></span>
				<h3 class="title">产品</h3>
			</div>
			<a v-link="'/goods/' + order.product_name_group_id" class="inner">
				<div class="cover">
					<img :src="order.default_image + '|imageView2/1/w/156/h/234'" :alt="product.name">
				</div>
				<div class="info">
					<h3 class="title">{{ product.name }}</h3>
					<ul>
						<li><span class="label">颜色</span><span :style="{ backgroundColor: order.product_rgb }" class="color-box"></span></li>
						<li><span class="label">尺码</span><span class="hh">XL</span></li>
						<li><span class="label">时间</span><span class="time">{{order.created_at}}</span></li>
						<li v-for="(key, val) in category.sizes" v-if="key == product.size"><span class="label">尺寸</span>{{ val }}</li>
					</ul>
				</div>
				<span class="g-icon"></span>
			</a>
		</div>
		<div class="order-message">
			<span class="label">留言</span>
			<span v-if="order.remarks == null" class="text no-text">无~</span>
			<span class="text" v-else>{{ order.remarks }}</span>
		</div>
		<div class="order-store">
			<div class="title-wrap">
				<span class="g-icon"></span>
				<h3 class="title">{{ product.supplier.name }}</h3>
			</div>
			<div class="content">
				<p class="addr"><span class="g-icon"></span>{{ product.supplier.address }}</p>
				<p class="phone"><span class="g-icon"></span>{{ product.supplier.phone }}</p>
			</div>
		</div>
		<div class="order-pay">
			<div class="title-wrap">
				<span class="g-icon"></span>
				<h3 class="title">价格</h3>
			</div>
			<ul class="list">
				<li class="gray">
					<span class="label">租金：</span>
					<span class="{{ order.order_status == 1 ? 'no-pay' : '' }}">
						<template v-if="order.rent_days == '4'">¥{{ product.four_day_rent_price }}</template><template v-else>¥{{ product.eight_day_rent_price }}</template><span v-if="order.order_status == 1">，未支付</span>
					</span>
				</li>
				<li class="gray">
					<span class="label">押金：</span>
					<span v-if="order.order_status == 15 || order.order_status == 1" class="no-pay"><span class="hh">（押金发货前72小时内支付）</span>¥{{ order.actual_deposit }}<span>，未支付</span></span>
					<span v-else>¥{{ product.deposit }}</span>
				</li>
				<li class="gray">
					<span class="label">优惠券：</span>
					<template v-if="order.coupon_name">{{ order.coupon_name }}</template>
					<template v-else>未使用</template>
				</li>
				<li>
					<span class="label">订单金额：</span>
					<span class="{{ order.order_status == 1 ? 'no-pay' : '' }}">¥{{ order.rent_price }}<span v-if="order.order_status == 1">，未支付</span></span>
				</li>
				<li>
					<span class="label">支付方式：</span>
					{{ order.payment_method }}
				</li>
			</ul>
		</div>
		<div class="btn-wrap">
			<template v-if="order.order_status == 1">
				<a v-link="'/pay?order_id=' + order.id">立即支付</a>
				<a @click="cancelOrder">取消订单</a>
			</template>
			<template v-if="order.order_status == 2">
				<a @click="cancelOrder">取消订单</a>
			</template>
			<template v-if="order.order_status == 3">
				<a v-link="'/after-sale'">申请退款</a>
				<a @click="exchange">升级更换</a>
			</template>
			<template v-if="order.order_status == 4">
				<a v-link="'/express/' + order.id">查看物流</a>
				<a @click="confirmGoods">确认收货</a>
			</template>
			<template v-if="order.order_status == 5">
				<a v-link="'/after-sale'">申请售后</a>
				<a v-link="'/order-comment?order_id=' + order.id + '&amp;product_id=' + order.product_name_group_id">晒单</a>
				<a v-link="'/refund?order_number=' + order.order_number + '&amp;order_id=' + order.id">返还商品</a>
			</template>
			<template v-if="order.order_status == 6">
				<a v-link="'/after-sale'">联系客服</a>
				<a v-link="'/order-detail?id=' + order.id">查看返还进度</a>
			</template>
			<template v-if="order.order_status == 7 || order.order_status == 8">
				<a v-link="'/after-sale'">联系客服</a>
				<a @click="deleteOrder">删除订单</a>
			</template>
			<template v-if="order.order_status == 12">
				<a v-link="'/see-why'">查看原因</a>
				<a @click="deleteOrder">删除订单</a>
			</template>
			<template v-if="order.order_status == 15">
				<a v-link="'/pay-deposit?id=' + order.id">支付押金</a>
				<a @click="cancelOrder">取消订单</a>
			</template>
			<template v-if="order.order_status == 16">
				<a @click="cancelOrder">取消订单</a>
				<a @click="getGoods">拿到产品</a>
			</template>
			<template v-if="order.order_status == 9 || order.order_status == 13">
				<a @click="deleteOrder">删除订单</a>
			</template>
		</div>
		<cancel-order></cancel-order>
		<delete-order></delete-order>
		<confirm-goods></confirm-goods>
		<exchange></exchange>
	</div>
</template>

<script>
	import Popup from '../../../store/popup'
	import Order from '../../../store/order'
	import User from '../../../store/user'
	import Basic from '../../../store/basic'
	export default {
		name: 'order-details',

		components: {
			'orders-item': require('./item'),
			'cancel-order': require('./cancel-order'),
			'delete-order': require('./delete-order'),
			'confirm-goods': require('./confirm-goods'),
			'exchange': require('./exchange')
		},

		data () {
			return {
				confirmGoodsInfo: {
					id: this.$route.params.order_id,
					source: 'order-detail'
				},
				getGoodsInfo: {
					id: this.$route.params.order_id,
					source: 'order-detail'
				},
				cancelOrderInfo: {
					id: this.$route.params.order_id,
					source: 'order-detail'
				},
				deleteOrderInfo: {
					id: this.$route.params.order_id,
					source: 'order-detail'
				}
			}
		},

		events: {
			'signIn' () {
				Order.actions.initOrderDetails({
					order_id: this.$route.params.order_id
				})
			}
		},

		created () {
			if (typeof(User.state.user.id) !== 'undefined') {
				Order.actions.initOrderDetails({
					order_id: this.$route.params.order_id
				})
			}
		},

		computed: {
			order () {
				return Order.state.orderDetails
			},
			product () {
				return Order.state.product
			},
			expressTraces () {
				let expressTraces = Order.state.expressTraces
				return expressTraces
			},
			category () {
				return Basic.state.category
			},
			supplier () {
				return Basic.state.supplier
			}
		},

		methods: {
			cancelOrder () {
				Popup.state.cancelOrder.args = this.cancelOrderInfo
				Popup.state.cancelOrder.show = true
			},
			deleteOrder () {
				Popup.state.deleteOrder.args = this.deleteOrderInfo
				Popup.state.deleteOrder.show = true
			},
			confirmGoods () {
				Popup.state.confirmGoods.args = this.confirmGoodsInfo
				Popup.state.confirmGoods.show = true
			},
			getGoods () {
				Popup.state.confirmGoods.args = this.getGoodsInfo
				Popup.state.confirmGoods.show = true
			},
			exchange () {
				Popup.state.exchange.id = this.order.id
				Popup.state.exchange.show = true
			}
		}

	}
</script>

<style lang="sass" scoped>
.order-details {
	padding-bottom: 51px;
	.title-wrap {
		padding: 10px 12px 10px 35px;
		line-height: 16px;
		font-size: 12px;
		position: relative;
		border-top: 1px solid #F0F0F0;
		border-bottom: 1px solid #F0F0F0;
		.title {
			line-height: 16px;
		}
		.g-icon {
			position: absolute;
			top: 50%;
		}
	}
	.order-status {
		.title-wrap {
			.g-icon {
				width: 9px;
				height: 10px;
				margin-top: -5px;
				background-position: -60px -30px;
				left: 20px;
			}
		}
		.list {
			padding: 0 21px 0 17px;
			li {
				overflow: hidden;
				text-align: right;
				line-height: 16px;
				padding: 13px 0 8px 0;
				& + li {
					border-top: 1px solid #F0F0F0;
				}
			}
			.label {
				color: #959595;
				float: left;
			}
		}
	}
	.order-addr {
		.title-wrap {
			.g-icon {
				width: 13px;
				height: 9px;
				margin-top: -5px;
				background-position: -90px -30px;
				left: 19px;
			}
		}
		.content {
			padding: 10px 18px;
			.inner {
				position: relative;
				box-sizing: border-box;
				padding: 12px 20px 16px 19px;
				border: 1px dashed #000;
			}
			.name {
				line-height: 16px;
				position: relative;
				padding-right: 90px;
				margin-bottom: 5px;
			}
			.phone {
				position: absolute;
				right: 0;
				top: 0;
			}
			.addr {
				.g-icon {
					width: 8px;
					height: 11px;
					background-position: -180px 0;
					display: inline-block;
					vertical-align: center;
					margin-right: 3px;
				}
			}
		}
		.express-link,
		.no-express {
			position: absolute;
			right: 18px;
			top: 12px;
		}
		.express-link {
			color: #B37E79;
		}
	}
	.order-goods {
		overflow: hidden;
		.title-wrap {
			.g-icon {
				width: 9px;
				height: 13px;
				margin-top: -7px;
				background-position: -120px -30px;
				left: 18px;
			}
		}
		.inner {
			display: block;
			padding: 10px 18px;
			position: relative;
			.g-icon {
				width: 6px;
				height: 9px;
				background-position: -180px -390px;
				position: absolute;
				top: 50%;
				right: 18px;
				margin-top: -3px;
			}
		}
		.cover {
			max-width: 78px;
			border: 1px solid #F0F0F0;
			box-sizing: border-box;
			float: left;
			overflow: hidden;
		}
		.info {
			padding: 10px 10px 0 88px;
			.title {
				font-size: 14px;
				margin-bottom: 5px;
			}
			li {
				line-height: 16px;
				padding: 3px 0;
			}
			.label {
				display: inline-block;
				margin-right: 8px;
			}
			.color-box {
				width: 12px;
				height: 12px;
				border: 1px solid #DFDFDF;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
			}
			.time {
				color: #959595;
			}
			.hh {
				font-weight: bold;
			}
		}
	}
	.order-message {
		padding: 18px 20px;
		line-height: 16px;
		overflow: hidden;
		border-top: 1px solid #F0F0F0;	
		.label {
			float: left;
			color: #9C9C9C;
		}
		.text {
			padding-left: 90px;
			display: block;
		}
	}
	.order-store {
		.title-wrap {
			.g-icon {
				width: 10px;
				height: 10px;
				margin-top: -5px;
				background-position: -150px -30px;
				left: 17px;
			}
		}
		.content {
			padding: 10px 20px 10px 17px;
			p {
				color: #959595;
				line-height: 16px;
				position: relative;
				padding-left: 13px;
				.g-icon {
					position: absolute;
					top: 50%;
				}
			}
			.addr {
				.g-icon {
					left: 1px;
					width: 8px;
					height: 12px;
					margin-top: -6px;
					background-position: -0 -270px;
				}
			}
			.phone {
				.g-icon {
					left: 0;
					width: 9px;
					height: 9px;
					margin-top: -5px;
					background-position: -30px -270px;
				}
			}
		}
	}
	.order-pay {
		.title-wrap {
			.g-icon {
				width: 12px;
				height: 12px;
				margin-top: -6px;
				background-position: -180px -30px;
				left: 18px;
			}
		}
		.list {
			padding: 0 21px 0 17px;
			li {
				text-align: right;
				padding: 13px 0 8px;
				line-height: 16px;
				& + li {
					border-top: 1px solid #F0F0F0;
				}
			}
			.label {
				color: #959595;
				float: left;
				margin-right: 5px;
			}
			.gray {
				color: #959595;
			}
			.hh {
				color: #B37E79;
				display: inline-block;
				margin-right: 13px;
			}
		}
	}
	.btn-wrap {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		display: table;
		background-color: #F8F8F8;
		color: #959595;
		text-align: center;
		border-top: 1px solid #F0F0F0;
		a {
			line-height: 50px;
			display: table-cell;
			position: relative;
			width: 33%;
			&:last-child {
				color: #000;
			}
			& + a {
				&:before {
					content: '';
					width: 1px;
					height: 12px;
					background-color: #E3E3E3;
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -6px;
				}
			}
		}
	}
}
</style>