<template>
	<m-modal :show="exchange.show">
		<div class="modal">
			<div class="title">免费升级啦!</div>
			<div class="content">为您享受更好的服务，我们一直在努力，产品出现意外情况，我们为您免费升级，可选择更高价格的衣服，祝您购物愉快！</div>
			<div class="tool-wrap">
				<span @click="close">取消</span>
				<span @click="submit">升级更换</span>
			</div>
		</div>
	</m-modal>
</template>

<script>
	import Popup from '../../../store/popup'
	export default {
		name: 'exchange',

		components: {
			'm-modal': require('../../module/popup/modal')
		},

		computed: {
			exchange () {
				return Popup.state.exchange
			}
		},

		methods: {
			close () {
				Popup.state.exchange.show = false
			},
			submit () {
				this.close()
			}
		}
	}
</script>

<style lang="sass" scoped>
.modal {
	padding: 20px 0 0;
	text-align: center;
	.title {
		color: #B37E79;
		padding-bottom: 10px;
		border-bottom: 1px solid #B37E79;
		margin: 0 20px 10px;
	}
	.content {
		line-height: 16px;
		padding-bottom: 20px;
		margin: 0 20px;
	}
	.tool-wrap {
		display: table;
		width: 100%;
		background-color: #B37E79;
		color: #fff;
		span {
			width: 50%;
			display: table-cell;
			line-height: 40px;
			position: relative;
			& + span {
				&:before {
					content: '';
					width: 1px;
					height: 14px;
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -7px;
					background-color: #FFF;
					opacity: .2;
				}
			}
		}
	}
}
</style>