<template>
	<div class="order-express">
		<h2 class="title"><span class="g-icon"></span>物流状态</h2>
		<div class="info-wrap">
			<a v-link="'/goods/' + order.product_name_group_id" class="cover">
				<img :src="order.default_image + '|imageView2/1/w/156/h/234'" :alt="product.name">
			</a>
			<div class="info" v-if="order.express_company !== '商家直送'">
				<h3 class="title">{{ order.express_company }}快递</h3>
				<span class="span"><span class="label">单号</span>{{ order.express_number }}</span>
				<span class="span" v-if="order.express_company == '申通'"><span class="label">客服</span>95543</span>
				<span class="span" v-if="order.express_company == '圆通'"><span class="label">客服</span>95554</span>
				<span class="span" v-if="order.express_company == '顺丰'"><span class="label">客服</span>95338</span>
				<span class="span" v-if="order.express_company == '韵达'"><span class="label">客服</span>95546</span>
				<span class="span" v-if="order.express_company == '中通'"><span class="label">客服</span>95311</span>
				<span class="span" v-if="order.express_company == 'EMS'"><span class="label">客服</span>11183</span>
				<span class="span" v-if="order.express_company == '宅急送'"><span class="label">客服</span>400-6789-000</span>
			</div>
			<div class="info" v-else>
				<h3 class="title">{{ order.express_company }}</h3>
				<span class="span"><span class="label">商家</span>{{ product.supplier.name }}</span>
				<span class="span"><span class="label">客服</span>{{ product.supplier.phone }}</span>
			</div>
		</div>
		<div class="list" v-if="order.express_company !== '商家直送'">
			<h3 class="caption">物流跟踪</h3>
			<ul v-if="expressTraces.length !== 0">
				<li v-for="traces in expressTraces | orderBy 'AcceptTime' -1">
					<span class="time">{{ traces.AcceptTime }}</span>
					<span class="info">{{ traces.AcceptStation }}</span>
				</li>
			</ul>
			<span class="no-traces" v-else>暂无物流消息</span>
		</div>
	</div>
</template>

<script>
	import Order from '../../../store/order'
	import User from '../../../store/user'
	export default {
		name: 'order-express',

		events: {
			'signIn' () {
				Order.actions.initOrderDetails({
					order_id: this.$route.params.order_id
				})
			}
		},

		created () {
			if (typeof(User.state.user.id) !== 'undefined') {
				Order.actions.initOrderDetails({
					order_id: this.$route.params.order_id
				})
			}
		},

		computed: {
			order () {
				return Order.state.orderDetails
			},
			product () {
				return Order.state.product
			},
			expressTraces () {
				let expressTraces = Order.state.expressTraces
				return expressTraces
			},
			category () {
				return Basic.state.category
			},
			supplier () {
				return Basic.state.supplier
			}
		}
	}
</script>

<style lang="sass" scoped>
.order-express {
	& > .title {
		line-height: 36px;
		padding-left: 35px;
		position: relative;
		border-bottom: 1px solid #F0F0F0;
		.g-icon {
			position: absolute;
			top: 50%;
			left: 19px;
			width: 13px;
			height: 9px;
			margin-top: -5px;
			background-position: -90px -30px;
		}
	}
	.info-wrap {
		padding: 10px 18px;
		overflow: hidden;
		border-bottom: 1px solid #F0F0F0;
		.cover {
			max-width: 78px;
			border: 1px solid #F0F0F0;
			display: block;
			float: left;
		}
		.info {
			padding-left: 93px;
			.title {
				font-size: 14px;
				line-height: 18px;
				padding-top: 6px;
				margin-bottom: 16px;
			}
			.label {
				margin-right: 9px;
				display: inline-block;
			}
			.span {
				line-height: 16px;
				margin-bottom: 7px;
				color: #959595;
				display: block;
			}
		}
	}
	.list {
		.caption {
			line-height: 36px;
			padding-left: 18px;
			border-bottom: 1px solid #F0F0F0;
		}
		ul {
			padding: 5px 18px;
			li {
				padding: 13px 0 13px 27px;
				position: relative;
				line-height: 16px;
				.time {
					margin-right: 10px;
					display: inline-block;
				}
				&:before {
					content: '';
					width: 1px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 3px;
					background-color: #DBDBDB
				}
				&:after {
					content: '';
					width: 7px;
					height: 7px;
					background-color: #DBDBDB;
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: 18px;
				}
				&:first-child {
					.time:before {
						content: '';
						width: 1px;
						height: 18px;
						position: absolute;
						top: 0;
						left: 3px;
						background-color: #fff;
					}
					&:after {
						background-color: #000;
					}
				}
				&:last-child {
					&:before {
						height: 50%;
						top: 0%;
					}
				}
			}
		}
		.no-traces {
			padding: 18px;
			line-height: 16px;
			display: block;
		}
	}
}
</style>