<template>
	<div class="section-user user-orders">
		<ul class="orders-nav">
			<li><a v-link="{ path: '/orders/unpaid', exact: true }">进行中</li></a>
			<li><a v-link="{ path: '/orders/finish', exact: true }">已完成</li></a>
			<li><a v-link="{ path: '/orders/salesReturn', exact: true }">退货单</li></a>
		</ul>
		<template v-if="orders">
			<ul class="items">
				<template v-if="$route.params.category == 'unpaid'">
					<template v-if="unpaid.length > 0">
						<orders-item v-for="order in unpaid" :order="order"></orders-item>
					</template>
					<li class="empty-orders" v-else>
						<span class="g-icon"></span>
						<span class="text">无订单</span>
					</li>
				</template>
				<template v-if="$route.params.category == 'finish'">
					<template v-if="finish.length > 0">
						<orders-item v-for="order in finish" :order="order"></orders-item>
					</template>
					<li class="empty-orders" v-else>
						<span class="g-icon"></span>
						<span class="text">无订单</span>
					</li>
				</template>
				<template v-if="$route.params.category == 'salesReturn'">
					<template v-if="salesReturn.length > 0">
						<orders-item v-for="order in salesReturn" :order="order"></orders-item>
					</template>
					<li class="empty-orders" v-else>
						<span class="g-icon"></span>
						<span class="text">无订单</span>
					</li>
				</template>
			</ul>
		</template>
		<div class="empty-orders" v-else>
			<span class="g-icon"></span>
			<span class="text">无订单</span>
		</div>
	</div>
	<cancel-order></cancel-order>
	<delete-order></delete-order>
	<confirm-goods></confirm-goods>
	<exchange></exchange>
</template>

<script>
	import User from '../../../store/user'
	export default {
		name: 'user-orders',

		components: {
			'orders-item': require('./item'),
			'cancel-order': require('./cancel-order'),
			'delete-order': require('./delete-order'),
			'confirm-goods': require('./confirm-goods'),
			'exchange': require('./exchange')
		},

		events: {
			'signIn' () {
				User.actions.initOrders()
			}
		},

		created () {
			if (typeof(User.state.user.id) !== 'undefined') {
				User.actions.initOrders()
			}
		},

		data () {
			return {
				unpaid: [],
				finish: [],
				salesReturn: []
			}
		},

		computed: {
			orders () {
				this.unpaid = []
				this.finish = []
				this.salesReturn = []
				let list = User.state.orders
				for (let i = 0, j = list.length; i < j; i++) {
					let status = list[i].order_status
					if (status < 7 || status == 14 || status == 15 || status == 16) {
						this.unpaid.push(list[i])
						this.unpaid.reverse()
					}
					if (status > 6 && status < 9) {
						this.finish.push(list[i])
						this.finish.reverse()
					}
					if (status > 8 && status < 14) {
						this.salesReturn.push(list[i])
						this.salesReturn.reverse()
					}
				}
				return list
			}
		}
	}
</script>

<style lang="sass" scoped>
.user-orders {
	.orders-nav {
		background-color: #FBFBFB;
		display: table;
		width: 100%;
		margin-bottom: 10px;
		li {
			display: table-cell;
			text-align: center;
			line-height: 36px;
			color: #959595;
			a {
				display: block;
			}
			.v-link-active {
				color: #B37E79;
				position: relative;
				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: #B37E79;
				}
			}
		}
	}
	.empty-orders {
		text-align: center;
		padding-top: 65px;
		.g-icon {
			width: 54px;
			height: 40px;
			background-position: -180px -150px;
			display: inline-block;
			margin-left: -12px;
			margin-bottom: 10px;
		}
		.text {
			display: block;
			color: #9C9C9C;
		}
	}
}
</style>