<template>
	<li class="item">
		<div class='item-title'>
			<span class="g-icon"></span>
			<span class="status" v-if="order.order_status == 1">未支付</span>
			<span class="status" v-if="order.order_status == 2">订单已支付押金，等待发货</span>
			<span class="status" v-if="order.order_status == 3">升级更换</span>
			<span class="status" v-if="order.order_status == 4">已发货</span>
			<span class="status" v-if="order.order_status == 5">已收货</span>
			<span class="status" v-if="order.order_status == 6">返还中</span>
			<span class="status" v-if="order.order_status == 7">已完成</span>
			<span class="status" v-if="order.order_status == 8">售后服务</span>
			<span class="status" v-if="order.order_status == 9">已取消</span>
			<span class="status" v-if="order.order_status == 10">已申请取消订单</span>
			<span class="status" v-if="order.order_status == 11">处理取消订单申请中</span>
			<span class="status" v-if="order.order_status == 12">拒绝订单取消</span>
			<span class="status" v-if="order.order_status == 13">订单已取消</span>
			<span class="status" v-if="order.order_status == 14">订单已升级更新</span>
			<span class="status" v-if="order.order_status == 15">订单预定中，发货前请支付押金</span>
			<span class="status" v-if="order.order_status == 16">订单已支付押金，等待自提</span>
		</div>
		<span class="g-icon exchange" v-if="order.exchange_to_order_id"></span>
		<div class="goods-info">
			<a v-link="'/order-details/' + order.id">
				<div class="cover">
					<img :src="order.default_image + '|imageView2/1/w/156/h/234'" :alt="product.name">
				</div>
				<div class="info">
					<h3 class="title">{{ order.product.name }}</h3>
					<ul>
						<li><span class="label">颜色</span><span :style="{ backgroundColor: order.product_rgb }" class="color-box"></span></li>
						<li><span class="label">尺码</span><span class="hh">XL</span></li>
						<li><span class="label">时间</span><span class="time">{{order.created_at}}</span></li>
						<li v-for="(key, val) in category.sizes" v-if="key == order.product.size"><span class="label">尺寸</span>{{ val }}</li>
					</ul>
				</div>
			</a>
		</div>
		<div class="link-list" v-if="order.order_status == 1">
			<a v-link="'/pay?order_id=' + order.id">立即支付</a>
			<a @click="cancelOrder">取消订单</a>
		</div>
		<div class="link-list" v-if="order.order_status == 2">
			<a @click="cancelOrder">取消订单</a>
		</div>
		<div class="link-list" v-if="order.order_status == 3">
			<a v-link="'/after-sale'">申请退款</a>
			<a @click="exchange">升级更换</a>
		</div>
		<div class="link-list" v-if="order.order_status == 4">
			<a v-link="'/express/' + order.id" v-if="order.express_company !== '商家直送'">查看物流</a>
			<a class="express-link" v-link="'/express' + order.id" v-else>商家直送</a>
			<a @click="confirmGoods">确认收货</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 5">
			<a v-link="'/after-sale'">申请售后</a>
			<a v-link="'/order-comment?order_id=' + order.id + '&amp;product_id=' + order.product_name_group_id">晒单</a>
			<a v-link="'/refund?order_number=' + order.order_number + '&amp;order_id=' + order.id">返还商品</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 6">
			<a v-link="'/after-sale'">联系客服</a>
			<a v-link="'/order-detail?id=' + order.id">查看返还进度</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 7 || order.order_status == 8">
			<a v-link="'/after-sale'">联系客服</a>
			<a @click="deleteOrder">删除订单</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 12">
			<a v-link="'/see-why'">查看原因</a>
			<a @click="deleteOrder">删除订单</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 15">
			<a v-link="'/pay-deposit?id=' + order.id">支付押金</a>
			<a @click="cancelOrder">取消订单</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 16">
			<a @click="cancelOrder">取消订单</a>
			<a @click="getGoods">拿到产品</a>
		</div>
		<div class="link-list"  v-if="order.order_status == 9 || order.order_status == 13">
			<a @click="deleteOrder">删除订单</a>
		</div>
	</li>
</template>

<script>
	import Popup from '../../../store/popup'
	import Basic from '../../../store/basic'
	export default {
		name: 'orders-item',

		props: ['order'],

		data () {
			return {
				confirmGoodsInfo: {
					id: this.order.id,
					source: 'order-list'
				},
				getGoodsInfo: {
					id: this.order.id,
					source: 'order-list'
				},
				cancelOrderInfo: {
					id: this.order.id,
					source: 'order-list'
				},
				deleteOrderInfo: {
					id: this.order.id,
					source: 'order-list'
				}
			}
		},

		computed: {
			category () {
				return Basic.state.category
			}
		},

		methods: {
			cancelOrder () {
				Popup.state.cancelOrder.args = this.cancelOrderInfo
				Popup.state.cancelOrder.show = true
			},
			deleteOrder () {
				Popup.state.deleteOrder.args = this.deleteOrderInfo
				Popup.state.deleteOrder.show = true
			},
			confirmGoods () {
				Popup.state.confirmGoods.args = this.confirmGoodsInfo
				Popup.state.confirmGoods.show = true
			},
			getGoods () {
				Popup.state.confirmGoods.args = this.getGoodsInfo
				Popup.state.confirmGoods.show = true
			},
			exchange () {
				Popup.state.exchange.id = this.order.id
				Popup.state.exchange.show = true
			}
		}
	}
</script>


<style lang="sass" scoped>
.item {
	margin-bottom: 10px;
	background-color: #FFF;
	position: relative;
	.exchange {
		width: 70px;
		height: 70px;
		background-position: -210px -390px;
		position: absolute;
		top: 13px;
		right: 18px;

	}
	.item-title {
		line-height: 16px;
		position: relative;
		padding: 10px 10px 10px 35px;
		.g-icon {
			width: 9px;
			height: 10px;
			background-position: -60px -30px;
			position: absolute;
			top: 13px;
			left: 20px;
		}
	}
	.goods-info {
		border-top: 1px solid #F0F0F0;
		border-bottom: 1px solid #F0F0F0;
		overflow: hidden;
		padding: 10px 20px;
		.cover {
			max-width: 78px;
			border: 1px solid #F0F0F0;
			box-sizing: border-box;
			float: left;
			overflow: hidden;
		}
		.info {
			padding: 10px 0 0 88px;
			.title {
				font-size: 14px;
				margin-bottom: 5px;
			}
			li {
				line-height: 16px;
				padding: 3px 0;
			}
			.label {
				display: inline-block;
				margin-right: 8px;
			}
			.color-box {
				width: 12px;
				height: 12px;
				border: 1px solid #DFDFDF;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
			}
			.time {
				color: #959595;
			}
			.hh {
				font-weight: bold;
			}
		}
	}
	.link-list {
		display: table;
		width: 100%;
		a {
			display: table-cell;
			text-align: center;
			line-height: 44px;
			width: 33%;
		}
		a + a {
			position: relative;
			&:before {
				content: '';
				width: 1px;
				height: 14px;
				position: absolute;
				top: 50%;
				left: 0;
				background-color: #E3E3E3;
				margin-top: -7px;
			}
		}
	}
}
</style>