<template>
	<div class="order-refund-help" v-if="orderDetail">
		<div class="info">
			<div class="name-wrap">
				<span class="name">{{ orderDetail.contact_user_name }}</span>
				<span class="phone">{{ orderDetail.phone }}</span>
			</div>
			<p class="addr"><span class="g-icon"></span>{{ orderDetail.address }}</p>
		</div>
		<p class="tips">请打包好产品，确保产品无损坏，并邮寄给以上地址，商家收到产品会主动与您联系！</p>
	</div>
</template>
<script>
	import Popup from '../../../store/popup'
	import User from '../../../store/user'
	export default {
		name: 'order-refund-help',

		events: {
			'signIn' () {
				User.actions.initOrderDetail({
					order_id: this.$route.query.order_id
				})
			}
		},

		created () {
			if (typeof(User.state.user.id) !== 'undefined') {
				User.actions.initOrderDetail({
					order_id: this.$route.query.order_id
				})
			}
		},

		computed: {
			orderDetail () {
				return User.state.orderDetail
			}
		}
	}
</script>

<style lang="sass" scoped>
.order-refund-help {
	padding: 18px;
	.info {
		border: 1px dashed #000;
		padding: 12px 19px 15px 20px;
		.name-wrap {
			line-height: 16px;
			position: relative;
			padding-right: 100px;
			margin-bottom: 5px;
			.phone {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		.addr {
			line-height: 16px;
			position: relative;
			padding-left: 14px;
			.g-icon {
				width: 7px;
				height: 11px;
				background-position: -180px 0;
				position: absolute;
				top: 2px;
				left: 0;
			}
		}
	}
	.tips {
		padding-top: 21px;
		color: #BBBBBE;
		line-height: 16px;
	}
}