<template>
	<div class="order-refund">
		<a v-link="'/refund-help?order_id=' + $route.query.order_id" class="refund-help-btn">返还流程</a>
		<div class="form">
			<label class="form-control">
				<span class="label">订单号</span>
				<span class="text" v-if="refund">{{ order_number }}</span>
				<input placeholder="示例：123124124" type="text"  name="order-number" v-model="order_number" v-else />
			</label>
			<label class="form-control">
				<span class="label">快递方式</span>
				<span class="text" v-if="refund">{{ refund.express_company }}</span>
				<div class="selector" v-else>
					<span class="text">未选择</span>
					<span class="g-icon"></span>
					<select name="express_company" v-model="express_company" class="express-type">
						<option value="STO">申通快递</option>
						<option value="YTO">圆通快递</option>
						<option value="SF">顺丰快递</option>
						<option value="YD">韵达快递</option>
						<option value="ZTO">中通快递</option>
						<option value="EMS">EMS</option>
						<option value="ZJS">宅急送</option>
					</select>
				</div>
			</label>
			<label class="form-control">
				<span class="label">快递单号</span>
				<span class="text" v-if="refund">{{ refund.express_number }}</span>
				<input placeholder="请输入快递单号" type="text"  name="express-number" v-model="express_number" v-else />
			</label>
			<span class="button" @click="submit" v-if="!refund">提交返还信息</span>
		</div>
		<div class="tips">提示：商家收到产品后会主动联系您，并退还您的押金，请耐心等待！</div>
	</div>
</template>

<script>
	import Popup from '../../../store/popup'
	import User from '../../../store/user'
	export default {
		name: 'order-refund',

		data () {
			return {
				order_id: '',
				order_number: '',
				express_company: '',
				express_number: ''
			}
		},

		created () {
			if (User.state.refund) {
				User.state.refund = false
			}
			User.actions.getRefund({
				id: this.$route.query.order_id
			})
		},

		computed: {
			refund () {
				let data = User.state.refund
				return data
			}
		},

		ready () {
			$('.express-type').on('change', function(event) {
				event.preventDefault()
				let text = $(this).find('option:selected').text()
				$(this).parent().children('.text').text(text)
			})
			if (this.$route.query.order_number) {
				this.order_id = this.$route.query.order_id
				this.order_number = this.$route.query.order_number
			}
		},

		methods: {
			submit () {
				if (this.order_id.length == 0) {
					Popup.state.globalMsg.single = '请填写订单号！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.express_company.length == 0) {
					Popup.state.globalMsg.single = '请选择快递方式！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.express_number.length == 0) {
					Popup.state.globalMsg.single = '请填快递单号！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.order_id.length !== 0 && this.express_number.length !== 0) {
					User.actions.putRefund({
						'order_id': this.order_id,
						'express_company': this.express_company,
						'express_number': this.express_number
					})
				}
			}
		}
	}
</script>

<style lang="sass" scoped>
.order-refund {
	padding: 20px 19px 50px;
	.refund-help-btn {
		position: fixed;
		top: 16px;
		right: 18px;
		z-index: 55;
	}
	.form {
		.form-control {
			padding-top: 15px;
			& > .text {
				float: right;
			}
		}
	}
	.tips {
		color: #BBBBBE;
		line-height: 16px;
		padding-top: 50px;
	}
	.button {
		position: fixed;
		bottom: 0;
		left: 0;
	}
}
</style>