<template>
	<div :class="$options.name">
		<ul class="guide-list" v-if="category">
			<li v-for="(key, occasions) in category.occasions" class="{{ key == 1 ? 'formal-dress' : '' }}{{ key == 2 ? 'wedding-dress' : '' }}{{ key == 3 ? 'performance-dress' : '' }}" >
				<a v-link="'/home?occasion=' + key">
					<img :src="occasions.image + '?imageView2/1/w/554/h/552'" :alt="occasions.name" v-if="key == 2">
					<div class="caption-wrap">
						<h2 class="title-en">{{ occasions.english_name }}</h2>
						<h3 class="title-zh">／{{ occasions.name }}<span class="link-btn"><i class="com-icon"></i></span></h3>
						<p class="intr">{{ occasions.intro }}</p>
					</div>
					<img :src="occasions.image + '?imageView2/1/w/960/h/480'" :alt="occasions.name" v-if="key == 1">
					<img :src="occasions.image + '?imageView2/1/w/395/h/552'" :alt="occasions.name" v-if="key == 3">
				</a>
			</li>
			<li class="app-guide">
				<div class="brand">
					<h1 class="title">RentVogue</h1>
					<p class="intr">婚纱礼服租赁</p>
				</div>
				<div class="link-wrap">
					<div class="serve">
						<span>了解更多</span>
						<h3 class="caption">产品购买服务</h3>
						<a v-link="'/service/problem'" class="link-btn"><i class="com-icon"></i></a>
						<span class="com-icon serve-icon"></span>
					</div>
					<div class="app-img">
						<img src="../img/app-img.png" height="251" width="201" alt="app">
					</div>
					<div class="app-qr">
						<span>扫一扫</span>
						<h3 class="caption">iOS 客户端下载</h3>
						<div class="qr-box">
							<img src="../img/app-qr.png" height="69" width="69" alt="iOS 客户端下载">
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
	import Basic from 'store/basic'
	export default {
		name: 'p-guide',

		computed: {
			category () {
				return Basic.state.category
			}
		}
	}
</script>

<style lang="stylus" scoped>
.p-guide
	max-width 960px
	margin 0 auto
	font-size 14px
	padding-bottom 29px
	.guide-list
		& > li
			margin-top 42px
			position relative
			a
				display: block
				overflow hidden
	.caption-wrap
		position absolute
		top 50%
		-webkit-transform translateY(-50%)
		-ms-transform translateY(-50%)
		transform translateY(-50%)
		max-width 250px
		text-align center
		.title-en
			font-size 36px
			font-weight normal
			font-family serif
			margin 0 0 12px
		.title-zh
			font-size 20px
			font-weight normal
			margin 0 0 28px
		.link-btn
			margin-left 12px
		.intr
			color #838383
	.link-btn
		.com-icon
			width 18px
			height 18px
			background-position -90px -480px
			display inline-block
			vertical-align middle
	.serve-icon
		width 59px
		height 13px
		background-position 0 -480px
		display inline-block
	.formal-dress
		min-height 480px
		.caption-wrap
			left 120px
	.wedding-dress
		min-height 552px
		img
			float left
		.caption-wrap
			right 83px
	.performance-dress
		min-height 552px
		img
			float right
		.caption-wrap
			max-width 400px
			left 48px
	.app-guide
		background-color #F4F4F4
		.brand
			text-align center
			padding 101px 0 62px
			.title
				font-size 36px
				font-weight normal
				font-family serif
				margin 0 0 16px
			.intr
				color #838383
		.link-wrap
			overflow hidden
			& > div
				width 33%
				float left
				text-align center
			span
				color #838383
			.caption
				font-size 16px
				margin 0 0 25px
				padding-top 11px
			.qr-box
				padding-top 9px
			.serve,
			.app-qr
				padding-top 26px
			.serve
				.link-btn
					width 18px
					height 18px
					display block
					margin 0 auto 28px
</style>