<template>
	<div :class="$options.name">
		<div class="title">添加收货地址</div>
		<form>
			<div class="input">
				<span class="label">收件人姓名</span>
				<input placeholder="请输入" v-model="contact_user_name" />
			</div>
			<div class="input">
				<span class="label">联系方式</span>
				<input placeholder="请输入" v-model="contact_user_cell_phone" />
			</div>
			<div class="input">
				<span class="label">选择省份或城市</span>
            	<div class="selector">
					<span>未选择</span>
					<select name="city" class="select-city" v-model="city">
						<option v-for="item in _city" value="{{ $key }}">{{ item.name }}</option>
					</select>
            	</div>
			</div>
			<div class="input">
				<span class="label">选择区域</span>
            	<div class="selector">
                	<span>未选择</span>
					<select name="district" class="select-district">
						<template v-for="item in _city" v-if="$key == city">
							<template v-if="$key == city">
								<template v-for="(key , val) in item.district">
									<option value="{{ key }}">{{ val }}</option>
								</template>
							</template>
						</template>
					</select>
				</div>
			</div>
			<div class="input">
				<span class="label">详细地址</span>
				<input placeholder="请输入" v-model="details" />
			</div>
			<input type="button" name="add" value="添加" class="submit-btn" @click="addAddress">
		</form>
	</div>
</template>

<script>
	import User from 'store/user'
	import Popup from 'store/popup'
	import Basic from 'store/basic'
	import Api from '../../../api'
	export default {
		name: 'M__AddAddressPanel',

		data() {
			return {
				city: '',
				district: '',
				contact_user_cell_phone: '',
				contact_user_name: '',
				details: '',
				is_default: '0'
			}
		},

		computed: {
			_city () {
				let city = User.state.cities
				return city
			}
		},

		ready () {
			(function ($) {
				$('.select-city').on('change', function(event) {
					event.preventDefault()
					let city_text = $(this).find('option:selected').text()
					let val = $(this).parents('.input').next().find('.select-district').children().eq(0).val()
					let text = $(this).parents('.input').next().find('.select-district').children().eq(0).text()
					$(this).parents('.input').next().find('.select-district').children().eq(0).val()
					$(this).parents('.input').next().find('.select-district').val(val)
					$(this).parents('.input').next().find('.selector > span').text(text)
					$(this).parent().children('span').text(city_text)
				})
				$('.select-district').on('change', function(event) {
					event.preventDefault()
					let text = $(this).find('option:selected').text()
					$(this).parent().children('span').text(text)
				})
			})(window.$)
		},

		methods: {
			addAddress() {
				let phone = this.contact_user_cell_phone
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				if (this.contact_user_name.length == 0) {
					Popup.state.commonInfo.single = '请输入收件人姓名！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (!telReg) {
					Popup.state.commonInfo.single = '请输入正确的手机号码！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.contact_user_name.length == 0) {
					Popup.state.commonInfo.single = '请输入收件人姓名！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.city.length == 0) {
					Popup.state.commonInfo.single = '请选择城市！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.details.length == 0) {
					Popup.state.commonInfo.single = '请输入详细地址！'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.contact_user_name.length !== 0 && telReg && this.contact_user_name.length !== 0 && this.city.length !== 0 && this.details.length !== 0) {
					this.district = $(event.currentTarget).parent().find('.select-district').val()
					Basic.actions.loadStart()
					Api.addAddress({
						data: {
							'token': this.$root.token,
							'user_id': this.$root.user.id,
							'city': this.city,
							'district': this.district,
							'contact_user_cell_phone': this.contact_user_cell_phone,
							'contact_user_name': this.contact_user_name,
							'details': this.details,
							'is_default': this.is_default
						},
						success: res => {
							this.$dispatch('popup.close')
							Basic.actions.loadEnd()
							Popup.state.commonInfo.single = '添加地址成功！'
							Popup.state.commonInfo.show = true
							this.$parent.$parent.$parent._addressList = this._list()
							this.$parent.$parent.$parent.addrListShow = true
						},
						error: res => {
							Basic.actions.loadEnd()
							Popup.state.commonInfo.more.title = '添加地址失败'
							for (let list in res.data) {
								for (let i = 0, j = res.data[list].length; i < j ; i++) {
									Popup.state.commonInfo.more.list.push(res.data[list][i])
								}
							}
							Popup.state.commonInfo.show = true
						}
					})
				}
			},
			_list () {
				User.actions.initAddress({
					id: this.$root.user.id
				})
				return User.state.address
			}
		}
	}
</script>

<style lang="stylus" scoped>
.M__AddAddressPanel
	height 470px
	padding 60px 93px 0
	.title
		text-align center
		font-size 20px
		line-height 21px
		height 42px
		border-bottom 1px solid #e8e8e8
		margin-bottom 22px
	.input
		border-bottom 1px solid #e8e8e8
		padding 14px 0 10px 104px
		position relative
		font-size 12px
		input
			border 0
			width 100%
			color #000
			font-size 12px
		&:before
			content ''
			height 1px
			background-color #000
			position absolute
			bottom -1px
			width 0
			left 50%
		&:hover:before
			left 0
			width 100%
			transition all .3s
		.label
			width 104px
			color #BBBBBE
			float left
			font-size 12px
			padding-left 2px
			margin-left -104px
			box-sizing border-box
	.submit-btn
		border-radius 2px
		width 100%
		margin-top 39px
	.submit
		margin-top 17px
		height 50px
		border-radius 2px
		background-color #b37e79
		color #fff
		padding 19px 0
		font-size 12px
		text-align center
		&:hover
			cursor pointer
			background-color #8e5651
			transition background .3s
</style>
