<template>
	<div :class="$options.name">
		<a @click="open" class="add-addr">添加收货地址</a>
		<m-modal :show="addAddressShow">
			<m-add-address-panel></m-add-address-panel>
		</m-modal>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'M__AddAddress',

		components: {
			MModal: require('../Modal'),
			MAddAddressPanel: require('./AddAddressPanel')
		},

		computed: {
			addAddressShow () {
				return Popup.state.addAddress
			}
		},

		events: {
			'popup.close' () {
				this.close()
			}
		},

		methods: {
			close () {
				Popup.state.addAddress = false
			},
			open () {
				Popup.state.addAddress = true
			}
		}
	}
</script>

<style lang="stylus" scoped>
.M__AddAddress
	.add-addr
		display block
		position relative
		margin 17px 0 0 40px
</style>
