<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li>详情</li>
			<li>提交订单</li>
			<li>支付</li>
		</ul>
		<div class="container">
			<h2>支付宝支付</h2>
			<div class="alipay-wrap">
				<div class="alipay-login">
					<form>
						<ul class="input-list">
							<li><span class="alipay-user com-icon"></span><input placeholder="支付宝帐号" name="alipay-user"></li>
							<li><span class="password com-icon"></span><input placeholder="支付密码" type="password" name="password"></li>
						</ul>
						<div class="btn-wrap">
							<input type="submit" class="submit-btn" value="支付金额" />
						</div>
					</form>
				</div>
				<div class="pay-qr">
					<span class="title">或者直接扫码支付</span>
					<img src="../../../img/temp/alipay-qr.jpg" height="110" width="110" alt="支付二维码" class="qr">
				</div>
			</div>
			<div class="order-info">
				<span class="price">￥800</span>
				<span class="goods">BDAGLLLE新款晚会裙</span>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__AilPay'
	}
</script>

<style lang="stylus" scoped>
.M__AilPay
	padding 65px 0 50px
	max-width 900px
	margin 0 auto
	.container
		max-width 452px
		margin 0 auto
		padding-top 40px
		text-align center
		h2
			font-size 18px
			margin 0 0 20px
			border-bottom 1px solid #ddd
			padding-bottom 21px
			font-weight 100
		.alipay-wrap
			overflow hidden
			padding 37px 0 68px
			border-bottom 1px solid #ddd
		.alipay-login
			float left
			width 100%
			padding-right 165px
			box-sizing border-box
			text-align left
			.input-list
				&>li
					height 43px
					border-bottom 1px solid #e8e8e8
					padding 19px 0 12px 25px
					position relative
					.com-icon
						display block
						position absolute
						left 0
					.alipay-user
						width 15px
						height 15px
						background-position -60px 0
						bottom 10px
					.password
						width 11px
						height 14px
						background-position -120px 0
						bottom 10px
					input
						border 0
						width 100%
						color #000
						font-size 12px
					&:before
						content ''
						height 1px
						background-color #000
						position absolute
						bottom -1px
						width 0
						left 50%
					&:hover:before
						left 0
						width 100%
						transition all .3s
			.submit-btn
				width 100%
				border-radius: 2px
				letter-spacing 2px
				line-height 50px
				margin-top 17px
		.pay-qr
			max-width 104px
			float right
			margin-left -100%
			padding-top 18px
			.title
				color #ACACAC
				margin-bottom 15px
				display block
			.qr
				max-width 100%
		.order-info
			padding-top 40px
			.price
				display block
				font-size 14px
				margin-bottom 15px
			.goods
				font-size 12px
				color #ACACAC
</style>
