<template>
	<div :class="$options.name">
		<div class="thumb-slider flexslider">
			<ul class="slides">
				<li v-for="img in item.images" track-by="$index" :data-thumb="img + '?imageView2/1/w/60/h/60'">
					<img :src="img + '?imageView2/1/w/258/h/198'" alt="晒图" />
				</li>
			</ul>
		</div>
		<div class="text-area">
			<span class="name">{{ item.user_name }}</span>
			<ul class="info">
				<li>
					<span class="caption">尺寸</span>
					<span>{{ item.size }}</span>
				</li>
				<li>
					<span class="caption">使用场景</span>
					<span>{{ item.occasion }}</span>
				</li>
			</ul>
			<ul class="star-list">
				<li class="star com-icon" v-for="star in item.stars"></li>
			</ul>
			<p class="comment-text">“{{ item.comment }}”</p>
			<ul class="tag">
				<li v-for="tag in item.tags" track-by="$index">{{ tag }}</li>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	name: 'M__CommentItem',
	props: [ 'item' ],
	ready () {
		$(this.$el).children('.thumb-slider').flexslider({
			'animation': 'slide',
			'controlNav': 'thumbnails',
			'animationLoop': false,
			'directionNav': false,
			'slideshow': false
		})
	}
}
</script>

<style lang="stylus" scoped>
.M__CommentItem
	padding 28px 0 6px 15px
	overflow hidden

	.thumb-slider
		width 258px
		margin 0
		border none
		float left

	.text-area
		padding-left 288px

		.name
			font-size 15px
			display block
			margin-bottom 11px
			font-weight bold
			margin-top 5px

		.info
			line-height 22px
			padding-bottom 8px

			span
				display inline-block
				color #ACACAC

			.caption
				width 135px

		.star-list
			font-size 0
			padding-top 15px
			border-top 1px solid #ebebeb

			.star
				width 16px
				height 15px
				display block
				display inline-block
				letter-spacing -4px
				background-position -210px -90px

			li+li
				margin-left 6px

		.comment-text
			line-height 16px
			margin 0
			padding 12px 0 17px

		.tag
			font-size 10px
			color #959595
			overflow hidden
			padding-top 15px
			border-top 1px solid #ebebeb

			li
				float left
				padding 0 15px
				line-height 23px
				background-color #F3F3F3
				border-radius 2px

				&+li
					margin-left 8px
</style>
