<template>
	<div :class="[$options.name, bOpen?'open':'']">
		<div class="y1" @click="bOpen=!bOpen">
			<a class="x1">
				{{ sTitle }}
				<div class="tool-tips" v-if="sTitle == '尺寸'">
					（尺码不合适怎么办
					<div class="icon">
						<span class="com-icon"></span>
						<div class="info">
							<div class="content">
								<p>下单成功后请与该产品供应商联系，预约线下试穿服务，如该产品尺寸不合适，我们将免费为您调换其他产品。</p>
								<p class="highlight">注：线下试穿需额外支付订单总额的10%作为服务费用，到店支付。</p>
								<p>服务过程中如有任何产品质量或服务问题，请及时与我们联系！</p>
							</div>
						</div>
					</div>
					）
				</div>
			</a>
			<a class="x2">{{ bOpen ? '-' : '+' }}</a>
		</div>
		<div class="y2" v-show="bOpen">
			<slot></slot>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__GoodsFilterItem',
		props: [ 'sTitle', 'bOpen' ]
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterItem
	font-size 12px
	border-bottom 1px solid #ddd
	margin-bottom 20px
	.y1
		font-size 10px
		line-height 11px
		height 26px
		cursor pointer
		position relative
		.x1
			float left
		.x2
			float right
			line-height 10px
			text-align center
			width 10px
	.tool-tips
		color #B37E79
		display inline-block
		.icon
			width 11px
			height 11px
			display inline-block
			.com-icon
				width 11px
				height 11px
				background-position 0 -360px
				vertical-align middle
				cursor help
				display block
			.info
				position absolute
				right 0
				top 100%
				padding 20px 0 0 0
				width 225px
				display none
				z-index 1
				margin-top -18px
				&:before,
				&:after
					content ''
					display block
					position absolute
					border-style solid
				&:before
					top 13px
					left 63px
					border-width 0 6px 8px 6px
					border-color transparent transparent #F0F0F0 transparent
				&:after
					top 14px
					left 64px
					border-width 0 5px 7px 5px
					border-color transparent transparent #FFF transparent
				.content
					background-color #fff
					border 1px solid #F0F0F0
					padding 25px 15px 10px
					line-height 16px
					color #000
					box-shadow: 0px 2px 4px rgba(184, 184, 184, .5)
					p
						font-size 12px
						& + p
							padding-top 15px
					.highlight
						color #B37E79
						padding-left 5px
			&:hover .info
				display block
</style>
