<template>
	<div :class="$options.name">
		<div class="caption">
			<span>其他用户还看了</span>
			<div class="recommend-slider-nav">
				<div class="prev" @click="prev"></div>
				<div class="next" @click="next"></div>
			</div>
		</div>
		<div class="recommend-slider">
			<ul class="slides">
				<li v-for="item in recommend.data">
					<m-recommend-item :item="item" :index="$index"></m-recommend-item>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
    import GoodsDetail from 'store/goods-detail'
	export default {
		components: {
			MRecommendItem: require('./RecommendItem')
		},

		data () {
			return {
				recommendSlider: {}
			}
		},

        computed: {
            recommend () {
                return GoodsDetail.recommend
            }
        },

		events: {
			'initRecommendSlider' (index) {
				let $wrap = $('.recommend-slider'),
					itemTotal = this.recommend.data.length,
					totalPages = Math.ceil(itemTotal / 4),
					itemWidth = $wrap.width() / 4,
					ulWidth = itemTotal * itemWidth * 2
				if (index == itemTotal) {
					$wrap.data('page', 1).find('.slides').width(ulWidth).find('li').width(itemWidth)
					this.sliderTo(1)
				}
			}
		},

		methods: {
			prev () {
				let $slider = $('.recommend-slider'),
					page = $slider.data('page') - 1
				if (page < 1) {
					return false
				}
				this.sliderTo(page)
			},
			next () {
				let $slider = $('.recommend-slider'),
					page = $slider.data('page') + 1,
					itemTotal = this.recommend.data.length,
					totalPages = Math.ceil(itemTotal / 4)
				if (page > totalPages) {
					return false
				}
				this.sliderTo(page)
			},
			sliderTo (page) {
				let $slider = $('.recommend-slider'),
					pageWidth = $slider.width(),
					$sliderUl = $slider.find('.slides'),
					itemTotal = this.recommend.data.length,
					totalPages = Math.ceil(itemTotal / 4)
				if (page == 1) {
					$('.recommend-slider-nav').find('.prev').addClass('stop')
				}
				else {
					$('.recommend-slider-nav').find('.prev').removeClass('stop')
				}
				if (page == totalPages) {
					$('.recommend-slider-nav').find('.next').addClass('stop')
				}
				else {
					$('.recommend-slider-nav').find('.next').removeClass('stop')
				}
				$slider.data('page', page)
				$sliderUl.css('margin-left', '-' + (page - 1) * pageWidth + 'px')
			}
		},

		name: 'M__GoodsRecommend'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsRecommend
	max-width 916px
	margin 0 auto
	padding-bottom 66px
	position relative
	.caption
		padding 11px 0 15px
		margin 0 8px 24px
		display block
		border-bottom 1px solid #ddd
	ul
		overflow hidden
		text-align left
		letter-spacing -4px
		font-size 0
	li
		text-align center
		display inline-block
		vertical-align top
	.recommend-slider-nav
			float right
			font-size 12px
			font-weight bold
			text-align center
			& > div
				float left
				margin-left: 20px
			.prev,
			.next
				width 7px
				height 15px
				position relative
				text-align center
				cursor pointer
				&:before
					content ''
					width 7px
					height @width
					border-top 1px solid
					color #000
					display inline-block
				&.stop
					cursor no-drop
					&:before
						color #ddd
			.next:before
				border-right 1px solid
				transform-origin left top
				transform rotate(45deg)
			.prev:before
				border-left 1px solid
				transform-origin right top
				transform rotate(-45deg)
	.recommend-slider
		overflow hidden
		.slides
			transition all .5s ease
</style>
