<template>
	<div :class="$options.name">
		<label>
			<select id="day" v-model="args.type">
				<option value="4">4天</option>
				<option value="8">8天</option>
			</select>
			<input id="datepicker" v-model="args.date">
			<div><m-icon-calendar></m-icon-calendar></div>
		</label>
	</div>
</template>

<script>
    import GoodsDetail from 'store/goods-detail'
	export default {
		components: {
			'm-icon-calendar': require('../../../module/icon/calendar')
		},
		name: 'M__GoodsFilterTime',
        props: ['args'],
        computed: {
            _target () {
                return GoodsDetail.target
            }
        },
		ready () {
			let $ = window.$
			let _this = this
			$('#day').uniform()
			$('#datepicker').datepicker({
				minDate: 0
			})
			// 绑定鼠标悬停事件，加悬停类
			$('body').on('mouseenter', '.ui-datepicker-calendar tbody .ui-state-default', function () {
				// 获取当前页所有日期元素
				let selector = $('.ui-datepicker-calendar tbody .ui-state-default'),
					// 获取租期范围
					count = $('#day').val(),
					// 获取当前悬停日期在所有日期元素中的位置
					index = selector.index(this),
					// 计算悬停租期范围的最后一天在所有日期元素中的位置
					last = Number(index) + Number(count) - 1
				// 清除当前页所有日期悬停类
				selector.removeClass('ui-state-first-hover ui-state-last-hover ui-state-hover')
				// 给当前悬停日期范围的第一天加类
				selector.eq(index).addClass('ui-state-first-hover')
				// 当前悬停日期范围的最后一天加类
				selector.eq(last).addClass('ui-state-last-hover')
				// 遍历租期，给悬停租期内所有元素加类
				for (let i = 0, j = count; i < j; i++) {
					selector.eq(index++).addClass('ui-state-hover')
				}
			})
			// 当鼠标离开月份区域，清除悬停类
			$('body').on('mouseleave', '.ui-datepicker-calendar tbody', function () {
				let selector = $('.ui-datepicker-calendar tbody .ui-state-default')
				selector.removeClass('ui-state-first-hover ui-state-last-hover ui-state-hover')
			})
		}
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterTime
	height 52px
	padding-top 3px
	label
		height 36px
		border 1px solid #ddd
		padding-left 117px
		position relative
		&:before
			content ''
			border-top 1px solid #acacac
			border-right @border-top
			width 7px
			height @width
			transform rotate(135deg)
			float left
			margin-left -20px
			margin-top 10px
		input
			width 100%
			float left
			padding 12px 0 12px 10px
			background-color transparent
		& > div
			width 27px
			position absolute
			top 7px
			right 0
			z-index 0
	#datepicker
		z-index 9
		position relative
</style>
