<template>
	<div :class="$options.name">
		<span class="collect com-icon" @click="putFavorite(0)" v-if="goods.is_favorite == 1"></span>
		<span class="not-collect com-icon" @click="putFavorite(1)" v-if="goods.is_favorite == 0"></span>
		<h2>{{ goods.name }}</h2>
		<span class="price">租赁价 ¥<template v-if="date.type == '4'">{{ goods.four_day_rent_price }}</template><template v-else>{{ goods.eight_day_rent_price }}</template> <span class="deposit" v-if="goods.deposit">零售价¥{{ goods.market_price }}</span></span>
		<div class="merchant-info" v-if="goods.supplier || goods.supplier_address">
			<div class="merchant-wrap">该产品由
				<div class="merchant">
					<span>{{ goods.supplier }}</span>
					<div class="info">
						<div class="content">
							<h4 class="caption">{{ goods.supplier }}</h4>
							<p v-if="goods.supplier_detail">{{ goods.supplier_detail }}</p>
							<p v-else>暂无商家介绍</p>
						</div>
					</div>
				</div>
				提供
			</div>
			<p class="phone" v-if="goods.supplier_phone"><i class="com-icon"></i>{{ goods.supplier_phone }}</p>
			<p class="address" v-if="goods.supplier_address"><a class="com-icon" :href="'http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D' + goods.supplier_address" target="_Blank"></a>{{ goods.supplier_address }}</p>
		</div>
		<p class="describe" v-if="goods.describe">“{{ goods.describe }}”</p>
		<div class="parameter">
			<h3>产品参数</h3>
			<ul>
				<li class="brand-wrap">
					<h4>品牌</h4>
					<div class="brand">
						<span>{{ goods.product_category }}</span>
						<div class="info">
							<div class="content">
								<h4 class="caption">{{ goods.product_category }}</h4>
								<p v-if="_brandIntr">{{ _brandIntr }}</p>
								<p v-else>暂无品牌介绍</p>
							</div>
						</div>
					</div>
				</li>
				<li>
					<h4>分类</h4>
					<span>{{ goods.usage_category }}</span>
				</li>
				<li>
					<h4>适应场景</h4>
					<span>{{ goods.suit_occasion }}</span>
				</li>
				<li>
					<h4>使用押金</h4>
					<div class="cash-pledge">
						<div class="discount" v-if="$root.user.verify_status !== 3">
							（实名认证后押金8折
							<div class="icon">
								<span class="com-icon"></span>
								<div class="info">
									<p class="content">身份认证后，您下单将享受支付8折押金，更多的惊喜服务，赶紧<a v-link="'/id-card'">去认证</a></p>
								</div>
							</div>
							）
						</div>
						￥{{ goods.deposit }}
					</div>
				</li>
				<li>
					<h4>身材</h4>
					<span>{{ goods.body_figure }}</span>
				</li>
				<li>
					<h4>款式</h4>
					<span>{{ goods.style }}</span>
				</li>
			</ul>
		</div>
		<div class="options">
			<a class="open-all" @click="closeAll" v-if="sizeShow && colorShow && dateShow">收起全部</a>
			<a class="open-all" @click="openAll" v-else>展开全部</a>
		</div>
		<div class="options-detail">
			<m-goods-filter-item s-title="尺寸" :b-open.sync="sizeShow">
				<m-goods-filter-size></m-goods-filter-size>
			</m-goods-filter-item>
			<m-modal></m-modal>
			<m-goods-filter-item s-title="颜色" :b-open.sync="colorShow">
				<m-goods-filter-color></m-goods-filter-color>
			</m-goods-filter-item>
			<m-goods-filter-item s-title="租赁时间" :b-open.sync="dateShow">
				<m-goods-filter-time :args.sync="date"></m-goods-filter-time>
			</m-goods-filter-item>
			<w-button @click="buy">立即购买</w-button>
		</div>
		<div class="share">
			<span class="share-btn">分享<i class="com-icon"></i></span>
			<div class="share-list">
				<div class="content">
					<div class="item">
						<span class="com-icon weixin"></span>
						<div class="detail weixin-detail"></div>
					</div>
					<div class="item" @click="weibo">
						<span class="com-icon weibo"></span>
						<img src="../../../img/rentvogue.jpg" alt="微博分享" class="weibo-img">
					</div>
					<div class="item">
						<span class="com-icon pyq"></span>
						<div class="detail pyq-detail"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Collect from 'store/collect'
	import Goods from 'store/goods'
    import GoodsDetail from 'store/goods-detail'
	import Api from '../../../api'
	import Popup from 'store/popup'
	export default {
		props: ['goods'],

		components: {
			MGoodsFilterItem: require('./GoodsFilterItem'),
			MGoodsFilterSize: require('./GoodsFilterSize'),
			MGoodsFilterColor: require('./GoodsFilterColor'),
			MGoodsFilterTime: require('./GoodsFilterTime'),
			WButton: require('../../../widget/button'),
			MModal: require('../../../module/goods/size-modal')
		},

		computed: {
			_target () {
				return GoodsDetail.target
			},
			_brandIntr () {
				return Goods.state.brandIntr
			}
		},

		data () {
			return {
				date: {
					type: 4
				},
				sizeShow: true,
				colorShow: true,
				dateShow: true
			}
		},

		ready () {
			let $ = window.$
			let _this = this
			// 当切换月份时设置不可租日期
			$('.ui-corner-all').on('click', function(event) {
				event.preventDefault()
				_this.rentDate()
				_this.selectedDate()
			})
			// 当日期选择控件出现，设置已选择的日期范围
			$('#datepicker').on('click', function(event) {
				event.preventDefault()
				_this.rentDate()
				_this.selectedDate()
			})

			let shareUrl = location.origin + '/index.html#!/share-goods%3id=' + this.$route.query.id
			let wxQr = new AraleQRCode({
				size: 120,
				text: shareUrl
			})
			let pyqQr = new AraleQRCode({
				size: 120,
				text: shareUrl
			})
			$('.share-list .weixin-detail').html(wxQr)
			$('.share-list .pyq-detail').html(pyqQr)
		},

		methods: {
			rentDate () {
				let _this = this
				if ($('body').children().eq(0).hasClass('B__Goods')) {
					// 获取当前页所有日期元素
					let tdLIst = $('.ui-datepicker-calendar').find('td')
					// 遍历当前页所有日期元素
					let type = {
						'4': 'four_days',
						'8': 'eight_days'
					}[_this.date.type]
					// 获取不可租日期
					let unavaliable = _this.goods.unavaliable[type]
					for (let i = 0, j = tdLIst.length; i < j; i++) {
						// 记录所有元素的日期
						let year = $(tdLIst[i]).data('year')
						let month = $(tdLIst[i]).data('month') + 1
						let day = $(tdLIst[i]).children('a').text()
						// 将个位数设为两位数
						if (month < 10) {
							month = '0' + month
						}
						if (day < 10) {
							day = '0' + day
						}
						let date = year + '-' + month + '-' + day
						if (year !== undefined) {
							if (unavaliable.length > '0') {
								// 遍历不可租日期
								for (let a = 0, b = unavaliable.length; a < b; a++) {
									// 判断当前日期是否在不可租范围内
									if (date >= unavaliable[a].start_date && date <= unavaliable[a].end_date) {
										// 给不可租类标记不允许点击
										$(tdLIst[i]).addClass('ui-datepicker-unselectable ui-state-disabled ui-datepicker-other-month')
									}
								}
							}
							else {
								$(tdLIst[i]).removeClass('ui-datepicker-unselectable ui-state-disabled ui-datepicker-other-month')
							}
						}
					}
				}
			},
			selectedDate () {
				let _this = this
				// 获取当前页所有日期元素
				let selector = $('.ui-datepicker-calendar tbody td'),
					// 获取租期范围
					count = $('#day').val(),
					// 获取当前选中日期在所有日期元素中的位置
					index = selector.index($('.ui-datepicker-current-day')),
					// 获取租期范围的最后一天在所有日期元素中的位置
					last = Number(index) + Number(count) - 1
				if (index >= 0) {
					// 获取选中租期范围
					selector.removeClass('ui-datepicker-first-day ui-datepicker-last-day ui-datepicker-current-day')
					// 给租期第一天加类
					selector.eq(index).addClass('ui-datepicker-first-day')
					// 给租期最后一天加类
					selector.eq(last).addClass('ui-datepicker-last-day')
					// 给租期内所有元素加类
					for (let i = 0, j = count; i < j; i++) {
						selector.eq(index++).addClass('ui-datepicker-current-day')
					}
				}
			},
			putFavorite (status) {
				if (this.$root.token.length !== 0) {
					let goodsId = this.$route.query.id
					Api.putFavorite({
						data: {
							'goods_id': goodsId
						},
						success: res => {
							this.goods.is_favorite = status
						}
					})
					Collect.actions.initCollect({
						'user_id': this.$root.user.id,
						'page': 1
					})
				}
				else {
					Popup.state.login = true
				}
			},
			openAll () {
                this.sizeShow = true
                this.colorShow = true
                this.dateShow = true
			},
			closeAll () {
                this.sizeShow = false
                this.colorShow = false
                this.dateShow = false
			},
			buy () {
				if (this.$root.token.length !== 0) {
					if ('{}' == JSON.stringify(this._target)) {
						Popup.state.commonInfo.more.title = '购买信息不完整'
						Popup.state.commonInfo.more.list.push('请选择颜色！')
						Popup.state.commonInfo.show = true
						return
					}
					if (!this.date.date) {
						// alert('请选择租赁时间')
						Popup.state.commonInfo.more.title = '购买信息不完整'
						Popup.state.commonInfo.more.list.push('请选择租赁时间！')
						Popup.state.commonInfo.show = true
						return
					}
					// 不可租类型标识
					let type = {
						'4': 'four_days',
						'8': 'eight_days'
					}[this.date.type]
					// 获取不可租日期数组
					let unavaliable = this._target.unavaliable[type]
					// 获取结束日期
					let endDate = new Date(this.date.date)
					endDate.setDate(endDate.getDate() + parseInt(this.date.type) - 1)
					let endDateStr = '' + endDate.getFullYear() + '-' +
						((endDate.getMonth() < 9) ? '0' + ((endDate.getMonth() + 1)) : (endDate.getMonth() + 1)) + '-' +
						(endDate.getDate() < 10 ? '0' + endDate.getDate() : endDate.getDate())
					if (unavaliable.length) {
						for (let i = 0, j = unavaliable.length; i < j; i++) {
							// 开头日期在不可租范围内
							if (this.date.date >= unavaliable[i]['start_date'] && this.date.date <= unavaliable[i]['end_date']) {
								// alert(unavaliable[i]['start_date'] + ' ~ ' + unavaliable[i]['end_date'] + ' 期间不可租，请选择其他日期范围')
								Popup.state.commonInfo.more.title = '日期范围不可租'
								Popup.state.commonInfo.more.list.push(unavaliable[i]['start_date'] + ' ~ ' + unavaliable[i]['end_date'] + ' 期间暂不可租，请选择其他日期范围')
								Popup.state.commonInfo.show = true
								return
							}
							// 结束日期在不可租范围内
							if (endDateStr >= unavaliable[i]['start_date'] && endDateStr <= unavaliable[i]['end_date']) {
								// alert(unavaliable[i]['start_date'] + ' ~ ' + unavaliable[i]['end_date'] + ' 期间不可租，请选择其他日期范围')
								Popup.state.commonInfo.more.title = '日期范围不可租'
								Popup.state.commonInfo.more.list.push(unavaliable[i]['start_date'] + ' ~ ' + unavaliable[i]['end_date'] + ' 期间暂不可租，请选择其他日期范围')
								Popup.state.commonInfo.show = true
								return
							}
						}
					}
					let submitData = {
						'product_id': this.$route.query.id,
						'property_group_id': this._target.property_group_id,
						'rent_days': this.date.type,
						'rent_start_date': this.date.date,
						'rent_end_date': endDateStr
					}
					if (this.$route.query.order_id) {
						submitData.order_id = this.$route.query.order_id
					}
					localStorage.removeItem('goodsSubmit')
					localStorage.setItem('goodsSubmit', JSON.stringify(submitData))
					this.$route.router.go('/goods/submit')
				}
				else {
					Popup.state.login = true
				}
			},
			weibo () {
				let share = {
					'appkey': '2627720936',
					'title': '婚纱有多高端大气现在才知道， rentvogue 让你租赁顶级婚纱，小伙伴们快来围观！注册还有千元优惠券拿！！！',
					'imgUrl': location.origin + $('.weibo-img').attr('src'),
					'url': location.origin + '/index.html%23!%2Fshare-goods%3id%3D' + this.$route.query.id
				}
				let URL = 'http://v.t.sina.com.cn/share/share.php?appkey=' + share.appkey + '&title=' + share.title + '&pic=' + share.imgUrl + '&url=' + share.url,
					name = '分享到微博-微博-随时随地分享身边的新鲜事儿',
					features = 'height=100,width=400,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no, status=no'
				window.open(URL,name,features)
			}
		},
		name: 'M__GoodsBuy'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsBuy
	width 300px
	float right
	margin-left -300px
	position relative
	padding-bottom 50px

	.options
		height 43px
		padding-top 11px
		padding-right 20px
		text-align right
		&:after
			float right
			margin-right -18px
			margin-top -1px
			content ''
			border-top 1px solid
			border-right @border-top
			width 7px
			height @width
			transform rotate(135deg)
		&.open:after
			margin-top 4px
			transform rotate(-45deg)
	.not-collect,
	.collect
		position absolute
		right 0
		top 0
		display block
		width 19px
		height 16px
		cursor pointer
		background-position -240px 0
	.collect
		position absolute
		right 0
		top 0
		display block
		width 19px
		height 16px
		cursor pointer
		background-position -270px 0

	h2
		font-size 15px
		margin 0px 0 12px 0
		padding-right 25px

	.price
		display block
		padding-bottom 12px
		border-bottom 1px solid #F0F0F0
		.deposit
			font-size 9px
			color #B9B9B9
			display inline-block
			padding-left 15px
			vertical-align: middle

	.merchant-info
		border-bottom 1px solid #F0F0F0
		padding 4px 0
		.merchant-wrap
			line-height 20px
			.merchant
				display inline-block
				position relative
				cursor help
				.caption
					color #000
					font-size 14px
					width 100%
					margin 10px 0 10px
					float none
					padding-bottom 10px
					border-bottom 1px solid #ECECEC
				&:hover
					.info
						display block
				span
					text-decoration underline
				.info
					position absolute
					left 0
					top 100%
					padding 10px 0 0 0
					width 225px
					display none
					z-index 1
					&:before,
					&:after
						content ''
						display block
						position absolute
						border-style solid
					&:before
						top 3px
						left 8px
						border-width 0 6px 8px 6px
						border-color transparent transparent #F0F0F0 transparent
					&:after
						top 4px
						left 9px
						border-width 0 5px 7px 5px
						border-color transparent transparent #FFF transparent
					.content
						background-color #fff
						border 1px solid #F0F0F0
						padding 15px 15px 11px
						line-height 16px
						color #000
						box-shadow: 0px 2px 4px rgba(184, 184, 184, .5);
						a
							color #B37E79
							padding-left 5px
						p
							line-height 16px
		p
			line-height 20px
		.address,
		.phone
			position relative
			padding-left 18px
			.com-icon
				width 8px
				height 12px
				display inline-block
				background-position 0 -210px
				position absolute
				top 50%
				left 0
				margin-top -6px
		.phone
			.com-icon
				width 9px
				height 9px
				background-position -30px -210px
				margin-top -5px

	.describe
		line-height 16px
		color #959595
		margin 10px 0 13px

	.parameter
		padding-top 8px
		&>h3
			font-size 10px
			margin 0 0 7px

		&>ul
			li
				padding 11px 0
				border-bottom 1px solid #ECECEC
				&:after
					content ''
					width 0
					height 0
					display block
					clear both
					overflow hidden
					opacity 0

				h4
					color #959595
					float left
					margin 0
					font-weight normal

				span
					float right
		.cash-pledge
			float right
			.discount
				color #B37E79
				display inline-block
			.icon
				position relative
				width 11px
				height 11px
				display inline-block
				.com-icon
					width 11px
					height 11px
					background-position 0 -360px
					vertical-align middle
					cursor help
				&:hover .info
					display block
		.cash-pledge .info,
		.brand .info
			position absolute
			right -12px
			top 100%
			padding 10px 0 0 0
			width 190px
			display none
			z-index 1
			&:before,
			&:after
				content ''
				display block
				position absolute
				border-style solid
			&:before
				top 3px
				right 12px
				border-width 0 6px 8px 6px
				border-color transparent transparent #F0F0F0 transparent
			&:after
				top 4px
				right 13px
				border-width 0 5px 7px 5px
				border-color transparent transparent #FFF transparent
			.content
				background-color #fff
				border 1px solid #F0F0F0
				padding 15px 15px 11px
				line-height 16px
				color #000
				box-shadow: 0px 2px 4px rgba(184, 184, 184, .5);
				a
					color #B37E79
					padding-left 5px
		.brand-wrap
			position relative
		.brand
			float right
			position relative
			cursor help
			.caption
				color #000
				font-size 14px
				width 100%
				margin 10px 0 10px
				float none
				padding-bottom 10px
				border-bottom 1px solid #ECECEC
			.info
				right 0
				&:before
					right 8px
				&:after
					right 9px
			&:hover
				.info
					display block
	.share
		display inline-block
		position absolute
		right 0
		bottom 19px
		&:hover
			.share-list
				display block
		.share-btn
			cursor pointer
			.com-icon
				width 13px
				height 9px
				display inline-block
				margin-left 5px
				background-position -180px -360px
		.share-list
			width 140px
			position absolute
			top 100%
			right 0
			background-color #fff
			padding 10px 0 0 0
			display none
			z-index 1
			&:before,
			&:after
				content ''
				display block
				position absolute
				border-style solid
			&:before
				top 3px
				right 12px
				border-width 0 6px 8px 6px
				border-color transparent transparent #F0F0F0 transparent
			&:after
				top 4px
				right 13px
				border-width 0 5px 7px 5px
				border-color transparent transparent #FFF transparent
			.content
				background-color #fff
				border 1px solid #F0F0F0
				padding 9px 10px 3px
				line-height 16px
				color #000
				box-shadow: 0px 2px 4px rgba(184, 184, 184, .5);
			.item
				display inline-block
				cursor pointer
				position relative
				&:hover .detail
					display block
				& + .item
					margin-left 10px
				.com-icon
					width 30px
					height 30px
					display block
				.weixin
					background-position 0 -420px
				.weibo
					background-position -120px -420px
				.pyq
					background-position -60px -420px
				.weibo-img
					display none
				img
					max-width 100%
				.detail
					width 140px
					position absolute
					top 100%
					left 50%
					margin-top 10px
					margin-left -70px
					padding 10px
					background-color #fff
					border 1px solid #ddd
					border-radius 5px
					display none
					&:before,
					&:after
						content ''
						display block
						position absolute
						border-style solid
						left 50%
					&:before
						top -6px
						margin-left -6px
						border-width 0 6px 6px 6px
						border-color transparent transparent #ddd transparent
					&:after
						top -5px
						margin-left -5px
						border-width 0 5px 5px 5px
						border-color transparent transparent #FFF transparent
</style>
