<template>
	<div :class="$options.name">
		<div class="nav">
			<a href='#' class="prev"></a>
			<div class="nav-viewport">
				<ul>
					<template
						v-for="thumb in images">
						<li v-if="$index == 0" class="active">
							<a href='javascript:void(0);'>
								<img :src="thumb.thumb + '|imageView2/1/w/140/h/210'" alt="产品名称" />
							</a>
						</li>
						<li v-else>
							<a href='javascript:void(0);'>
								<img :src="thumb.thumb + '|imageView2/1/w/140/h/210'" alt="产品名称" />
							</a>
						</li>
					</template>
				</ul>
			</div>
			<a href='#' class="next"></a>
		</div>
		<div class="content">
			<ul class="slides">
				<template v-for="img in images">
					<li v-if="$index == 0" class="active">
						<img :src="img.img + '|imageView2/1/w/416/h/625'" alt="产品名称" :data-zoom-img="img.thumb + '|imageView2/1/w/832/h/1250'" />
					</li>
					<li v-else>
						<img :src="img.img + '|imageView2/1/w/416/h/625'" alt="产品名称" :data-zoom-img="img.thumb + '|imageView2/1/w/832/h/1250'" />
					</li>
				</template>
			</ul>
			<div class="zoom-area"></div>
		</div>
		<div class="img-zoom"><img src="#"></div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				sliderNavInit: 0
			}
		},
		props: [
			'images'
		],
		methods: {
			// 缩略图导航往上滚动一次
			sliderNavPrev ($el, itemTotal) {
				let itemHeight = $el.parent().find('li').height() + 16
				// 判断缩略图是否超出显示窗口，不超出则不滚动
				if (itemTotal > 5) {
					// 判断是否已经滚到最后一个缩略图，不是则执行滚动
					if (this.sliderNavInit < itemTotal - 4) {
						this.sliderNavInit += 1
						$el.parent().find('ul').animate({
							'margin-top': -(this.sliderNavInit * itemHeight)
						}, 350)
					};
				};
			},
			// 缩略图导航往下滚动一次
			sliderNavNext ($el) {
				let itemHeight = $el.parent().find('li').height() + 16
				// 判断是否到顶部，不是则执行滚动
				if (this.sliderNavInit > 0) {
					this.sliderNavInit -= 1
					$el.parent().find('ul').animate({
						'margin-top': -(this.sliderNavInit * itemHeight)
					}, 350)
				}
			},
			// 大图跳转
			sliderSkip (index) {
				($ => {
					let _this = this
					let $this = $(_this.$el)
					let $sliderContent = $this.children('.content')
					let itemHeight = $sliderContent.find('li').height()
					$sliderContent.find('li').removeClass('active').eq(index).addClass('active')
					$sliderContent.find('.slides').animate({
						'margin-top': -(index * itemHeight)
					}, 350)
				})(window.$)
			}
		},
		ready () {
			($ => {
				let _this = this
				let $this = $(_this.$el)
				let $sliderNav = $this.children('.nav')
				let $sliderContent = $this.children('.content')
				let $zoomImgBox = $('.img-zoom')
				let $zoomArea = $('.zoom-area')
				_this.sliderNavInit = 0

				// 为缩略图导航绑定事件
				$sliderNav.on('click', 'li a', function (event) {
					event.preventDefault()
					let index = $(this).parent('li').index()
					$sliderNav.find('ul').children('li').removeClass('active')
						.eq(index).addClass('active')
					// $sliderContent.flexslider(index)
					_this.sliderSkip(index)

					// 如果点击到最后一个缩略图往上滚动一次
					if (index === (_this.sliderNavInit + 4)) {
						let itemTotal = $sliderNav.find('ul').children('li').length
						_this.sliderNavPrev($sliderNav.find('.prev'), itemTotal)
					}
					// 如果点击到最后一个缩略图往下滚动一次
					else if (index === _this.sliderNavInit) {
						_this.sliderNavNext($sliderNav.find('.next'))
					}
					return false

				// 绑定缩略图导航条滚动事件
				}).on('click', '.prev', function (event) {
					_this.sliderNavNext($(this))
					return false
				// 绑定缩略图导航条滚动事件
				}).on('click', '.next', function (event) {
					let itemTotal = $(this).parent().find('ul').children('li').length
					_this.sliderNavPrev($(this), itemTotal)
					return false
				})

				// 鼠标处于图片区域，放大查看
				$(window).mousemove((event) => {
					let $thisImg = $sliderContent.find('.active').children('img')
					let maxL = $thisImg.width()
					let maxT = $thisImg.height()
					let x = event.pageX - $sliderContent.offset().left
					let y = event.pageY - $sliderContent.offset().top
					// 判断是否在图片显示区域不在则跳出
					if (x < 0 || y < 0) {
						$zoomArea.removeClass('show')
						$zoomImgBox.fadeOut(200)
						return false
					}
					if (x > maxL || y > maxT) {
						$zoomArea.removeClass('show')
						$zoomImgBox.fadeOut(200)
						return false
					}
					// 计算放大区域（尺寸是150x150），相对于父元素的偏移
					let zoomAreaL = x - 75
					let zoomAreaT = y - 75
					if (x < 75) {
						zoomAreaL = 0
					}
					else if (x >= (maxL - 75)) {
						zoomAreaL = maxL - 150
					}
					if (y < 75) {
						zoomAreaT = 0
					}
					else if (y >= (maxT - 75)) {
						zoomAreaT = maxT - 150
					}
					$zoomArea.css({
						left: zoomAreaL,
						top: zoomAreaT
					}).addClass('show')
					// 设置放大显示区域图片位置
					let _src = $thisImg.attr('data-zoom-img')
					$zoomImgBox.fadeIn(200).children('img').attr('src', _src).css({
						left: -1 - zoomAreaL * 2,
						top: -1 - zoomAreaT * 2,
						width: maxL * 2,
						height: maxT * 2
					})
				})
			})(window.$)
		},
		name: 'M__GoodsGallery'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsGallery
	float left
	position relative
	z-index 1
	.nav
		width 100px
		margin-left -15px
		float left
		.prev, .next
			display block
			height 21px
			margin 0 15px
			border 1px solid #F1F1F1
			position relative
			&:before
				content ''
				width 10px
				height 10px
				border-top 1px solid #C3C3C3
				border-right 1px solid #C3C3C3
				position absolute
				top 50%
				left 50%
				margin-left -6px
		.prev
			margin-bottom 8px
			&:before
				margin-top -3px;
				transform rotate(-45deg)
				writing-mode lr-tb
		.next
			&:before
				margin-top -9px;
				transform rotate(135deg)
				writing-mode lr-tb
		.nav-viewport
			height 575px
			padding 0 15px
			overflow hidden
		li
			width 100%
			padding 8px 0
			&.active
				img
					border 1px solid #B37E79
			img
				width 100%
				border 1px solid #F1F1F1
	.content
		height 625px
		width 418px
		margin-left 110px
		position relative
		border 1px solid #F1F1F1
		cursor move
		overflow hidden
		li
			height 625px
			overflow hidden
			img
				max-width 100%
	.zoom-area
		display none
		position absolute
		top 0
		left 0
		z-index 0
		width 150px
		height 150px
		background-color rgba(0,0,0,0.1)
		&.show
			display block
			z-index 20
	.img-zoom
		display none
		position absolute
		right -320px
		top 0
		width 300px
		height 300px
		overflow hidden
		border 1px solid #F1F1F1
		background-color #fff
		img
			width 830px
			height 1250px
			position absolute
			left 0
			top 0
		&.show
			display block
</style>
