<template>
	<div :class="$options.name">
        <template v-for="item in list">
            <div v-if="item.have" class="item {{ item.id == target.id }}" :style="{background: item.rgb}" @click="active(item.id)"></div>
        </template>
	</div>
</template>

<script>
    import GoodsDetail from 'store/goods-detail'
	export default {
        computed: {
            list () {
                return GoodsDetail.color.list
            },
            target () {
                return GoodsDetail.color.target
            }
        },
		methods: {
			active (args) {
                // 切换时触发数据更新
                if (args != this.target.id) {
                    GoodsDetail.changeColor(args)
                }
			}
		},
		name: 'M__GoodsFilterColor'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterColor
	padding-top 4px
	margin-left -16px
	margin-bottom 5px
	overflow hidden
	.item
		width 28px
		height @width
		border-radius @width
		border 2px solid #fff
		margin-left -@margin-left
		margin-bottom 10px
		float left
		cursor pointer
		&:hover
			box-shadow 0 0 2px #b37e79
		&.true
			box-shadow 0 0 0 2px #b37e79
</style>
