<template>
	<ul :class="$options.name">
		<li><span>{{ style }}</span></li>
		<li>{{ name }}</li>
	</ul>
</template>

<script>
	export default {
		props: ['name', 'style'],
		name: 'M__GoodsBreadcrumb'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsBreadcrumb
	border-bottom 1px solid #ddd
	padding-bottom 15px
	&:after
		content ''
		clear both
		display table
	li
		float left
		color #ACACAC
		&+li
			padding-left 14px
			position relative
			&:before
				content ''
				display block
				width 6px
				height 6px
				border-top 1px solid #000
				border-right 1px solid #000
				position absolute
				left 1px
				top 2px
				transform rotate(45deg)
		span
			color #000
</style>
