<template>
	<div :class="$options.name">
		<m-goods-breadcrumb :name="goods.name" :style="goods.style"></m-goods-breadcrumb>
		<div class="content">
			<m-goods-gallery :images="goods.images"></m-goods-gallery>
			<m-goods-buy :goods.sync="goods"></m-goods-buy>
		</div>
	</div>
</template>

<script>
    import GoodsDetail from 'store/goods-detail'
	export default {
		components: {
			MGoodsBreadcrumb: require('./GoodsBreadcrumb'),
			MGoodsGallery: require('./GoodsGallery'),
			MGoodsBuy: require('./GoodsBuy')
		},
        computed: {
            goods () {
                return GoodsDetail.goods
            }
        },
		name: 'M__GoodsDetail'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsDetail
	max-width 900px
	margin 0 auto
	padding-bottom 59px
	.content
		padding-top 41px
		&:after
			content ''
			width 0
			height 0
			display block
			clear both
			opacity 0
</style>
