<template>
	<div :class="$options.name">
		<m-goods-detail></m-goods-detail>
		<m-goods-recommend></m-goods-recommend>
		<m-goods-comment></m-goods-comment>
	</div>
</template>

<script>
	import Basic from 'store/basic'
	import Api from '../../../api'
	import Goods from 'store/goods'
	export default {
		components: {
			MGoodsDetail: require('./GoodsDetail'),
			MGoodsRecommend: require('./GoodsRecommend'),
			MGoodsComment: require('./GoodsComment')
		},

		name: 'M__Goods'
	}
</script>

<style lang="stylus" scoped>
.M__Goods
	padding-top 65px
</style>
