<template>
	<div :class="$options.name">
        <template v-for="item in list">
    		<div v-if="item.have" class="item {{ item.id == target.id }}" @click="active(item.id)">{{ item.name }}</div>
        </template>
	</div>
</template>

<script>
    import GoodsDetail from 'store/goods-detail'
	export default {
        computed: {
            list () {
                return GoodsDetail.size.list
            },
            target () {
                return GoodsDetail.size.target
            }
        },
		methods: {
			active (args) {
                // 切换时触发数据更新
                if (args != this.target.id) {
                    GoodsDetail.changeSize(args)
                }
			}
		},
		name: 'M__GoodsFilterSize'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterSize
	font-size 12px
	margin-left -20px
	margin-bottom 5px
	overflow hidden
	.item
		width 26px
		height @width
		border-radius @width
		padding-top 6px
		text-align center
		color #b37e79
		border 1px solid rgba(0,0,0,.24)
		text-transform uppercase
		float left
		margin 5px 0 10px 20px
		cursor pointer
		&:hover
			box-shadow 0 0 3px rgba(0,0,0,.24)
		&.true
			border-color @color
			background-color @color
			color #fff
</style>
