<template>
	<div :class="$options.name">
		<span class="caption">购买记录</span>
		<template v-if="comment.last_page > 0">
			<ul class="list">
				<li v-for="item in comment.data">
					<m-comment-item :item="item"></m-comment-item>
				</li>
			</ul>
			<div class="paging">
				<ul>
					<li class="prev" @click="getComment(comment.current_page - 1)" v-if="comment.current_page > 1">{{ comment.current_page - 1 }}</li>
					<template v-if="comment.last_page < = 5">
						<template  v-for="page in comment.last_page">
							<li class="active" v-if="comment.current_page == $index + 1">{{ $index + 1 }}</li>
							<li @click="getComment($index + 1)" v-else>{{ $index + 1 }}</li>
						</template>
					</template>
					<template v-if="comment.last_page > 5">
						<template v-if="comment.last_page - comment.current_page >= 4">
							<template v-for="page in 5">
								<li class="active" v-if="$index == 0">{{ $index + comment.current_page }}</li>
								<li @click="getComment($index + comment.current_page)" v-else>{{ $index + comment.current_page }}</li>
							</template>
						</template>
						<template v-if="comment.last_page - comment.current_page == 3">
							<template v-for="page in 5">
								<li class="active" v-if="$index == 1">{{ $index + comment.current_page - 1 }}</li>
								<li @click="getComment($index + comment.current_page - 1)" v-else>{{ $index + comment.current_page - 1 }}</li>
							</template>
						</template>
						<template v-if="comment.last_page - comment.current_page == 2">
							<template v-for="page in 5">
								<li class="active" v-if="$index == 2">{{ $index + comment.current_page - 2 }}</li>
								<li @click="getComment($index + comment.current_page - 2)" v-else>{{ $index + comment.current_page - 2 }}</li>
							</template>
						</template>
						<template v-if="comment.last_page - comment.current_page == 1">
							<template v-for="page in 5">
								<li class="active" v-if="$index == 3">{{ $index + comment.current_page - 3 }}</li>
								<li @click="getComment($index + comment.current_page - 3)" v-else>{{ $index + comment.current_page - 3 }}</li>
							</template>
						</template>
						<template v-if="comment.last_page - comment.current_page == 0">
							<template v-for="page in 5">
								<li class="active" v-if="$index == 4">{{ $index + comment.current_page - 4 }}</li>
								<li @click="getComment($index + comment.current_page - 4)" v-else>{{ $index + comment.current_page - 4 }}</li>
							</template>
						</template>
					</template>
					<li class="next" @click="getComment(comment.current_page + 1)" v-if="comment.current_page < comment.last_page">{{ comment.current_page + 1 }}</li>
				</ul>
			</div>
		</template>
		<span class="no-comment" v-else>当前无购买记录！</span>
	</div>
</template>

<script>
    import GoodsDetail from 'store/goods-detail'
	import Api from '../../../api'
	export default {
		components: {
			MCommentItem: require('./CommentItem')
		},

        computed: {
            comment () {
                return GoodsDetail.comment
            }
        },

		data () {
			return {
				page: '1',
				goodsId: ''
			}
		},

		created () {
			this.goodsId = this.$route.query.id
		},

		methods: {
			getComment (page) {
				Api.getGoodsCommentIndex({
					data: {
						'page': page,
						'goods_id': this.goodsId
					},
					success: res => {
						this.comment = res.data.data
					},
					error: res => {
					}
				})
			}
		},

		name: 'M__GoodsComment'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsComment
	max-width 900px
	margin 0 auto
	.caption
		padding 11px 0 15px
		margin 0
		display block
		border-bottom 1px solid #ddd
	.list
		padding-bottom 31px
	.paging
		display block
		width 100%
		text-align center
		ul
			overflow hidden
			display inline-block
			vertical-align bottom
			padding-bottom 30px
		li
			width 30px
			height 30px
			display block
			float left
			line-height 30px
			cursor pointer
			border 1px solid #EDEDED
			transition All .3s ease
			&:hover
				border 1px solid #000
			& + li
				margin-left 12px
			&.active
				cursor not-allowed
				color #ACACAC
				background-color #F9F9F9
				border 1px solid #F9F9F9
			&.prev,
			&.next
				text-align left
				text-indent -99999px
				position relative
				&:before
					content ''
					width 8px
					height 8px
					border-top 1px solid #000
					border-left 1px solid #000
					position absolute
					top 10px
					left 12px
					transform: rotate(-45deg);
			&.next:before
				left 8px
				transform: rotate(135deg);
	.no-comment
		font-size 18px
		color #9c9c9c
		line-height 20px
		padding 30px 0 50px
		display block
</style>
