<template>
	<div :class="$options.name">
		<div class="title">优惠券选择</div>
			<div class="coupon-list">
				<div class="item no-use" @click="selectCoupon">
					<span class="com-icon"></span>
					<span class="explain">不使用优惠券</span>
				</div>
				<template v-for="coupon in coupons">
					<div class="item{{ $index == 0 ? ' active' : '' }}" @click="selectCoupon">
						<span class="com-icon"></span>
						<div class="coupon-mini {{  coupon.class }}">
							<span class="com-icon"></span>
							<span class="picre">￥{{ coupon.cut }}</span>
							<span class="explain">满{{ coupon.need }}可用</span>
						</div>
						<span class="explain">满{{ coupon.need }}减{{ coupon.cut }}</span>
					</div>
				</template>
			</div>
			<a class="submit-btn" @click="submitCoupon">选择</a>
		</div>
	</div>
</template>

<script>
	import User from 'store/user'
	export default {
		ready () {
			($ => {
				$('.coupon-list').mCustomScrollbar({
					theme: 'dark-3',
					scrollInertia: 500
				})
			})(window.$)
		},
        computed: {
			coupons () {
				let list = User.state.coupons
				let coupons = {}
				for (let i = 0, j = list.length; i < j; i++) {
					if (list[i].need <= this.$parent.$parent.$parent.price.single) {
						coupons[i] = JSON.parse(JSON.stringify(list[i]))
					}
				}
				return coupons
			}
		},
		methods: {
			selectCoupon (event) {
				let index = $(event.currentTarget).index()
				$(event.currentTarget).parent().children().removeClass('active')
					.eq(index).addClass('active')
			},
			submitCoupon () {
				let index = $('.M__OtherCouponPanel .coupon-list .item.active').index()
				this.$parent.$parent.$parent.changeCoupon(index)
				this.$dispatch('popup.close')
			}
		},

		name: 'M__OtherCouponPanel'
	}
</script>

<style lang="stylus" scoped>
.M__OtherCouponPanel
	height 446px
	padding 60px 63px 59px 93px
	line-height 1
	.title
		text-align center
		font-size 20px
		line-height 21px
		height 42px
		margin-right 30px
		border-bottom 1px solid #e8e8e8
	.coupon-list
		overflow-y auto
		height 220px
	.item
		overflow hidden
		padding 20px 0 11px 24px
		border-bottom 1px solid #ececec
		position relative
		cursor pointer
		&>.com-icon
			width 14px
			height 14px
			display block
			position absolute
			left 0
			top 50%
			margin-top -6px
			background-position 100% 100%
			border 1px solid #ddd
			border-radius 50%
		&.active
			&>.com-icon
				background-position -90px -180px
				border-color transparent
		&>.explain
			color #959595
			line-height 40px
			float right
		&.no-use
			padding 17px 0 14px 24px
			&>.explain
				color #959595
				line-height 40px
				float left
	.coupon-mini
		height 40px
		overflow hidden
		position relative
		padding 8px 9px 2px 10px
		box-sizing border-box
		text-align right
		float left
		&:before,
		&:after
			content ''
			display block
			width 10px
			height 10px
			background-color #fff
			position absolute
			top 50%
			margin-top -5px
			border-radius 50%
		&:before
			left -6px
		&:after
			right -6px
		.com-icon
			width 3px
			height 34px
			position absolute
			top 50%
			left 7px
			margin-top -17px
			background-position -270px -150px
		&.coupon-1
			background-color #F3EDE0
			color #A96D67
		&.coupon-2
			background-color #E0F3F3
			color #62909E
		&.coupon-3
			background-color #E0E8F3
			color #7864A2
		&.coupon-4
			background-color #F3E0E0
			color #864F4F
		.picre
			display block
			font-size 14px
			margin-bottom 2px
	.submit-btn
		border-radius 2px
		margin-top 21px
		margin-right 30px
		width auto
		text-align center
		display block
</style>
