<template>
	<div :class="$options.name">
		<a @click="open" class="add-addr">使用其他优惠券</a>
		<m-modal :show="otherCouponShow">
			<m-other-coupon-panel></m-other-coupon-panel>
		</m-modal>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'M__OtherCoupon',

		components: {
			MModal: require('../Modal'),
			MOtherCouponPanel: require('./OtherCouponPanel')
		},

		computed: {
			otherCouponShow () {
				return Popup.state.otherCoupon
			}
		},

		events: {
			'popup.close' () {
				this.close()
			}
		},

		methods: {
			close () {
				Popup.state.otherCoupon = false
			},
			open () {
				Popup.state.otherCoupon = true
			}
		}
	}
</script>

<style lang="stylus" scoped>
.M__OtherCoupon
	float right
	line-height 40px
</style>
