<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li>详情</li>
			<li>提交订单</li>
			<li>支付反馈</li>
		</ul>
		<div class="container">
			<div class="feedback">
				<span class="succeed com-icon"></span>
				<div class="content">
					<h2>支付成功</h2>
					<p class="text-area">您的订单号＃XXXXXXXX，支付宝付款251元</p>
					<span class="caption">你可继续:</span>
					<div class="link-list">
						<a href="#">查看订单</a>
						<a href="index.html">返回首页</a>
					</div>
				</div>
			</div>
			<div class="try">
				<span class="caption">预约现场试穿</span>
				<p class="annotation">您可预约商家尽行现在试穿体验，为了能为您得到更好的体验，产品拍下后，均可预约试穿一次</p>
				<div class="address-wrap">
					<h3 class="store">维斯 SADi 宏达店</h3>
					<span class="address"><span class="com-icon"></span>北京市朝阳区街道名称时代广场928号</span>
					<span class="phone"><span class="com-icon"></span>400-2312-2312</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__PayFeedback'
	}
</script>

<style lang="stylus" scoped>
.M__PayFeedback
	padding 65px 0 50px
	max-width 900px
	margin 0 auto
	.container
		padding-top 147px
		max-width 625px
		margin 0 auto
		overflow hidden
		.feedback
			max-width 385px
			margin 0 auto 20px
			.succeed
				width 42px
				height 42px
				display block
				float left
				background-position 0 -150px
			.content
				padding-left 73px
				&>h2
					margin -2px 0 11px 0
					font-size 21px
					color #B37E79
					font-weight 100
				.text-area
					margin 0 0 20px
					line-height 16px
				.caption
					color #ACACAC
					display block
					margin-bottom 12px
			.link-list
				overflow hidden
				a
					display block
					float left
				a + a
					padding-left 22px
					margin-left 21px
					position relative
					&:before
						content ''
						display block
						width 1px
						height 12px
						position absolute
						left 0
						top 0
						background-color #e5e5e5
		.try
			border-top 1px solid #F0F0F0
			padding-top 32px
			.caption
				display block
				margin-bottom 6px
			.annotation
				margin 0 0 24px
				color #868686
			.address-wrap
				padding 11px 12px 9px
				border 1px dashed #C1C1C1
				.store
					margin 0 0 11px
					font-size 12px
					padding-bottom 11px
					font-weight 100
					border-bottom 1px solid #D7D7D7
				.address
					display block
					position relative
					padding-left 15px
					margin-bottom 8px
					.com-icon
						width 8px
						height 12px
						background-position -0px -210px
						position absolute
						left 0
						top 50%
						margin-top -6px
				.phone
					display block
					position relative
					padding-left 15px
					.com-icon
						width 9px
						height 9px
						background-position -30px -210px
						position absolute
						left 0
						top 50%
						margin-top -5px
</style>
