<template>
	<div :class="$options.name">
		<a v-link="'/goods?id='+item.id" class="thumb" v-on:click="scrollTop">
			<img :src="item.img + '|imageView2/1/w/212/h/317'" alt="推荐商品">
		</a>
		<a v-link="'/goods?id='+item.id" v-on:click="scrollTop" class="title-wrap">
			<h2>{{ item.name }}</h2>
			<span class="price">租赁价 ￥{{ item.price }}</span>
			<span class="deposit" v-if="item.market_price">（原价 ¥{{ item.market_price }}）</span>
		</a>
	</div>
</template>

<script>
	export default {
		props: [ 'item', 'index' ],

		methods: {
			scrollTop () {
				$('html,body').animate({scrollTop: 0}, 500)
			}
		},

		ready () {
			this.$dispatch('initRecommendSlider' , this.index + 1)
		},

		name: 'M__RecommendItem'
	}
</script>

<style lang="stylus" scoped>
.M__RecommendItem
	padding-top 10px
	margin 0 8px
	letter-spacing 0
	font-size 12px
	.thumb
		border 1px solid #F1F1F1
		display block
		width 100%
		position relative

		&:after
			content ''
			width 100%
			height 100%
			position absolute
			left 0
			top 0
			opacity 0
			-webkit-transition opacity 0.3s
			-moz-transition opacity 0.3s
			transition opacity 0.3s
			box-shadow 0 0 15px rgba(0,0,0,0.15)
		&:hover:after
			opacity 1
		img
			width 100%
			vertical-align bottom
	.title-wrap
		h2
			font-size 12px
			margin 25px 0 20px
		span
			display block
		.deposit
			font-size 9px
			color #B9B9B9
			padding-top 5px
</style>
