<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/goods/?id=' + args.product_id">详情</a></li>
			<li>提交订单</li>
		</ul>
		<div class="container">
			<div class="order-info">
				<div class="thumb">
					<img :src="img + '|imageView2/1/w/248/h/368'" alt="产品图片">
				</div>
				<div class="info">
					<h2 class="title">{{ goods.name }}</h2>
					<div class="list">
						<ul class="f-left">
							<li>尺寸：{{ goods.size }}</li>
							<li>时间：{{ args.rent_days }}天 <span class="remark">({{ args.rent_start_date }}~{{ args.rent_end_date }})</span></li>
							<li>颜色：<span class="color-box" :style="{'background-color': goods.color}"></span></li>
							<li>押金：￥{{ price.deposit }}</li>
						</ul>
						<ul class="f-right">
							<li>身材：{{ goods.body_figure }}</li>
							<li>款式：{{ goods.style }}</li>
							<li>品牌：{{ goods.product_category }}</li>
						</ul>
					</div>
				</div>
			</div>
			<template v-if="!args.order_id">
				<div class="address-wrap">
					<ul class="radio-box">
						<li class="supplier-wrap">
							<label>
								<input type="radio" name="address_method" v-model="address_method" value="self" checked="checked"/>
								<span class="com-icon"></span>
								<div class="label">上门自提</div>
							</label>
							<div class="supplier current">
								<span class="label">商家：</span>
								<div class="store-address" v-for="item in supplier" v-if="item.id == supplierId">
									<span class="store">{{ item.name }} （{{ item.phone }}）</span>
									<span class="addr">{{ item.address }}</span>
								</div>
							</div>
							<div class="supplier-radio" v-show="supplierShow">
								<ul class="radio-box" v-if="supplier">
									<template v-for="item in supplier">
										<li class="{{ item.id == supplierId ? 'current' : '' }}">
											<label>
												<input type="radio" name="address" v-model="supplierId" value="{{ item.id }}" v-if="item.id == address.id" checked="checked">
												<input type="radio" name="address" v-model="supplierId" value="{{ item.id }}" v-else>
												<span class="com-icon"></span>
												<div class="label"><span class="name">{{ item.name }} </span><span class="phone">{{ item.phone }} </span><span class="addr">{{ item.address }}</span></div>
											</label>
										</li>
									</template>
								</ul>
							</div>
							<template v-if="supplier">
								<span class="hide-btn" @click="supplierShow = !supplierShow" v-if="supplierShow">收起</span>
								<span class="more-btn" @click="supplierShow = !supplierShow" v-else>选择其他供应商</span>
							</template>
						</li>
						<li>
							<label>
								<input type="radio" name="address_method" v-model="address_method" value="express" />
								<span class="com-icon"></span>
								<div class="label">快递方式</div>
							</label>
							<div class="address">
								<div class="address-list" v-if="_addressList.length !== 0">
									<div class="active">
										<span class="com-icon"></span>
										<div class="label">
											<span class="name">{{ address.contact_user_name }} </span>
											<span class="phone">{{ address.contact_user_cell_phone }} </span>
											<span class="addr">{{ address.city_name + address.district_name + address.details }}</span>
										</div>
									</div>
									<ul class="radio-box" v-show="addrListShow" transition>
										<template v-for="item in _addressList">
											<li @click="changeAddress(item, $event)" class="{{ item.id == address.id ? 'current' : '' }}">
												<label>
													<input type="radio" name="address" v-model="orderAddressId" value="{{ item.id }}" v-if="item.id == address.id" checked="checked">
													<input type="radio" name="address" v-model="orderAddressId" value="{{ item.id }}" v-else>
													<span class="com-icon"></span>
													<div class="label">
														<span class="name">{{ item.contact_user_name }} </span>
														<span class="phone">{{ item.contact_user_cell_phone }} </span>
														<span class="addr">{{ item.city_name + item.district_name + item.details }}</span>
													</div>
												</label>
											</li>
										</template>
									</ul>
									<template v-if="_addressList.length > 1">
										<span class="hide-btn" @click="addrListShow = !addrListShow" v-if="addrListShow">收起</span>
										<span class="more-btn" @click="addrListShow = !addrListShow" v-else>更多</span>
									</template>
								</div>
								<div class="no-address" v-else>无收货地址~</div>
								<m-add-address></m-add-address>
							</div>
						</li>
					</ul>
				</div>
				<div class="coupon-wrap">
					<div class="active-coupon">
						<span class="label">优惠券：</span>
						<template v-if="availableCoupon.length !== 0">
							<span v-if="couponIndex < 0" class="no-coupons">不使用</span>
							<template v-else>
								<div v-for="coupon in availableCoupon" v-if="$index == couponIndex" class="coupon-mini {{ coupon.class  }}">
									<span class="com-icon"></span>
									<span class="picre">￥{{ coupon.cut }}</span>
									<span class="explain">满{{ coupon.need }}可用</span>
								</div>
							</template>
							<m-other-coupon></m-other-coupon>
						</template>
						<div class="no-coupons" v-else>暂无可用优惠券</div>
					</div>
				</div>
				<div class="message-wrap">
					<span class="label">留言：</span>
					<div class="input-wrap">
						<input placeholder="对卖家备注什么？" name="remark" v-model="remark" />
					</div>
				</div>
				<div class="price-method-wrap">
					<ul class="radio-box">
						<li>
							<label>
								<input type="radio" name="price_method" v-model="price_method" value="rent"  checked="checked" />
								<span class="com-icon"></span>
								<div class="label">先付租金预定</div>
							</label>
							<div class="deposit-instructions">
								（押金何时支付
								<div class="icon">
									<span class="com-icon"></span>
									<div class="info">
										<div class="content">
											<p>为保证产品正常发货，我们建议请您在提前72小时支付产品押金，我们也会届时提示您，以免产品预定使用时间，无法收到产品！</p>
											<p class="highlight">注：在产品过了预定时间未支付押金，您也可以选择支付，但是要对产品下一客户使用周期，按天数进行金额的补交！</p>
										</div>
									</div>
								</div>
								）
							</div>
							<span>￥{{ price.single }}</span>
						</li>
						<li>
							<label>
								<input type="radio" name="price_method" v-model="price_method" value="total" />
								<span class="com-icon"></span>
								<div class="label">支付押金和租金</div>
							</label>
							<span>￥{{ price.single + price.deposit }}</span>
						</li>
					</ul>
				</div>
			</template>
			<div class="exchangeid-address" v-else>
				<span class="com-icon"></span>
				<div class="label" v-if="_addressList">
					<span class="name">{{ address.contact_user_name }} </span>
					<span class="phone">{{ address.contact_user_cell_phone }} </span>
					<span class="addr">{{ address.city_name + address.district_name + address.details }}</span>
				</div>
			</div>
			<div class="price-wrap">
				<div class="btn-wrap">
					<input type="button" class="submit-btn" value="提交订单" @click="submit">
				</div>
				<template v-if="availableCoupon.length !== 0">
					<template v-if="price_method == 'rent'">
						<span v-if="couponIndex < 0">总计：<span class="total">￥{{ price.single }}</span></span>
						<template v-else>
							<span v-for="coupon in availableCoupon" v-if="$index == couponIndex">总计：￥{{ price.single }} - ￥{{ coupon.cut }} = <span class="total">￥{{ price.single - coupon.cut }}<span></span>
						</template>
					</template>
					<template v-else>
						<span v-if="couponIndex < 0">总计：￥{{ price.single }} + ￥{{ price.deposit }} = <span class="total">￥{{ price.deposit + price.single }}</span></span>
						<template v-else>
							<span v-for="coupon in availableCoupon" v-if="$index == couponIndex">总计：￥{{ price.single }} + ￥{{ price.deposit }} - ￥{{ coupon.cut }} = <span class="total">￥{{ price.deposit + price.single - coupon.cut }}</span></span>
						</template>
					</template>
				</template>
				<template v-else>
					<span v-if="price_method == 'rent'">总计：<span class="total">￥{{ price.single }}</span></span>
					<span v-else>总计：￥{{ price.single }} + ￥{{ price.deposit }} = <span class="total">￥{{ price.deposit + price.single }}</span></span>
				</template>
			</div>
		</div>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	import Basic from 'store/basic'
	import User from 'store/user'
    import Api from 'api'
	export default {
		name: 'M__SubmitOrder',

		data () {
			return {
				goods: {},
				supplierShow: false,
				addrListShow: false,
				args: {},
				address: {},
				coupons: [],
				couponIndex: '0',
				remark: '',
				supplierId: '',
				orderAddressId: '',
				address_method: 'self',
				price_method: 'deposit',
				paid_method: ''
			}
		},

		components: {
			MModal: require('../Modal'),
			MAddAddress: require('./AddAddress'),
			MOtherCoupon: require('./OtherCoupon')
		},

		computed: {
			price () {
				let single = this.goods[{
					'4': 'four_day_rent_price',
					'8': 'eight_day_rent_price'
				}[this.args.rent_days]]
				let deposit
				if (this.$root.user.verify_status == 3) {
					deposit = this.goods.deposit * 0.8
				}
				else {
					deposit = this.goods.deposit
				}
				return {
					single: single,
					deposit: deposit
				}
			},
			_addressList () {
				let list = User.state.address
				for (let i = 0, j = list.length; i < j; i++) {
					if (list[i].is_default == '1') {
						this.address = JSON.parse(JSON.stringify(list[i]))
						break
					}
					else {
						this.address = JSON.parse(JSON.stringify(list[0]))
					}
				}
				return list
			},
			img () {
				if (this.goods.images && this.goods.images.length) {
					return this.goods.images[0].thumb
				}
				else {
					return '#'
				}
			},
			availableCoupon () {
				let list = User.state.coupons
				for (let i = 0, j = list.length; i < j; i++) {
					if (list[i].need <= this.price.single) {
						this.coupons.push(JSON.parse(JSON.stringify(list[i])))
					}
				}
				return this.coupons
			},
			supplier () {
				return Basic.state.supplier
			}
		},

		events: {
			'M__Head.userUpdated' () {
				User.actions.initAddress({
					id: this.$root.user.id
				})
			}
		},

		created () {
			if (! this.$root.token) {
				Popup.state.commonInfo.single = '请先登录！'
				Popup.state.commonInfo.show = true
				history.back()
			}
			this.initGoods()
		},

		ready () {
			$('.supplier-radio').mCustomScrollbar({
				theme: 'dark-3',
				scrollInertia: 500
			})
		},

		methods: {
			changeAddress (data, event) {
				this.address = data
				let index = $(event.currentTarget).index()
				$(event.currentTarget).parent().children().removeClass('current').eq(index).addClass('current')
			},
			initGoods () {
				let args = JSON.parse(localStorage.getItem('goodsSubmit'))
				this.args = args
				Api.getGoodsDetail({
					data: {
						id: args.product_id
					},
					success: ({data, headers}) => {
						let goods = data.data
						for (let i = 0, j = goods.other_data.length; i < j; i++) {
							if (args.property_group_id == goods.other_data[i].property_group_id) {
								goods.color = goods.other_data[i].color
								goods.size = goods.other_data[i].size
								goods.images = goods.other_data[i].images
								break
							}
						}
						this.goods = goods
						this.supplierId = 2
					}
				})
			},
			close () {
				this.$broadcast('M_Modal.close')
			},
			open () {
				this.$broadcast('M_Modal.open')
			},
			changeCoupon (couponIndex, couponId) {
				this.couponIndex = couponIndex - 1
			},
			submit () {
				let args = {
						'user_id': this.$root.user.id,
						'property_group_id': this.args.property_group_id,
						'rent_days': this.args.rent_days,
						'rent_start_date': this.args.rent_start_date,
						'rent_end_date': this.args.rent_end_date
					}
				if (this.coupons.length !== 0 && this.couponIndex >= 0) {
					 args.coupon_id = this.coupons[this.couponIndex].id
				}
				if (this.args.order_id) {
					args.exchange_order_id = this.args.order_id
				}
				if (this.address_method == 'express') {
					args.address_id = this.orderAddressId
				}
				else {
					args.supplier_id = this.supplierId
				}
				if (this.price_method == 'rent') {
					args.deposit = 1
				}
				if (this.remark.length !== 0) {
					args.remarks = this.remark
				}
				Basic.actions.loadStart()
				Api.submitOrder({
					data: args,
					success: res => {
						Basic.actions.loadEnd()
						if (this.args.order_id) {
							User.actions.initOrder({
								id: this.$root.user.id
							})
							Popup.state.commonInfo.single = '订单免费升级成功！'
							Popup.state.commonInfo.show = true
						}
						else {
							User.actions.initOrder({
								id: this.$root.user.id
							})
							this.$route.router.go('/pay?order_id=' + res.data.data.order.id + '&from=submit-order')
						}
					},
					error: res => {
						Basic.actions.loadEnd()
						if (res.data.message) {
							Popup.state.commonInfo.single = res.data.message
						}
						else {
							Popup.state.commonInfo.single = '请求失败！'
						}
						Popup.state.commonInfo.show = true
					}
				})
			}
		}
	}
</script>

<style lang="stylus" scoped>
.M__SubmitOrder
	padding 65px 0 177px
	max-width 900px
	margin 0 auto
	.order-info
		padding 41px 0 34px
		border-bottom 1px solid #ddd
		&:after
			content ''
			display block
			clear both
			width 0
			height 0
			opacity 0
		.thumb
			float left
			width 124px
			img
				max-width 100%
				border 1px solid #f1f1f1
		.info
			padding 0 55px 0 32px
			float left
			box-sizing border-box
			.title
				font-size 15px
				margin -1px 0 49px
			.list
				line-height 20px
				overflow hidden
				ul
					float left
				.f-left
					width 338px
					float left
				li
					width 100%
					padding 3px 0 4px
					overflow hidden
					.label
						float left
					.store-address
						padding-left 37px
						span
							display block
				.remark
					color #b9b9b9
					display inline-block
					margin-left 5px
				.color-box
					width 12px
					height 12px
					display inline-block
					vertical-align middle
					border 1px solid #b37e79
		.price
			float left
			width 292px
			margin-top 1px
			padding 62px 45px 0 40px
			box-sizing border-box
			border-left 1px solid #ddd
			text-align right
			.price-info
				display inline-block
				line-height 20px
				margin-bottom 21px
				ul
					display table
					li
						display table-row
						span
							display table-cell
							padding 3px 0 4px
			.total-wrap
				overflow hidden
				span
					font-size 15px
					float left
				.total
					float right
	.no-address {
		color: #ACACAC;
		margin: 5px 0 0 40px
	}
	.supplier-wrap
		padding-bottom 20px
	.supplier-radio
		max-height 100px
		overflow-y auto
		margin 10px 0 8px
		.radio-box
			padding-left 40px
			li
				overflow hidden
			label
				padding 2px 0 3px
				color #ACACAC
			.current
				.com-icon
					background-color #909090
			.com-icon
				width 9px
				height 9px
				display: block
				float left
				border-radius 50%
				margin: 5px 18px 0 0
				position: relative
				border 1px solid #CFCFCF
				background-image none
				background-color #F0F0F0
	.address-wrap
		padding-left 154px
		position relative
		font-size 15px
		padding 25px 0 20px
		margin-left 154px
		border-bottom 1px solid #ddd
		.supplier
			color #505050
			padding 7px 0 7px 40px
			overflow hidden
			.label
				line-height 100%
		.address
			padding-top 6px
			.radio-box
				padding-left 40px
				li
					overflow hidden
				label
					padding 2px 0 3px
					color #ACACAC
				.current
					height 0
				.com-icon
					width 9px
					height 9px
					display: block
					float left
					border-radius 50%
					margin: 5px 18px 0 0
					position: relative
					border 1px solid #CFCFCF
					background-image none
					background-color #F0F0F0
		.active
			cursor: pointer
			overflow: hidden
			padding 2px 0 3px 40px
			color #505050
			.com-icon
				width 9px
				height 9px
				display: block
				float left
				border-radius 50%
				margin: 5px 18px 0 0
				position: relative
				border 1px solid #CFCFCF
				background-image none
				background-color #909090
		.label
			float left
			line-height 20px
			.name
				margin-right 13px
			.phone
				margin-right: 16px
		.hide-btn,
		.more-btn
			display inline-block
			cursor pointer
			margin-top 5px
			margin-left 40px
			color #ACACAC
	.coupon-wrap
		overflow hidden
		padding 15px 30px 15px 0
		margin-left 153px
		border-bottom 1px solid #ddd
		.label
			float left
			line-height 40px
			margin-right 7px
		.no-coupons
			float: left
			line-height 40px
			color #acacac
	.coupon-mini
		height 40px
		overflow hidden
		position relative
		padding 8px 9px 2px 10px
		box-sizing border-box
		text-align right
		float left
		&:before,
		&:after
			content ''
			display block
			width 10px
			height 10px
			background-color #fff
			position absolute
			top 50%
			margin-top -5px
			border-radius 50%
		&:before
			left -6px
		&:after
			right -6px
		.com-icon
			width 3px
			height 34px
			position absolute
			top 50%
			left 7px
			margin-top -17px
			background-position -270px -150px
		&.coupon-1
			color #A96D67
			background-color #F3EDE0
		&.coupon-2
			color #62909E
			background-color #E0F3F3
		&.coupon-3
			color #7864A2
			background-color #E0E8F3
		&.coupon-4
			color #864F4F
			background-color #F3E0E0
		.picre
			display block
			font-size 14px
			margin-bottom 2px
	.message-wrap
		margin 48px 0 20px 153px
		border-bottom 1px solid #ddd
		.label
			float: left
		.input-wrap
			margin-left 54px
			padding-bottom 11px
			input
				width: 100%
			::-webkit-input-placeholder
				color: #ACACAC
			:-moz-placeholder
				color: #ACACAC
			::-moz-placeholder
				color: #ACACAC
			:-ms-input-placeholder
				color: #ACACAC
			:placeholder
				color: #ACACAC
	.price-method-wrap,
	.price-wrap
		font-size 15px
		margin-left 153px
	.price-method-wrap
		padding 0 30px 17px 0
		border-bottom 1px solid #ddd
		.radio-box
			li
				padding 9px 0
				& > span
					float right
					line-height 20px
	.deposit-instructions
		color #B37E79
		display inline-block
		position relative
		font-size 12px
		line-height 20px
		vertical-align top
		.icon
			width 11px
			height 11px
			display inline-block
			.com-icon
				width 11px
				height 11px
				background-position 0 -360px
				vertical-align middle
				border none
				cursor help
				display block
			.info
				position absolute
				left 20px
				top 100%
				padding 20px 0 0 0
				width 225px
				display none
				z-index 1
				font-size 14px
				margin-top -18px
				&:before,
				&:after
					content ''
					display block
					position absolute
					border-style solid
				&:before
					top 13px
					left 66px
					border-width 0 6px 8px 6px
					border-color transparent transparent #F0F0F0 transparent
				&:after
					top 14px
					left 67px
					border-width 0 5px 7px 5px
					border-color transparent transparent #FFF transparent
				.content
					background-color #fff
					border 1px solid #F0F0F0
					padding 25px 15px 20px
					line-height 16px
					color #000
					box-shadow: 0px 2px 4px rgba(184, 184, 184, .5)
					p
						font-size 14px
						line-height 14px
						& + p
							padding-top 15px
					.highlight
						color #B37E79
						padding-left 5px
			&:hover .info
				display block
	.price-wrap
		text-align right
		padding 32px 30px 0 0
		position relative
		.total
			font-size 20px
			font-weight bold
	.exchangeid-address
		overflow: hidden
		padding 24px 0 26px 0
		margin-left 154px
		color #505050
		font-size 15px
		line-height 20px
		border-bottom 1px solid #ddd
		.com-icon
			width 20px
			height 20px
			display block
			float left
			border-radius 50%
			margin 0 18px 0 0
			position relative
			background-position -90px -210px
		.name
			margin-right 13px
		.phone
			margin-right 16px
	.exchangeid-text
		text-align right
		display block
		padding 40px 0 23px
		font-size 15px
		font-weight bold
	.btn-wrap
		position absolute
		left 0
		top 20px
</style>
