<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li>详情</li>
			<li>提交订单</li>
			<li>支付</li>
		</ul>
		<div class="container">
			<h2>微信支付</h2>
			<img src="../../../img/temp/wechat-qr.jpg" alt="支付二维码" class="pay-qr">
			<span class="price">￥800</span>
			<span class="goods">BDAGLLLE新款晚会裙</span>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__WechatPay'
	}
</script>

<style lang="stylus" scoped>
.M__WechatPay
	padding 65px 0 50px
	max-width 900px
	margin 0 auto
	.container
		padding-top 40px
		text-align center
		h2
			font-size 18px
			width 452px
			margin 0 auto 20px
			border-bottom 1px solid #ddd
			padding-bottom 21px
			font-weight 100
		.pay-qr
			width 240px
			height 240px
			margin 0 auto 30px
		.price
			display block
			font-size 14px
			margin-bottom 15px
		.goods
			font-size 12px
			color #ACACAC
</style>
