<template>
	<div :class="$options.name">
		<div class="thumb-slider flexslider">
			<ul class="slides">
				<li v-for="img in item.images" track-by="$index" :data-thumb="img + '?imageView2/1/w/60/h/60'">
					<img :src="img + '?imageView2/1/w/258/h/198'" alt="晒图" />
				</li>
			</ul>
		</div>
		<div class="text-area">
			<span class="name">{{ item.user_name }}</span>
			<ul class="info">
				<li>
					<span class="caption">尺寸</span>
					<span>{{ item.size }}</span>
				</li>
				<li>
					<span class="caption">使用场景</span>
					<span>{{ item.occasion }}</span>
				</li>
			</ul>
			<ul class="star-list">
				<li class="star com-icon" v-for="star in item.stars"></li>
			</ul>
			<p class="comment-text">“{{ item.comment }}”</p>
			<ul class="tag">
				<li v-for="tag in item.tags" track-by="$index">{{ tag }}</li>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	name: 'm-comment-item',
	props: [ 'item' ],
	ready () {
		($ => {
			$(this.$el).children('.thumb-slider').flexslider({
				'animation': 'slide',
				'controlNav': 'thumbnails',
				'animationLoop': false,
				'directionNav': false,
				'slideshow': false
			})
		})(window.$)
	}
}
</script>

<style lang="stylus" scoped>
.m-comment-item
	padding 35px 30px 36px 32px
	overflow hidden
	box-sizing border-box
	border-top 1px solid #ddd

	.thumb-slider
		width 100%
		margin 0 0 14px
		border none
		.flex-control-thumbs
			margin-top 10px
			li
				width 14px

	.text-area
		.name
			font-size 15px
			display block
			margin-bottom 11px
			font-weight bold
			margin-top 5px

		.info
			line-height 22px
			padding-bottom 8px

			span
				display inline-block
				color #ACACAC

			.caption
				width 135px

		.star-list
			font-size 0
			padding-top 15px
			border-top 1px solid #ebebeb

			.star
				width 16px
				height 15px
				display block
				display inline-block
				letter-spacing -4px
				background-position -210px -90px

			li+li
				margin-left 6px

		.comment-text
			line-height 16px
			margin 0
			padding 12px 0 17px
			border-bottom 1px solid #ebebeb
		.tag
			font-size 10px
			color #959595
			overflow hidden
			padding-top 5px
			margin-left -8px

			li
				float left
				padding 0 15px
				line-height 23px
				background-color #F3F3F3
				border-radius 2px
				margin 10px 8px 0
</style>
