<template>
	<div :class="$options.name">
		<div class="content">
			<m-goods-gallery :images="goods.images"></m-goods-gallery>
			<m-goods-info :goods="goods"></m-goods-info>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['goods'],

		components: {
			'm-goods-gallery': require('./goods-gallery'),
			'm-goods-info': require('./goods-info')
		},

		name: 'm-goods-detail'
	}
</script>

<style lang="stylus" scoped>
.m-goods-detail
	max-width 100%
</style>
