<template>
	<div :class="$options.name">
		<h2>{{ goods.name }}</h2>
		<span class="price"><span>￥{{ goods.four_day_rent_price }} / 4日</span><span class="eight-day">￥{{ goods.eight_day_rent_price }} / 8日</span><span class="deposit" v-if="goods.deposit">零售价¥{{ goods.deposit }}</span></span>
		<div class="merchant-info" v-if="goods.supplier || goods.supplier_address">
			<div class="merchant-wrap">该产品由
				<div class="merchant">
					<span>{{ goods.supplier }}</span>
					<div class="info">
						<div class="content">
							<h4 class="caption">{{ goods.supplier }}</h4>
							<p v-if="goods.supplier_detail">{{ goods.supplier_detail }}</p>
							<p v-else>暂无商家介绍</p>
						</div>
					</div>
				</div>
				提供
			</div>
			<p class="phone" v-if="goods.supplier_phone"><i class="com-icon"></i>{{ goods.supplier_phone }}</p>
			<p class="address" v-if="goods.supplier_address"><a class="com-icon" :href="'http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D' + goods.supplier_address" target="_Blank"></a>{{ goods.supplier_address }}</p>
		</div>
		<p class="describe" v-if="goods.describe">“{{ goods.describe }}”</p>
		<div class="parameter">
			<h3>产品参数</h3>
			<ul>
				<li class="brand-wrap">
					<h4>品牌</h4>
					<div class="brand">
						<span>查看品牌介绍</span>
						<div class="info">
							<div class="content">
								<h4 class="caption">{{ goods.product_category }}</h4>
								<p v-if="_brandIntr">{{ _brandIntr }}</p>
								<p v-else>暂无品牌介绍</p>
							</div>
						</div>
					</div>
					<span class="brand-text">{{ goods.product_category }}<span>
				</li>
				<li>
					<h4>分类</h4>
					<span>{{ goods.usage_category }}</span>
				</li>
				<li>
					<h4>适应场景</h4>
					<span>{{ goods.suit_occasion }}</span>
				</li>
				<li>
					<h4>使用押金</h4>
					<div class="cash-pledge">
						<div class="discount">
							（实名认证后押金8折
							<div class="icon">
								<span class="com-icon"></span>
								<div class="info">
									<p class="content">身份认证后，您下单将享受支付8折押金，更多的惊喜服务，赶紧<a v-link="'/id-card'">去认证</a></p>
								</div>
							</div>
							）
						</div>
						￥{{ goods.deposit }}
					</div>
				</li>
				<li>
					<h4>身材</h4>
					<span>{{ goods.body_figure }}</span>
				</li>
				<li>
					<h4>款式</h4>
					<span>{{ goods.style }}</span>
				</li>
			</ul>
		</div>
		<div class="options">
			<ul>
				<li>
					<div class="caption">尺寸
						<div class="tool-tips">
							（尺码不合适怎么办
							<div class="icon">
								<span class="com-icon"></span>
								<div class="info">
									<div class="content">
										<p>下单成功后请与该产品供应商联系，预约线下试穿服务，如该产品尺寸不合适，我们将免费为您调换其他产品。</p>
										<p class="highlight">注：线下试穿需额外支付订单总额的10%作为服务费用，到店支付。</p>
										<p>服务过程中如有任何产品质量或服务问题，请及时与我们联系！</p>
									</div>
								</div>
							</div>
							）
						</div>
					</div>
					<ul class="size">
						<li>S</li>
						<li>M</li>
						<li>L</li>
						<li>XL</li>
						<li>XXL</li>
					</ul>
				</li>
				<li>
					<span class="caption">颜色</span>
					<ul class="color">
						<li style="background-color: #525252"></li>
						<li style="background-color: #171487"></li>
						<li style="background-color: #919197"></li>
						<li style="background-color: #F36C60"></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="btn-wrap">
			<a href="http://fir.im/RentVogueiOS" class="download">下载APP购买产品<span class="com-icon"></span></a>
		</div>
	</div>
</template>

<script>
	import Api from 'api'
	import Goods from 'store/goods'
	export default {
		props: ['goods'],

		name: 'm-goods-info',

		computed: {
			_brandIntr () {
				return Goods.state.brandIntr
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-goods-info
	width 100%
	position relative
	padding 0 30px 20px 30px

	.not-collect,
	.collect
		position absolute
		right 0
		top 0
		display block
		width 19px
		height 16px
		cursor pointer
		background-position -240px 0
	.collect
		position absolute
		right 0
		top 0
		display block
		width 19px
		height 16px
		cursor pointer
		background-position -270px 0

	h2
		font-size 15px
		margin 0px 0 12px 0
		padding-right 25px

	.price
		display block
		padding-bottom 9px
		border-bottom 1px solid #F0F0F0
		.eight-day
			padding-left 15px
		.deposit
			font-size 9px
			color #B9B9B9
			display block
			vertical-align: middle
			padding-top 10px

	.merchant-info
		border-bottom 1px solid #F0F0F0
		padding 4px 0
		.merchant-wrap
			line-height 20px
			.merchant
				display inline-block
				cursor help
				position relative
				.caption
					color #000
					font-size 14px
					width 100%
					margin 10px 0 10px
					float none
					padding-bottom 10px
					border-bottom 1px solid #ECECEC
					position relative
				&:hover
					.info
						display block
				span
					text-decoration underline
				.info
					position absolute
					left 0
					top 100%
					padding 10px 0 0 0
					width 225px
					display none
					z-index 1
					&:before,
					&:after
						content ''
						display block
						position absolute
						border-style solid
					&:before
						top 3px
						left 8px
						border-width 0 6px 8px 6px
						border-color transparent transparent #F0F0F0 transparent
					&:after
						top 4px
						left 9px
						border-width 0 5px 7px 5px
						border-color transparent transparent #FFF transparent
					.content
						background-color #fff
						border 1px solid #F0F0F0
						padding 15px 15px 11px
						line-height 16px
						color #000
						box-shadow: 0px 2px 4px rgba(184, 184, 184, .5);
						a
							color #B37E79
							padding-left 5px
						p
							line-height 14px
		p
			line-height 20px
		.address,
		.phone
			position relative
			padding-left 18px
			.com-icon
				width 8px
				height 12px
				display inline-block
				background-position 0 -210px
				position absolute
				top 50%
				left 0
				margin-top -6px
		.phone
			.com-icon
				width 9px
				height 9px
				background-position -30px -210px
				margin-top -5px


	.describe
		line-height 16px
		color #959595
		margin 10px 0 12px

	.parameter
		padding-top 8px
		&>h3
			font-size 10px
			margin 0 0 7px
		&>ul
			li
				padding 11px 0
				border-bottom 1px solid #ECECEC
				&:after
					content ''
					width 0
					height 0
					display block
					clear both
					overflow hidden
					opacity 0

				h4
					color #959595
					float left
					margin 0
					font-weight normal

				span
					float right
		.cash-pledge
			float right
			.discount
				color #B37E79
				display inline-block
			.icon
				position relative
				width 11px
				height 11px
				display inline-block
				.com-icon
					width 11px
					height 11px
					background-position 0 -360px
					vertical-align middle
					cursor help
				&:hover .info
					display block
		.cash-pledge .info,
		.brand .info
			position absolute
			right -12px
			top 100%
			padding 10px 0 0 0
			width 190px
			display none
			z-index 1
			&:before,
			&:after
				content ''
				display block
				position absolute
				border-style solid
			&:before
				top 3px
				right 12px
				border-width 0 6px 8px 6px
				border-color transparent transparent #F0F0F0 transparent
			&:after
				top 4px
				right 13px
				border-width 0 5px 7px 5px
				border-color transparent transparent #FFF transparent
			.content
				background-color #fff
				border 1px solid #F0F0F0
				padding 15px 15px 11px
				line-height 16px
				color #000
				box-shadow: 0px 2px 4px rgba(184, 184, 184, .5);
				a
					color #B37E79
					padding-left 5px
		.brand-wrap
			position relative
			text-align right
		.brand
			cursor help
			display inline-block
			span
				float none
				color #B37E79
			.caption
				color #000
				font-size 14px
				width 100%
				margin 10px 0 10px
				float none
				padding-bottom 10px
				border-bottom 1px solid #ECECEC
			.info
				right 0
				text-align left
				&:before
					left 62px
					right initial
				&:after
					left 63px
					right initial
			&:hover
				.info
					display block
		.brand-text
			position relative
			display inline-block
			margin-left 18px
			&:before
				content ''
				height 10px
				width 1px
				background-color #CACACA
				position absolute
				left -9px
				top 50%
				display block
				margin-top -5px
	.options
		& > ul
			& > li
				padding 21px 0 6px
				border-bottom 1px solid #DDD
				&:after
					content ''
					display block
					clear both
					overflow hidden
					width 0
					height 0
					opacity 0
				.caption
					padding-bottom 8px
					display block
					position relative
		.size
			li
				float left
				width 26px
				height 26px
				border 1px solid rgba(0, 0, 0, .24)
				border-radius 50%
				line-height 24px
				text-align center
				color #B37E79
				margin 10px
				&:first-child
					margin-left 0
	.tool-tips
			color #B37E79
			display inline-block
			.icon
				width 11px
				height 11px
				display inline-block
				.com-icon
					width 11px
					height 11px
					background-position 0 -360px
					vertical-align middle
					cursor help
					display block
				.info
					position absolute
					left 0
					top 100%
					padding 20px 0 0 0
					width 225px
					display none
					z-index 1
					margin-top -18px
					&:before,
					&:after
						content ''
						display block
						position absolute
						border-style solid
					&:before
						top 13px
						left 137px
						border-width 0 6px 8px 6px
						border-color transparent transparent #F0F0F0 transparent
					&:after
						top 14px
						left 138px
						border-width 0 5px 7px 5px
						border-color transparent transparent #FFF transparent
					.content
						background-color #fff
						border 1px solid #F0F0F0
						padding 25px 15px 10px
						line-height 16px
						color #000
						box-shadow: 0px 2px 4px rgba(184, 184, 184, .5)
						p
							font-size 12px
							& + p
								padding-top 15px
						.highlight
							color #B37E79
							padding-left 5px
				&:hover .info
					display block
			.color
				li
					float left
					width 26px
					height 26px
					border-radius 50%
					color #B37E79
					margin 10px
					display block
					&:first-child
						margin-left 0
	.btn-wrap
		padding 21px 0 16px
		border-bottom 1px dashed #DDD
		a
			display block
			width 100%
			border-radius 1px
			text-align center
			line-height 44px
			color #fff
			font-size 14px
			& + a
				margin-top 20px
		.download
			background-color #B37E79
			.com-icon
				width 9px
				height 13px
				background-position -150px -360px
				display inline-block
				vertical-align middle
				margin-left 7px
		.share
			color #000
			background-color #F6F6F6
			.com-icon
				width 14px
				height 11px
				background-position -180px -360px
				display inline-block
				vertical-align middle
				margin-left 8px
</style>
