<template>
	<div :class="$options.name">
		<div class="goods-slider flexslider">
			<ul class="slides">
				<li v-for="img in images" track-by="$index">
					<img :src="img.img + '|imageView2/1/w/416/h/625'" alt="产品展示图" />
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	export default {
		props: [
			'images'
		],

		events: {
			'M__Goods.success' () {
				this.$nextTick(() => {
					let $ = window.$
					$(this.$el).children('.goods-slider').flexslider({
						'animation': 'slide',
						'animationLoop': false,
						'directionNav': false,
						'slideshow': false
					})
				})
			}
		},

		name: 'M__GoodsGallery'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsGallery
	position relative
	z-index 1
	padding 16px 16px 0 17px
	border-top 1px solid #E8E8E8
	.goods-slider
		width 100%
		height auto
		border 1px solid #F1F1F1
</style>
