<template>
	<div :class="$options.name">
		<div class="logo">
			<img src="../../../img/logo@2x.png" height="14" width="63" alt="RentVogue">
		</div>
		<m-goods-detail :goods="goods"></m-goods-detail>
		<m-goods-comment :comment="comment"></m-goods-comment>
	</div>
</template>

<script>
	import Api from '../../../api'
	export default {
		components: {
			MGoodsDetail: require('./GoodsDetail'),
			MGoodsComment: require('./GoodsComment')
		},

		data () {
			return {
				goodsId: [],
				goods: {},
				comment: {}
			}
		},

		created () {
			let $ = window.$
			let windowW = parseInt($(window).width())
			if (windowW > 768) {
				this.$route.router.go('/home')
				return false
			}
			this.goodsId = this.$route.query.id
			this.getGoods(this.goodsId)
		},

		methods: {
			getGoods (goodsId) {
				Api.getGoods({
					data: {
						'goods_id': goodsId
					},
					success: res => {
						this.goods = res.data.data
						this.$broadcast('M__Goods.success')
					},
					error: res => {
					}
				})
				Api.getGoodsComment({
					data: {
						'goods_id': goodsId
					},
					success: res => {
						this.comment = res.data.data
					},
					error: res => {
					}
				})
			}
		},

		name: 'M__ShareGoods'
	}
</script>

<style lang="stylus" scoped>
.M__ShareGoods
	.logo
		line-height 91px
		padding-left 27px
</style>
