<template>
	<div :class="$options.name">
		<h2>{{ goods.name }}</h2>
		<span class="price"><span>￥{{ goods.four_day_rent_price }} / 4日</span><span class="eight-day">￥{{ goods.eight_day_rent_price }} / 8日</span><span class="deposit" v-if="goods.deposit">零售价¥{{ goods.deposit }}</span></span>
		<div class="merchant-info" v-if="goods.supplier || goods.supplier_address">
			<p class="merchant">商家：{{ goods.supplier }} <span v-if="goods.supplier_phone">（{{ goods.supplier_phone }}）</span></p>
			<p class="address" v-if="goods.supplier_address"><span class="com-icon"></span>{{ goods.supplier_address }}</p>
		</div>
		<p class="describe" v-if="goods.describe">“{{ goods.describe }}”</p>
		<div class="parameter">
			<h3>产品参数</h3>
			<ul>
				<li>
					<h4>分类</h4>
					<span>{{ goods.usage_category }}</span>
				</li>
				<li>
					<h4>适应场景</h4>
					<span>{{ goods.suit_occasion }}</span>
				</li>
				<li>
					<h4>使用押金</h4>
					<div class="cash-pledge">
						<div class="discount">
							（实名认证后押金8折
							<div class="icon">
								<span class="com-icon"></span>
								<div class="info">
									<p>身份认证后，您下单将享受支付8折押金，更多的惊喜服务，赶紧<a v-link="'/user'">去认证</a></p>
								</div>
							</div>
							）
						</div>
						￥{{ goods.deposit }}
					</div>
				</li>
			</ul>
		</div>
		<div class="options">
			<ul>
				<li>
					<span class="caption">尺寸</span>
					<ul class="size">
						<li>S</li>
						<li>M</li>
						<li>L</li>
						<li>XL</li>
						<li>XXL</li>
					</ul>
				</li>
				<li>
					<span class="caption">颜色</span>
					<ul class="color">
						<li style="background-color: #525252"></li>
						<li style="background-color: #171487"></li>
						<li style="background-color: #919197"></li>
						<li style="background-color: #F36C60"></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="btn-wrap">
			<a href="http://fir.im/RentVogueiOS" class="download">下载APP购买产品<span class="com-icon"></span></a>
		</div>
	</div>
</template>

<script>
	import Api from '../../../api'
	export default {
		props: ['goods'],

		methods: {
			putFavorite (status) {
				let goodsId = this.$route.query.id
				Api.putFavorite({
					data: {
						'goods_id': goodsId
					},
					success: res => {
						this.goods.is_favorite = status
					}
				})
			}
		},

		name: 'M__GoodsInfo'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsInfo
	width 100%
	position relative
	padding 0 42px 20px 39px

	.not-collect,
	.collect
		position absolute
		right 0
		top 0
		display block
		width 19px
		height 16px
		cursor pointer
		background-position -240px 0
	.collect
		position absolute
		right 0
		top 0
		display block
		width 19px
		height 16px
		cursor pointer
		background-position -270px 0

	h2
		font-size 15px
		margin 0px 0 12px 0
		padding-right 25px

	.price
		display block
		padding-bottom 9px
		border-bottom 1px solid #F0F0F0
		.eight-day
			padding-left 15px
		.deposit
			font-size 9px
			color #B9B9B9
			display block
			vertical-align: middle
			padding-top 10px

	.merchant-info
		border-bottom 1px solid #F0F0F0
		padding 6px 0 5px
		p
			line-height 20px
		.address
			position relative
			padding-left 14px
			.com-icon
				width 8px
				height 12px
				display inline-block
				background-position 0 -210px
				position absolute
				top 50%
				left 0
				margin-top -6px

	.describe
		line-height 16px
		color #959595
		margin 10px 0 12px

	.parameter
		padding-top 8px
		&>h3
			font-size 10px
			margin 0 0 7px

		&>ul
			li
				padding 11px 0
				border-bottom 1px solid #ECECEC
				&:after
					content ''
					width 0
					height 0
					display block
					clear both
					overflow hidden
					opacity 0

				h4
					color #959595
					float left
					margin 0

				span
					float right
		.cash-pledge
			float right
			.discount
				color #B37E79
				display inline-block
			.icon
				position relative
				width 11px
				height 11px
				display inline-block
				.com-icon
					width 11px
					height 11px
					background-position 0 -360px
					vertical-align middle
					cursor help
				&:hover .info
					display block
				.info
					position absolute
					right -12px
					top 100%
					padding 10px 0 0 0
					width 190px
					display none
					&:before,
					&:after
						content ''
						display block
						position absolute
						border-style solid
					&:before
						top 3px
						right 12px
						border-width 0 6px 8px 6px
						border-color transparent transparent #F0F0F0 transparent
					&:after
						top 4px
						right 13px
						border-width 0 5px 7px 5px
						border-color transparent transparent #FFF transparent
					p
						background-color #fff
						border 1px solid #F0F0F0
						padding 15px 20px 11px
						line-height 16px
						color #000
						box-shadow: 0px 2px 4px rgba(184, 184, 184, .5);
						a
							color #B37E79
							padding-left 5px
	.options
		& > ul
			& > li
				overflow hidden
				padding 21px 0 6px
				border-bottom 1px solid #DDD
				.caption
					padding-bottom 8px
					display block
		.size
			li
				float left
				width 26px
				height 26px
				border 1px solid rgba(0, 0, 0, .24)
				border-radius 50%
				line-height 24px
				text-align center
				color #B37E79
				margin 10px
				&:first-child
					margin-left 0
		.color
			li
				float left
				width 26px
				height 26px
				border-radius 50%
				color #B37E79
				margin 10px
				display block
				&:first-child
					margin-left 0
	.btn-wrap
		padding 21px 0 16px
		border-bottom 1px dashed #DDD
		a
			display block
			width 100%
			border-radius 1px
			text-align center
			line-height 44px
			color #fff
			font-size 14px
			& + a
				margin-top 20px
		.download
			background-color #B37E79
			.com-icon
				width 9px
				height 13px
				background-position -150px -360px
				display inline-block
				vertical-align middle
				margin-left 7px
		.share
			color #000
			background-color #F6F6F6
			.com-icon
				width 14px
				height 11px
				background-position -180px -360px
				display inline-block
				vertical-align middle
				margin-left 8px
</style>
