<template>
	<div :class="$options.name">
		<div class="content">
			<m-goods-gallery :images="goods.images"></m-goods-gallery>
			<m-goods-info :goods="goods"></m-goods-info>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['goods'],

		components: {
			MGoodsGallery: require('./GoodsGallery'),
			MGoodsInfo: require('./GoodsInfo')
		},

		name: 'M__GoodsDetail'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsDetail
	max-width 100%
</style>
