<template>
	<div :class="$options.name">
		<div class="info">当前支持配送城市：<span v-for='city in cities'>{{ $index > 0 ? '、' : ''}}{{ city.name }}</span>,更多产品供应城市加入，敬请期待....</div>
		<label>
			<span>当前产品供应城市</span>
        	<div class="selector">
        		<span v-for="item in cities" v-if="$key == $root.user.primary_city">{{ item.name }}</span>
				<select name="city" class="select-city" v-model="primary_city">
					<template v-for="item in cities">
						<option value="{{ $key }}" v-if="$key == $root.user.primary_city" selected="selected">{{ item.name }}</option>
						<option value="{{ $key }}" v-else>{{ item.name }}</option>
					</template>
				</select>
			</div>
		</label>
		<w-button @click="save">保存资料</w-button>
	</div>
</template>

<script>
	import User from 'store/user'
	import Api from '../../../api'
	export default {
		name: 'p-user-setting-address',

		data () {
			return {
				primary_city: ''
			}
		},

		components: {
			'w-button': require('../../../widget/button')
		},

        computed: {
			cities () {
				let list = User.state.cities
				return list
			}
		},

		ready () {
			$('.select-city').on('change', function(event) {
				event.preventDefault()
				let text = $(this).find('option:selected').text()
				$(this).parent().children('span').text(text)
			})
		},

		methods: {
			save () {
				User.actions.putPrimaryCity({
					'id': this.$root.user.id,
					'primary_city': this.primary_city,
					'after': () => {
						this.$root.user.primary_city = this.primary_city
					}
				})
			}
		}
	}
</script>

<style lang="stylus" scoped>
.p-user-setting-address
	font-size 12px
	padding-top 41px
	.error
		color #B37E79
		display block
		line-height 18px
		padding 10px 0 0
	.info
		height 80px
		border 1px solid #ececec
		background-color #fbfbfb
		border-radius 2px
		padding-left 40px
		padding-top 34px
	label
		width 282px
		margin-top 14px
		height 40px
		padding-top 16px
		padding-left 118px
		padding-right 10px
		border-bottom 1px solid #ececec
		& > span
			width @padding-left
			margin-left -@width
			float left
			padding-left 2px
			color #bbbbbe
	.w-button
		margin-top 31px
		width 147px
</style>
