<template>
	<div :class="$options.name">
		<div class="auth">
			<div class="avator x">
				<m-icon-avator v-if="! $root.user.avatar"></m-icon-avator>
				<img :src="$root.user.avatar + '?imageView2/1/w/112/h/112'" v-else>
			</div>
			<div class="id-card x">
				<a v-if="$root.user.verify_status == 0" v-link="'/id-card'">身份未认证</a>
				<a v-if="$root.user.verify_status == 1" v-link="'/id-card'">身份认证中</a>
				<a v-if="$root.user.verify_status == 2" v-link="'/id-card'" class="not-through">审核未通过</a>
				<a class="active"v-if="$root.user.verify_status == 3"  v-link="'/id-card-info'">
					<m-icon-safe></m-icon-safe>
					<span>实名认证</span>
				</a>
			</div>
			<div class="phone x">
				<a v-if="! $root.user.cell_phone" v-link="'/phone'">绑定手机</a>
				<div class="active" v-else>
					<span>{{ $root.user.cell_phone.substr(0,3) + '****' + $root.user.cell_phone.substr(7) }}</span>
					<!-- <a>解绑</a> -->
				</div>
			</div>
		</div>
		<label class="input">
			<span class="prepend">昵称</span>
			<!-- <div class="nick-name-wrap"> -->
				<!-- <span v-if="nick_name.length < 1" class="fake-name">{{ $root.user.nick_name }}</span> -->
			<input value="{{ $root.user.nick_name }}" v-model="nick_name" placeholder="{{ $root.user.nick_name }}">
			<!-- </div> -->
		</label>
		<label class="input">
			<span class="prepend">穿衣尺码</span>
			<div class="selector">
				<span v-for="(id, size) in category.sizes" v-if="$root.user.clothes_size == id">{{ size }}</span>
				<span v-if="$root.user.clothes_size == ''">未选择</span>
				<select v-model="clothes_size" class="select-size">
					<template v-for="(id, size) in category.sizes">
						<option :value="id" v-if="$root.user.clothes_size == id" selected="selected">{{ size }}</option>
						<option :value="id" v-else>{{ size }}</option>
					</template>
				</select>
			</div>
		</label>
		<label class="input">
			<span class="prepend">身高</span>
			<div class="selector">
				<span v-if="$root.user.body_height == ''">未选择</span>
				<span v-else>{{ $root.user.body_height }}cm</span>
				<select v-model="body_height" class="select-size">
					<template v-for="index in 81">
						<option value="{{ 140 + index }}" v-if="$root.user.body_height == 140 + index" selected="selected">{{ 140 + index }}cm</option>
						<option value="{{ 140 + index }}" v-else>{{ 140 + index }}cm</option>
					</template>
				</select>
			</div>
		</label>
		<label class="input">
			<span class="prepend">体重</span>
			<div class="selector">
				<span v-if="$root.user.body_weight == ''">未选择</span>
				<span v-else>{{ $root.user.body_weight }}kg</span>
				<select v-model="body_weight" class="select-size">
					<template v-for="index in 166">
						<option value="{{ 35 + index }}" v-if="$root.user.body_weight == 35 + index" selected="selected">{{ 35 + index }}kg</option>
						<option value="{{ 35 + index }}" v-else>{{ 35 + index }}kg</option>
					</template>
				</select>
			</div>
		</label>
		<label class="input">
			<span class="prepend">体型</span>
        	<div class="selector">
        		<span v-for="(id, text) in category.body_figures" v-if="$root.user.body_figure == id">{{ text }}</span>
        		<span v-if="$root.user.body_figure == ''">未选择</span>
				<select class="select-figure" v-model="body_figure">
					<template v-for="(id, text) in category.body_figures">
						<option :value="id" v-if="$root.user.body_figure == id" selected="selected">{{ text }}</option>
						<option :value="id" v-else>{{ text }}</option>
					</template>
				</select>
			</div>
		</label>
		<label class="input">
			<span class="prepend">胸围</span>
			<div class="selector">
				<span v-if="$root.user.body_chest == ''">未选择</span>
				<span v-else>{{ $root.user.body_chest }}cm</span>
				<select v-model="body_chest" class="select-size">
					<template v-for="index in 71">
						<option value="{{ 50 + index }}" v-if="$root.user.body_chest == 50 + index" selected="selected">{{ 50 + index }}cm</option>
						<option value="{{ 50 + index }}" v-else>{{ 50 + index }}cm</option>
					</template>
				</select>
			</div>
		</label>
		<label class="input">
			<span class="prepend">腰围</span>
			<div class="selector">
				<span v-if="$root.user.waistline == ''">未选择</span>
				<span v-else>{{ $root.user.waistline }}cm</span>
				<select v-model="waistline" class="select-size">
					<template v-for="index in 71">
						<option value="{{ 50 + index }}" v-if="$root.user.waistline == 50 + index" selected="selected">{{ 50 + index }}cm</option>
						<option value="{{ 50 + index }}" v-else>{{ 50 + index }}cm</option>
					</template>
				</select>
			</div>
		</label>
		<label class="input">
			<span class="prepend">臀围</span>
			<div class="selector">
				<span v-if="$root.user.body_hipline == ''">未选择</span>
				<span v-else>{{ $root.user.body_hipline }}cm</span>
				<select v-model="body_hipline" class="select-size">
					<template v-for="index in 71">
						<option value="{{ 50 + index }}" v-if="$root.user.body_hipline == 50 + index" selected="selected">{{ 50 + index }}cm</option>
						<option value="{{ 50 + index }}" v-else>{{ 50 + index }}cm</option>
					</template>
				</select>
			</div>
		</label>
		<label class="input">
			<span class="prepend">裤长</span>
			<div class="selector">
				<span v-if="$root.user.outseam == ''">未选择</span>
				<span v-else>{{ $root.user.outseam }}cm</span>
				<select v-model="outseam" class="select-size">
					<template v-for="index in 71">
						<option value="{{ 50 + index }}" v-if="$root.user.outseam == 50 + index" selected="selected">{{ 50 + index }}cm</option>
						<option value="{{ 50 + index }}" v-else>{{ 50 + index }}cm</option>
					</template>
				</select>
			</div>
		</label>
		<w-button @click="save">保存资料</w-button>
		<p class="remind" v-show="remind_show">{{ remind }}</p>
	</div>
</template>

<script>
	import Basic from 'store/basic'
	import Api from 'api'
	import User from 'store/user'
	import Popup from 'store/popup'
	export default {
		name: 'p-user-setting-basic',

		components: {
			'm-icon-avator': require('../../../module/icon/avator'),
			'm-icon-safe': require('../../../module/icon/safe'),
			'w-button': require('../../../widget/button')
		},

		data () {
			return {
				remind: '保存密码成功',
				remind_show: false,
				nick_name: this.$root.nick_name,
				clothes_size: this.$root.clothes_size,
				body_height: this.$root.body_height,
				body_weight: this.$root.body_weight,
				body_figure: this.$root.body_figure,
				body_chest: this.$root.body_chest,
				waistline: this.$root.waistline,
				body_hipline: this.$root.body_hipline,
				outseam: this.$root.outseam
			}
		},

		computed: {
			category () {
				return Basic.state.category
			}
		},

		event: {
			'M__Head.userUpdated' () {
				this.nick_name = this.$root.nick_name
			}
		},

		ready () {
			let _this = this
			$('.p-user-setting-basic').bind('input propertychange', 'input', function(event) {
				event.preventDefault()
				_this.remind_show = false
			})
			$('.p-user-setting-basic .select-figure, .p-user-setting-basic .select-size').on('change', function(event) {
				event.preventDefault()
				let text = $(this).find('option:selected').text()
				$(this).parent().children('span').text(text)
			})
		},

		methods: {
			save () {
				if (this.nick_name < 1) {
					this.nick_name = this.$root.user.nick_name
				}
				Basic.actions.loadStart()
				Api.putUserInfo({
					data: {
						'id': this.$root.user.id,
						'nick_name': this.nick_name,
						'clothes_size': this.clothes_size,
						'body_height': this.body_height,
						'body_weight': this.body_weight,
						'body_figure': this.body_figure,
						'body_chest': this.body_chest,
						'waistline': this.waistline,
						'body_hipline': this.body_hipline,
						'outseam': this.outseam
					},
					success: res => {
						Popup.state.commonInfo.single = '资料保存成功！'
						Popup.state.commonInfo.show = true
						this.$root.user.nick_name = res.data.data.nick_name
						this.$root.user.clothes_size = res.data.data.clothes_size
						this.$root.user.body_height = res.data.data.body_height
						this.$root.user.body_weight = res.data.data.body_weight
						this.$root.user.body_figure = res.data.data.body_figure
						this.$root.user.body_chest = res.data.data.body_chest
						this.$root.user.waistline = res.data.data.waistline
						this.$root.user.body_hipline = res.data.data.body_hipline
						this.$root.user.outseam = res.data.data.outseam
						Basic.actions.loadEnd()
					},
					error: res => {
						Basic.actions.loadEnd()
						Popup.state.commonInfo.more.title = '保存资料失败'
						for (let list in res.data) {
							for (let i = 0, j = res.data[list].length; i < j ; i++) {
								Popup.state.commonInfo.more.list.push(res.data[list][i])
							}
						}
						Popup.state.commonInfo.show = true
					}
				})
			},
			isNum (s) {
				return !isNaN(s)
			}
		}
	}
</script>

<style lang="stylus" scoped>
.p-user-setting-basic
	width 282px
	font-size 12px
	.auth
		height 129px
		border-bottom 1px solid #ececec
		.avator
			margin-top 42px
			width 71px
			img
				width 56px
				height @width
				border-radius 28px
				overflow hidden
		.id-card
			min-width 78px
			margin-top 62px
			height 15px
			border-right 1px solid #ececec
			padding-top 2px
			color #b37e79
			font-weight bold
			.not-through
				margin-right 15px
				width 75px
				height 21px
				margin-top -5px
				border-radius 40px
				background-color #f1f1f1
				color #999
				padding-top 5px
				font-weight normal
				text-align center
			.active
				margin-right 15px
				width 75px
				height 21px
				margin-top -5px
				border-radius 40px
				background-color @color
				color #fff
				padding-top 5px
				font-weight normal
				padding-left 19px
				.m-icon-safe
					margin-top 1px
					float left
					margin-left -12px
		.phone
			padding-left 20px
			margin-top 64px
			float left
			color #b37e79
			.active
				margin-left -8px
				a
					margin-left 10px
					color #bbbbbe
	.input
		height 40px
		padding-top 16px
		padding-left 90px
		border-bottom 1px solid #ececec
		.nick-name-wrap
			position relative
		&.input-select
			padding-right 0
		.prepend
			width @padding-left
			margin-left -@width
			float left
			padding-left 2px
			color #bbbbbe
		input,
		select
			width 100%
		select
			margin-top -2px
		.hide
			display: none
		.fake-name
			position absolute
			left 0
			top 0
			z-index 0
	.remind
		color #b37e79
		padding-top 15px
	.w-button
		margin-top 31px
		width 147px
</style>
