<template>
	<div :class="$options.name">
		<label>
			<m-icon-lock-open></m-icon-lock-open>
			<input placeholder="旧密码" type="password" v-model="old_password" class="old_password-input">
		</label>
		<span class="error" v-if="error.old_password.show">{{ error.old_password.text }}</span>
		<label>
			<m-icon-lock></m-icon-lock>
			<input placeholder="新密码" type="password" v-model="password" class="password-input">
		</label>
		<span class="error" v-if="error.password.show">{{ error.password.text }}</span>
		<label>
			<m-icon-lock></m-icon-lock>
			<input placeholder="再输一次" type="password" v-model="password_confirmation" class="password_confirmation-input">
		</label>
		<span class="error" v-if="error.password_confirmation.show">{{ error.password_confirmation.text }}</span>
		<w-button @click="save">保 存</w-button>
		<span class="error" v-if="error.submit.show">{{ error.submit.text }}</span>
		<div class="error-list" v-if="error.errorList.show">
			<h4>密码修改失败，原因如下：</h4>
			<ul>
				<li v-for="(key, val) in error.errorList.text">{{ key + 1 }}.  {{ val }}</li>
			</ul>
		</div>
	</div>
</template>

<script>
	import Basic from 'store/basic'
	import Popup from 'store/popup'
	import User from 'store/user'
	import Api from 'api'
	export default {
		components: {
			'm-icon-lock': require('../../../module/icon/lock'),
			'm-icon-lock-open': require('../../../module/icon/lock-open'),
			'w-button': require('../../../widget/button')
		},
		data () {
			return {
				remind: '保存密码成功',
				remind_show: false,
				old_password: '',
				password: '',
				password_confirmation: '',
				error: {
					password: {
						show: false,
						text: '请输入手机号！'
					},
					old_password: {
						show: false,
						text: '请输入验证码！'
					},
					password_confirmation: {
						show: false,
						text: '请输入密码！'
					},
					submit: {
						show: false,
						text: '手机号不能为空！'
					},
					errorList: {
						show: false,
						text: []
					}
				}
			}
		},
		ready () {
			this.bindChange('password')
			this.bindChange('old_password')
			this.bindChange('password_confirmation')
		},
		methods: {
			save () {
				if (this.password.length < 8) {
					this.error.password.text = '密码不能小于8个字符！'
					this.error.password.show = true
				}
				if (this.old_password.length < 8) {
					this.error.old_password.text = '密码不能小于8个字符！'
					this.error.old_password.show = true
				}
				if (this.password_confirmation.length < 8) {
					this.error.password_confirmation.text = '密码不能小于8个字符！'
					this.error.password_confirmation.show = true
				}
				if (this.password !== this.password_confirmation) {
					this.error.submit.text = '两次输入的密码不一样！'
					this.error.submit.show = true
				}
				if (this.password.length >= 8 && this.old_password.length >= 8 && this.password_confirmation.length >= 8 && this.password == this.password_confirmation) {
					Basic.actions.loadStart()
					Api.putUserInfo({
						data: {
							'id': this.$root.user.id,
							'old_password': this.old_password,
							'password': this.password,
							'password_confirmation': this.password_confirmation
						},
						success: res => {
							Basic.actions.loadEnd()
							Popup.state.commonInfo.single = '密码修改成功,请重新登录.'
							Popup.state.commonInfo.show = true
							setTimeout(() => {
								Popup.state.commonInfo.show = false
								this.logout()
							}, 1000)
						},
						error: res => {
							Basic.actions.loadEnd()
							Popup.state.commonInfo.more.title = '修改失败'
							for (let list in res.data) {
								for (let i = 0, j = res.data[list].length; i < j ; i++) {
									Popup.state.commonInfo.more.list.push(res.data[list][i])
								}
							}
							Popup.state.commonInfo.show = true
						}
					})
				}
			},
			bindChange (input) {
				let _this = this
				$('.' + input + '-input').bind('input propertychange', 'input', function(event) {
					event.preventDefault()
					for (let key in _this.error) {
						if (key == input) {
							_this.error[key].show = false
						}
					}
					_this.error.errorList.show = false
					_this.error.submit.show = false
				})
			},
			logout () {
				Api.signOut({
					data: {
						'Authorization': this.$root.token
					},
					success: res => {
						let wsCache = new WebStorageCache()
						wsCache.delete('auth')
						this.$root.user = {}
						this.$root.qiniuToken = {}
						this.$root.token = ''
						this.$route.router.go('/home')
						User.state.address = []
						User.state.order = []
						Popup.state.login = true
					}
				})
			},
			remindShow() {
				this.remind_show = false
			}
		},
		name: 'p-user-setting-password'
	}
</script>

<style lang="stylus" scoped>
.p-user-setting-password
	width 282px
	padding-top 26px
	.error
		color #B37E79
		display block
		line-height 18px
		padding 10px 0 0
	.error-list
		padding-top 10px
		color #B37E79
		h4
			font-weight normal
			margin 10px 0 10px
		li
			line-height 18px
	label
		height 42px
		border-bottom 1px solid #ececec
		padding-left 27px
		padding-top 17px
		& > div:first-child
			float left
			margin-left -25px
		input
			margin-top 2px
			width 100%
	.remind
		color #b37e79
		padding-top 15px
	.w-button
		margin-top 31px
</style>
