<template>
	<div :class="$options.name">
		<div class="item">
			<span>微信账号关联</span>
			<a class="x" v-if="$root.user.weixin_avatar == null" @click="weixin">去绑定</a>
			<div class="x" v-else>
				<m-icon-exchange></m-icon-exchange>
				<img :src="$root.user.weixin_avatar">
				<!-- <a>解绑</a> -->
			</div>
		</div>
		<div class="item">
			<span>微博账号关联</span>
			<a class="x" v-if="$root.user.weibo_avatar == null" @click="weibo">去绑定</a>
			<div class="x" v-else>
				<m-icon-exchange></m-icon-exchange>
				<img :src="$root.user.weibo_avatar">
				<!-- <a>解绑</a> -->
			</div>
		</div>
	</div>
</template>

<script>
	import Api from 'api'
	export default {
		name: 'p-user-setting-social',

		components: {
			'm-icon-exchange': require('../../../module/icon/exchange')
		},

		created () {
			// 检测 url 是否带有 code 参数，如果有，则是第三方登录
			let code = this.$route.query.code,
				state = this.$route.query.state
			if (typeof(code) !== 'undefined' && this.$route.fullPath == '/user/setting/social') {
				if (state == 'weixin') {
					Api.getWeiXin({
						data: {
							'code': code
						},
						success: res => {
							let access_token = res.data.data.access_token,
								refresh_token = res.data.data.refresh_token,
								openid = res.data.data.openid
							Api.putUserInfo({
								data: {
									'id': this.$root.user.id,
									'access_token': access_token,
									'openid': openid,
									'oauth_type': 'weixin'
								},
								success: res => {
									this.$root.user.weixin_avatar = res.data.data.weixin_avatar
								},
								error: res => {
								}
							})
						}
					})
				}
				else {
					Api.getWeiBo({
						data: {
							'code': code
						},
						success: res => {
							let access_token = res.data.data.access_token,
								openid = res.data.data.uid
							Api.putUserInfo({
								data: {
									'id': this.$root.user.id,
									'access_token': access_token,
									'openid': openid,
									'oauth_type': 'weibo'
								},
								success: res => {
									this.$root.user.weibo_avatar = res.data.data.weibo_avatar
								},
								error: res => {
								}
							})
						}
					})
				}
			}
		},

		methods: {
			weixin () {
				location.href = 'https://open.weixin.qq.com/connect/qrconnect?appid=wxf3b6280c8001af25&redirect_uri=http%3a%2f%2frentvogue.com%2findex.html%23!%2fuser%2fsetting%2fsocial&response_type=code&scope=snsapi_login&state=weixin#wechat_redirect'
			},
			weibo () {
				location.href = 'https://api.weibo.com/oauth2/authorize?client_id=2627720936&redirect_uri=http%3a%2f%2frentvogue.com%2findex.html%23!%2fuser%2fsetting%2fsocial'
			}
		}
	}
</script>

<style lang="stylus" scoped>
.p-user-setting-social
	padding-top 20px
	font-size 12px
	.item
		height 50px
		padding-top 25px
		border-bottom 1px solid #ececec
		color #bbbbbe
		transition color .3s
		a
			color #b37e79
		img
			width 21px
			height 21px
			border-radius 11px
			overflow hidden
			margin-top -5px
		div > *
			float left
			margin-left 8px
		&:hover
			color #000
</style>
