<template>
	<div class="register-page">
		<div class="form">
			<label class="form-control has-icon">
				<span class="g-icon f-phone-icon"></span>
				<input type="text" name="phone" v-model="cellPhone" placeholder="手机号" />
			</label>
			<label class="form-control has-icon code-wrap">
				<span class="g-icon f-unlock-icon"></span>
				<div class="inner">
					<input type="text" name="cell_phone_verify_code" v-model="cell_phone_verify_code" placeholder="输入验证码" />
				</div>
				<a v-if="count" class="code">{{ count }}秒后重试</a>
				<a @click="verify" class="code" v-else>获取验证码</a>
			</label>
			<label class="form-control has-icon">
				<span class="g-icon f-user-icon"></span>
				<input type="text" name="nickname" v-model="nickname" placeholder="昵称" />
			</label>
			<label class="form-control has-icon">
				<span class="g-icon f-lock-icon"></span>
				<input type="password" name="password" v-model="password" placeholder="密码" />
			</label>
			<label class="form-control button-wrap">
				<span class="button radius" @click="register">注册</span>
			</label>
		</div>
	</div>
</template>

<script>
	import User from '../../../store/user'
	import Popup from '../../../store/popup'
	export default {
		name: 'register',

		data () {
			return {
				cellPhone: '',
				password: '',
				nickname: '',
				cell_phone_verify_code: '',
				count: 0,
				timer: ''
			}
		},

		methods: {
			startCount () {
				this.count = 60
				this.timer = setInterval(() => {
					this.count -= 1
					this.count || this.stopCount()
				}, 1000)
			},
			stopCount () {
				clearInterval(this.timer)
				this.count = 0
			},
			verify () {
				let _this = this
				let phone = this.cellPhone
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				if (telReg) {
					User.actions.getVerifyCode({
						phone_number: phone,
						after () {
							_this.startCount()
						}
					})
				}
				else {
					Popup.state.globalMsg.single = '请输入正确的手机号码！'
					Popup.state.globalMsg.show = true
				}
			},
			register () {
				let _this = this
				let phone = this.cellPhone
				let verifyCode = this.cell_phone_verify_code
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				let verifyCodeReg = !!verifyCode.match(/^[0-9]{6}$/)
				if (!telReg) {
					Popup.state.globalMsg.single = '请输入正确的手机号码！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (!verifyCodeReg) {
					Popup.state.globalMsg.single = '请输入正确的6位数验证码！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.nickname.length == 0) {
					Popup.state.globalMsg.single = '请输入昵称！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (this.password.length < 8) {
					Popup.state.globalMsg.single = '密码不能小于8个字符！'
					Popup.state.globalMsg.show = true
					return false
				}
				if (telReg && verifyCodeReg && this.password.length >= 8 && this.nickname.length !== 0) {
					User.actions.register({
						'cell_phone': phone,
						'cell_phone_verify_code': verifyCode,
						'nick_name': this.nickname,
						'password': this.password,
						after () {
							_this.$route.router.go('/home')
						}
					})
				}
			}
		}
	}
</script>

<style lang="sass" scoped>
.register-page {
	padding: 0 18px;
}
</style>