<template>
	<div class="signin-page">
		<div class="form">
			<label class="form-control has-icon">
				<span class="g-icon f-user-icon"></span>
				<input type="text" name="phone" v-model="cellPhone" placeholder="帐号" />
			</label>
			<label class="form-control has-icon">
				<span class="g-icon f-lock-icon"></span>
				<input type="password" name="password" v-model="password" placeholder="密码" />
			</label>
			<label class="form-control button-wrap">
				<span class="button radius" @click="signIn">登录</span>
			</label>
		</div>
	</div>
</template>

<script>
	import User from '../../../store/user'
	import Popup from '../../../store/popup'
	export default {
		name: 'signin',

		data () {
			return {
				cellPhone: '',
				password: ''
			}
		},

		methods: {
			signIn () {
				let _this = this
				let phone = this.cellPhone
				let telReg = !!phone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)
				if (!telReg) {
					Popup.state.globalMsg.show = true
					Popup.state.globalMsg.single = '请输入正确的手机号！'
				}
				if (this.password.length < 8) {
					Popup.state.globalMsg.show = true
					Popup.state.globalMsg.single = '密码至少 8 个字符！'
				}
				if (telReg && this.password.length >= 8) {
					let obj = {
						data: {
							'cell_phone': this.cellPhone,
							'password': this.password
						},
						after () {
							_this.$route.router.go('/home')
						}
					}
					User.actions.signIn(obj)
				}
			}
		}
	}
</script>

<style lang="sass" scoped>
.signin-page {
	padding: 0 18px;
}
</style>