<template>
	<div :class="$options.name">
		<m-company-main s-active="品牌故事">
			<m-company-brand slot="body"></m-company-brand>
		</m-company-main>
	</div>
</template>

<script>
	export default {
		components: {
			MCompanyMain: require('../../m/CompanyMain'),
			MCompanyBrand: require('../../m/CompanyBrand')
		},
		name: 'B__CompanyBrand'
	}
</script>