<template>
	<div :class="$options.name">
		<m-company-main s-active="产品">
			<m-company-product slot="body"></m-company-product>
		</m-company-main>
	</div>
</template>

<script>
	export default {
		components: {
			MCompanyMain: require('../../m/CompanyMain'),
			MCompanyProduct: require('../../m/CompanyProduct')
		},
		name: 'B__CompanyProduct'
	}
</script>