<template>
	<div :class="$options.name">
		<m-user-main s-active="收货地址">
			<m-user-address slot="body"></m-user-address>
		</m-user-main>
	</div>
</template>

<script>
	export default {
		components: {
			MUserMain: require('../../m/UserMain'),
			MUserAddress: require('../../m/UserAddress')
		},
		name: 'B__UserAddress'
	}
</script>

<style lang="stylus" scoped>

</style>
