<template>
	<div :class="$options.name">
		<m-user-main s-active="我的优惠券">
			<m-user-coupon slot="body"></m-user-coupon>
		</m-user-main>
	</div>
</template>

<script>
	export default {
		components: {
			MUserMain: require('../../m/UserMain'),
			MUserCoupon: require('../../m/UserCoupon')
		},
		name: 'B__UserCoupon'
	}
</script>

<style lang="stylus" scoped>

</style>
