<template>
	<div :class="$options.name">
		<m-user-main s-active="个人设置">
			<m-user-setting slot="body"></m-user-setting>
		</m-user-main>
	</div>
</template>

<script>
	export default {
		components: {
			MUserMain: require('../../m/UserMain'),
			MUserSetting: require('../../m/UserSetting')
		},
		name: 'B__UserSetting'
	}
</script>

<style lang="stylus" scoped>

</style>
