<template>
	<div class="wrapper">
		<m-header></m-header>
		<div class="container">
			<slot><router-view></router-view></slot>
		</div>
		<m-msg></m-msg>
	</div>
</template>

<script>
	import User from '../../store/user'
	export default {
		name: 'wrapper',

		components: {
			'm-header': require('../module/header'),
			'm-msg': require('../module/popup/msg')
		}
	}
</script>