<template>
	<div :class="$options.name">
		<w-icon></w-icon>
	</div>
</template>

<script>
	export default {
		components: {
			'w-icon': require('../../widget/icon')
		},
		name: 'm-icon-avator'
	}
</script>

<style lang="stylus" scoped>
.m-icon-avator
	width 56px
	height @width
	border-radius 28px
	.w-icon
		background-position -210px -150px
</style>
