<template>
	<div :class="$options.name">
		<w-icon></w-icon>
	</div>
</template>

<script>
	export default {
		components: {
			'w-icon': require('../../widget/icon')
		},
		name: 'm-icon-exchange'
	}
</script>

<style lang="stylus" scoped>
.m-icon-exchange
	width 11px
	height 10px
	.w-icon
		background-position -270px -30px
</style>
