<template>
	<div :class="$options.name">
		<w-icon></w-icon>
	</div>
</template>

<script>
	export default {
		components: {
			'w-icon': require('../../widget/icon')
		},
		name: 'm-icon-id-card-back'
	}
</script>

<style lang="stylus" scoped>
.m-icon-id-card-back
	width 70px
	height 43px
	.w-icon
		background-position -90px -240px
</style>
