<template>
	<div :class="$options.name">
		<w-icon></w-icon>
	</div>
</template>

<script>
	export default {
		components: {
			'w-icon': require('../../widget/icon')
		},
		name: 'm-icon-id-card'
	}
</script>

<style lang="stylus" scoped>
.m-icon-id-card
	width 71px
	height 44px
	.w-icon
		background-position 0 -240px
</style>
