<template>
	<div :class="$options.name">
		<w-icon></w-icon>
	</div>
</template>

<script>
	export default {
		components: {
			'w-icon': require('../../widget/icon')
		},
		name: 'm-icon-lock-open'
	}
</script>

<style lang="stylus" scoped>
.m-icon-lock-open
	width 11px
	height 14px
	.w-icon
		background-position -180px 0
</style>
