<template>
	<div :class="$options.name">
		<w-icon></w-icon>
	</div>
</template>

<script>
	export default {
		components: {
			'w-icon': require('../../widget/icon')
		},
		name: 'm-icon-phone'
	}
</script>

<style lang="stylus" scoped>
.m-icon-phone
	width 10px
	height 14px
	.w-icon
		background-position 0 0
</style>
