<template>
	<div :class="$options.name">
		<w-icon></w-icon>
	</div>
</template>

<script>
	export default {
		components: {
			'w-icon': require('../../widget/icon')
		},
		name: 'm-icon-safe'
	}
</script>

<style lang="stylus" scoped>
.m-icon-safe
	width 9px
	height @width
	.w-icon
		background-position -60px -210px
</style>
