<template>
	<div :class="$options.name">
		<w-icon></w-icon>
	</div>
</template>

<script>
	export default {
		components: {
			'w-icon': require('../../widget/icon')
		},
		name: 'm-icon-search'
	}
</script>

<style lang="stylus" scoped>
.m-icon-search
	width 18px
	height 18px
	.w-icon
		background-position -60px -30px
</style>
