<template>
	<div :class="$options.name">
		<w-icon></w-icon>
	</div>
</template>

<script>
	export default {
		components: {
			'w-icon': require('../../widget/icon')
		},
		name: 'm-icon-wechat'
	}
</script>

<style lang="stylus" scoped>
.m-icon-wechat
	width 50px
	height @width
	border-radius 25px
	.w-icon
		background-position 0 -300px
</style>
