<template>
	<div :class="$options.name">
		<m-partner-main s-active="加入品牌">
			<m-partner-join slot="body"></m-partner-join>
		</m-partner-main>
	</div>
</template>

<script>
	export default {
		components: {
			MPartnerMain: require('../../m/PartnerMain'),
			MPartnerJoin: require('../../m/PartnerJoin')
		},
		name: 'B__PartnerJoin'
	}
</script>