<template>
	<div :class="$options.name">
		<m-partner-main s-active="其他合作">
			<m-partner-other slot="body"></m-partner-other>
		</m-partner-main>
	</div>
</template>

<script>
	export default {
		components: {
			MPartnerMain: require('../../m/PartnerMain'),
			MPartnerOther: require('../../m/PartnerOther')
		},
		name: 'B__PartnerOther'
	}
</script>