<template>
	<div :class="$options.name">
		<div class="title">品牌故事</div>
		<div class="content">
			<img src="../../img/company-brand.png">
			<p>Rent Vogue 主营租赁不同风格的高端礼服、日常服饰，游走于时尚尖端，完美结合中国时尚群体的格调需求，影响中国客户最具品位的穿搭与消费。Rent Vogue将开创互联网时尚的新格局，为您提供互联网衣橱的新体验。</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__CompanyBrand'
	}
</script>

<style lang="stylus" scoped>
.M__CompanyBrand
	.title
		height 29px
		border-bottom 1px solid #ddd
		font-size 12px
		position relative
		&:before
			content ''
			width 26px
			height 3px
			background-color #000
			position absolute
			bottom -2px
	.content
		height 395px
		width 468px
		color #535353
		img
			width @width
			height 220px
			margin-top 36px
		p
			margin-top 18px
			font-size 12px
			line-height 16px
</style>