<template>
	<div :class="$options.name">
		<div class="title">产品</div>
		<div class="content">
			<img src="../../img/company-product-1.png">
			<img src="../../img/company-product-2.png">
			<img src="../../img/company-product-3.png">
			<p>Rent Vogue 的产品皆独具匠心的立体裁制而成，并以高品质的面料和极简美学的设计闻名于世界。品牌尊崇时尚，着重设计，奢华轻盈的面料与刺绣珠饰等多种复杂工艺的完美结合，一针一线的艺术诠释着独一无二的优雅与完美。</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__CompanyProduct'
	}
</script>

<style lang="stylus" scoped>
.M__CompanyProduct
	.title
		height 29px
		border-bottom 1px solid #ddd
		font-size 12px
		position relative
		&:before
			content ''
			width 26px
			height 3px
			background-color #000
			position absolute
			bottom -2px
	.content
		height 383px
		width 680px
		color #535353
		img
			width 200px
			height 200px
			margin-top 36px
			margin-left 40px
			float left
			margin-bottom 18px
			&:first-child
				margin-left 0
		p
			font-size 12px
			line-height 16px
</style>