<template>
	<div :class="$options.name">
		<div class="w">
			<div class="navbar y">
				<div class="service x">
					<div class="title">客户服务</div>
					<div class="item"><a href="http://m.kuaidi100.com" target="_blank">快递查询</a></div>
					<div class="item"><a href="service.htm#!/problem">常见问题</a></div>
					<div class="item"><a href="service.htm#!/contact">联系方式</a></div>
				</div>
				<div class="company x">
					<div class="title">公司</div>
					<div class="item"><a href="company.htm#!/brand">品牌故事</a></div>
					<div class="item"><a href="company.htm#!/product">产品</a></div>
				</div>
				<div class="partner x">
					<div class="title">合作</div>
					<div class="item"><a href="partner.htm#!/join">加入品牌</a></div>
					<div class="item"><a href="partner.htm#!/other">其他合作</a></div>
				</div>
				<div class="mobile x">
					<img src="../../img/qr-mobile.png" alt="手机版下载">
				</div>
			</div>
			<div class="copyright">沪ICP备15051705号-1 © copyright rentvogue 2015</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__Foot'
	}
</script>

<style lang="stylus" scoped>
.M__Foot
	background-color #f7f7f7
	border-top 1px solid #edebeb
	.navbar
		height 172px
		padding-top 50px
		.service
			padding-left 110px
			width 346px
		.company
			width 228px
		.partner
			width 228px
		.title
			color #b37e79
			font-size 14px
			height 34px
			padding-top 2px
		.item
			font-size 12px
			height 22px
		.mobile
			padding-right 99px
			img
				width 59px
				height 79px
	.copyright
		border-top 1px solid #ececec
		color #b9b9b9
		font-size 10px
		height 41px
		padding-top 15px
		text-align center
</style>
