<template>
	<div :class="$options.name">
		<div class="item {{ target == item.id }}" :style="{background: item.rgb}" @click="active(item.id)" v-for="item in list"></div>
	</div>
</template>

<script>
    import Goods from 'store/goods'
	export default {
        computed: {
            list () {
                return Goods.state.category.color
            },
            target () {
                return Goods.state.list.filter.color
            }
        },
		methods: {
			active (...args) {
				let query = this.$route.query
                // 切换开关
				if (this.target == args[0]) {
					query.color = ''
				}
				else {
					query.color = args[0]
				}
                // 重置非规格选项
				query.page = undefined
				query.occasion = undefined
				query.category = undefined
				query.usage = undefined
                // 跳转
				this.$route.router.go({
					path: '/home',
					query: query
				})
			}
		},
		name: 'M__GoodsFilterColor'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterColor
	padding-top 4px
	margin-left -16px
	overflow hidden
	margin-bottom 20px;
	.item
		width 28px
		height @width
		border-radius @width
		border 2px solid #fff
		margin-left -@margin-left
		margin-bottom 10px
		float left
		cursor pointer
		&:hover
			box-shadow 0 0 2px #b37e79
		&.true
			box-shadow 0 0 0 2px #b37e79
</style>
