<template>
	<div :class="$options.name">
		<div class="y1">
			<div class="x1">选择规格</div>
			<a class="x2 {{ _active }}" @click="clear">清空</a>
		</div>
		<div class="y2">
			<m-goods-filter-item s-title="尺寸" :b-open="true">
				<m-goods-filter-size></m-goods-filter-size>
			</m-goods-filter-item>
			<m-goods-filter-item s-title="租赁时间" :b-open="true">
				<m-goods-filter-time></m-goods-filter-time>
			</m-goods-filter-item>
			<m-goods-filter-item s-title="价格" :b-open="true">
				<m-goods-filter-price></m-goods-filter-price>
			</m-goods-filter-item>
			<m-goods-filter-item s-title="颜色" :b-open.once="$route.query.color">
				<m-goods-filter-color></m-goods-filter-color>
			</m-goods-filter-item>
			<m-goods-filter-item s-title="款式" :b-open.once="$route.query.style">
				<m-goods-filter-type></m-goods-filter-type>
			</m-goods-filter-item>
			<m-goods-filter-item s-title="身材" :b-open.once="$route.query.body_figure">
				<m-goods-filter-body></m-goods-filter-body>
			</m-goods-filter-item>
			<m-goods-filter-item s-title="搜索" :b-open="true">
				<m-goods-filter-search></m-goods-filter-search>
			</m-goods-filter-item>
		</div>
	</div>
</template>

<script>
	import Goods from '../../store/goods'
	export default {
		name: 'M__GoodsFilter',

		components: {
			MGoodsFilterItem: require('./GoodsFilterItem'),
			MGoodsFilterSize: require('./GoodsFilterSize'),
			MGoodsFilterTime: require('./GoodsFilterTime'),
			MGoodsFilterPrice: require('./GoodsFilterPrice'),
			MGoodsFilterColor: require('./GoodsFilterColor'),
			MGoodsFilterType: require('./GoodsFilterType'),
			MGoodsFilterBody: require('./GoodsFilterBody'),
			MGoodsFilterSearch: require('./GoodsFilterSearch')
		},

		computed: {
			_active () {
				let active = false
				~`
				size
				color
				style
				body_figure
				end_price
				name
				rent_start
				`.replace(/\w+/g, (s) => {
					if (Goods.state.list.filter[s]) {
						active = true
						return
					}
				})
				return active
			}
		},

		created () {
			Goods.actions.initCategory()
		},

		methods: {
			clear () {
				if (this.$route.query.order_id) {
					this.$route.router.go('/home?order_id=' + this.$route.query.order_id)
				}
				else {
					this.$route.router.go('/home')
				}
			}
		}
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilter
	width 176px
	.y1
		height 44px
		font-size 12px
		line-height 13px
		.x1
			float left
		.x2
			color #acacac
			float right
			&.true
				color #000
</style>
