<template>
	<div :class="$options.name">
		<div class="item {{ _target == item.id }}" @click="active(item.id)" v-for="item in _list">{{ item.name }}</div>
	</div>
</template>

<script>
	import Goods from 'store/goods'
	export default {
		computed: {
			_list () {
				return Goods.state.category.sizes
			},
            _target () {
                return Goods.state.list.filter.size
            }
		},
		methods: {
			active (...args) {
				let query = this.$route.query
                // 切换开关
				if (this._target == args[0]) {
					query.size = undefined
				}
				else {
					query.size = args[0]
				}
                // 重置非规格选项
				query.page = undefined
				query.occasion = undefined
				query.category = undefined
				query.usage = undefined
                // 跳转
				this.$route.router.go({
					path: '/home',
					query: query
				})
			}
		},
		name: 'M__GoodsFilterSize'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterSize
	height 102px
	font-size 12px
	margin-left -20px
	.item
		width 26px
		height @width
		border-radius @width
		padding-top 6px
		text-align center
		color #b37e79
		border 1px solid rgba(0,0,0,.24)
		text-transform uppercase
		float left
		margin 5px 0 10px 20px
		cursor pointer
		&:hover
			box-shadow 0 0 3px rgba(0,0,0,.24)
		&.true
			border-color @color
			background-color @color
			color #fff
</style>
