<template>
	<div :class="$options.name">
		<div class="tabs">
			<div class="tab {{ target == 3 }}"><a @click="recommend">推荐</a></div>
			<div class="tab {{ target == 2 }}"><a @click="tab(2, $event)">婚礼</a></div>
			<div class="tab {{ target == 1 }}"><a @click="tab(1, $event)">晚会</a></div>
			<div class="pagination">
				<div class="prev {{ page.prev ? true : false }}" @click="prev"></div>
				<div class="page">{{ page.now }} / {{ page.total }}</div>
				<div class="next {{ page.next ? true : flase }}" @click="next"></div>
			</div>
		</div>
	</div>
</template>

<script>
	import Goods from '../../store/goods'
	export default {
		computed: {
			target () {
				if (this.filter.occasion == 1) {
					return 1
				}
				else if (this.filter.occasion == 2) {
					return 2
				}
				return 3
			},
			filter () {
				return Goods.state.list.filter
			},
			page () {
				return Goods.state.list.page
			}
		},
		methods: {
			recommend (event) {
				this.$route.router.go('/home')
			},
			tab (input, event) {
				this.$route.router.go('/home?occasion=' + input)
			},
			next () {
				if (this.page.next) {
					let query = this.$route.query
					query.page = this.page.now + 1
					this.$route.router.go({
						path: '/home',
						query: query
					})
				}
			},
			prev () {
				if (this.page.prev) {
					let query = this.$route.query
					query.page = this.page.now - 1
					this.$route.router.go({
						path: '/home',
						query: query
					})
				}
			}
		},
		name: 'M__GoodsTab'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsTab
	.tabs
		border-bottom 1px solid #ddd
		height 29px
		.tab
			color #acacac
			float left
			font-size 12px
			line-height 13px
			width 64px
			a:hover
				color #000
			&.true
				color #000
				a
					position relative
					&:after
						background-color #000
						content ''
						height 3px
						left 0
						position absolute
						right 0
						top 27px
		.pagination
			float right
			font-size 12px
			font-weight bold
			text-align center
			width 79px
			& > div
				float left
			.prev,
			.next
				width 7px
				height @width
				border-top 1px solid
				color #ddd
				&.true
					color #000
					cursor pointer
			.next
				border-right 1px solid
				transform-origin left top
				transform rotate(45deg)
			.prev
				border-left 1px solid
				transform-origin right top
				transform rotate(-45deg)
			.page
				width 65px
</style>
