<template>
	<div :class="$options.name" @click="goDetail">
		<div class="cover"><img :src="args.img + '|imageView2/1/w/424/h/634'" alt="{{ args.name }}"></div>
		<div class="title">{{ args.name }}</div>
		<div class="price">租赁价 ¥{{ args.price }}</div>
		<div class="price2" v-if="args.market_price">（原价 ¥{{ args.market_price }}）</div>
	</div>
</template>

<script>
	export default {
		name: 'M__GoodsItem',

		props: ['args'],

		methods: {
			goDetail () {
				if (this.$route.query.order_id) {
					this.$route.router.go('/goods?id=' + this.args.id + '&order_id=' + this.$route.query.order_id)
				}
				else {
					this.$route.router.go('/goods?id=' + this.args.id)
				}
			}
		}
	}
</script>

<style lang="stylus" scoped>
.M__GoodsItem
	text-align center
	.cover
		border 1px solid #f1f1f1
		width 212px
		height 317px
		position relative
		cursor pointer
		&:before
			position absolute
			width 100%
			height 100%
			content ''
			transition opacity .3s
			opacity 0
			box-shadow 0 0 15px rgba(0,0,0,.15)
		&:hover:before
			opacity 1
		img
			width 100%
			height 100%
	.title
		font-size 12px
		margin-top 25px
	.price
		font-size 12px
		margin-top 20px
	.price2
		font-size 9px
		margin-top 6px
		color #b9b9b9
</style>
