<template>
	<div :class="$options.name">
		<div v-for="item in list" class="item {{ target == item.id }}">
			<a @click="active(item.id)">{{ item.name }}</a>
		</div>
	</div>
</template>

<script>
	import Goods from 'store/goods'
	export default {
		computed: {
			list () {
				return Goods.state.category.body_figure
			},
			target () {
				return Goods.state.list.filter.body_figure
			}
		},
		methods: {
			active (...args) {
				let query = this.$route.query
				// 切换开关
				if (this.target == args[0]) {
					query.body_figure = undefined
				}
				else {
					query.body_figure = args[0]
				}
				// 重置非规格选项
				query.page = undefined
				query.occasion = undefined
				query.category = undefined
				query.usage = undefined
				// 跳转
				this.$route.router.go({
					path: '/home',
					query: query
				})
			}
		},
		name: 'M__GoodsFilterBody'
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterBody
	font-size 12px
	padding-top 5px
	margin-right -19px
	margin-bottom 10px
	overflow hidden
	.item
		float left
		width 65px
		height 32px
		&.true a
			padding-bottom 2px
			border-bottom 1px solid
</style>
