<template>
	<div :class="$options.name">
		<label>
			<input id="home-datepicker" :value="_date" v-model="date">
			<div><m-icon-calendar></m-icon-calendar></div>
		</label>
	</div>
</template>

<script>
    import Goods from 'store/goods'
	export default {
		components: {
			'm-icon-calendar': require('../../module/icon/calendar')
		},
        computed: {
            _date () {
                return Goods.state.list.filter.rent_start
            }
        },
        data () {
            return {
                date: ''
            }
        },
        methods: {
            initDatePicker ($) {
            	let _this = this
    			$('#home-datepicker').datepicker({
    				minDate: 0
    			})
				// 绑定鼠标悬停事件，加悬停类
				$('body').on('mouseenter', '.ui-datepicker-calendar tbody .ui-state-default', function () {
					// 获取当前页所有日期元素
					let selector = $('.ui-datepicker-calendar tbody .ui-state-default'),
						// 获取租期范围
						count = '4',
						// 获取当前悬停日期在所有日期元素中的位置
						index = selector.index(this),
						// 计算悬停租期范围的最后一天在所有日期元素中的位置
						last = Number(index) + Number(count) - 1
					// 清除当前页所有日期悬停类
					selector.removeClass('ui-state-first-hover ui-state-last-hover ui-state-hover')
					// 给当前悬停日期范围的第一天加类
					selector.eq(index).addClass('ui-state-first-hover')
					// 当前悬停日期范围的最后一天加类
					selector.eq(last).addClass('ui-state-last-hover')
					// 遍历租期，给悬停租期内所有元素加类
					for (let i = 0, j = 4; i < j; i++) {
						selector.eq(index++).addClass('ui-state-hover')
					}
				})
				// 当鼠标离开月份区域，清除悬停类
				$('body').on('mouseleave', '.ui-datepicker-calendar tbody', function () {
					let selector = $('.ui-datepicker-calendar tbody .ui-state-default')
					selector.removeClass('ui-state-first-hover ui-state-last-hover ui-state-hover')
				})
				// 当切换月份时设置已选择的日期范围
				$('.ui-corner-all').on('click', function(event) {
					event.preventDefault()
					_this.selectedDate()
				})
				// 当日期选择控件出现，设置已选择的日期范围
				$('#home-datepicker').on('click', function(event) {
					event.preventDefault()
					_this.selectedDate()
				})
            },
			// 当日期控件显示，显示已选中日期的范围
			selectedDate () {
				// 获取当前页所有日期元素
				let selector = $('.ui-datepicker-calendar tbody td'),
					// 获取租期范围
					count = '4',
					// 获取当前选中日期在所有日期元素中的位置
					index = selector.index($('.ui-datepicker-current-day')),
					// 获取租期范围的最后一天在所有日期元素中的位置
					last = Number(index) + Number(count) - 1
				if (index >= 0) {
					// 获取选中租期范围
					selector.removeClass('ui-datepicker-first-day ui-datepicker-last-day ui-datepicker-current-day')
					// 给租期第一天加类
					selector.eq(index).addClass('ui-datepicker-first-day')
					// 给租期最后一天加类
					selector.eq(last).addClass('ui-datepicker-last-day')
					// 给租期内所有元素加类
					for (let i = 0, j = count; i < j; i++) {
						selector.eq(index++).addClass('ui-datepicker-current-day')
					}
				}
			},
            update () {
				let query = this.$route.query
                if (this.date) {
                    query.rent_start = this.date
                }
                // 重置非规格选项
				query.page = undefined
				query.occasion = undefined
				query.category = undefined
				query.usage = undefined
                // 跳转
				this.$route.router.go({
					path: '/home',
					query: query
				})
            }
        },
		name: 'M__GoodsFilterTime',
		ready () {
			this.initDatePicker(window.$)
		},
        watch: {
            date () {
                this.update()
            }
        }
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterTime
	height 52px
	padding-top 3px
	label
		height 36px
		border 1px solid #ddd
		padding-right 27px
		input
			margin-top 11px
			width 100%
			float left
			padding-left 10px
		& > div
			width @padding-right
			margin-right -@width
			float right
			padding-top 7px
	#datepicker
		z-index 9
		position relative
</style>
