<template>
	<div :class="[$options.name, bOpen?'open':'']">
		<div class="y1" @click="bOpen=!bOpen">
			<a class="x1">{{ sTitle }}</a>
			<a class="x2">{{ bOpen ? '-' : '+' }}</a>
		</div>
		<div class="y2" v-show="bOpen">
			<slot></slot>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__GoodsFilterItem',
		props: [ 'sTitle', 'bOpen' ]
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterItem
	font-size 12px
	border-bottom 1px solid #ddd
	margin-bottom 15px
	&.open
		margin-bottom 30px
	.y1
		font-size 10px
		line-height 11px
		height 26px
		cursor pointer
		.x1
			float left
		.x2
			float right
			line-height 10px
			text-align center
			width 10px
</style>
