<template>
	<div :class="$options.name" class="y w">
		<div class="x x1">
			<m-goods-filter></m-goods-filter>
		</div>
		<div class="x x2">
			<m-goods-tab></m-goods-tab>
			<div class="list">
				<m-goods-list :args="list"></m-goods-list>
			</div>
		</div>
	</div>
</template>

<script>
	import Basic from 'store/basic'
	import Goods from 'store/goods'
	import Api from 'api'
	export default {
		name: 'M__GoodsPanel',

		components: {
			MGoodsFilter: require('./GoodsFilter'),
			MGoodsTab: require('./GoodsTab'),
			MGoodsList: require('./GoodsList')
		},

		computed: {
			list () {
				return Goods.state.list.content
			}
		}

		// events: {
		// 	'M__GoodsPanel.updateList' (input) {
		// 		if (input) {
		// 			for (let i in this.$root.goods.filter) {
		// 				this.$root.goods.filter[i] = input[i] ? input[i] : ''
		// 			}
		// 		}
		// 		Api.getGoodsList({
		// 			data: this.$root.goods.filter,
		// 			success: res => {
		// 				this.$root.goods.list = res.data.data.data
		// 				this.$root.goods.page = {
		// 					prev: res.data.data.prev_page_url,
		// 					next: res.data.data.next_page_url,
		// 					now: res.data.data.current_page,
		// 					total: res.data.data.last_page
		// 				}
		// 			}
		// 		})
		// 	}
		// }
	}
</script>

<style lang="stylus" scoped>
.M__GoodsPanel
	&:after
		clear both
		content ''
		display table
	.x
		padding-top 64px
	.x1
		padding-left 20px
		width 244px
	.x2
		width 696px
	.list
		padding-top 40px
</style>
