<template>
	<div :class="$options.name">
		<div class="list" v-if="args.length">
			<div class="goods" v-for="item in args">
				<m-goods-item :args="item"></m-goods-item>
			</div>
		</div>
		<div class="nodata" v-else>
			无符合条件的产品
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__GoodsList',

		props: ['args'],

		components: {
			MGoodsItem: require('./GoodsItem')
		}
	}
</script>

<style lang="stylus" scoped>
.M__GoodsList
	.nodata
		color #9c9c9c
		font-size 14px
		border 1px dashed #ccc
		box-sizing border-box
		text-align center
		padding 20px 0
	.list
		margin-left -30px
		&:after
			content ''
			clear both
			display table
		.goods
			float left
			width 242px
			height 450px
			padding-left 30px
</style>
