<template>
	<div :class="$options.name">
		<label>
			<input :value="_value" v-model="value" debounce="500">
			<div @click="search"><m-icon-search></m-icon-search></div>
		</label>
	</div>
</template>

<script>
    import Goods from 'store/goods'
	export default {
		components: {
			'm-icon-search': require('../../module/icon/search')
		},
        computed: {
            _value () {
                return Goods.state.list.filter.name
            }
        },
		data () {
			return {
				value: ''
			}
		},
		methods: {
			search () {
				let query = this.$route.query
                // 切换开关
                if (this.value) {
                    query.name = this.value
                }
                // 重置非规格选项
				query.page = undefined
				query.occasion = undefined
				query.category = undefined
				query.usage = undefined
                // 跳转
				this.$route.router.go({
					path: '/home',
					query: query
				})
			}
		},
		name: 'M__GoodsFilterSearch',
		watch: {
			'value': 'search'
		}
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterSearch
	height 52px
	padding-top 3px
	label
		height 36px
		border 1px solid #ddd
		padding-right 27px
		input
			margin-top 11px
			width 100%
			float left
			padding-left 10px
		& > div
			width @padding-right
			margin-right -@width
			float right
			padding-top 7px
</style>
