<template>
	<div :class="$options.name">
		<input type="hidden" class="slider-input" v-model="end_price" debounce="500">
	</div>
</template>

<script>
	export default {
		name: 'M__GoodsFilterPrice',

		data () {
			return {
				end_price: this.$route.query.end_price || 0,
				$slider: ''
			}
		},

		ready () {
			this.initSlide(window.$)
		},

		events: {
			'M__Home.reload' () {
				if (this.$slider) {
					this.$slider.jRange('setValue', this.$route.query.end_price || '0')
				}
			}
		},

		methods: {
			initSlide ($) {
				// http://nitinhayaran.github.io/jRange/demo/
				this.$slider = $('.slider-input').jRange({
					from: 0,
					to: 10000,
					step: 100,
					width: 156,
					format: (value, pointer) => {
						let s = '¥' + value
						s += value == 10000 ? '+' : ''
						return s
					}
				})
			},
			update () {
				let query = this.$route.query
				if (this.end_price) {
					query.end_price
						= this.end_price == 0
						? undefined
						: this.end_price
				}
				// 重置非规格选项
				query.page = undefined
				query.occasion = undefined
				query.category = undefined
				query.usage = undefined
				// 跳转
				this.$route.router.go({
					path: '/home',
					query: query
				})
			}
		},

		watch: {
			end_price () {
				this.update()
			}
		}
	}
</script>

<style lang="stylus" scoped>
.M__GoodsFilterPrice
	height 65px
	padding-top 10px
</style>

<style lang="stylus">
.M__GoodsFilterPrice
	.theme-green
		margin 10px 10px
		.selected-bar
			background #000
			border-radius 5px
		.back-bar
			height 7px
			background-color #F4F4F4
			background-image none
			border-radius 5px
			.pointer
				top -7px
				width 20px
				height 20px
				background-color #fff
				background-image none
			.pointer-label
				color #b37e79
				top -22px
				font-size 12px
		.scale
			top 8px
			span
				border none
				ins
					color #000
					font-size 12px
				ins:before
					content '¥'
				&:first-child
					ins
						margin-left 0!important
				&:last-child
					ins
						margin-left -30px!important
</style>
