<template>
	<div :class="$options.name">
		<slot name="head">
			<m-head></m-head>
		</slot>
		<slot name="body"></slot>
		<slot name="foot">
			<m-foot></m-foot>
		</slot>
	</div>
</template>

<script>
	export default {
		components: {
			MHead: require('../../module/head'),
			MFoot: require('../../module/foot')
		},
		name: 'M__Main'
	}
</script>

<style src="../../style/reset.styl" lang="stylus"></style>
