<template>
	<div :class="$options.name" v-show="show" transition>
		<div class="modal y">
			<div class="close" @click="close"></div>
			<slot></slot>
		</div>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'M__Modal',

		props: ['show', 'args'],

		ready () {
			if (this.args && this.args.width) {
				$(this.$el).find('.modal').css({width: this.args.width})
			}
		},

		methods: {
			close () {
				this.$dispatch('popup.close')
			}
		}
	}
</script>

<style lang="stylus" scoped>
.M__Modal
	background-color rgba(0,0,0,.15)
	bottom 0
	left 0
	position fixed
	right 0
	top 0
	z-index 10
	width 100%
	height 100%
	.modal
		width 467px
		background-color #fff
		position relative
		top 50%
		-webkit-transform translateY(-50%)
		-ms-transform translateY(-50%)
		transform translateY(-50%)
	.close
		cursor pointer
		position absolute
		top 0
		right 0
		height 36px
		width 36px
		&:before,
		&:after
			position absolute
			width 27px
			height 1px
			content ''
			bottom 10px
			left -3px
			background-color currentColor
			transition transform .3s
		&:before
			transform rotate(45deg)
		&:after
			transform rotate(-45deg)
		&:hover:before
			transform rotate(315deg)
		&:hover:after
			transform rotate(225deg)
.v-transition
	opacity 1
	transition opacity .4s
	.modal
		transition transform .3s
.v-enter,
.v-leave
	opacity 0
	.modal
		-webkit-transform translateY(-70%)
		-ms-transform translateY(-70%)
		transform translateY(-70%)
</style>
