<template>
	<div :class="$options.name">
		<div class="title">其他合作</div>
		<div class="content">
			<p>有意者请发送邮件至：sky@topbridal.cn</p>
			<p class="primary">或拨打商务拓展部电话：+8604001729988</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__PartnerOther'
	}
</script>

<style lang="stylus" scoped>
.M__PartnerOther
	.title
		height 29px
		border-bottom 1px solid #ddd
		font-size 12px
		position relative
		&:before
			content ''
			width 26px
			height 3px
			background-color #000
			position absolute
			bottom -2px
	.content
		height 383px
		color #535353
		padding-top 16px
		p
			margin 20px 0 0
			font-size 12px
		.primary
			font-size 10px
			color #2e2e2e
</style>