<template>
	<div :class="$options.name">
		<div class="title">售后须知</div>
		<div class="content">
			<p>• 租赁押金作为担保：您下单后，除支付轻享租金，Rent Vogue还需扣除租赁押金作为担保，租赁押金并不是实际发生的费用。Rent Vogue将在租借商品递还后48小时内解除租赁押金返还于您。只有在商品灭失或严重损坏的情况下，Rent Vogue会在租赁押金中扣除应赔偿的金额。</p>
			<p>• 简单的归还流程：订单期结束的第二天，您只需等待快递员上门，将轻享过的商品放回递送时的原包装盒，并把附于包装内的快递单一同交给快递员，确保货品顺利归还。</p>
			<p>• 是否可延租：假如您需要延租您的订单，请与客服确认是否该商品在您所需的日期内没有被预订出去，如果没有预订订单，您即可延租，如果有，则请按您的订单时间及时递还。</p>
			<p>• 如果我想买：轻享商品有其独特性，随时有订单产生，所以无法实现购买。如您有强烈的购买意愿，请关注久物市集，我们将不断给您推荐更多优秀的可售商品。</p>
			<p>• 不用担心损坏：您正常使用造成的商品轻微污渍、成色降低、磨损、老化，由久物承担。不过如造成商品严重损坏，并经Rent Vogue特约养护服务商查验认为该商品无法再次使用的，Rent Vogue将扣除该商品相应租赁押金作为赔偿。</p>
		</div>
		<div class="title">退货说明</div>
		<div class="content">
			<p>在Rent Vogue平台上售卖的商品均支持7天无条件退换。但租赁的商品因属特殊商品，恕不支持退换货，除非出现以下状况，Rent Vogue将会及时办理退货：</p>
			<p>• 影响正常使用的重大产品质量问题（不包括有色差、实物与照片不符等状况）；<br>• 经权威机构鉴定该商品不是品牌正品。</p>
			<p>如有上述问题需要办理退货，用户需在收到商品的7天内，与通过Rent Vogue 公示的客服联系方式提交退货申请。经Rent Vogue客服确认后，用户方可将申请退货的商品寄回。如未经客服同意退货申请客户即擅自将退货寄回，Rent Vogue将不承担该商品的保管、重新发货和退款责任，必要时久物有权处置滞留商品。<br>因Rent Vogue原因产生的退货邮寄费用（不包含商品保险费用）由Rent Vogue承担，Rent Vogue客服将在收到退货商品后为用户办理邮寄费用报销手续。因用户个人原因产生的退货邮寄费用则需由用户承担。<br>为保护消费者利益，Rent Vogue会在商品上贴附“Rent Vogue查验标签”（一枚印有Rent Vogue标识的贴纸），请用户在仔细检查所收商品后确认无任何问题再撕毁“Rent Vogue查验标签”，一旦“标签”破损，将视为用户确认对所收商品无任何异议，且不能申请退货。</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__ServiceProblem'
	}
</script>

<style lang="stylus" scoped>
.M__ServiceProblem
	.title
		height 29px
		border-bottom 1px solid #ddd
		font-size 12px
		position relative
		&:before
			content ''
			width 26px
			height 3px
			background-color #000
			position absolute
			bottom -2px
	.content
		height 350px
		color #535353
		padding-top 16px
		p
			margin 20px 0 0
			font-size 12px
			line-height 18px
</style>