<template>
	<div :class="$options.name">
		<div class="title">联系方式</div>
		<div class="content">
			<img src="../../img/service-contact.png">
			<p>上海觅宝网络信息科技有限公司</p>
			<p>Shanghai Eachpop Network Information Science&Technology Co., Ltd.</p>
			<p>上海市徐汇区高邮路36号</p>
			<p>sky@topbridal.cn</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'M__ServiceContact'
	}
</script>

<style lang="stylus" scoped>
.M__ServiceContact
	.title
		height 29px
		border-bottom 1px solid #ddd
		font-size 12px
		position relative
		&:before
			content ''
			width 26px
			height 3px
			background-color #000
			position absolute
			bottom -2px
	.content
		height 350px
		color #535353
		padding-top 36px
		img
			width 247px
			height 200px
			float left
			margin-right 30px
		p
			font-size 12px
			margin-bottom 0
			&:nth-child(2)
				font-size 20px
				margin-top 28px
				text-indent -3px
			&:nth-child(3)
				margin-top 9px
			&:nth-child(4)
				margin-top 40px
				text-indent 20px
			&:nth-child(5)
				margin-top 20px
				text-indent 20px
</style>