<template>
	<div :class="$options.name">
		<m-main>
			<div slot="body" class="w y">
				<div class="nav x">
					<m-nav></m-nav>
				</div>
				<div class="content x">
					<slot name="body"></slot>
				</div>
			</div>
		</m-main>
	</div>
</template>

<script>
	export default {
		components: {
			MNav: require('../../module/nav/user'),
			MMain: require('./Main')
		},
		name: 'M__UserMain',
		props: ['sActive']
	}
</script>

<style lang="stylus" scoped>
.M__UserMain
	.x
		padding-top 64px
	.nav
		margin-right 48px
		width 196px
	.content
		width 696px
	.menu
		height 27px
		border-bottom 1px solid #ddd
		font-size 12px
		margin-bottom 16px
		cursor pointer
		&:after
			content ''
			float right
			width 7px
			height @width
			border-top 1px solid #c1c1c1
			border-right @border-top
			transform rotate(45deg)
			transform-origin top left
		&.active
			padding-left 10px
			&:before
				content ''
				display block
				width 3px
				height 12px
				background-color #000
				float left
				margin-left -@padding-left
</style>
