<template>
	<div :class="$options.name">
		<div class="tabs">
			<div class="tab active">我的收藏</div>
			<div class="pagination">
				<div class="prev active" v-if="collectPage.current_page > 1" @click="prev"></div>
				<div class="prev" v-else></div>
				<div class="page">{{ collectPage.current_page }} / {{ collectPage.total }}</div>
				<div class="next active" v-if="collectPage.current_page < collectPage.total" @click="next"></div>
				<div class="next" v-else></div>
			</div>
		</div>
	</div>
</template>

<script>
	import Collect from 'store/collect'
	import Api from '../../api'
	export default {
		name: 'm-head-collect',

		data () {
			return {
				collectPage: {}
			}
		},

		computed: {
			collectPage () {
				let collectPage = Collect.state.collectPage
				this.collectPage = Collect.state.collectPage
				return collectPage
			}
		},

		methods: {
			prev () {
				let page = this.collectPage.current_page - 1
				Collect.actions.initCollect({
					'user_id': this.$root.user.id,
					'page': page
				})
			},
			next () {
				let page = this.collectPage.current_page + 1
				Collect.actions.initCollect({
					'user_id': this.$root.user.id,
					'page': page
				})
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-head-collect
	.tabs
		border-bottom 1px solid #ddd
		height 29px
		.tab
			color #acacac
			float left
			font-size 12px
			line-height 13px
			width 64px
			a:hover
				color #000
			&.active
				color #000
				a
					position relative
					&:after
						background-color #000
						content ''
						height 3px
						left 0
						position absolute
						right 0
						top 27px
		.pagination
			float right
			font-size 12px
			font-weight bold
			text-align center
			& > div
				float left
			.prev,
			.next
				width 7px
				height 15px
				position relative
				text-align center
				&:before
					content ''
					width 7px
					height @width
					border-top 1px solid
					color #ddd
					display inline-block
				&.active
					cursor pointer
					&:before
						color #000
			.next:before
				border-right 1px solid
				transform-origin left top
				transform rotate(45deg)
			.prev:before
				border-left 1px solid
				transform-origin right top
				transform rotate(-45deg)
			.page
				padding 3px 15px 0

</style>
