<template>
	<div :class="$options.name">
	    <div class="loading" :style="'width: ' + loading.width + '%'" v-if="loading.show"></div>
		<div class="head">
			<div class="logo">
				<a v-link.literal="/guide"><img src="../../img/logo@2x.png" alt="logo"></a>
			</div>
			<div class="menu">
				<a v-link.literal="/guide">首页</a>
				<a v-link.literal="/home">服装</a>
				<a @click="show=!show">分类</a>
			</div>
			<div class="user-tool" v-if="$root.token.length !== 0">
				<a v-link.literal="/notice">
					<m-icon-alram></m-icon-alram>
				</a>
				<div class="user">
					<a class="target" @click="dropdown=!dropdown">{{ $root.user.nick_name }}</a>
					<div class="dropdown" v-show="dropdown">
						<a v-link.literal="/user/order" @click="dropdown=!dropdown">我的订单</a>
						<a v-link.literal="/user/address" @click="dropdown=!dropdown">收货地址</a>
						<a v-link.literal="/user/setting" @click="dropdown=!dropdown">个人设置</a>
						<a @click="logout">退出登录</a>
					</div>
				</div>
				<a class="collect com-icon" v-link.literal="/collect"></a>
			</div>
			<div class="login-tool" v-else>
					<a class="login-btn" @click="loginOpen">登录</a>
					<a class="register-btn" @click="registerOpen">注册</a>
				</div>
			</div>
			<div class="popup">
				<m-login s-text="登录"></m-login>
				<m-find-password s-text="忘记密码？"></m-find-password>
				<m-register s-text="注册"></m-register>
			</div>
			<div class="category-menu" v-show="show" transition>
				<div class="inner" v-if="category">
					<ul class="category-list">
						<li class="category">
							<div class="title">分类</div>
							<div class="item" v-for="(key, val) in category.usage_categories"><a v-link="'/home?usage=' + key">{{ val }}</a></div>
						</li>
						<li class="scene">
							<div class="title">使用场景</div>
							<div class="col">
								<div class="item" v-for="(key, val) in category.occasions" v-if="$index < 4">
									<a v-link="'/home?occasion=' + key">{{ val.name }}</a>
								</div>
							</div>
							<div class="col">
								<div class="item" v-for="(key, val) in category.occasions" v-if="$index > 3">
									<a v-link="'/home?occasion=' + key">{{ val }}</a>
								</div>
							</div>
						</li>
						<li class="brand">
							<div class="title">品牌</div>
							<div class="col">
								<div class="item" v-for="item in category.product_category" v-if="$index < 4">
									<a v-link="'/home?category=' + item.order">{{ item.name }}</a>
								</div>
							</div>
							<div class="col">
								<div class="item" v-for="item in category.product_category" v-if="$index > 4 && $index < 9">
									<a v-link="'/home?category=' + item.order">{{ item.name }}</a>
								</div>
							</div>
							<div class="col">
								<div class="item" v-for="item in category.product_category" v-if="$index > 9">
									<a v-link="'/home?category=' + item.order">{{ item.name }}</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Basic from 'store/basic'
	import User from 'store/user'
	import Api from '../../api'
	import Popup from 'store/popup'
	export default {
		name: 'm-head',

		components: {
			MIconAlram: require('../icon/alram'),
			'm-login': require('./popup/login'),
			'm-register': require('./popup/register'),
			'm-find-password': require('./popup/find-password')
		},

		data () {
			return {
				show: false,
				dropdown: false
			}
		},

		created () {
			Basic.actions.initCategory()
			let wsCache = new WebStorageCache()
			if (wsCache.get('auth')) {
			// if (localStorage.getItem('auth')) {
				// this.$root.token = localStorage.getItem('auth')
				let wsCache = new WebStorageCache()
				this.$root.token = wsCache.get('auth')
				this.$emit('m-login-panel.signIn')
			}
			let code = this.$route.query.code,
				state = this.$route.query.state
			if (typeof(code) !== 'undefined' && this.$route.fullPath == '/guide') {
				if (state == 'weixin') {
					Api.getWeiXin({
						data: {
							'code': code
						},
						success: res => {
							let access_token = res.data.data.access_token,
								refresh_token = res.data.data.refresh_token,
								openid = res.data.data.openid
							Api.otherSignIn({
								data: {
									'access_token': access_token,
									'refresh_token': access_token,
									'openid': openid,
									'oauth_type': 'weixin'
								},
								success: res => {
									this.$root.token = res.data.data.token
									this.$emit('m-login-panel.signIn')
								}
							})
						}
					})
				}
				else {
					Api.getWeiBo({
						data: {
							'code': code
						},
						success: res => {
							let access_token = res.data.data.access_token,
								openid = res.data.data.uid
							Api.otherSignIn({
								data: {
									'access_token': access_token,
									'openid': openid,
									'oauth_type': 'weibo'
								},
								success: res => {
									this.$root.token = res.data.data.token
									this.$emit('m-login-panel.signIn')
								}
							})
						}
					})
				}
			}
			// if (!wsCache.get('auth') && typeof(code) == 'undefined') {
			// 	Popup.state.login = true
			// }
		},

        computed: {
			category () {
				return Basic.state.category
			},
			loading () {
				return Basic.state.loading
			}
		},

		events: {
			'm-login-panel.signIn' () {
				let wsCache = new WebStorageCache()
				// 设置 token 有效时间
				wsCache.set('auth', this.$root.token, {exp: 86400})
				// localStorage.setItem('auth', this.$root.token)
				Popup.state.login = false
				Popup.state.register = false
				Api.getUserInfo({
					data: {
						'token': this.$root.token
					},
					success: res => {
						// this.$children[0].close()
						this.$root.user = res.data.data
						this.$root.$broadcast('M__Head.userUpdated')
						Basic.actions.initSupplier()
						User.actions.initCity()
						User.actions.initCoupons()
					},
					error: res => {
						this.$route.router.go('/home')
					}
				})
			}
		},
		methods: {
			logout () {
				Api.signOut({
					data: {
						'Authorization': this.$root.token
					},
					success: res => {
						let wsCache = new WebStorageCache()
						this.dropdown = !this.dropdown
						// localStorage.removeItem('auth')
						wsCache.delete('auth')
						this.$root.user = {}
						this.$root.qiniuToken = {}
						this.$root.token = ''
						this.$route.router.go('/home')
						User.state.address = []
						User.state.order = []
					}
				})
			},
			loginOpen () {
				Popup.state.login = true
			},
			registerOpen () {
				Popup.state.register = true
			}
		}
	}
</script>

<style lang="stylus" scoped>
.m-head
	position relative
	z-index 10
	border-bottom 1px solid #e8e8e8
	.head
		font-size 16px
		line-height 13px
		height 92px
		padding-top 41px
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
		margin 0 auto
		width 900px
		position relative
		z-index 2
		& > div
			float left
		.logo
			position absolute
			top 50%
			margin-top -5px
			max-width 60px
			a
				display block
				img
					max-width 100%
		.menu
			padding-left 140px
			& > a + a {
				margin-left 41px
			}
		.user-tool,
		.login-tool
			float right
		.login-tool
			a + a {
				margin-left 41px
			}
		.item
			float left
			width 64px
			&.login
				position relative
				overflow hidden
		.user-tool
			margin-top -3px
			a
				vertical-align middle
		.user
			width auto
			position relative
			display inline-block
			margin-left 41px
			vertical-align middle
			.target
				padding-right 24px
				&:before
					content ''
					float right
					margin-right -@padding-right
					border-right 1px solid
					border-bottom @border-right
					width 8px
					height @width
					transform rotate(45deg)
					margin-top -1px
			.dropdown
				position absolute
				width 90px
				border 1px solid #e8e8e8
				border-bottom 0
				background rgba(255,255,255,.95)
				right -5px
				top 30px
				&:before
					content ''
					background @background
					position absolute
					border-right @border
					border-top @border-right
					width 8px
					height @width
					transform rotate(-45deg)
					top -5px
					right 5px
				a
					transition all .3s
					font-size 12px
					line-height 40px
					display block
					text-align center
					border-bottom @border
					position relative
					&:hover
						background #000
						color #fff
		.collect
			width 19px
			height 16px
			margin-left 41px
			background-position -240px 0
			display inline-block
	.popup
		width 0
		height 0
		overflow hidden
	.category-menu
		background rgba(255,255,255,.95)
		border-bottom 1px solid #f3f3f3
		position absolute
		width 100%
		z-index 1
		margin-top 1px
		.inner
			padding 28px 0 20px
			position relative
			max-width 900px
			margin 0 auto
			&:before,
			&:after
				border-color transparent transparent #e8e8e8
				border-style solid
				border-width 12px 15px
				content ''
				left 272px
				position absolute
				top -24px
			&:after
				border-bottom-color rgba(255,255,255,.95)
				top -23px
			.category-list
				overflow hidden
				& > li
					float left
		.category
			width 314px
			padding-left 140px
		.scene,
		.brand
			.col
				float left
				width 96px
		.title
			color #acacac
			font-size 14px
			line-height 15px
			height 34px
		.item
			font-size 12px
			line-height 13px
			height 22px
		&.v-transition
			opacity 1
			transform scaleY(1)
			transform-origin top
			transition all .3s
		&.v-enter,
		&.v-leave
			opacity 0
			transform scaleY(0)
</style>
