<template>
	<div :class="$options.name">
		<div class="append"><a @click="open">国际尺码标准表参考</a></div>
		<m-modal :args="{width:880}" :show="sizeModalShow">
			<img src="../../img/size.png" style="width:880px;height:442px">
		</m-modal>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	export default {
		name: 'M__SizeModal',

		components: {
			MModal: require('../../com/m/Modal')
		},

		computed: {
			sizeModalShow () {
				return Popup.state.sizeModal
			}
		},

		events: {
			'popup.close' () {
				this.close()
			}
		},

		methods: {
			close () {
				Popup.state.sizeModal = false
			},
			open () {
				Popup.state.sizeModal = true
			}
		}
	}
</script>

<style lang="stylus" scoped>
.M__SizeModal
	.content
		width 880px
		height 442px
		background #000
	.append
		margin-top -20px
		margin-bottom 20px
		a
			font-size 12px
			padding-top 6px
			text-decoration underline
			color #acacac
</style>
