<template>
	<div class="popup-box-wrap" v-show="show" transition="zoom">
		<div class="popup-box-inner">
			<slot></slot>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'm-popup',

		props: ['show', 'args'],

		methods: {
			close () {
				this.$dispatch('popup.close')
			}
		},

		watch: {
			'show' () {
				if (this.show) {
					$('html').addClass('popup-lock')
				}
				else {
					$('html').removeClass('popup-lock')
				}
			}
		}
	}
</script>

<style lang="sass" scoped>
.popup-box-wrap {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	background-color: rgba(0, 0, 0, .3);
	width: 100%;
	height: 100%;
	transition: all .3s ease;
	.popup-box-inner {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 273px;
		transform: translate(-50%, -50%);
		background-color: #fff;
		margin-top: -15px;
		transition: all .3s ease;
	}
}
.zoom-transition {
	opacity: 1;
	.popup-box-inner {
		transform: translate(-50%, -50%) scale(1);
	}
}
.zoom-enter,
.zoom-leave {
	opacity: 0;
	.popup-box-inner {
		transform: translate(-50%, -50%) scale(.5);
	}
}
</style>
