<template>
	<m-modal :show="globalMsg.show">
		<div class="modal">
			<div class="single-info" v-if="globalMsg.single.length > 0">
				<p>{{ globalMsg.single }}</p>
			</div>
			<div class="more-info" v-if="globalMsg.more.list.length > 0">
				<h3 class="title">{{ globalMsg.more.title }}</h3>
				<ul class="list">
					<li v-for="item in globalMsg.more.list">{{ item }}</li>
				</ul>
			</div>
			<div class="close-wrap">
				<span class="close-btn g-icon" @click="close"></span>
			</div>
		</div>
	</m-modal>
</template>

<script>
	import Popup from '../../../store/popup'
	export default {
		name: 'popup-msg',

		components: {
			'm-modal': require('./modal')
		},

		computed: {
			globalMsg () {
				return Popup.state.globalMsg
			}
		},

		methods: {
			close () {
				Popup.state.globalMsg.show = false
				setTimeout(() => {
					Popup.state.globalMsg.single = ''
					Popup.state.globalMsg.more.title = ''
					Popup.state.globalMsg.more.list = []
				}, 500)
			}
		}
	}
</script>

<style lang="sass" scoped>
.modal {
	padding: 0 40px;
	.single-info {
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		padding: 20px 0;
	}
	.close-wrap {
		text-align: center;
		padding: 20px 0;
		border-top: 1px solid #F1F1F1;
		.close-btn {
			width: 28px;
			height: 28px;
			background-position: -210px -60px;
			display: inline-block;
			vertical-align: bottom;
		}
	}
	.more-info {
		padding: 20px 0;
		font-size: 12px;
		.title {
			color: #B37E79;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			padding-bottom: 10px;
			border-bottom: 1px solid #F1F1F1;
		}
		.list {
			text-align: center;
			padding-top: 20px;
			line-height: 16px;
		}
	}
}
</style>