<template>
	<div :class="$options.name">
		<m-main>
			<m-goods-panel slot="body"></m-goods-panel>
		</m-main>
	</div>
</template>

<script>
	import Goods from '../../store/goods'
	export default {
		components: {
			MMain: require('../m/Main'),
			MGoodsPanel: require('../m/GoodsPanel')
		},
		name: 'B__Home',
		route: {
			data () {
                Goods.actions.init(this.$route.query)
                this.$broadcast('M__Home.reload')
			}
		}
	}
</script>
