<template>
	<div :class="$options.name">
		<m-service-main s-active="联系方式">
			<m-service-contact slot="body"></m-service-contact>
		</m-service-main>
	</div>
</template>

<script>
	export default {
		components: {
			MServiceMain: require('../../m/ServiceMain'),
			MServiceContact: require('../../m/ServiceContact')
		},
		name: 'B__ServiceContact'
	}
</script>