<template>
	<div :class="$options.name">
		<m-service-main s-active="常见问题">
			<m-service-problem slot="body"></m-service-problem>
		</m-service-main>
	</div>
</template>

<script>
	export default {
		components: {
			MServiceMain: require('../../m/ServiceMain'),
			MServiceProblem: require('../../m/ServiceProblem')
		},
		name: 'B__ServiceProblem'
	}
</script>