<template>
	<div :class="$options.name"><slot></slot></div>
</template>

<script>
	export default {
		name: 'w-button'
	}
</script>

<style lang="stylus" scoped>
.w-button
	border-radius 1px
	cursor pointer
	background-color #b37e79
	color #fff
	font-size 12px
	padding-top 16px
	height 44px
	text-align center
	transition background-color .3s
	&:hover
		background-color #8e5651
</style>
