<template>
	<div :class="$options.name"></div>
</template>

<script>
	export default {
		name: 'w-icon'
	}
</script>

<style lang="stylus" scoped>
.w-icon
	background url(../img/sprite@2x.png) no-repeat
	background-size 300px auto
	width 100%
	height 100%
</style>
