<template>
	<div :class="$options.name">
		<template v-for="item in args">
			<div class="menu" v-link="item.link" @click="click(item)">{{ item.text }}</div>
		</template>
	</div>
</template>

<script>
	export default {
		methods: {
			click (args) {
				args.click && args.click()
			}
		},
		name: 'w-nav',
		props: ['args']
	}
</script>

<style lang="stylus" scoped>
.w-nav
	padding-left 20px
	margin-right 48px
	width 196px
	.menu
		height 29px
		border-bottom 1px solid #ddd
		font-size 12px
		margin-bottom 16px
		cursor pointer
		transition padding-left .3s
		font-weight bold
		&:after
			content ''
			float right
			width 7px
			height @width
			border-top 1px solid #c1c1c1
			border-right @border-top
			transform rotate(45deg)
			transform-origin top left
		&.v-link-active
			padding-left 10px
			&:before
				content ''
				display block
				width 3px
				height 12px
				background-color #000
				float left
				margin-left -@padding-left
</style>
