<template>
	<div :class="$options.name">
		<template v-for="item in args">
			<div class="menu" v-link="item.link" @click="click(item)">{{ item.text }}</div>
		</template>
	</div>
</template>

<script>
	export default {
		methods: {
			click (args) {
				args.click && args.click()
			}
		},
		name: 'w-tab',
		props: ['args']
	}
</script>

<style lang="stylus" scoped>
.w-tab
	border-bottom 1px solid #ddd
	height 28px
	.menu
		color #acacac
		float left
		font-size 12px
		margin-right 42px
		cursor pointer
		transition color .3s
		&:hover
			color #000
		&.v-link-active
			color #000
			font-weight bold
			position relative
			&:after
				background-color #000
				content ''
				height 3px
				left 0
				position absolute
				top 26px
				width 26px
.false
	.menu
		color #acacac !important
</style>
