<template>
	<div :class="$options.name">
		<w-nav :args="menu"></w-nav>
	</div>
</template>

<script>
	export default {
		components: {
			'w-nav': require('../../widget/nav')
		},
		data () {
			return {
				menu: [
					{
						link: '/company/brand',
						text: '品牌故事'
					},
					{
						link: '/company/product',
						text: '产品'
					}
				]
			}
		},
		name: 'm-nav-company'
	}
</script>
