<template>
	<div :class="$options.name">
		<w-nav :args="menu"></w-nav>
	</div>
</template>

<script>
	export default {
		components: {
			'w-nav': require('../../widget/nav')
		},
		data () {
			return {
				menu: [
					{
						link: '/partner/join',
						text: '加入品牌'
					},
					{
						link: '/partner/other',
						text: '其他合作'
					}
				]
			}
		},
		name: 'm-nav-partner'
	}
</script>
