<template>
	<div :class="$options.name">
		<w-nav :args="menu"></w-nav>
	</div>
</template>

<script>
	export default {
		components: {
			'w-nav': require('../../widget/nav')
		},
		data () {
			return {
				menu: [
					{
						link: '/service/problem',
						text: '常见问题'
					},
					{
						link: '/service/contact',
						text: '联系方式'
					}
				]
			}
		},
		name: 'm-nav-service'
	}
</script>
