<template>
	<div :class="$options.name">
		<w-nav :args="menu"></w-nav>
	</div>
</template>

<script>
	export default {
		components: {
			'w-nav': require('../../widget/nav')
		},
		data () {
			return {
				menu: [
					{
						link: '/user/order',
						text: '我的订单'
						// click: () => {
						// 	this.$route.router.go('/users/orders')
						// }
					},
					{
						link: '/user/address',
						text: '收货地址'
					},
					{
						link: '/user/coupon',
						text: '我的优惠券'
						// click: () => {
						// 	this.$route.router.go('/users/coupon')
						// }
					},
					{
						link: '/user/invite',
						text: '邀请返现'
					},
					{
						link: '/user/setting',
						text: '个人设置'
					}
				]
			}
		},
		name: 'm-nav-user'
	}
</script>
