<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a v-link="'/order-detail?id=' + pageData.order_id">详情</a></li>
			<li>提交订单</li>
			<li>支付反馈</li>
		</ul>
		<div class="container">
			<div class="feedback">
				<span class="succeed com-icon"></span>
				<div class="content">
					<h2>支付押金成功</h2>
					<p class="text-area">您的订单号 {{ orderNum }}</p>
					<span class="caption">你可继续:</span>
					<div class="link-list">
						<a v-link="'/order-detail?id=' + pageData.order_id">查看订单</a>
						<a v-link="'/home'">返回首页</a>
					</div>
				</div>
			</div>
			<div class="try" v-if="pageData.supplier">
				<span class="caption">请耐心等待产品发货</span>
				<p class="annotation">关于产品有任何问题请直接联系商家</p>
				<div class="address-wrap">
					<h3 class="store">{{ pageData.supplier.name }}</h3>
					<span class="address"><span class="com-icon"></span>{{ pageData.supplier.address }}</span>
					<span class="phone"><span class="com-icon"></span>{{ pageData.supplier.phone }}</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Popup from 'store/popup'
	import Basic from 'store/basic'
	import Api from 'api'
	export default {
		name: 'pay-deposit-feedback',

		data () {
			return {
				orderNum: '',
				totalFee: '',
				pageData: ''
			}
		},

		ready () {
			let orderNum = this.$route.query.out_trade_no,
				totalFee = this.$route.query.total_fee
			orderNum = orderNum.substr(0, 13)
			if (orderNum == undefined) {
				this.$route.router.go('/guide')
			}
			else {
				this.orderNum = orderNum
				this.totalFee = totalFee
				Basic.actions.loadStart()
				Api.getOrderInfo({
					data: {
						'order_number': orderNum
					},
					success: res => {
						this.pageData = res.data.data
						Basic.actions.loadEnd()
					},
					error: res => {
						Popup.state.commonInfo.single = res.data.message
						Popup.state.commonInfo.show = true
						Basic.actions.loadEnd()
					}
				})
			}
		}
	}
</script>

<style lang="stylus" scoped>
.pay-deposit-feedback
	padding 65px 0 50px
	max-width 900px
	margin 0 auto
	.container
		padding-top 147px
		max-width 625px
		margin 0 auto
		overflow hidden
		.feedback
			max-width 385px
			margin 0 auto 20px
			.succeed
				width 42px
				height 42px
				display block
				float left
				background-position 0 -150px
			.content
				padding-left 73px
				&>h2
					margin -2px 0 11px 0
					font-size 21px
					color #B37E79
					font-weight 100
				.text-area
					margin 0 0 20px
					line-height 16px
				.caption
					color #ACACAC
					display block
					margin-bottom 12px
			.link-list
				overflow hidden
				a
					display block
					float left
				a + a
					padding-left 22px
					margin-left 21px
					position relative
					&:before
						content ''
						display block
						width 1px
						height 12px
						position absolute
						left 0
						top 0
						background-color #e5e5e5
		.try
			border-top 1px solid #F0F0F0
			padding-top 32px
			.caption
				display block
				margin-bottom 6px
			.annotation
				margin 0 0 24px
				color #868686
			.address-wrap
				padding 11px 12px 9px
				border 1px dashed #C1C1C1
				.store
					margin 0 0 11px
					font-size 12px
					padding-bottom 11px
					font-weight 100
					border-bottom 1px solid #D7D7D7
				.address
					display block
					position relative
					padding-left 15px
					margin-bottom 8px
					.com-icon
						width 8px
						height 12px
						background-position -0px -210px
						position absolute
						left 0
						top 50%
						margin-top -6px
				.phone
					display block
					position relative
					padding-left 15px
					.com-icon
						width 9px
						height 9px
						background-position -30px -210px
						position absolute
						left 0
						top 50%
						margin-top -5px
</style>
