<template>
	<div :class="$options.name">
		<ul class="breadcrumb">
			<li><a>详情</a></li>
			<li>提交订单</li>
			<li>支付</li>
		</ul>
		<div class="container">
			<div class="tips" v-if="this.$route.query.from ? true : false">
				<div class="inner">
					<span class="succeed com-icon"></span>
					<span class="title">订单提交成功</span>
					<span class="intr">请您尽快支付此笔订单！</span>
				</div>
			</div>
			<div class="payment">
				<div class="title-box">
					<h3>选择支付方式</h3>
					<div class="price-wrap"><span class="label">您需支付:</span>￥{{ orderDetail.rent_price }}</div>
				</div>
				<ul class="radio-box">
					<li>
						<label>
							<input type="radio" name="payment" v-model="paid_method" value="alipay_pc_direct"  checked="checked" />
							<span class="com-icon"></span>
							<div class="label alipay"><span class="com-icon"></span></div>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="payment" v-model="paid_method" value="wx_pub_qr" />
							<span class="com-icon"></span>
							<div class="label weixin"><span class="com-icon"></span></div>
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="payment" v-model="paid_method" value="upacp_pc" />
							<span class="com-icon"></span>
							<div class="label yinlian"><span class="com-icon"></span></div>
						</label>
					</li>
				</ul>
			</div>
			<p class="hint">
				<span>提示：</span>微信支付限额取决于商品类别与发卡银行，虚拟类单笔限额在 1,000-3,000 元之间，实物类在 10,000-50,000 元，具体由发行卡决定，用户可以在绑定银行卡后，查看该行的具体限额。支付宝移动快捷限额取决于付款方式。银联的支付限额取决于你的商户类型，从 500-10,000 元不等，企业网银支付无限额。
			</p>
			<div class="btn-wrap">
				<input type="button" class="submit-btn" value="确认支付" @click="submit">
			</div>
			<div class="goods-info">
				<h3 class="title">产品信息</h3>
				<div class="content">
					<div class="thumb">
						<a v-link="'/goods?id=' + orderDetail.product_name_group_id">
							<img :src="orderDetail.default_image + '|imageView2/1/w/146/h/218'" alt="产品名" />
						</a>
					</div>
					<div class="info">
						<h4 class="caption">
							<a v-link="'/goods?id=' + orderDetail.product_name_group_id">{{ product.name }}</a>
						</h4>
						<ul class="list">
							<li v-for="(key, val) in category.sizes" v-if="key == product.size">尺寸：{{ val }}</span></li>
							<li>时间：{{ orderDetail.rent_days }}天 <span class="remark">({{ orderDetail.rent_start_date }}~{{ orderDetail.rent_end_date }})</span></li>
							<li v-for="item in supplier" v-if="item.id == product.supplier_id">商家：{{ item.name }} <span class="phone" v-if="item.phone">（{{ item.phone }}）</span> <span class="address">{{ item.address }}</span></li>
							<li><span class="color">颜色：<span class="color-box" v-bind:style="{ backgroundColor: orderDetail.product_rgb}"></span></li>
							<li>优惠：
								<template v-if="orderDetail.coupon_name">{{ orderDetail.coupon_name }}</template>
								<template v-else>无</template>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="consignee">
				<h3 class="title" v-if="orderDetail.express_company == '上门自提'">上门自提</h3>
				<h3 class="title" v-else>收件人信息</h3>
				<div class="content">
					<div class="info">
						<span class="name" v-if="orderDetail.contact_user_name">{{ orderDetail.contact_user_name }}</span><span class="phone">{{ orderDetail.phone }}</span>
						<p class="address">{{ orderDetail.address }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    import Api from 'api'
	import Popup from 'store/popup'
	import Basic from 'store/basic'
	import User from 'store/user'
	import OrderDetail from 'store/order-detail'
	export default {
		name: 'p-pay',

		data () {
			return {
				paid_method: ''
			}
		},

		events: {
			'M__Head.userUpdated' () {
				OrderDetail.actions.initOrderDetail({
					'user_id': this.$root.user.id,
					'order_id': this.$route.query.order_id
				})
			}
		},

		created () {
			if (! this.$root.token) {
				Popup.state.commonInfo.single = '请先登录！'
				Popup.state.commonInfo.show = true
				history.back()
			}
			if (typeof(OrderDetail.state.orderDetail.product) !== 'object' && typeof(this.$root.user.id) !== 'undefined') {
				OrderDetail.actions.initOrderDetail({
					'user_id': this.$root.user.id,
					'order_id': this.$route.query.order_id
				})
			}
		},

		computed: {
			orderDetail () {
				let detail = OrderDetail.state.orderDetail
				return detail
			},
			product () {
				let product = OrderDetail.state.product
				return product
			},
			category () {
				return Basic.state.category
			}
		},

		ready () {
			$('.supplier-radio').mCustomScrollbar({
				theme: 'dark-3',
				scrollInertia: 500
			})
		},

		methods: {
			submit () {
				let _this = this
				let args = {
						'user_id': this.$root.user.id,
						'order_id': this.$route.query.order_id,
						'call_back': window.location.origin + window.location.pathname + '#!/pay-feedback'
					}
				if (this.orderDetail.order_status !== 1) {
					User.actions.initOrder({
						id: this.$root.user.id
					})
					Popup.state.commonInfo.single = '订单已支付!'
					Popup.state.commonInfo.show = true
					return false
				}
				if (this.paid_method == 'wx_pub_qr' || this.paid_method == 'upacp_pc') {
					Popup.state.commonInfo.single = '支付渠道暂未开通！'
					Popup.state.commonInfo.show = true
					Basic.actions.loadEnd()
					return false
				}
				if (this.paid_method.length !== 0) {
					 args.paid_method = this.paid_method
				}
				Basic.actions.loadStart()
				Api.pay({
					data: args,
					success: res => {
						Basic.actions.loadEnd()
						if (res.data.data.order.order_status !== 1) {
							User.actions.initOrder({
								id: this.$root.user.id
							})
							Popup.state.commonInfo.single = '订单已支付!'
							Popup.state.commonInfo.show = true
							return false
						}
						let charge = res.data.data.ch
						User.actions.initOrder({
							id: this.$root.user.id
						})
						pingppPc.createPayment(charge, (result, err) => {
							Popup.state.commonInfo.single = '跳转支付页面失败！'
							Popup.state.commonInfo.show = true
						})
					},
					error: res => {
						Basic.actions.loadEnd()
						if (res.data.message) {
							Popup.state.commonInfo.single = res.data.message
						}
						else {
							Popup.state.commonInfo.single = '请求失败！'
						}
						Popup.state.commonInfo.show = true
					}
				})
			}
		}
	}
</script>

<style lang="stylus" scoped>
.p-pay
	padding-top 64px
	.container
		padding-top: 55px
	.tips
		text-align center
		padding 0 0 55px
		.inner
			display inline-block
			position relative
			padding-left 72px
			text-align left
			.com-icon
				width 42px
				height 42px
				position absolute
				left 0
				top 3px
				background-position 0 -150px
			.title
				font-size 21px
				color #B37E79
				margin-bottom 13px
				display block
	.payment
		border 1px solid #E1E1E1
		padding 0 20px 0
		.title-box
			overflow hidden
			padding 17px 0 10px
			border-bottom 1px solid #E1E1E1
			h3
				font-size 18px
				margin 0
				font-weight normal
				float left
				padding-top 3px
			.price-wrap
				float right
				font-size 24px
				.label
					font-size 12px
					display inline-block
					padding-right 14px
		.radio-box
			overflow hidden
			padding 36px 0 35px
			li
				float left
				margin-right 71px
			label > .com-icon
				margin-right 16px
				margin-top 5px
			.label
				.com-icon
					width 103px
					height 29px
					display inline-block
					border-radius 0
					border none
					margin 0
				&.alipay .com-icon
					background-position -120px -510px
				&.weixin .com-icon
					background-position -0 -510px
				&.yinlian .com-icon
					background-position -0 -570px
	.hint
		margin 20px 0 20px
		background-color #F6F6F6
		border-radius 3px
		padding 14px 18px
		span
			color #B37E79
			line-height 22px
			display inline-block
	.goods-info
		padding-bottom 28px
		.title
			color #ACACAC
			font-size 12px
			padding-bottom 7px
			margin 0
			border-bottom 1px solid #E8E8E8
		.content
			padding 31px 0 28px
			overflow hidden
			border-bottom 1px solid #E5E5E5
		.thumb
			float left
			max-width 73px
			a
				display: block
			img
				max-width 100%
				border 1px solid #F1F1F1
		.info
			padding-left 94px
			.caption
				font-size 15px
				margin 0 0 10px 0
				a:hover {
					color #b37e79
				}
			.list li
				padding 5px 0
			.remark
				color #b9b9b9
				display inline-block
				margin-left 5px
			.color-box
				width 11px
				height 11px
				display inline-block
				vertical-align top
				border 1px solid #b37e79
	.consignee
		.title
			margin 0
			color #ACACAC
			font-size 12px
			padding-bottom 7px
			border-bottom 1px solid #E8E8E8
		.content
			padding 33px 0 91px 92px
		.info
			border 1px dashed #000
			padding 12px 28px 11px
			max-width 720px
			box-sizing border-box
			.neme, .phone
				font-size 14px
			.name + .phone
				display inline-block
				margin-left 20px
			.address
				margin 9px 0 0 0
				line-height 16px
	.btn-wrap
		margin-bottom 111px
</style>
